Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

New server release branch
  html/inc/server_version.inc
Due: none

client: in init_data.xml file for BUDA jobs, pass the BUDA variant as plan class
  client/app_start.cpp
  client/client_types.h
  client/result.h
Due: client

docker wrapper: if image name specified in config file, use it and don't delete
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

[ci] update actions
  .github/workflows/android.yml
Due: none

[windows][installer] fix msi save path to be unique for different builds
  installer/installer_setup/main.cpp
  win_build/installer_setup.vcxproj
Due: none

[windows][installer] enable possibility to pass installation parameters to installer_setup file
  installer/installer_setup/main.cpp
Due: none

[installer] small fix
  installer/installer_setup/main.cpp
Due: none

Update docker_wrapper.cpp
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

[windows][installer] test selected registry values
  tests/windows_installer_integration_tests.py
Due: none

Update README.md
  README.md
Due: none

[ci] pass PKG_CONFIG_PATH when building using vcpkg
  android/build_boinc_arm.sh
  android/build_boinc_arm64.sh
  android/build_boinc_armv6.sh
  android/build_boinc_x86.sh
  android/build_boinc_x86_64.sh
  android/build_example_arm.sh
  android/build_example_arm64.sh
  android/build_example_armv6.sh
  android/build_example_x86.sh
  android/build_example_x86_64.sh
  android/build_libraries_arm.sh
  android/build_libraries_arm64.sh
  android/build_libraries_armv6.sh
  android/build_libraries_x86.sh
  android/build_libraries_x86_64.sh
  linux/ci_configure_client.sh
  wasm/ci_configure_client.sh
Due: none

[ci] fix installation of OpenCppCoverage tool by waiting the end of the installation
  .github/workflows/windows.yml
Due: none

[ci] update actions
  .github/workflows/snap.yml
Due: none

[locale] update templates
  locale/templates/BOINC-Client.pot
  locale/templates/BOINC-Manager.pot
  locale/templates/BOINC-Project-Generic.pot
  locale/templates/BOINC-Setup.pot
Due: none

[ci] update wxWidgets to 3.2.6
  3rdParty/buildLinuxDependencies.sh
Due: none

[ci][linux] add workflow to build manager with webview without custom wxwidgets library build
  .github/workflows/linux.yml
Due: none

[ci][linux] build unit tests using gtest from apt
  .github/workflows/linux.yml
  3rdParty/buildLinuxDependencies.sh
  tests/unit-tests/CMakeLists.txt
  tests/unit-tests/lib/CMakeLists.txt
  tests/unit-tests/sched/CMakeLists.txt
Due: none

[windows] remove old InstallShield Windows installer
  win_build/installerv2/BOINCx64.ism
  win_build/installerv2/BOINCx64_vbox.ism
  win_build/installerv2/Oracle VM VirtualBox 6.1.34(x64).prq
Due: none

[ci] upload snap to snapstore
  .github/workflows/snap.yml
Due: none

client: don't print sh error messages when detecting docker
  client/hostinfo_unix.cpp
Due: client

submit_job script: add --target_user option
  tools/submit_job
Due: server

admin web: minor code cleanup
  html/inc/db_ops.inc
Due: none

client: handle app_config.xml correctly
  client/client_state.cpp
  client/cs_statefile.cpp
Due: client

Manager, Win: activate the right window from task bar
  clientgui/BOINCGUIApp.cpp
Due: client

cleanup
  clientgui/BOINCGUIApp.cpp
Due: client

client: don't overwrite settings in app_config.xml
  client/cs_scheduler.cpp
Due: client

build fix
  clientgui/BOINCGUIApp.cpp
Due: client

[unit-tests] clean up
  tests/unit-tests/lib/test_base64.cpp
  tests/unit-tests/lib/test_md5_file.cpp
  tests/unit-tests/lib/test_parse.cpp
  tests/unit-tests/lib/test_shmem.cpp
  tests/unit-tests/lib/test_str_util.cpp
  tests/unit-tests/lib/test_synch.cpp
  tests/unit-tests/lib/test_url.cpp
  tests/unit-tests/lib/test_util.cpp
  tests/unit-tests/sched/test_credit.cpp
Due: none

DB: add indices on result(batch) and workunit(batch).
  db/constraints.sql
  html/ops/db_update.php
Due: server

typo in SQL code
  db/constraints.sql
Due: server

Mac: After MacOS update, repair primary groups for users boinc_master, boinc_project
  client/check_security.cpp
  client/file_names.h
  clientgui/mac/MacFixUserGroups.cpp
  mac_build/Mac_SA_Secure.sh
  mac_build/boinc.xcodeproj/project.pbxproj
  mac_installer/release_boinc.sh
  mac_installer/release_brand.sh
Due: client

Fix warning: unused private variable
  clientgui/DlgEventLog.h
Due: client

Mac: After MacOS update, repair primary groups for users boinc_master, boinc_project
  clientgui/mac/SetupSecurity.cpp
Due: client

Fix copyright dates
  client/check_security.cpp
  client/file_names.h
  clientgui/mac/MacFixUserGroups.cpp
  mac_build/Mac_SA_Secure.sh
  mac_installer/release_boinc.sh
  mac_installer/release_brand.sh
Due: client

Mac: After MacOS update, repair primary groups for users boinc_master, boinc_project
  mac_build/boinc.xcodeproj/project.pbxproj
Due: none

fix: reorder FreeConsole.
  client/main.cpp
Due: client

remote job submission and file management: various bug fixes
  html/inc/sandbox.inc
  html/user/job_file.php
  html/user/submit_rpc_handler.php
  lib/boinc_submit.py
  tools/boinc_submit_test.py
  tools/submit_api_test.py
Due: library, server

fix: add wrap function to server message
  clientgui/CompletionErrorPage.cpp
Due: client

Path conditions:
  api: any of: api/, but not: tests/.*, zip/.*, 3rdParty/.*
  library: any of: lib/, but not: tests/.*, zip/.*, 3rdParty/.*
  client: any of: client/, clientgui/, but not: tests/.*, zip/.*, 3rdParty/.*
  server: any of: sched/, db/, tools/, but not: tests/.*, zip/.*, 3rdParty/.*
  android: any of: android/BOINC/app/src/main/java/edu/berkeley/boinc, but not: tests/.*, zip/.*, 3rdParty/.*
