Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    after_n_builds: 4
    wait_for_ci: true

coverage:
  status:
    project: off
    patch:
      default:
        threshold: 0.01

comment:
  layout: "diff, files"
  behavior: default
  require_changes: true    # if true: only post the comment if coverage changes
  require_base: false      # [true :: must have a base report to post]
  require_head: true       # [true :: must have a head report to post]
  branches:
    - master
  after_n_builds: 4

github_checks:
    annotations: false

flags:
  # filter the folder(s) you wish to measure by that flag
  api:
    paths:
      - api/
  library:
    paths:
      - lib/
  client:
    paths:
      - client/
      - clientgui/
  server:
    paths:
      - sched/
      - db/
      - tools/
  android:
    paths:
      - android/BOINC/app/src/main/java/edu/berkeley/boinc

# don't gather statistics for test and external libraries
ignore:
  - tests/.*
  - zip/.*
  - 3rdParty/.*

client: timestamp GPU detect warnings
  client/gpu_detect.cpp
Due: client

client: logic tweak
  client/gpu_nvidia.cpp
Due: client

fix ardeno flops estimate
  client/gpu_opencl.cpp
Due: client

Client/Manager Release 8.2.10
  android/BOINC/app/build.gradle
  configure.ac
  installer/include/Property.json
  snap/gui/boinc.desktop
  snap/snapcraft.yaml
  version.h
Due: none

[mac] provide a path to the system root certificates file
  client/http_curl.cpp
Due: client

Client/Manager Release 8.2.11
  android/BOINC/app/build.gradle
  configure.ac
  installer/include/Property.json
  snap/gui/boinc.desktop
  snap/snapcraft.yaml
  version.h
Due: none

[snap] fix running on wayland
  snap/local/launch-manager
  snap/snapcraft.yaml
Due: none

Try to fix another issue, add debug information
  snap/local/launch-manager
Due: none

Try simpler fix
  snap/local/launch-manager
Due: none

web, download BOINC: if Win, show both x86 and ARM links in some cases
  html/user/download_software.php
Due: none

Add test_boinccas_CASetPermissionBOINCDataProjects
  clientsetup/win/CASetPermissionBOINCDataProjects.cpp
  clientsetup/win/CASetPermissionBOINCDataProjects.h
  tests/unit-tests/boinccas/test_boinccas_CASetPermissionBOINCDataProjects.cpp
  win_build/boinccas.vcxproj
  win_build/unittests.vcxproj
Due: none

Add test_boinccas_CASetPermissionBOINCDataSlots
  clientsetup/win/CARestorePermissionBOINCData.cpp
  clientsetup/win/CASetPermissionBOINC.cpp
  clientsetup/win/CASetPermissionBOINCData.cpp
  clientsetup/win/CASetPermissionBOINCDataProjects.cpp
  clientsetup/win/CASetPermissionBOINCDataSlots.cpp
  clientsetup/win/CASetPermissionBOINCDataSlots.h
  clientsetup/win/boinccas.cpp
  clientsetup/win/boinccas.h
  clientsetup/win/dirops.cpp
  clientsetup/win/dirops.h
  tests/unit-tests/boinccas/test_boinccas_CASetPermissionBOINCDataSlots.cpp
  win_build/boinccas.vcxproj
  win_build/unittests.vcxproj
Due: none

Remove unused functions
  clientsetup/win/dcomperm.h
  clientsetup/win/launcher.cpp
  clientsetup/win/listacl.cpp
  clientsetup/win/sdmgmt.cpp
  clientsetup/win/terminate.h
  clientsetup/win/wrappers.cpp
  win_build/boinccas.vcxproj
Due: none

Merge pull request #7002 from ahorek/winarm64
  .github/workflows/mingw.yml
  configure.ac
  lib/Makefile.am
  lib/Makefile.mingw
  lib/boinc_win.h
  lib/diagnostics.cpp
  lib/diagnostics_win.cpp
  mingw/ci_make_apps.sh
Due: library

Merge pull request #7032 from BOINC/vko_fix_build
  mingw/ci_make_apps.sh
  win_build/boinc_cli.vcxproj
  win_build/boinc_ss.vcxproj
  win_build/boincmgr.vcxproj
  win_build/sim.vcxproj
  win_build/slide_show.vcxproj
  win_build/uc2_graphics.vcxproj
  win_build/unittests.vcxproj
  win_build/wrapper.vcxproj
  win_build/wrappture_example.vcxproj
Due: none

Merge pull request #7037 from BOINC/all_projects_list_xml_update
  win_build/installerv2/redist/all_projects_list.xml
Due: none

Merge pull request #7038 from BOINC/vko_linux_enable_wayland
  .github/workflows/linux-package.yml
  3rdParty/vcpkg_ports/configs/manager/linux/vcpkg.json
  3rdParty/vcpkg_ports/ports/gtk3/0001-build.patch
  3rdParty/vcpkg_ports/ports/gtk3/avoid-multiple-definition.diff
  3rdParty/vcpkg_ports/ports/gtk3/cairo-cpp-linkage.patch
  3rdParty/vcpkg_ports/ports/gtk3/portfile.cmake
  3rdParty/vcpkg_ports/ports/gtk3/vcpkg.json
  3rdParty/vcpkg_ports/triplets/ci/arm-linux-release.cmake
  3rdParty/vcpkg_ports/triplets/ci/arm64-linux-release.cmake
  3rdParty/vcpkg_ports/triplets/ci/snap-linux-amd64.cmake
  3rdParty/vcpkg_ports/triplets/ci/snap-linux-arm64.cmake
  3rdParty/vcpkg_ports/triplets/ci/x64-linux.cmake
  linux/update_vcpkg_manager.sh
  snap/snapcraft.yaml
Due: none

Merge pull request #7041 from BOINC/vko_build_snap_with_core24
  .github/workflows/snap.yml
  snap/snapcraft.yaml
Due: none

Merge pull request #7042 from saiarcot895/fix-rss-type
  lib/procinfo_unix.cpp
Due: library

Merge pull request #7045 from BOINC/vko_remove_custom_gtk3_vcpkg_port
  3rdParty/vcpkg_ports/ports/gtk3/0001-build.patch
  3rdParty/vcpkg_ports/ports/gtk3/avoid-multiple-definition.diff
  3rdParty/vcpkg_ports/ports/gtk3/cairo-cpp-linkage.patch
  3rdParty/vcpkg_ports/ports/gtk3/portfile.cmake
  3rdParty/vcpkg_ports/ports/gtk3/vcpkg.json
Due: none

Client/Manager release 8.2.12
  android/BOINC/app/build.gradle
  configure.ac
  installer/include/Property.json
  snap/gui/boinc.desktop
  snap/snapcraft.yaml
  version.h
Due: none

Merge pull request #7052 from BOINC/vko_fix_crash_on_wayland
  .github/workflows/debrepo/package_depends.sh
  .github/workflows/linux-package.yml
  .github/workflows/rpmrepo/package_depends.sh
  packages/deb/postinst
  tests/linux_package_integration_tests.py
  win_build/boinc_cli.vcxproj
  win_build/crypt_prog.vcxproj
  win_build/sim.vcxproj
Due: none

Merge pull request #7057 from BOINC/all_projects_list_xml_update
  win_build/installerv2/redist/all_projects_list.xml
Due: none

Client/Manager Release 8.2.13
  android/BOINC/app/build.gradle
  configure.ac
  installer/include/Property.json
  snap/gui/boinc.desktop
  snap/snapcraft.yaml
  version.h
Due: none

Add test_boinccas_CAShutdownBOINC
  .gitignore
  clientsetup/win/CAShutdownBOINC.cpp
  clientsetup/win/CAShutdownBOINC.h
  clientsetup/win/terminate.cpp
  clientsetup/win/terminate.h
  tests/unit-tests/boinccas/dummy.cpp
  tests/unit-tests/boinccas/test_boinccas_CALaunchBOINCManager.cpp
  tests/unit-tests/boinccas/test_boinccas_CALaunchBOINCTray.cpp
  tests/unit-tests/boinccas/test_boinccas_CAShutdownBOINC.cpp
  win_build/boinc.sln
  win_build/boinccas.vcxproj
  win_build/unittest_dummy.vcxproj
  win_build/unittest_dummy_gui.vcxproj
  win_build/unittests.vcxproj
  win_build/unittests.vcxproj.filters
Due: none

Add test_boinccas_CAShutdownBOINCManager
  clientsetup/win/CAShutdownBOINCManager.cpp
  clientsetup/win/CAShutdownBOINCManager.h
  tests/unit-tests/boinccas/test_boinccas_CAShutdownBOINC.cpp
  tests/unit-tests/boinccas/test_boinccas_CAShutdownBOINCManager.cpp
  win_build/boinccas.vcxproj
  win_build/unittests.vcxproj
  win_build/unittests.vcxproj.filters
Due: none

[snap] fix gpu detection
  snap/snapcraft.yaml
Due: none

Add test_boinccas_CAShutdownBOINCScreensaver
  clientsetup/win/CAShutdownBOINCManager.cpp
  clientsetup/win/CAShutdownBOINCScreensaver.cpp
  clientsetup/win/CAShutdownBOINCScreensaver.h
  tests/unit-tests/boinccas/test_boinccas_CAShutdownBOINC.cpp
  tests/unit-tests/boinccas/test_boinccas_CAShutdownBOINCScreensaver.cpp
  win_build/boinccas.vcxproj
  win_build/unittests.vcxproj
  win_build/unittests.vcxproj.filters
Due: none

Small refactoring
  clientsetup/win/CAShutdownBOINC.cpp
  clientsetup/win/CAShutdownBOINCManager.cpp
  clientsetup/win/CAShutdownBOINCScreensaver.cpp
  clientsetup/win/boinccas.cpp
  clientsetup/win/boinccas.h
  clientsetup/win/terminate.cpp
  clientsetup/win/terminate.h
  tests/unit-tests/boinccas/dummy.cpp
  tests/unit-tests/boinccas/dummy_gui.cpp
  tests/unit-tests/boinccas/test_boinccas_CALaunchBOINCManager.cpp
  tests/unit-tests/boinccas/test_boinccas_CALaunchBOINCTray.cpp
  win_build/unittest_dummy_gui.vcxproj
Due: none

Add small subtestcase to test recursive process shutdown
  clientsetup/win/terminate.cpp
  tests/unit-tests/boinccas/dummy.cpp
  tests/unit-tests/boinccas/test_boinccas_CAShutdownBOINC.cpp
  win_build/unittest_dummy.vcxproj
  win_build/unittest_dummy_gui.vcxproj
Due: none

Client: avoid XScreenSaver probing on Wayland
  client/hostinfo_unix.cpp
Due: client

client: cache Wayland detection for idle probing
  client/hostinfo_unix.cpp
Due: client

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

Mac: update to use wxWidgets 3.3.2
  clientgui/BOINCGUIApp.cpp
  clientgui/BOINCGUIApp.h
  clientgui/mac/BOINCGUIApp.mm
  mac_build/dependencyNames.sh
Due: client

Add '--get_project_urls' to boinccmd's help page
  client/boinc_cmd.cpp
Due: client

Removed drupal remnants from ./locale
  locale/az/BOINC-Drupal.po
  locale/cs/BOINC-Drupal.po
  locale/de/BOINC-Drupal.po
  locale/es/BOINC-Drupal.po
  locale/eu/BOINC-Drupal.po
  locale/fi/BOINC-Drupal.po
  locale/fr/BOINC-Drupal.po
  locale/he/BOINC-Drupal.po
  locale/hu/BOINC-Drupal.po
  locale/it_IT/BOINC-Drupal.po
  locale/ja/BOINC-Drupal.po
  locale/ko/BOINC-Drupal.po
  locale/nb/BOINC-Drupal.po
  locale/nl/BOINC-Drupal.po
  locale/pl/BOINC-Drupal.po
  locale/pt_BR/BOINC-Drupal.po
  locale/pt_PT/BOINC-Drupal.po
  locale/ru/BOINC-Drupal.po
  locale/sk/BOINC-Drupal.po
  locale/sv/BOINC-Drupal.po
  locale/templates/BOINC-Drupal.pot
  locale/tr/BOINC-Drupal.po
  locale/uk/BOINC-Drupal.po
  locale/update_templates.sh
  locale/vi/BOINC-Drupal.po
  locale/zh_CN/BOINC-Drupal.po
  locale/zh_TW/BOINC-Drupal.po
Due: none

Removed drupal remnants from CI harness
  .scrutinizer.yml
  .tx/config
  ci_tools/source_code_check.py
  ci_tools/trailing_whitespaces_check.py
Due: none

Use 'Type=exec' in boinc-client.service.in
  client/scripts/boinc-client.service.in
Due: client

Various AI fixes
  client/net_stats.cpp
  html/inc/prefs.inc
  html/inc/user.inc
  html/inc/util.inc
  html/ops/block_host.php
  html/ops/eah_server_status.php
  html/ops/hrclass_summary.php
  html/ops/job_times.php
  html/ops/mass_email.php
  html/ops/reset_hrclass.php
  html/ops/submit_init_priority.php
  html/user/sandbox.php
  html/user/submit_example.php
  html/user/submit_rpc_handler.php
Due: client
