Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

[ci] simplify android artifacts upload
  .github/workflows/android.yml
  deploy/prepare_deployment.py
Due: none

Mac_SA_Secure.sh utility: fix PrimaryGroupID for users boinc_master, boinc_project
  clientgui/mac/MacFixUserGroups.cpp
Due: client

Add comments for variables
  samples/vboxwrapper/vbox_common.cpp
  samples/vboxwrapper/vbox_common.h
  samples/vboxwrapper/vbox_vboxmanage.cpp
Due: none

Replay changes from PR 6119
  samples/vboxwrapper/vbox_common.cpp
  samples/vboxwrapper/vbox_common.h
  samples/vboxwrapper/vbox_vboxmanage.cpp
Due: none

minor fix
  samples/vboxwrapper/vbox_common.cpp
Due: none

Mac_SA_Secure.sh utility: fix PrimaryGroupID for users boinc_master, boinc_project
  clientgui/mac/MacFixUserGroups.cpp
  mac_build/boinc.xcodeproj/project.pbxproj
Due: client

[ci] simplify linux artifacts upload
  .github/workflows/debrepo/package_prepare.sh
  .github/workflows/linux-package.yml
  .github/workflows/linux.yml
  .github/workflows/rpmrepo/package_prepare.sh
  deploy/prepare_deployment.py
Due: none

delete_spammers.php: fix --forums option
  html/ops/delete_spammers.php
Due: none

[ci] simplify artifacts upload
  .github/workflows/android.yml
  .github/workflows/snap.yml
  deploy/prepare_deployment.py
Due: none

Cleanup 'launch_vboxsvc' associated code
  samples/vboxwrapper/vbox_common.cpp
  samples/vboxwrapper/vbox_common.h
  samples/vboxwrapper/vbox_vboxmanage.cpp
Due: none

[ci] update actions
  .github/workflows/all_projects_list_xml_update.yml
  .github/workflows/android.yml
  .github/workflows/coverity.yml
  .github/workflows/linux-package.yml
  .github/workflows/linux.yml
  .github/workflows/osx.yml
  .github/workflows/snap.yml
  .github/workflows/test-report.yml
  .github/workflows/update_copyright_year.yml
  .github/workflows/wasm.yml
  .github/workflows/windows.yml
Due: none

Mac: Fix bugs in Mac installer
  client/check_security.cpp
  clientgui/AdvancedFrame.cpp
  clientgui/BOINCGUIApp.cpp
  clientgui/BOINCGUIApp.h
  clientgui/mac/BOINCGUIApp.mm
  mac_installer/PostInstall.cpp
  mac_installer/finish_install.cpp
Due: client

Replace getcwd() with boinc_getcwd()
  samples/vboxwrapper/vboxwrapper.cpp
Due: none

sched/db_dump: close boinc_db before exiting
  sched/db_dump.cpp
Due: server

Restore code accidentally removed / modifued
  clientgui/BOINCGUIApp.cpp
  mac_installer/PostInstall.cpp
Due: client

Mac: Fix bugs in Mac installer
  clientgui/BOINCGUIApp.cpp
  clientgui/BOINCGUIApp.h
  clientgui/mac/BOINCGUIApp.mm
  mac_installer/PostInstall.cpp
Due: client

docker_wrapper: add 'mount' and 'portmap' options to job.toml
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

Delete samples/vboxwrapper/gbac.cpp
  samples/vboxwrapper/gbac.cpp
Due: none

Delete samples/vboxwrapper/gbac.h
  samples/vboxwrapper/gbac.h
Due: none

Delete samples/vboxwrapper/vboxwrapper_win.aps
  samples/vboxwrapper/vboxwrapper_win.aps
Due: none

Remove unused 'enable_gbac' from vboxjob.h
  samples/vboxwrapper/vboxjob.h
Due: none

Remove unused 'enable_gbac' from vboxjob.cpp
  samples/vboxwrapper/vboxjob.cpp
Due: none

scheduler: update parsing of host info.
  db/boinc_db_types.h
  sched/sched_types.cpp
Due: server

Mac: Fix bugs in Mac installer
  client/check_security.cpp
  clientgui/BOINCBaseFrame.cpp
  clientgui/BOINCGUIApp.cpp
  clientgui/BOINCGUIApp.h
  clientgui/mac/BOINCGUIApp.mm
  clientgui/mac/SetVersion.cpp
  clientgui/mac/templates/Finish_Install-Info.plist
  clientgui/sg_BoincSimpleFrame.cpp
  lib/diagnostics.h
  mac_build/Finish_Install-Info.plist
  mac_build/boinc.xcodeproj/project.pbxproj
  mac_installer/PostInstall.cpp
  mac_installer/postinstall
  mac_installer/postupgrade
Due: library, client

no message
  client/check_security.cpp
  clientgui/BOINCBaseFrame.cpp
  clientgui/BOINCGUIApp.cpp
  clientgui/BOINCGUIApp.h
  clientgui/sg_BoincSimpleFrame.cpp
  mac_installer/PostInstall.cpp
  mac_installer/postinstall
  mac_installer/postupgrade
Due: client

Mac: Fix bugs in Mac installer
  clientgui/BOINCGUIApp.cpp
Due: client

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

[ci] update actions
  .github/workflows/all_projects_list_xml_update.yml
  .github/workflows/update_copyright_year.yml
Due: none

Adding docker_wrapper
  .gitignore
Due: none

docker_wrapper: support HTML graphics
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

Fix Windows build
  samples/docker_wrapper/Makefile
  win_build/docker_wrapper.vcxproj
Due: none

web (forums): fix XSS vulnerability
  html/inc/text_transform.inc
Due: none

Update ca-bundle.crt
  curl/ca-bundle.crt
Due: none

Add some comments and fix compile warning. No functional changes
  lib/hostinfo.cpp
  lib/util.cpp
Due: library

web: use symbols rather than hardwired numbers for states in DB queries
  html/inc/db_ops.inc
  html/inc/result.inc
  html/inc/submit_util.inc
  html/inc/util_ops.inc
  html/user/server_status.php
Due: none

trailing space
  html/inc/submit_util.inc
Due: none

client, Linux: don't check for podman
  client/hostinfo_unix.cpp
Due: client

Mac: Fix bugs in Mac uninstaller
  mac_build/boinc.xcodeproj/project.pbxproj
  mac_installer/uninstall.cpp
Due: none

Path conditions:
  api: any of: api/, but not: tests/.*, zip/.*, 3rdParty/.*
  library: any of: lib/, but not: tests/.*, zip/.*, 3rdParty/.*
  client: any of: client/, clientgui/, but not: tests/.*, zip/.*, 3rdParty/.*
  server: any of: sched/, db/, tools/, but not: tests/.*, zip/.*, 3rdParty/.*
  android: any of: android/BOINC/app/src/main/java/edu/berkeley/boinc, but not: tests/.*, zip/.*, 3rdParty/.*
