Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

client: fill in resource usage if not specified
  client/client_state.cpp
  client/client_types.cpp
  client/client_types.h
  client/cs_statefile.cpp
  client/scheduler_op.cpp
Due: client

client: don't divide by zero
  client/cpu_sched.cpp
Due: client

add const
  client/work_fetch.cpp
Due: client

typo
  client/client_types.cpp
Due: client

don't divide by zero
  client/work_fetch.cpp
Due: client

New version
  html/inc/server_version.inc
Due: none

fix sim crash
  client/sim.cpp
Due: client

[ci] update actions
  .github/workflows/linux-package.yml
  .github/workflows/linux.yml
  .github/workflows/osx.yml
  .github/workflows/windows.yml
Due: none

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

client: allow projects to change resource usage of app versions
  client/client_state.cpp
  client/cs_scheduler.cpp
Due: client

Fix incorrect links in the linux package installer scripts.
  .github/workflows/linux-package.yml
  packages/deb/postinst
Due: none

Don't call init_result_resource_usage() in APP_CONFIGS::config_app_versions(); it's always called after calling the latter.
  client/app_config.cpp
  client/client_state.cpp
  client/client_state.h
  client/cs_scheduler.cpp
Due: client

add
  3rdParty/vcpkg_ports/configs/msbuild/vcpkg.json
  client/gpu_intel.cpp
Due: client

Small improvements
  clientsetup/win/CAAnnounceUpgrade.cpp
  clientsetup/win/CAAnnounceUpgrade.h
  clientsetup/win/CACleanupOldBinaries.cpp
  clientsetup/win/CACleanupOldBinaries.h
  clientsetup/win/CACreateAcctMgrLoginFile.cpp
  clientsetup/win/CACreateAcctMgrLoginFile.h
  clientsetup/win/CACreateBOINCAccounts.cpp
  clientsetup/win/CACreateBOINCAccounts.h
  clientsetup/win/CACreateBOINCGroups.cpp
  clientsetup/win/CACreateBOINCGroups.h
  clientsetup/win/boinccas.cpp
  clientsetup/win/stdafx.h
  tests/unit-tests/boinccas/boinccas_helper.cpp
  tests/unit-tests/boinccas/boinccas_helper.h
  tests/unit-tests/boinccas/test_boinccas_CAAnnounceUpgrade.cpp
  tests/unit-tests/boinccas/test_boinccas_CACleanupOldBinaries.cpp
  tests/unit-tests/boinccas/test_boinccas_CACreateAcctMgrLoginFile.cpp
  tests/unit-tests/boinccas/test_boinccas_CACreateBOINCAccounts.cpp
  tests/unit-tests/boinccas/test_boinccas_CACreateBOINCGroups.cpp
Due: none

Add pch
  tests/unit-tests/boinccas/boinccas_helper.cpp
  tests/unit-tests/boinccas/boinccas_helper.h
  tests/unit-tests/boinccas/test_boinccas_CAAnnounceUpgrade.cpp
  tests/unit-tests/boinccas/test_boinccas_CACleanupOldBinaries.cpp
  tests/unit-tests/boinccas/test_boinccas_CACreateAcctMgrLoginFile.cpp
  tests/unit-tests/boinccas/test_boinccas_CACreateBOINCAccounts.cpp
  tests/unit-tests/boinccas/test_boinccas_CACreateBOINCGroups.cpp
  tests/unit-tests/boinccas/test_boinccas_CACreateClientAuthFile.cpp
  tests/unit-tests/lib/test_base64.cpp
  tests/unit-tests/lib/test_md5_file.cpp
  tests/unit-tests/lib/test_parse.cpp
  tests/unit-tests/lib/test_shmem.cpp
  tests/unit-tests/lib/test_str_util.cpp
  tests/unit-tests/lib/test_url.cpp
  tests/unit-tests/lib/test_util.cpp
  tests/unit-tests/lib/test_zip.cpp
  tests/unit-tests/win/pch.cpp
  tests/unit-tests/win/pch.h
  win_build/unittests.vcxproj
Due: none

Add test_boinccas_CACreateClientAuthFile.cpp
  tests/unit-tests/boinccas/test_boinccas_CACreateClientAuthFile.cpp
Due: none

Add test_boinccas_CACreateClientAuthFile.cpp
  clientsetup/win/CACreateAcctMgrLoginFile.cpp
  clientsetup/win/CACreateClientAuthFile.cpp
  clientsetup/win/CACreateClientAuthFile.h
  tests/unit-tests/boinccas/test_boinccas_CACreateClientAuthFile.cpp
Due: none

client: fix crashing bug
  client/app_config.cpp
  client/client_state.cpp
  client/result.cpp
  client/result.h
Due: client

Add test_boinccas_CACreateProjectInitFile
  clientsetup/win/CAAnnounceUpgrade.cpp
  clientsetup/win/CAAnnounceUpgrade.h
  clientsetup/win/CACleanupOldBinaries.cpp
  clientsetup/win/CACleanupOldBinaries.h
  clientsetup/win/CACreateAcctMgrLoginFile.cpp
  clientsetup/win/CACreateAcctMgrLoginFile.h
  clientsetup/win/CACreateBOINCAccounts.cpp
  clientsetup/win/CACreateBOINCAccounts.h
  clientsetup/win/CACreateBOINCGroups.cpp
  clientsetup/win/CACreateBOINCGroups.h
  clientsetup/win/CACreateClientAuthFile.cpp
  clientsetup/win/CACreateClientAuthFile.h
  clientsetup/win/CACreateProjectInitFile.cpp
  clientsetup/win/CACreateProjectInitFile.h
  tests/unit-tests/boinccas/test_boinccas_CACreateClientAuthFile.cpp
  tests/unit-tests/boinccas/test_boinccas_CACreateProjectInitFile.cpp
  tests/unit-tests/lib/test_zip.cpp
  win_build/boinccas.vcxproj
  win_build/unittests.vcxproj
Due: none

Enable disabled tests
  tests/unit-tests/boinccas/test_boinccas_CACreateProjectInitFile.cpp
Due: none

Add test_boinccas_CADeleteBOINCAccounts
  clientsetup/win/CADeleteBOINCAccounts.cpp
  clientsetup/win/CADeleteBOINCAccounts.h
  tests/unit-tests/boinccas/boinccas_helper.cpp
  tests/unit-tests/boinccas/boinccas_helper.h
  tests/unit-tests/boinccas/test_boinccas_CADeleteBOINCAccounts.cpp
  win_build/boinccas.vcxproj
  win_build/unittests.vcxproj
Due: none

[linux] add libxkbcommon library dependency to the vcpkg build
  .github/workflows/linux-package.yml
  3rdParty/vcpkg_ports/configs/manager/linux/vcpkg.json
  3rdParty/vcpkg_ports/triplets/ci/arm-linux-release.cmake
  3rdParty/vcpkg_ports/triplets/ci/arm64-linux-release.cmake
  3rdParty/vcpkg_ports/triplets/ci/snap-linux-amd64.cmake
  3rdParty/vcpkg_ports/triplets/ci/snap-linux-arm64.cmake
  3rdParty/vcpkg_ports/triplets/ci/x64-linux.cmake
  snap/snapcraft.yaml
Due: none

[linux] Add custom gtk3 vcpkg port
  3rdParty/vcpkg_ports/ports/gtk3/0001-build.patch
  3rdParty/vcpkg_ports/ports/gtk3/cairo-cpp-linkage.patch
  3rdParty/vcpkg_ports/ports/gtk3/egl-conditional.diff
  3rdParty/vcpkg_ports/ports/gtk3/portfile.cmake
  3rdParty/vcpkg_ports/ports/gtk3/vcpkg.json
Due: none

[ci] update actions
  .github/workflows/all_projects_list_xml_update.yml
  .github/workflows/android.yml
  .github/workflows/update_copyright_year.yml
Due: none

Add vboxwrapper/vbox_common:is_version_newer test
  samples/vboxwrapper/vbox_vboxmanage.cpp
  tests/executeUnitTests.sh
  tests/unit-tests/CMakeLists.txt
  tests/unit-tests/vboxwrapper/CMakeLists.txt
  tests/unit-tests/vboxwrapper/test_vbox_common.cpp
  win_build/unittests.vcxproj
Due: none

Test updated gtk3 vcpkg port
  3rdParty/vcpkg_ports/configs/manager/linux/vcpkg.json
  3rdParty/vcpkg_ports/ports/gtk3/portfile.cmake
  3rdParty/vcpkg_ports/ports/gtk3/vcpkg.json
Due: none

Try to fix configuration
  3rdParty/vcpkg_ports/configs/manager/linux/vcpkg.json
Due: none

Another try
  3rdParty/vcpkg_ports/configs/manager/linux/vcpkg.json
Due: none

Revert
  3rdParty/vcpkg_ports/configs/manager/linux/vcpkg.json
Due: none

web: various small fixes
  html/inc/host.inc
  html/inc/notify.inc
  html/ops/hostinfo.php
  html/user/buda.php
Due: none

empty() means undefined or (0/null/empty string/empty array) isset() means defined and not === null
  html/inc/host.inc
Due: none

tweak
  html/inc/host.inc
Due: none

use htmlspecialchars() on text from client; prevent XSS
  html/inc/host.inc
  tools/backend_lib.cpp
  tools/create_work.cpp
  tools/remote_submit_test.cpp
Due: server

Test updated libnotify library
  3rdParty/vcpkg_ports/ports/libnotify/0001-fix-parameter-name-omitted-error.patch
  3rdParty/vcpkg_ports/ports/libnotify/0002-fix-static-build.patch
  3rdParty/vcpkg_ports/ports/libnotify/portfile.cmake
  3rdParty/vcpkg_ports/ports/libnotify/vcpkg.json
Due: none

Fix mingw build
  3rdParty/vcpkg_ports/ports/openssl/cmake-config.patch
  3rdParty/vcpkg_ports/ports/openssl/command-line-length.patch
  3rdParty/vcpkg_ports/ports/openssl/fix-mingw-build.patch
  3rdParty/vcpkg_ports/ports/openssl/install-pc-files.cmake
  3rdParty/vcpkg_ports/ports/openssl/openssl.pc.in
  3rdParty/vcpkg_ports/ports/openssl/portfile.cmake
  3rdParty/vcpkg_ports/ports/openssl/script-prefix.patch
  3rdParty/vcpkg_ports/ports/openssl/unix/android-cc.patch
  3rdParty/vcpkg_ports/ports/openssl/unix/configure
  3rdParty/vcpkg_ports/ports/openssl/unix/move-openssldir.patch
  3rdParty/vcpkg_ports/ports/openssl/unix/no-empty-dirs.patch
  3rdParty/vcpkg_ports/ports/openssl/unix/no-static-libs-for-shared.patch
  3rdParty/vcpkg_ports/ports/openssl/unix/portfile.cmake
  3rdParty/vcpkg_ports/ports/openssl/unix/remove-deps.cmake
  3rdParty/vcpkg_ports/ports/openssl/usage
  3rdParty/vcpkg_ports/ports/openssl/vcpkg-cmake-wrapper.cmake.in
  3rdParty/vcpkg_ports/ports/openssl/vcpkg.json
  3rdParty/vcpkg_ports/ports/openssl/windows/install-layout.patch
  3rdParty/vcpkg_ports/ports/openssl/windows/install-pdbs.patch
  3rdParty/vcpkg_ports/ports/openssl/windows/install-programs.diff
  3rdParty/vcpkg_ports/ports/openssl/windows/portfile.cmake
Due: none

client: use modern for() syntax (hopefully no functional change)
  client/acct_mgr.cpp
  client/app.cpp
  client/app_config.cpp
  client/app_control.cpp
  client/app_graphics.cpp
  client/app_start.cpp
  client/auto_update.cpp
  client/boinc_cmd.cpp
  client/boinc_log.cpp
  client/check_state.cpp
  client/client_msgs.cpp
  client/client_state.cpp
  client/client_types.cpp
  client/cpu_sched.cpp
  client/cs_account.cpp
  client/cs_apps.cpp
  client/cs_cmdline.cpp
  client/cs_files.cpp
  client/cs_notice.cpp
  client/cs_platforms.cpp
  client/cs_prefs.cpp
  client/cs_scheduler.cpp
  client/cs_statefile.cpp
  client/cs_trickle.cpp
  client/file_xfer.cpp
  client/gui_rpc_server_ops.cpp
  client/log_flags.cpp
  client/net_stats.cpp
  client/pers_file_xfer.cpp
  client/project.cpp
  client/result.cpp
  client/rr_sim.cpp
  client/rrsim_test.cpp
  client/sim.cpp
  client/work_fetch.cpp
Due: client

Add test_boinccas_CADeleteBOINCGroups
  clientsetup/win/CADeleteBOINCGroups.cpp
  clientsetup/win/CADeleteBOINCGroups.h
  tests/unit-tests/boinccas/boinccas_helper.cpp
  tests/unit-tests/boinccas/boinccas_helper.h
  tests/unit-tests/boinccas/test_boinccas_CADeleteBOINCAccounts.cpp
  tests/unit-tests/boinccas/test_boinccas_CADeleteBOINCGroups.cpp
  win_build/boinccas.vcxproj
  win_build/unittests.vcxproj
Due: none

Enable disabled tests
  tests/unit-tests/boinccas/test_boinccas_CADeleteBOINCGroups.cpp
Due: none

lib: use modern for() syntax
  lib/app_ipc.cpp
  lib/cc_config.cpp
  lib/gui_rpc_client_ops.cpp
  lib/gui_rpc_client_print.cpp
  lib/keyword.cpp
  lib/proc_control.cpp
  lib/remote_submit.cpp
Due: library

Path conditions:
  api: any of: api/, but not: tests/.*, zip/.*, 3rdParty/.*
  library: any of: lib/, but not: tests/.*, zip/.*, 3rdParty/.*
  client: any of: client/, clientgui/, but not: tests/.*, zip/.*, 3rdParty/.*
  server: any of: sched/, db/, tools/, but not: tests/.*, zip/.*, 3rdParty/.*
  android: any of: android/BOINC/app/src/main/java/edu/berkeley/boinc, but not: tests/.*, zip/.*, 3rdParty/.*
