Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

.codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    after_n_builds: 3
    wait_for_ci: yes
  token: ${{ secrets.CODECOV_TOKEN }}

coverage:
  status:
    project: off
    patch:
      default:
        threshold: 0.01

comment:
  layout: "diff, files"
  behavior: default
  require_changes: yes    # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]
  branches:
    - master
  after_n_builds: 3

flags:
  # filter the folder(s) you wish to measure by that flag
  api:
    paths:
      - api/
  library:
    paths:
      - lib/
  client:
    paths:
      - client/
      - clientgui/
  server:
    paths:
      - sched/
      - db/
      - tools/
  android:
    paths:
      - android/BOINC/app/src/main/java/edu/berkeley/boinc

# don't gather statistics for test and external libraries
ignore:
  - tests/.*
  - zip/.*
  - 3rdParty/.*

Merge pull request #6268 from BOINC/all_projects_list_xml_update
  win_build/installerv2/redist/all_projects_list.xml
Due: none

Merge pull request #6275 from BOINC/vko_fix_linux_package_installer
  .github/workflows/linux-package.yml
  client/hostinfo_unix.cpp
  client/scripts/boinc-client.service.in
  packages/deb/postinst
  tests/linux_package_integration_tests.py
Due: client

set client version to 8.2.2
  android/BOINC/app/build.gradle
  configure.ac
  installer/boinc.json
  snap/gui/boinc.desktop
  snap/snapcraft.yaml
  version.h
Due: none

[linux] change 'upgrade-from-alpha' fedora test from 8.2.1 to 8.2.2
  .github/workflows/linux-package.yml
Due: none

[ci] update actions
  .github/workflows/android.yml
  .github/workflows/linux-package.yml
  .github/workflows/test-report.yml
Due: none

Replace obsolescent 'egrep'
  samples/nvcuda/common_mac.mk
Due: none

Replace obsolescent 'egrep'
  m4/boinc_gtk.m4
Due: none

Replace obsolescent 'egrep'
  m4/ax_check_glut.m4
Due: none

Replace obsolescent 'egrep'
  samples/nvcuda/common.mk
Due: none

Replace obsolescent 'egrep'
  tools/check_project
Due: server

Replace obsolescent 'egrep'
  tools/update_versions
Due: server

Replace obsolescent 'egrep'
  tools/update_versions_v6
Due: server

Replace obsolescent 'egrep'
  configure.ac
Due: none

Various improvements to web-based job submission and app management
  html/inc/boinc_db.inc
  html/inc/bootstrap.inc
  html/inc/submit_util.inc
  html/user/buda.php
  html/user/buda_submit.php
  html/user/manage_app.php
  html/user/manage_project.php
  html/user/submit.php
  html/user/submit_example.php
Due: none

Various improvements to web-based job submission and app management
  html/inc/submit_util.inc
  html/user/manage_app.php
  html/user/submit.php
Due: none

BUDA: add 'max runtime' param for job submission
  html/user/buda_submit.php
Due: none

[linux] update gdk-pixbuf from the vcpkg upstream
  3rdParty/vcpkg_ports/ports/gdk-pixbuf/portfile.cmake
  3rdParty/vcpkg_ports/ports/gdk-pixbuf/vcpkg.json
Due: none

Fix regressions in Drupal following BOINC changes
  drupal/sites/all/features/user_account_host_list/user_account_host_list.views_default.inc
  drupal/sites/all/features/work_and_host_stats/work_and_host_stats.views_default.inc
  drupal/sites/default/boinc/modules/boincuser/includes/boincuser.helpers.inc
  drupal/sites/default/boinc/modules/boincwork/includes/boincwork.forms.inc
Due: none

[ci][osx] build libboinc with cmake in paraller ofr x64 and arm64.
  .codecov.yml
  .github/workflows/osx.yml
  3rdParty/vcpkg_ports/configs/libs/vcpkg.json
  osx/ci_build_libs_cmake.sh
  tests/executeUnitTests.sh
  tests/unit-tests/CMakeLists.txt
Due: none

web: fix typo that caused errors if job submission not enabled
  html/inc/bootstrap.inc
Due: none

BUDA: treat variants as CPU (not plan class) if 'cpu' is in variant name
  html/user/buda.php
Due: none

web: fix 'powered by BOINC' behavior in footer
  html/project.sample/project.inc
Due: none

docker_wrapper: use the BOINC WSL distro if present
  lib/wslinfo.cpp
Due: library

build fix
  lib/wslinfo.cpp
Due: library

Fix compiler warning
  client/hostinfo_unix.cpp
Due: client

[windows] fix windows build by building unit-tests as c++17 code due to the update of gtest.
  win_build/unittests.vcxproj
Due: none

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

web, job submission: enhancements
  html/inc/boinc_db.inc
  html/inc/bootstrap.inc
  html/inc/submit_db.inc
  html/inc/submit_util.inc
  html/user/submit.php
Due: none

web (BUDA) add 'expected runtime' to submission form
  html/user/buda_submit.php
  html/user/job_fpops.php
Due: none

Don't mess with global $config (here)
  html/inc/prefs.inc
Due: none

web: Remove some globals. No functional change.
  html/inc/account.inc
  html/inc/akismet.inc
  html/inc/bootstrap.inc
  html/inc/forum_email.inc
  html/inc/host.inc
  html/inc/prefs.inc
  html/inc/submit_util.inc
  html/inc/user_util.inc
  html/inc/util.inc
  html/inc/util_basic.inc
  html/user/account_ownership.php
  html/user/create_account_form.php
  html/user/create_profile.php
  html/user/download_software.php
  html/user/ffmail_form.php
  html/user/get_project_config.php
  html/user/join.php
  html/user/login_token_lookup.php
  html/user/logout.php
  html/user/register.php
  html/user/sample_index.php
  html/user/signup.php
  html/user/submit_example.php
  html/user/team_create_action.php
  html/user/validate_email_addr.php
Due: none

client and docker_wrapper (Mac/podman): set env vars to use accessable dir.
  lib/util.cpp
Due: library

client (Mac): check for podman only if 'podman' dir exists
  client/hostinfo_unix.cpp
Due: client

Mac/docker: remove extraneous space in env directive
  lib/util.cpp
Due: library

Mac: add new podman directory in BOINC Data, set environment variables for podman
  client/check_security.cpp
  client/file_names.h
  client/hostinfo_unix.cpp
  clientgui/mac/SetupSecurity.cpp
  lib/hostinfo.cpp
  lib/hostinfo.h
  lib/util.cpp
  mac_build/Mac_SA_Secure.sh
Due: library, client

Fix compile error
  lib/util.cpp
Due: library

Fix compile error
  client/hostinfo_unix.cpp
Due: client

validators: improve credit calculation
  html/user/buda_submit.php
  html/user/server_status.php
  html/user/submit.php
  sched/credit.cpp
  sched/credit.h
  sched/validator.cpp
Due: server

client: fixes for Podman on Mac
  client/check_security.cpp
  client/hostinfo_unix.cpp
  lib/hostinfo.cpp
  lib/hostinfo.h
  lib/util.cpp
Due: library, client

build fix
  client/hostinfo_unix.cpp
  mac_build/Finish_Install-Info.plist
Due: client
