Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

[ci] test libs could be built with c++03
  .github/workflows/linux.yml
Due: none

lib/Makefile.mingw: don't install str_replace.h
  lib/Makefile.mingw
Due: library

docker_wrapper: read fraction done from a file and report to client worker: generate a fraction done file (to test the above)
  samples/docker_wrapper/docker_wrapper.cpp
  samples/worker/worker.cpp
Due: none

remove unnecessary includes. No functional change
  api/boinc_api.h
  lib/app_ipc.h
  lib/common_defs.h
Due: api, library

web: fix handling of max_delay in BUDA app variant creation also: - tweaks to file sandbox wording - bump version #s of worker and docker_wrapper
  html/user/buda.php
  html/user/sandbox.php
  version.h
Due: none

fix worker and dockerwrapper versions
  configure.ac
  win_build/docker_wrapper.vcxproj
  win_build/worker.vcxproj
Due: none

web: minor changes
  html/inc/forum_db.inc
  html/inc/util.inc
  html/user/download_software.php
  html/user/edit_forum_preferences_form.php
Due: none

API: fix C app build errors
  api/boinc_api.cpp
  api/boinc_api.h
  lib/app_ipc.cpp
  lib/app_ipc.h
  lib/common_defs.h
Due: api, library

manager build fix
  api/boinc_api.cpp
  api/boinc_api.h
  clientgui/sg_ProjectPanel.cpp
  lib/app_ipc.cpp
  lib/app_ipc.h
  samples/wrapper/wrapper.cpp
Due: api, library, client

build fix
  clientgui/sg_TaskPanel.cpp
Due: client

build fix
  clientscr/gfx_switcher.cpp
Due: none

build fix
  clientscr/screensaver_x11.cpp
  clientscr/ss_app.cpp
Due: none

web (job submission) tweaks
  html/user/result.php
  html/user/submit.php
Due: none

Add c test
  tests/vcpkg/CMakeLists.txt
  tests/vcpkg/main.c
Due: none

submit RPC bug fixes
  html/user/submit_rpc_handler.php
  tools/backend_lib.cpp
  tools/process_input_template.cpp
  version.h
Due: server

Fix
  tests/vcpkg/main.c
Due: none

Add a test to verify that a pure C application could be built with libboinc
  tests/vcpkg/CMakeLists.txt
  tests/vcpkg/main.c
Due: none

web (job submission): make it faster
  html/inc/submit_util.inc
  html/user/submit.php
Due: none

Change size to default
  clientgui/AccountInfoPage.cpp
Due: client

Make `strftime()` format string compatible with old libraries
  api/boinc_api.cpp
Due: api

Remove accidentally added tabs
  installer/Installer.cpp
  installer/JsonHelper.h
Due: none

Web (BUDA): avg FLOPS is 4.3G, not 3.5G
  html/user/buda_submit.php
Due: none

client: parse no_disk_usage flag in cc_config.xml
  client/log_flags.cpp
Due: client

Web (BUDA job submission): error out if job has no cmdline or input files
  html/user/buda_submit.php
Due: none

client: BOINC WSL distro name is boinc-buda-runner, not boinc_buda_runner
  lib/wslinfo.cpp
Due: library

Fix shebang in sched/testasm.py
  sched/testasm.py
Due: server

docs: update INSTALL with server build info
  INSTALL
Due: none

:pencil2: Fix "Majt" over "Maj" typo in french locale
  locale/fr/BOINC-Manager.po
Due: none

Merge pull request #6280 from BOINC/vko_update_tests_for_linux_alpha_from_821_to_833
  .github/workflows/linux-package.yml
Due: none

Merge pull request #6281 from BOINC/vko_update_actions
  .github/workflows/android.yml
  .github/workflows/linux-package.yml
  .github/workflows/test-report.yml
Due: none

Merge pull request #6286 from BOINC/vko_update_vcpkg_port_from_the_upstream
  3rdParty/vcpkg_ports/ports/gdk-pixbuf/portfile.cmake
  3rdParty/vcpkg_ports/ports/gdk-pixbuf/vcpkg.json
Due: none

Merge pull request #6297 from BOINC/dpa_docker17
  lib/wslinfo.cpp
Due: library

Merge pull request #6300 from BOINC/vko_fix_windows_build
  win_build/unittests.vcxproj
Due: none

Merge pull request #6301 from BOINC/all_projects_list_xml_update
  win_build/installerv2/redist/all_projects_list.xml
Due: none

Merge pull request #6313 from BOINC/vko_update_gdk-pixbuf_vcpkg_port_from_upstream
  3rdParty/vcpkg_ports/ports/gdk-pixbuf/portfile.cmake
  3rdParty/vcpkg_ports/ports/gdk-pixbuf/vcpkg.json
Due: none

Merge pull request #6321 from BOINC/Mac_fix_msg_typo
  client/check_security.cpp
Due: client

Path conditions:
  api: any of: api/, but not: tests/.*, zip/.*, 3rdParty/.*
  library: any of: lib/, but not: tests/.*, zip/.*, 3rdParty/.*
  client: any of: client/, clientgui/, but not: tests/.*, zip/.*, 3rdParty/.*
  server: any of: sched/, db/, tools/, but not: tests/.*, zip/.*, 3rdParty/.*
  android: any of: android/BOINC/app/src/main/java/edu/berkeley/boinc, but not: tests/.*, zip/.*, 3rdParty/.*
