Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

.codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    after_n_builds: 3
    wait_for_ci: yes
  token: ${{ secrets.CODECOV_TOKEN }}

coverage:
  status:
    project: off
    patch:
      default:
        threshold: 0.01

comment:
  layout: "diff, files"
  behavior: default
  require_changes: yes    # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]
  branches:
    - master
  after_n_builds: 3

flags:
  # filter the folder(s) you wish to measure by that flag
  api:
    paths:
      - api/
  library:
    paths:
      - lib/
  client:
    paths:
      - client/
      - clientgui/
  server:
    paths:
      - sched/
      - db/
      - tools/
  android:
    paths:
      - android/BOINC/app/src/main/java/edu/berkeley/boinc

# don't gather statistics for test and external libraries
ignore:
  - tests/.*
  - zip/.*
  - 3rdParty/.*

web: fix ops/sample_table_stats.php (shows details of DB tables)
  html/ops/index.php
  html/ops/sample_table_stats.php
Due: none

Fix client simulator build
  client/result.cpp
  client/sim.cpp
  client/sim_util.cpp
Due: client

scheduler: fix FCGI build
  sched/sched_shmem.cpp
Due: server

trailing white space
  html/user/buda.php
Due: none

scheduler: fix scrutinizer warnings
  sched/sched_score.cpp
  sched/sched_shmem.cpp
Due: server

fix vulnerability in yucky consent code
  html/inc/consent.inc
  html/user/user_agreetermsofuse_action.php
Due: none

Web: sanitize user URLs to prevent XSS attacks
  html/inc/user.inc
  html/inc/util.inc
  html/user/edit_user_info_action.php
Due: none

web: don't allow special chars in user names.
  html/inc/user_util.inc
  html/user/edit_user_info_action.php
Due: none

New version
  html/inc/server_version.inc
Due: none

web: remove vulnerabilities in tree_threader and in unused badge function
  html/inc/util_ops.inc
  html/user/tree_threader.php
Due: none

Test upcoming GitHub Actions Runner images update from ubuntu-22.04 to ubuntu-24.04
  .github/workflows/all_projects_list_xml_update.yml
  .github/workflows/android.yml
  .github/workflows/check_custom_vcpkg_ports.yml
  .github/workflows/coverity.yml
  .github/workflows/linux-package-stable-release.yml
  .github/workflows/linux-package.yml
  .github/workflows/linux.yml
  .github/workflows/mingw.yml
  .github/workflows/snap.yml
  .github/workflows/source-code-check.yml
  .github/workflows/test-report.yml
  .github/workflows/update_actions.yml
  .github/workflows/update_copyright_year.yml
  .github/workflows/wasm.yml
Due: none

Fix build on Ubuntu 24.04
  .github/workflows/android.yml
  .github/workflows/linux-package.yml
  .github/workflows/linux.yml
  mingw/ci_make_apps.sh
Due: none

fix link on bbcode page
  html/user/bbcode.php
Due: none

web: fix various vulnerabilities
  html/inc/consent.inc
  html/inc/prefs_util.inc
  html/inc/user_util.inc
  html/inc/util.inc
  html/inc/util_basic.inc
  html/user/am_set_host_info.php
  html/user/buda.php
  html/user/manage_app.php
  html/user/manage_project.php
  html/user/sandbox.php
  html/user/team_forum.php
  html/user/team_founder_transfer_action.php
Due: none

web: fix various vulnerabilities
  html/inc/consent.inc
  html/inc/prefs_util.inc
  html/inc/user_util.inc
  html/inc/util.inc
  html/inc/util_basic.inc
  html/user/am_set_host_info.php
  html/user/manage_app.php
  html/user/manage_project.php
  html/user/sandbox.php
  html/user/team_forum.php
  html/user/team_founder_transfer_action.php
Due: none

Removed conflict statements
  html/user/sandbox.php
Due: none

web: fix various XSS vulnerabilities
  html/inc/util_basic.inc
  html/user/get_output.php
  html/user/get_output3.php
  html/user/job_file.php
  html/user/openid_login.php
  html/user/prefs_edit.php
  html/user/submit_rpc_handler.php
Due: none

web: fix various XSS vulnerabilities
  html/inc/util_basic.inc
  html/user/get_output.php
  html/user/job_file.php
  html/user/openid_login.php
  html/user/prefs_edit.php
  html/user/submit_rpc_handler.php
Due: none

fix XSS
  html/user/job_file.php
Due: none

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

[ci] update actions
  .github/workflows/android.yml
  .github/workflows/linux-package-stable-release.yml
  .github/workflows/linux-package.yml
  .github/workflows/linux.yml
  .github/workflows/mingw.yml
  .github/workflows/osx.yml
  .github/workflows/snap.yml
  .github/workflows/update_actions.yml
  .github/workflows/wasm.yml
  .github/workflows/windows.yml
Due: none

fix: change m_pProjectsCtrl from wxListBox to wxListCtrl
  clientgui/ProjectInfoPage.cpp
  clientgui/ProjectInfoPage.h
Due: client

style: remove whitespace
  clientgui/ProjectInfoPage.cpp
Due: client

Client: add some error reporting to WSL detection
  client/hostinfo_wsl.cpp
  lib/win_util.cpp
  lib/win_util.h
Due: library, client

build fixes
  lib/util.cpp
  lib/win_util.cpp
Due: library

[ci] fix upload windows logs on ci
  .github/workflows/windows.yml
Due: none

build fix
  samples/wsl_wrapper/wsl_wrapper.cpp
Due: none

[ci][linux] add modern way of adding DEB repositories
  .github/workflows/linux-package.yml
Due: none

Update boinc-client.service.in
  client/scripts/boinc-client.service.in
Due: client

[ci] update actions
  .github/workflows/all_projects_list_xml_update.yml
  .github/workflows/update_copyright_year.yml
Due: none

Update linux_package_integration_tests.py
  tests/linux_package_integration_tests.py
Due: none

[ci][windows] sign executables using Azure
  .github/workflows/windows.yml
  ci_tools/check_custom_vcpkg_ports_for_updates.py
  ci_tools/create_signing_metadata.py
  ci_tools/source_code_check.py
  ci_tools/trailing_whitespaces_check.py
  ci_tools/update_actions.py
  win_build/boinc.sln
  win_build/boinc_signing.targets
  win_build/installer.vcxproj
  win_build/installer_msi.vcxproj
  win_build/installer_setup.vcxproj
Due: none

[manager] fix crash when launching BOINC Manager on the fresh system without any projects connected
  clientgui/ProjectInfoPage.cpp
Due: client

client: fix bug that caused client to treat all jobs as 1-CPU
  client/client_types.cpp
Due: client

Update copyright year
  client/win/boinc_cli.rc
  client/win/boinc_cmd.rc
  client/win/boinc_log.rc
  clientctrl/boincsvcctrl.rc
  clientgui/BOINCGUIApp.rc
  clientgui/DlgAbout.cpp
  clientscr/boinc_ss.rc
  clientscr/boinc_ss_opengl.rc
  clientsetup/win/boinccas.rc
  clienttray/boinc_tray.rc
  installer/installer_icon/installer_icon.rc
  installer/installer_setup/installer_setup.rc
  samples/gfx_html/browser_win.rc
  samples/vboxwrapper/vboxwrapper_win.rc
  samples/wrapper/wrapper_win.rc
Due: client
