Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

Enable CreateAcctMgrLoginFile tests
  tests/unit-tests/boinccas/test_boinccas_CACreateAcctMgrLoginFile.cpp
Due: none

Add empty CACreateBOINCAccounts test class
  tests/unit-tests/boinccas/test_boinccas_CACreateAcctMgrLoginFile.cpp
  tests/unit-tests/boinccas/test_boinccas_CACreateBOINCAccounts.cpp
  win_build/unittests.vcxproj
Due: none

[ci] update actions
  .github/workflows/all_projects_list_xml_update.yml
  .github/workflows/android.yml
  .github/workflows/check_custom_vcpkg_ports.yml
  .github/workflows/linux-package-stable-release.yml
  .github/workflows/linux-package.yml
  .github/workflows/linux.yml
  .github/workflows/mingw.yml
  .github/workflows/osx.yml
  .github/workflows/snap.yml
  .github/workflows/source-code-check.yml
  .github/workflows/test-report.yml
  .github/workflows/update_actions.yml
  .github/workflows/update_copyright_year.yml
  .github/workflows/vcpkg_test.yml
  .github/workflows/windows.yml
Due: none

client: improve Docker-related messages
  client/client_msgs.cpp
  client/client_state.cpp
  client/client_state.h
  client/current_version.cpp
  client/hostinfo_unix.cpp
  client/hostinfo_wsl.cpp
Due: client

Manager: make notice links larger
  clientgui/NoticeListCtrl.cpp
Due: client

tweak
  client/client_msgs.cpp
Due: client

android fix
  client/current_version.cpp
Due: client

Update client/client_state.cpp
  client/client_state.cpp
Due: client

Add first CACreateBOINCAccounts test
  tests/unit-tests/boinccas/boinccas_helper.cpp
  tests/unit-tests/boinccas/boinccas_helper.h
  tests/unit-tests/boinccas/test_boinccas_CAAnnounceUpgrade.cpp
  tests/unit-tests/boinccas/test_boinccas_CACleanupOldBinaries.cpp
  tests/unit-tests/boinccas/test_boinccas_CACreateAcctMgrLoginFile.cpp
  tests/unit-tests/boinccas/test_boinccas_CACreateBOINCAccounts.cpp
  win_build/unittests.vcxproj
Due: none

Fix properties insert to opened msi
  tests/unit-tests/boinccas/boinccas_helper.cpp
  tests/unit-tests/boinccas/boinccas_helper.h
  tests/unit-tests/boinccas/test_boinccas_CACreateBOINCAccounts.cpp
Due: none

Fix set msi property
  tests/unit-tests/boinccas/boinccas_helper.cpp
  tests/unit-tests/boinccas/boinccas_helper.h
  tests/unit-tests/boinccas/test_boinccas_CACreateBOINCAccounts.cpp
Due: none

Remove code that doesn't work
  tests/unit-tests/boinccas/test_boinccas_CAAnnounceUpgrade.cpp
  tests/unit-tests/boinccas/test_boinccas_CACreateBOINCAccounts.cpp
Due: none

Fix tests
  tests/unit-tests/boinccas/test_boinccas_CACreateBOINCAccounts.cpp
Due: none

Actually run tests
  tests/unit-tests/boinccas/test_boinccas_CACreateBOINCAccounts.cpp
Due: none

Client: use 'abort' rather than 'quit' when appropriate
  client/app.cpp
  client/app.h
  client/app_control.cpp
  client/client_state.cpp
  lib/util.cpp
Due: library, client

copilot tweaks
  client/app.h
  client/app_control.cpp
Due: client

Mac: If Manager is hidden on system light / dark mode switch, don't unhide it.
  clientgui/AdvancedFrame.cpp
Due: client

Test general user management
  tests/unit-tests/boinccas/test_boinccas_CACreateBOINCAccounts.cpp
Due: none

Try debug
  tests/unit-tests/boinccas/boinccas_helper.cpp
  tests/unit-tests/boinccas/boinccas_helper.h
  tests/unit-tests/boinccas/test_boinccas_CACreateBOINCAccounts.cpp
Due: none

Try to fix test helper functions
  tests/unit-tests/boinccas/boinccas_helper.cpp
  tests/unit-tests/boinccas/boinccas_helper.h
Due: none

sim fix
  client/sim_util.cpp
Due: client

Fix test
  tests/unit-tests/boinccas/test_boinccas_CACreateBOINCAccounts.cpp
Due: none

First real test for BOINC Accounts class
  tests/unit-tests/boinccas/boinccas_helper.cpp
  tests/unit-tests/boinccas/boinccas_helper.h
  tests/unit-tests/boinccas/test_boinccas_CACreateBOINCAccounts.cpp
Due: none

Check why tests freeze
  clientsetup/win/CACreateBOINCAccounts.cpp
  tests/unit-tests/boinccas/test_boinccas_CACreateBOINCAccounts.cpp
Due: none

Fix test
  clientsetup/win/CACreateBOINCAccounts.cpp
  tests/unit-tests/boinccas/boinccas_helper.cpp
  tests/unit-tests/boinccas/test_boinccas_CACreateBOINCAccounts.cpp
Due: none

Try to fix the test
  tests/unit-tests/boinccas/boinccas_helper.cpp
  tests/unit-tests/boinccas/boinccas_helper.h
  tests/unit-tests/boinccas/test_boinccas_CACreateBOINCAccounts.cpp
Due: none

Try to fix data reading
  tests/unit-tests/boinccas/boinccas_helper.cpp
Due: none

Try fixing helper function
  tests/unit-tests/boinccas/boinccas_helper.cpp
Due: none

Fix
  tests/unit-tests/boinccas/boinccas_helper.cpp
Due: none

Add more tests
  tests/unit-tests/boinccas/test_boinccas_CACreateBOINCAccounts.cpp
Due: none

Test parametrized tests
  tests/unit-tests/boinccas/test_boinccas_CACreateBOINCAccounts.cpp
Due: none

Try to fix the test
  tests/unit-tests/boinccas/test_boinccas_CACreateBOINCAccounts.cpp
Due: none

[ci] update custom vcpkg ports
  3rdParty/vcpkg_ports/ports/gdk-pixbuf/portfile.cmake
  3rdParty/vcpkg_ports/ports/gdk-pixbuf/vcpkg.json
  3rdParty/vcpkg_ports/ports/librsvg/portfile.cmake
  3rdParty/vcpkg_ports/ports/librsvg/vcpkg.json
Due: none

Enable tests
  tests/unit-tests/boinccas/test_boinccas_CACreateBOINCAccounts.cpp
Due: none

Path conditions:
  api: any of: api/, but not: tests/.*, zip/.*, 3rdParty/.*
  library: any of: lib/, but not: tests/.*, zip/.*, 3rdParty/.*
  client: any of: client/, clientgui/, but not: tests/.*, zip/.*, 3rdParty/.*
  server: any of: sched/, db/, tools/, but not: tests/.*, zip/.*, 3rdParty/.*
  android: any of: android/BOINC/app/src/main/java/edu/berkeley/boinc, but not: tests/.*, zip/.*, 3rdParty/.*
