Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

Fix certificate verification. Add module test
  .github/workflows/linux.yml
  .github/workflows/windows.yml
  lib/crypt.cpp
  lib/crypt.h
  lib/crypt_prog.cpp
  tests/crypt_prog_tests.py
Due: library

Cover 'cert_verify_file' function with unit tests
  tests/unit-tests/lib/test_crypt.cpp
Due: none

Remove 'check_validity_of_cert' from exported functions, refactor unit tests
  lib/crypt.cpp
  lib/crypt.h
  tests/unit-tests/lib/test_crypt.cpp
Due: library

Refactor 'check_validity' function
  lib/crypt.cpp
  tests/unit-tests/lib/test_crypt.cpp
Due: library

Refactor 'cert_verify_file' function
  lib/crypt.cpp
  lib/crypt.h
  tests/unit-tests/lib/test_crypt.cpp
Due: library

Refactor 'check_validity_of_cert' and 'check_validity' functions
  lib/crypt.cpp
  lib/crypt.h
  lib/crypt_prog.cpp
  tests/unit-tests/lib/test_crypt.cpp
Due: library

Remove unused headers
  lib/crypt.cpp
  lib/crypt.h
  tools/sign_executable.cpp
Due: library, server

Refactor 'sign_executable' application
  tools/sign_executable.cpp
Due: server

Refactor crypt_prog
  lib/crypt_prog.cpp
Due: library

Fix unit tests on Windows
  lib/crypt.cpp
  lib/crypt_prog.cpp
  tests/unit-tests/lib/test_crypt.cpp
  win_build/unittests.vcxproj
  win_build/unittests.vcxproj.filters
Due: library

Fix formatting
  .github/workflows/windows.yml
  client/async_file.cpp
  lib/crypt.cpp
  lib/crypt.h
  lib/crypt_prog.cpp
  sched/file_upload_handler.cpp
  tests/unit-tests/lib/test_crypt.cpp
  tools/sign_executable.cpp
Due: library, client, server

Increase minimal required OpenSSL version to 3.0
  m4/check_ssl.m4
Due: none

Simplify the code, fix failing tests on Windows
  lib/crypt.cpp
  lib/crypt_prog.cpp
Due: library

Further crypt.cpp refactoring. Fix errors found by GitHub Copilot
  lib/crypt.cpp
  lib/crypt.h
  lib/crypt_prog.cpp
  tests/sign_executable_tests.py
  tests/unit-tests/CMakeLists.txt
  tests/unit-tests/lib/test_crypt.cpp
  tools/process_result_template.cpp
  tools/sign_executable.cpp
Due: library, server

Fix typos
  lib/crypt.h
Due: library

Fix android build
  android/buildAndroidBOINC-CI.sh
  lib/crypt.h
Due: library

Fix AI findings
  lib/crypt_prog.cpp
  m4/check_ssl.m4
  tests/unit-tests/CMakeLists.txt
  tools/process_result_template.cpp
Due: library, server

Fix findings by AI
  lib/crypt.cpp
Due: library

Fix android build
  android/buildAndroidBOINC-CI.sh
Due: none

Fix one more AI finding
  tests/unit-tests/CMakeLists.txt
Due: none

Use 'int' as a status return value
  client/cs_files.cpp
  lib/crypt.cpp
  lib/crypt.h
  lib/crypt_prog.cpp
  sched/file_upload_handler.cpp
  tests/unit-tests/lib/test_crypt.cpp
  tools/process_result_template.cpp
  tools/sign_executable.cpp
Due: library, client, server

client: on Linux, compare only first 15 chars of exclusive app names
  client/app.cpp
Due: client

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

[linux][manager] fix showing notifications and system tray icon
  clientgui/AsyncRPC.cpp
  clientgui/BOINCBaseFrame.cpp
  clientgui/BOINCGUIApp.cpp
  clientgui/BOINCGUIApp.h
  clientgui/BOINCTaskBar.cpp
  clientgui/BOINCTaskBar.h
  clientgui/MainDocument.cpp
  clientgui/Makefile.am
  clientgui/gtk/taskbarex.cpp
  clientgui/gtk/taskbarex.h
Due: client

[manager][windows] improve and simplify taskbar, replace outdated custom taskbar implementation with the default one provided by wxWidgets.
  clientgui/BOINCBaseFrame.cpp
  clientgui/BOINCGUIApp.cpp
  clientgui/BOINCTaskBar.cpp
  clientgui/BOINCTaskBar.h
  clientgui/msw/taskbarex.cpp
  clientgui/msw/taskbarex.h
  clientsetup/win/CAShutdownBOINCManager.cpp
  win_build/boincmgr.vcxproj
Due: client

Fix typo
  clientgui/BOINCTaskBar.cpp
Due: client

Remove functionality of bringing the another instance of the running BOINC Manager to the foreground. This makes the behavior consistent between platforms.
  clientgui/BOINCGUIApp.cpp
  clientgui/BOINCTaskBar.cpp
  clientgui/BOINCTaskBar.h
Due: client

Remove leftovers
  clientgui/BOINCTaskBar.h
Due: client

[manager][windows] Fix dark mode issues. Remove custom 'bold' menu item that makes the appearance in dark mode not nice, also this unifies the look and feel of the menu on all platforms.
  clientgui/BOINCTaskBar.cpp
  clientgui/BOINCTaskCtrl.cpp
Due: client

snap: migrate builds to core26
  snap/snapcraft.yaml
Due: none

[verified] fix(snap): use venv for Python build dependencies
  snap/snapcraft.yaml
Due: none

Android: target JVM 21
  .github/workflows/android.yml
  android/BOINC/app/build.gradle.kts
Due: none

web: fixes for PHP 8 and MySQL 15
  html/inc/host.inc
  html/ops/db_update.php
Due: none

Fix MacOS build warnings
  lib/crypt.cpp
Due: library

Remove unused file
  clientgui/DlgAdvPreferences.fbp
Due: client

database: fix MySQL glitch
  client/dhrystone.cpp
  db/schema.sql
  html/ops/db_update.php
Due: client, server

Android: update MockK for JVM 21 tests
  android/BOINC/versions.properties
Due: none

fix bug in dhrystone
  client/dhrystone.cpp
Due: client

web: fix host display on Science United
  html/inc/host.inc
Due: none

fix
  html/inc/host.inc
Due: none

Path conditions:
  api: any of: api/, but not: tests/.*, zip/.*, 3rdParty/.*
  library: any of: lib/, but not: tests/.*, zip/.*, 3rdParty/.*
  client: any of: client/, clientgui/, but not: tests/.*, zip/.*, 3rdParty/.*
  server: any of: sched/, db/, tools/, but not: tests/.*, zip/.*, 3rdParty/.*
  android: any of: android/BOINC/app/src/main/java/edu/berkeley/boinc, but not: tests/.*, zip/.*, 3rdParty/.*
