Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    after_n_builds: 4
    wait_for_ci: true

coverage:
  status:
    project: off
    patch:
      default:
        threshold: 0.01

comment:
  layout: "diff, files"
  behavior: default
  require_changes: true    # if true: only post the comment if coverage changes
  require_base: false      # [true :: must have a base report to post]
  require_head: true       # [true :: must have a head report to post]
  branches:
    - master
  after_n_builds: 4

github_checks:
    annotations: false

flags:
  # filter the folder(s) you wish to measure by that flag
  api:
    paths:
      - api/
  library:
    paths:
      - lib/
  client:
    paths:
      - client/
      - clientgui/
  server:
    paths:
      - sched/
      - db/
      - tools/
  android:
    paths:
      - android/BOINC/app/src/main/java/edu/berkeley/boinc

# don't gather statistics for test and external libraries
ignore:
  - tests/.*
  - zip/.*
  - 3rdParty/.*

Update ProjectProcessingPage.cpp
  clientgui/ProjectProcessingPage.cpp
Due: client

Fix android build
  3rdParty/vcpkg_ports/configs/libs/android/vcpkg.json
  android/buildAndroidBOINC-CI.sh
  android/ci_build_libs_cmake.sh
Due: none

Update sg_BoincSimpleFrame.cpp
  clientgui/sg_BoincSimpleFrame.cpp
Due: client

Update main.cpp
  client/main.cpp
Due: client

Update clientgui/sg_BoincSimpleFrame.cpp
  clientgui/sg_BoincSimpleFrame.cpp
Due: client

BUDA fixes, from Greg Childers
  html/user/buda_submit.php
  sched/sched_main.cpp
  tools/manage_privileges
Due: server

[ci] fix wxwidgets build
  3rdParty/vcpkg_ports/.gitattributes
  3rdParty/vcpkg_ports/ports/libsm/msvc.patch
  3rdParty/vcpkg_ports/ports/libsm/portfile.cmake
  3rdParty/vcpkg_ports/ports/libsm/vcpkg.json
  3rdParty/vcpkg_ports/ports/libxtrans/portfile.cmake
  3rdParty/vcpkg_ports/ports/libxtrans/vcpkg.json
  3rdParty/vcpkg_ports/ports/wxwidgets/example/CMakeLists.txt
  3rdParty/vcpkg_ports/ports/wxwidgets/fix-libs-export.patch
  3rdParty/vcpkg_ports/ports/wxwidgets/fix-pcre2.patch
  3rdParty/vcpkg_ports/ports/wxwidgets/fix-wayland-build.patch
  3rdParty/vcpkg_ports/ports/wxwidgets/gtk3-link-libraries.patch
  3rdParty/vcpkg_ports/ports/wxwidgets/install-layout.patch
  3rdParty/vcpkg_ports/ports/wxwidgets/libsecret-link-dirs.patch
  3rdParty/vcpkg_ports/ports/wxwidgets/nanosvg-ext-depend.patch
  3rdParty/vcpkg_ports/ports/wxwidgets/portfile.cmake
  3rdParty/vcpkg_ports/ports/wxwidgets/relocatable-wx-config.patch
  3rdParty/vcpkg_ports/ports/wxwidgets/sdl2.patch
  3rdParty/vcpkg_ports/ports/wxwidgets/setup.h.in
  3rdParty/vcpkg_ports/ports/wxwidgets/usage
  3rdParty/vcpkg_ports/ports/wxwidgets/vcpkg-cmake-wrapper.cmake
  3rdParty/vcpkg_ports/ports/wxwidgets/vcpkg.json
  linux/arm64/ci_configure_manager.sh
  linux/armhf/ci_configure_manager.sh
  linux/ci_configure_manager.sh
  snap/snapcraft.yaml
Due: none

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

client: don't use swap usage from state file
  client/app.cpp
Due: client

Remove unused and outdated './3rdParty/buildGoogletestLinux.sh' script
  3rdParty/buildGoogletestLinux.sh
Due: none

Remove boinc2docker submodule
  tests/server-test/manage/roles/clone-boinc-server-docker/tasks/clone_boinc_server_docker.yml
Due: none

Remove duplicate vcpkg ports
  3rdParty/vcpkg_ports/ports/libsm/portfile.cmake
  3rdParty/vcpkg_ports/ports/libsm/vcpkg.json
  3rdParty/vcpkg_ports/ports/libsm/xtrans.patch
  3rdParty/vcpkg_ports/ports/libxtrans/portfile.cmake
  3rdParty/vcpkg_ports/ports/libxtrans/vcpkg.json
Due: none

[ci] remove custom vcpkg ports that were updated upstream
  3rdParty/vcpkg_ports/ports/libsm/msvc.patch
  3rdParty/vcpkg_ports/ports/libsm/portfile.cmake
  3rdParty/vcpkg_ports/ports/libsm/vcpkg.json
  3rdParty/vcpkg_ports/ports/libsm/xtrans.patch
  3rdParty/vcpkg_ports/ports/wxwidgets/example/CMakeLists.txt
  3rdParty/vcpkg_ports/ports/wxwidgets/fix-libs-export.patch
  3rdParty/vcpkg_ports/ports/wxwidgets/fix-pcre2.patch
  3rdParty/vcpkg_ports/ports/wxwidgets/fix-wayland-build.patch
  3rdParty/vcpkg_ports/ports/wxwidgets/gtk3-link-libraries.patch
  3rdParty/vcpkg_ports/ports/wxwidgets/install-layout.patch
  3rdParty/vcpkg_ports/ports/wxwidgets/libsecret-link-dirs.patch
  3rdParty/vcpkg_ports/ports/wxwidgets/nanosvg-ext-depend.patch
  3rdParty/vcpkg_ports/ports/wxwidgets/portfile.cmake
  3rdParty/vcpkg_ports/ports/wxwidgets/relocatable-wx-config.patch
  3rdParty/vcpkg_ports/ports/wxwidgets/sdl2.patch
  3rdParty/vcpkg_ports/ports/wxwidgets/setup.h.in
  3rdParty/vcpkg_ports/ports/wxwidgets/usage
  3rdParty/vcpkg_ports/ports/wxwidgets/vcpkg-cmake-wrapper.cmake
  3rdParty/vcpkg_ports/ports/wxwidgets/vcpkg.json
Due: none

scheduler: add plan class spec for min BOINC WSL distro version
  sched/plan_class_spec.cpp
  sched/plan_class_spec.h
  sched/plan_class_spec.xml.sample
Due: server

parse new field
  sched/plan_class_spec.cpp
Due: server

[ci] upgrade Windows 11 ARM images to use VS2026
  .github/workflows/windows.yml
Due: none

[ci] improve python tests formatting
  tests/testset.py
Due: none

antique_file_deleter: fix errno logic
  sched/antique_file_deleter.cpp
Due: server

cubic fix
  sched/antique_file_deleter.cpp
Due: server

'print_hex_data', 'sprint_hex_data' and 'print_raw_data' refactoring
  .github/workflows/linux.yml
  lib/crypt.cpp
  lib/crypt.h
  lib/crypt_prog.cpp
  tests/sign_executable_tests.py
  tests/unit-tests/CMakeLists.txt
  tests/unit-tests/lib/CMakeLists.txt
  tests/unit-tests/lib/test_crypt.cpp
  tools/process_result_template.cpp
  tools/sign_executable.cpp
Due: library, server

Refactor 'scan_raw_data', 'scan_hex_data', and 'sscan_hex_data'
  lib/crypt.cpp
  lib/crypt.h
  lib/crypt_prog.cpp
  tests/unit-tests/lib/test_crypt.cpp
Due: library

Refactor 'print_key_hex'
  lib/crypt.cpp
  lib/crypt.h
  lib/crypt_prog.cpp
  tests/unit-tests/lib/test_crypt.cpp
Due: library

Make 'sscan_key_hex' static
  lib/crypt.cpp
  lib/crypt.h
  tests/unit-tests/lib/test_crypt.cpp
Due: library

Refactor 'scan_key_hex' and 'sscan_key_hex'
  lib/crypt.cpp
  lib/crypt.h
  lib/crypt_prog.cpp
  sched/file_upload_handler.cpp
  tests/unit-tests/lib/test_crypt.cpp
Due: library, server

Refactoring of 'sign_file', 'sign_block', and 'generate_signature' functions
  lib/crypt.cpp
  lib/crypt.h
  lib/crypt_prog.cpp
  tests/unit-tests/lib/test_crypt.cpp
  tools/process_result_template.cpp
  tools/sign_executable.cpp
Due: library, server

Refactor 'private_to_openssl' and 'public_to_openssl' functions
  lib/crypt.cpp
  lib/crypt.h
  lib/crypt_prog.cpp
  tests/unit-tests/lib/test_crypt.cpp
Due: library

Refactor 'openssl_to_private' and 'openssl_to_keys' functions
  lib/crypt.cpp
  lib/crypt.h
  lib/crypt_prog.cpp
  sched/get_file.cpp
  sched/make_work.cpp
  sched/sched_assign.cpp
  sched/transitioner.cpp
  tests/unit-tests/lib/test_crypt.cpp
  tools/sign_executable.cpp
Due: library, server

Refactor 'print_key_hex' function
  lib/crypt.cpp
  lib/crypt.h
  lib/crypt_prog.cpp
  tests/unit-tests/lib/test_crypt.cpp
Due: library

Refactor 'check_file_signature' and 'check_string_signature' functions
  client/acct_mgr.cpp
  client/async_file.cpp
  client/cs_files.cpp
  client/cs_scheduler.cpp
  lib/crypt.cpp
  lib/crypt.h
  lib/crypt_prog.cpp
  sched/file_upload_handler.cpp
  tests/unit-tests/lib/test_crypt.cpp
Due: library, client, server

Refactor 'scan_key_hex' function
  lib/crypt.cpp
  lib/crypt.h
  lib/crypt_prog.cpp
  sched/file_upload_handler.cpp
  tests/unit-tests/lib/test_crypt.cpp
Due: library, server

Add unit tests for 'check_validity_of_cert' and 'check_validity' functions
  tests/unit-tests/lib/test_crypt.cpp
Due: none

Remove unstable tests
  tests/unit-tests/lib/test_crypt.cpp
Due: none
