Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

client: more GB changes
  client/cpu_sched.cpp
  client/cs_sporadic.cpp
Due: client

typos
  client/app.cpp
  win_build/boinc_cli.vcxproj
Due: client

client: fix memory terms in messages - 'RSS' rather than 'WSS' - 'virtual size' rather than 'swap size' - space before MB or GB
  client/app.cpp
  client/cpu_sched.cpp
  client/cs_prefs.cpp
Due: client

Fix usage of stdcpp17 in Visual Studio projects, remove junk file
  .gitignore
  win_build/boinc.props
  win_build/boinc_cli.vcxproj
  win_build/boinccas.vcxproj
  win_build/installer.vcxproj
  win_build/installer_setup.vcxproj
  win_build/unittest_dummy.vcxproj
  win_build/unittest_dummy_gui.aps
  win_build/unittest_dummy_gui.vcxproj
  win_build/unittests.vcxproj
Due: none

Fix build wrappture_example
  win_build/wrappture_example.vcxproj
Due: none

Upgrade MacOS projects to use c++17
  mac_build/boinc.xcodeproj/project.pbxproj
  samples/mac_build/UpperCase2.xcodeproj/project.pbxproj
  samples/vboxwrapper/vboxwrapper.xcodeproj/project.pbxproj
  zip/boinc_zip.xcodeproj/project.pbxproj
Due: none

prefer openssl certstore on macos
  client/http_curl.cpp
Due: client

docker_wrapper: read complete lines from command output
  lib/util.cpp
Due: library

Remove hardcoded c++14 for the wrappture project on Windows
  win_build/wrappture_example.vcxproj
Due: none

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

[ci] update actions
  .github/workflows/all_projects_list_xml_update.yml
  .github/workflows/android.yml
  .github/workflows/check_custom_vcpkg_ports.yml
  .github/workflows/guix_get_release_hash.yml
  .github/workflows/linux-package-stable-release.yml
  .github/workflows/linux-package.yml
  .github/workflows/linux-release.yml
  .github/workflows/linux.yml
  .github/workflows/mingw.yml
  .github/workflows/osx-cmake.yml
  .github/workflows/osx.yml
  .github/workflows/snap.yml
  .github/workflows/source-code-check.yml
  .github/workflows/test-report.yml
  .github/workflows/update_actions.yml
  .github/workflows/update_copyright_year.yml
  .github/workflows/vcpkg_test.yml
  .github/workflows/windows-cmake.yml
  .github/workflows/windows.yml
Due: none

Mac: Upgrade projects to use C++17
  mac_build/boinc.xcodeproj/project.pbxproj
  samples/mac_build/UpperCase2.xcodeproj/project.pbxproj
  zip/boinc_zip.xcodeproj/project.pbxproj
Due: none

web: require login for some pages; try to reduce bot activity
  html/inc/util.inc
  html/user/apps.php
  html/user/forum_forum.php
  html/user/forum_get_data.php
  html/user/forum_help_desk.php
  html/user/forum_index.php
  html/user/forum_reply.php
  html/user/forum_report_post.php
  html/user/forum_search.php
  html/user/forum_search_action.php
  html/user/forum_thread.php
  html/user/forum_user_posts.php
  html/user/hosts_user.php
  html/user/per_app_list.php
  html/user/profile_menu.php
  html/user/profile_search_action.php
  html/user/result.php
  html/user/results.php
  html/user/show_host_detail.php
  html/user/show_user.php
  html/user/team_members.php
  html/user/team_search.php
  html/user/top_hosts.php
  html/user/top_teams.php
  html/user/top_users.php
  html/user/user_search.php
  html/user/workunit.php
Due: none

AI tweak
  html/user/apps.php
  html/user/results.php
Due: none

tweaks. don't open DB unless we need it
  html/user/apps.php
  html/user/results.php
  html/user/team_lookup.php
Due: none

Mac: add --with-apple-sectrust to libcurl
  mac_build/buildcurl.sh
  mac_build/dependencyNames.sh
Due: none

Mac installer: fix permissions if BOINC Data and / or BOINC podman directory has been moved
  client/check_security.cpp
  clientgui/mac/SetupSecurity.cpp
  mac_build/Mac_SA_Insecure.sh
  mac_build/Mac_SA_Secure.sh
  mac_installer/uninstall.cpp
Due: client

client: don't try enforce swap limit on Mac
  client/app.cpp
  client/client_state.cpp
  client/client_state.h
  client/cpu_sched.cpp
  client/cs_prefs.cpp
Due: client

web RPC: allow team lookup RPC without login (probably irrelevant)
  html/user/team_lookup.php
Due: none

[windows] Convert solution to Visual Studio 2026, update cuda libraries to 13.3.0
  .github/workflows/windows.yml
  samples/nvcuda/cuda_kernel.cu
  win_build/boinc.props
  win_build/boinc.sln
  win_build/boinc.slnx
  win_build/help.txt
  win_build/nvcuda.props
  win_build/nvcuda.rules
  win_build/nvcuda.xml
  win_build/vcpkg_3rdparty_dependencies.vcxproj
Due: none

Merge pull request #7120 from BOINC/dpa_web49
  html/inc/util.inc
  html/user/apps.php
  html/user/forum_forum.php
  html/user/forum_get_data.php
  html/user/forum_help_desk.php
  html/user/forum_index.php
  html/user/forum_reply.php
  html/user/forum_report_post.php
  html/user/forum_search.php
  html/user/forum_search_action.php
  html/user/forum_thread.php
  html/user/forum_user_posts.php
  html/user/hosts_user.php
  html/user/per_app_list.php
  html/user/profile_menu.php
  html/user/profile_search_action.php
  html/user/result.php
  html/user/results.php
  html/user/show_host_detail.php
  html/user/show_user.php
  html/user/team_lookup.php
  html/user/team_members.php
  html/user/team_search.php
  html/user/top_hosts.php
  html/user/top_teams.php
  html/user/top_users.php
  html/user/user_search.php
  html/user/workunit.php
Due: none

docker_wrapper: pass HTTP and SOCKS proxy info to container in env vars
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

Mac installer: changes recommend by cubic-dev-ai
  clientgui/mac/SetupSecurity.cpp
  mac_build/Mac_SA_Secure.sh
  mac_installer/uninstall.cpp
Due: client

Mac installer: changes recommend by cubic-dev-ai
  clientgui/mac/SetupSecurity.cpp
Due: client

Mac installer: changes recommend by cubic-dev-ai
  mac_installer/uninstall.cpp
Due: none

Fixes from testing
  html/user/apps.php
  html/user/results.php
  html/user/top_hosts.php
Due: none

New Version
  html/inc/server_version.inc
Due: none

docker_wrapper: use standard env vars for proxy info
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

docker_wrapper: pass proxy vars if using Docker Turns out that only Podman pauses the proxy env vars automatically. If Docker, do it explicitly with -e
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

[linux] Fix crash during client startup
  client/client_state.cpp
Due: client

docker_wrapper: fix conceptual confusion
  lib/unix_util.cpp
  lib/util.cpp
  lib/util.h
  samples/docker_wrapper/docker_wrapper.cpp
Due: library

missing return
  lib/util.cpp
Due: library

docker_wrapper: prevent Docker command injection via http proxy names
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

[windows] Add boinc-buda-runner-wsl-installer to the installer
  .github/workflows/windows.yml
  clientsetup/win/CACheckWSLSupport.cpp
  clientsetup/win/CACleanupOldBinaries.cpp
  clientsetup/win/CALaunchBOINCWSLInstaller.cpp
  clientsetup/win/CARestoreExecutionState.cpp
  clientsetup/win/CARestoreSetupState.cpp
  clientsetup/win/CASaveExecutionState.cpp
  clientsetup/win/CASaveSetupState.cpp
  clientsetup/win/boinccas.def
  installer/FileTable.cpp
  installer/include/Checkbox.json
  installer/include/CustomAction.json
  installer/include/Directory.json
  installer/include/Feature.json
  installer/include/InstallExecuteSequence.json
  installer/include/Property.json
  installer/include/dialog/SetupCompleteSuccess.json
  installer/locale/en.json
  tests/unit-tests/boinccas/test_boinccas_CACheckWSLSupport.cpp
  tests/unit-tests/boinccas/test_boinccas_CACleanupOldBinaries.cpp
  tests/unit-tests/boinccas/test_boinccas_CALaunchBOINCManager.cpp
  tests/unit-tests/boinccas/test_boinccas_CALaunchBOINCTray.cpp
  tests/unit-tests/boinccas/test_boinccas_CALaunchBOINCWSLInstaller.cpp
  tests/unit-tests/boinccas/test_boinccas_CARestoreExecutionState.cpp
  tests/unit-tests/boinccas/test_boinccas_CARestoreSetupState.cpp
  tests/unit-tests/boinccas/test_boinccas_CASaveExecutionState.cpp
  tests/unit-tests/boinccas/test_boinccas_CASaveSetupState.cpp
  tests/unit-tests/boinccas/test_boinccas_CAShutdownBOINCManager.cpp
  tests/unit-tests/boinccas/test_boinccas_CAShutdownBOINCScreensaver.cpp
  win_build/boinccas.vcxproj
  win_build/help.txt
  win_build/installer_msi.vcxproj
  win_build/unittests.vcxproj
  win_build/unittests.vcxproj.filters
Due: none

don't set HTTP_PROXY because of comment in curl doc
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

Refactoring and simplification
  tests/executeUnitTests.sh
  tests/unit-tests/CMakeLists.txt
  tests/unit-tests/client/CMakeLists.txt
  tests/unit-tests/client/test_hostinfo_linux.cpp
  tests/unit-tests/lib/test_md5_file.cpp
Due: none

Correct paths, fix build error
  tests/executeUnitTests.sh
  tests/unit-tests/client/test_hostinfo_linux.cpp
  tests/unit-tests/lib/test_md5_file.cpp
Due: none

Fix windows build
  tests/unit-tests/lib/test_md5_file.cpp
Due: none

Client/Manager Release 8.2.14
  android/BOINC/app/build.gradle
  configure.ac
  installer/include/Property.json
  snap/gui/boinc.desktop
  snap/snapcraft.yaml
  version.h
Due: none

Path conditions:
  api: any of: api/, but not: tests/.*, zip/.*, 3rdParty/.*
  library: any of: lib/, but not: tests/.*, zip/.*, 3rdParty/.*
  client: any of: client/, clientgui/, but not: tests/.*, zip/.*, 3rdParty/.*
  server: any of: sched/, db/, tools/, but not: tests/.*, zip/.*, 3rdParty/.*
  android: any of: android/BOINC/app/src/main/java/edu/berkeley/boinc, but not: tests/.*, zip/.*, 3rdParty/.*
