Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

mac: Flush Directory Services cache before checking primary group of boinc_master & boinc_project
  client/check_security.cpp
Due: client

mac: Flush Directory Services cache after setting primary group of boinc_master & boinc_project
  clientgui/mac/MacFixUserGroups.cpp
Due: client

fix AI web warnings. No functional change
  html/ops/batch_stats.php
  html/ops/credit.php
  html/ops/remote_server_status.php
  html/user/lammps.php
Due: none

Refactoring of the dcomperm class
  clientsetup/win/CACreateBOINCGroups.cpp
  clientsetup/win/CAGrantBOINCAdminsRights.cpp
  clientsetup/win/CAGrantBOINCAdminsVirtualBoxRights.cpp
  clientsetup/win/CAGrantBOINCMasterRights.cpp
  clientsetup/win/CAGrantBOINCProjectRights.cpp
  clientsetup/win/CAGrantBOINCProjectsRights.cpp
  clientsetup/win/CAGrantBOINCProjectsVirtualBoxRights.cpp
  clientsetup/win/CAGrantBOINCUsersRights.cpp
  clientsetup/win/CARevokeBOINCAdminsRights.cpp
  clientsetup/win/CARevokeBOINCMasterRights.cpp
  clientsetup/win/CARevokeBOINCProjectRights.cpp
  clientsetup/win/CARevokeBOINCProjectsRights.cpp
  clientsetup/win/CARevokeBOINCUsersRights.cpp
  clientsetup/win/aclmgmt.cpp
  clientsetup/win/boinccas.cpp
  clientsetup/win/boinccas.h
  clientsetup/win/dcomperm.cpp
  clientsetup/win/dcomperm.h
  clientsetup/win/lsaprivs.cpp
  clientsetup/win/lsaprivs.h
  clientsetup/win/sdmgmt.cpp
  clientsetup/win/terminate.cpp
  clientsetup/win/utils.cpp
  clientsetup/win/wrappers.cpp
  tests/unit-tests/boinccas/test_boinccas_CAShutdownBOINC.cpp
  win_build/boinccas.vcxproj
Due: none

Fix tests
  clientsetup/win/boinccas.h
  clientsetup/win/dcomperm.cpp
Due: none

Refactoring of the lsaprivs class
  clientsetup/win/CACreateBOINCGroups.cpp
  clientsetup/win/CAGrantBOINCAdminsRights.cpp
  clientsetup/win/CAGrantBOINCMasterRights.cpp
  clientsetup/win/CAGrantBOINCProjectRights.cpp
  clientsetup/win/CAGrantBOINCProjectsRights.cpp
  clientsetup/win/CAGrantBOINCUsersRights.cpp
  clientsetup/win/CARevokeBOINCAdminsRights.cpp
  clientsetup/win/CARevokeBOINCMasterRights.cpp
  clientsetup/win/CARevokeBOINCProjectRights.cpp
  clientsetup/win/CARevokeBOINCProjectsRights.cpp
  clientsetup/win/CARevokeBOINCUsersRights.cpp
  clientsetup/win/boinccas.cpp
  clientsetup/win/boinccas.h
  clientsetup/win/dcomperm.cpp
  clientsetup/win/dcomperm.h
  clientsetup/win/lsaprivs.cpp
  clientsetup/win/lsaprivs.h
Due: none

Refactoring of the launcher class
  clientsetup/win/CALaunchBOINCManager.cpp
  clientsetup/win/CALaunchBOINCTray.cpp
  clientsetup/win/boinccas.cpp
  clientsetup/win/boinccas.h
  clientsetup/win/dcomperm.h
  clientsetup/win/launcher.cpp
  clientsetup/win/launcher.h
Due: none

Fix tests
  clientsetup/win/launcher.cpp
Due: none

Remove dead code. Debug
  clientsetup/win/launcher.cpp
  clientsetup/win/main.cpp
  clientsetup/win/main.h
  win_build/boinccas.vcxproj
Due: none

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

Client, Manager, API, docker_wrapper: support network access from apps
  api/boinc_api.cpp
  api/boinc_api.h
  client/app.cpp
  client/app.h
  client/app_control.cpp
  client/app_start.cpp
  client/client_state.h
  client/cs_notice.cpp
  client/gui_http.h
  client/net_stats.cpp
  client/net_stats.h
  client/result.cpp
  client/result.h
  clientgui/MainDocument.cpp
  lib/gui_rpc_client.cpp
  lib/gui_rpc_client.h
  lib/gui_rpc_client_ops.cpp
  lib/network.cpp
  lib/network.h
  samples/docker_wrapper/checkpoint_notes
  samples/docker_wrapper/docker_wrapper.cpp
  samples/example_app/uc2.cpp
Due: api, library, client

Oops! I confused Docker build and create commands
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

docker_wrapper: check for exit requests while waiting for network
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

[ci] Fix linux packages build
  .github/workflows/linux-package.yml
  3rdParty/vcpkg_ports/ports/libsystemd/disable-warning-nonnull.patch
  3rdParty/vcpkg_ports/ports/libsystemd/fix-2604-build.patch
  3rdParty/vcpkg_ports/ports/libsystemd/fix-buster-build.patch
  3rdParty/vcpkg_ports/ports/libsystemd/only-libsystemd.patch
  3rdParty/vcpkg_ports/ports/libsystemd/pkgconfig.patch
  3rdParty/vcpkg_ports/ports/libsystemd/portfile.cmake
  3rdParty/vcpkg_ports/ports/libsystemd/vcpkg.json
Due: none

docker_wrapper: show error code if google unreachable
  lib/network.cpp
  lib/network.h
  samples/docker_wrapper/docker_wrapper.cpp
Due: library

fix
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

On Win, gethostbyname() continues to fail even when network reconnected. WTF?
  lib/network.cpp
  lib/network.h
  lib/util.cpp
  lib/util.h
  samples/docker_wrapper/docker_wrapper.cpp
Due: library

docker_wrapper: report need_network
  api/boinc_api.cpp
  samples/docker_wrapper/docker_wrapper.cpp
Due: api

client: don't strip tags in messages / notices
  client/client_msgs.cpp
Due: client

remove unused code
  lib/network.cpp
  samples/docker_wrapper/docker_wrapper.cpp
Due: library

[ci][linux] Drop unsupported Linux versions.
  .github/workflows/debrepo/aptly.bullseye.conf
  .github/workflows/debrepo/aptly.buster.conf
  .github/workflows/debrepo/aptly.focal.conf
  .github/workflows/debrepo/package_prepare.sh
  .github/workflows/linux-package-stable-release.yml
  .github/workflows/linux-package.yml
  .github/workflows/rpmrepo/package_depends.sh
  .github/workflows/rpmrepo/package_filelist.sh
  3rdParty/vcpkg_ports/ports/gperf/portfile.cmake
  3rdParty/vcpkg_ports/ports/gperf/vcpkg.json
Due: none

[ci] Remove unnecessary ci workflow runs.
  .github/workflows/android.yml
  .github/workflows/guix_get_release_hash.yml
  .github/workflows/linux-package.yml
  .github/workflows/linux-release.yml
  .github/workflows/linux.yml
  .github/workflows/mingw.yml
  .github/workflows/osx-cmake.yml
  .github/workflows/osx.yml
  .github/workflows/snap.yml
  .github/workflows/source-code-check.yml
  .github/workflows/vcpkg_test.yml
  .github/workflows/windows-cmake.yml
  .github/workflows/windows.yml
Due: none

Test Ubuntu OS Release
  tests/executeUnitTests.sh
  tests/unit-tests/CMakeLists.txt
  tests/unit-tests/client/CMakeLists.txt
  tests/unit-tests/client/test_hostinfo_linux.cpp
  tests/unit-tests/testdata/os-release.ubuntu
Due: none

Test openwrt os release
  tests/unit-tests/client/test_hostinfo_linux.cpp
  tests/unit-tests/testdata/os-release.openwrt
Due: none

API: fix C language issue
  api/boinc_api.h
Due: api

docker_wrapper: print network-related msgs only if verbose flag set
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

comment
  client/app_control.cpp
Due: client

Cubic fixes
  client/app_control.cpp
  lib/network.cpp
  lib/network.h
  samples/docker_wrapper/docker_wrapper.cpp
Due: library, client

client/docker_wrapper: allow network test server other than Google
  client/app_start.cpp
  client/current_version.cpp
  client/current_version.h
  lib/app_ipc.cpp
  lib/app_ipc.h
  lib/network.cpp
  lib/network.h
  samples/docker_wrapper/docker_wrapper.cpp
Due: library, client

lib: CreateProcess() can modify its cmd arg. So copy it to a temp buf
  lib/util.cpp
Due: library

lib: always <want_networ> in progress message
  api/boinc_api.cpp
  client/app_control.cpp
  lib/network.cpp
  samples/docker_wrapper/docker_wrapper.cpp
Due: api, library, client

docker_wrapper: need to look for different error str if not retrying
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

client: work fetch tweak
  client/work_fetch.cpp
Due: client

fix API tag mismatch
  api/boinc_api.cpp
Due: api

Unix: run_command() wasn't returning nonzero if the command failed. Do this (get exit code from pclose())
  client/net_stats.h
  lib/util.cpp
Due: library, client

[ci] Remove custom vcpkg port
  3rdParty/vcpkg_ports/ports/gperf/portfile.cmake
  3rdParty/vcpkg_ports/ports/gperf/vcpkg.json
Due: none

docker_wrapper: fix build command logic fix ping command args
  lib/network.cpp
  samples/docker_wrapper/docker_wrapper.cpp
Due: library

docker_wrapper: wait for a heartbeat message before checking network suspend
  api/boinc_api.cpp
  api/boinc_api.h
  samples/docker_wrapper/docker_wrapper.cpp
Due: api

Path conditions:
  api: any of: api/, but not: tests/.*, zip/.*, 3rdParty/.*
  library: any of: lib/, but not: tests/.*, zip/.*, 3rdParty/.*
  client: any of: client/, clientgui/, but not: tests/.*, zip/.*, 3rdParty/.*
  server: any of: sched/, db/, tools/, but not: tests/.*, zip/.*, 3rdParty/.*
  android: any of: android/BOINC/app/src/main/java/edu/berkeley/boinc, but not: tests/.*, zip/.*, 3rdParty/.*
