Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

Remove trailing space, remove commented code
  client/hostinfo_linux.cpp
  client/hostinfo_wsl.cpp
Due: client

client: message tweaks
  client/client_state.cpp
  client/log_flags.cpp
Due: client

code shuffle:
  client/hostinfo_wsl.cpp
  lib/win_util.cpp
  lib/wslinfo.cpp
  lib/wslinfo.h
Due: library, client

build fixes
  client/hostinfo_wsl.cpp
  lib/wslinfo.cpp
  lib/wslinfo.h
Due: library, client

client: show error if wsl_get_information() fails
  client/hostinfo_win.cpp
  client/hostinfo_wsl.cpp
Due: client

compile fix
  lib/sched_msgs.h
  lib/wslinfo.cpp
Due: library

Move WSL_CMD from wslinfo.cpp to win_util.cpp
  lib/win_util.cpp
  lib/win_util.h
  lib/wslinfo.cpp
  lib/wslinfo.h
Due: library

win build fix
  client/hostinfo_wsl.cpp
Due: client

Add empty wsl_wrapper VS project
  deploy/prepare_deployment.py
  samples/wsl_wrapper/wsl_wrapper.cpp
  win_build/boinc.sln
  win_build/wsl_wrapper.vcxproj
Due: none

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

initial checkin
  samples/wsl_wrapper/wsl_wrapper.cpp
Due: none

[linux] set default data directory location to '/var/lib/boinc'.
  lib/common_defs.h
  lib/gui_rpc_client.cpp
Due: library

Add EOM and timeout args to read_from_pipe(); move it to win_util.cpp so we can use it from WSL wrapper too
  client/hostinfo_wsl.cpp
  lib/win_util.cpp
  lib/win_util.h
  samples/wsl_wrapper/wsl_wrapper.cpp
Due: library, client

Win build fixes
  client/hostinfo_wsl.cpp
  lib/win_util.cpp
  lib/win_util.h
  samples/wsl_wrapper/wsl_wrapper.cpp
Due: library, client

flesh out wsl_wrapper a bit
  lib/win_util.cpp
  lib/win_util.h
  samples/wsl_wrapper/wsl_wrapper.cpp
Due: library

Test wxListCtrl on Linux
  clientgui/BOINCListCtrl.cpp
  clientgui/BOINCListCtrl.h
Due: client

move proc_handle into WSL_CMD flesh out wsl_wrapper a bit.
  client/hostinfo_wsl.cpp
  lib/win_util.cpp
  lib/win_util.h
  samples/wsl_wrapper/wsl_wrapper.cpp
Due: library, client

worker: fix bugs
  samples/worker/worker.cpp
Due: none

debug. Standalone case works.
  samples/wsl_wrapper/wsl_wrapper.cpp
Due: none

call BOINC API functions
  samples/wsl_wrapper/wsl_wrapper.cpp
Due: none

add cmdline options for choosing WSL distro and passing args to main
  lib/wslinfo.cpp
  lib/wslinfo.h
  samples/wsl_wrapper/wsl_wrapper.cpp
Due: library

win build fix
  samples/wsl_wrapper/wsl_wrapper.cpp
Due: none

don't write app_test project to state file
  client/app_test.cpp
  client/cs_statefile.cpp
Due: client

[ci] add kcov tool for linux package integration tests coverage
  .codecov.yml
  .github/workflows/linux-package.yml
Due: none

[ci] update actions
  .github/workflows/android.yml
  .github/workflows/linux-package-stable-release.yml
  .github/workflows/linux-package.yml
  .github/workflows/linux.yml
  .github/workflows/mingw.yml
  .github/workflows/osx.yml
  .github/workflows/snap.yml
  .github/workflows/update_actions.yml
  .github/workflows/wasm.yml
  .github/workflows/windows.yml
Due: none

[linux][manager] Fix fonts on Advanced Computing Preferences dialog.
  clientgui/DlgAdvPreferencesBase.cpp
Due: client

- fix bugs in wsl_wrapper. It works now. - fix bugs in app_test.cpp; result/WU/app names must match
  client/app_test.cpp
  samples/wsl_wrapper/wsl_wrapper.cpp
Due: client

app_test.cpp: fix comments
  client/app_test.cpp
Due: client

client: don't clean out projects/app_test on startup
  client/cs_files.cpp
Due: client

scheduler: fix WSL plan class admin web: fix bug in opening DB
  html/inc/boinc_db.inc
  html/ops/db_update.php
  sched/plan_class_spec.cpp
Due: server

Fix plan_class_spec to use the new WSL_DISTROS structure
  sched/plan_class_spec.cpp
Due: server

Enable c++11 when building sample applications for linux release
  .github/workflows/linux.yml
  linux/arm64/build_curl_arm64.sh
  linux/arm64/build_example_arm64.sh
  linux/arm64/build_libraries_arm64.sh
  linux/arm64/build_openssl_arm64.sh
Due: none

Use string instead of char[] for main command. Clear VERBOSE.
  samples/wsl_wrapper/wsl_wrapper.cpp
Due: none

fix possible buffer overflow
  client/sandbox.cpp
Due: client

client: fix potential byte count overflow
  client/gui_rpc_server_ops.cpp
Due: client

client: only get "in use" state if any prefs requires them.
  client/client_state.cpp
  client/cs_prefs.cpp
  lib/prefs.h
Due: library, client

Debug
  client/cs_prefs.cpp
  lib/prefs.h
Due: library, client

Mac fix
  client/client_state.cpp
Due: client

[coverity] run builds nightly instead of weekly
  .github/workflows/coverity.yml
Due: none

Path conditions:
  api: any of: api/, but not: tests/.*, zip/.*, 3rdParty/.*
  library: any of: lib/, but not: tests/.*, zip/.*, 3rdParty/.*
  client: any of: client/, clientgui/, but not: tests/.*, zip/.*, 3rdParty/.*
  server: any of: sched/, db/, tools/, but not: tests/.*, zip/.*, 3rdParty/.*
  android: any of: android/BOINC/app/src/main/java/edu/berkeley/boinc, but not: tests/.*, zip/.*, 3rdParty/.*
