Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    after_n_builds: 4
    wait_for_ci: true

coverage:
  status:
    project: off
    patch:
      default:
        threshold: 0.01

comment:
  layout: "diff, files"
  behavior: default
  require_changes: true    # if true: only post the comment if coverage changes
  require_base: false      # [true :: must have a base report to post]
  require_head: true       # [true :: must have a head report to post]
  branches:
    - master
  after_n_builds: 4

github_checks:
    annotations: false

flags:
  # filter the folder(s) you wish to measure by that flag
  api:
    paths:
      - api/
  library:
    paths:
      - lib/
  client:
    paths:
      - client/
      - clientgui/
  server:
    paths:
      - sched/
      - db/
      - tools/
  android:
    paths:
      - android/BOINC/app/src/main/java/edu/berkeley/boinc

# don't gather statistics for test and external libraries
ignore:
  - tests/.*
  - zip/.*
  - 3rdParty/.*

Mac:add temporary debugging flag
  mac_build/buildMacBOINC-CI.sh
Due: none

Mac: avoid xcode warning "Manual build order is deprecated" by passing -scheme instead of -target
  zip/boinc_zip.xcodeproj/project.pbxproj
Due: none

Mac: revert changes to use -target again, set "parallelize builds" in xcode projects
  mac_build/BuildMacBOINC.sh
  mac_build/boinc.xcodeproj/project.pbxproj
  mac_build/buildMacBOINC-CI.sh
  samples/docker_wrapper/docker_wrapper.xcodeproj/project.pbxproj
  samples/mac_build/UpperCase2.xcodeproj/project.pbxproj
Due: none

Mac: set "parallelize builds" in xcode projects
  samples/vboxwrapper/vboxwrapper.xcodeproj/project.pbxproj
  zip/boinc_zip.xcodeproj/project.pbxproj
Due: none

Mac: Changes recommended by Copilot
  client/Run_Podman.cpp
  mac_installer/PostInstall.cpp
  mac_installer/release_boinc.sh
Due: client

Mac: Changes recommended by Copilot
  mac_installer/PostInstall.cpp
Due: none

Remove unused variables. Switch boincmgr.vcxproj to use wxWidgets 3.3.*.
  clientgui/AdvancedFrame.cpp
  win_build/boincmgr.vcxproj
Due: client

Mac: Fix typos in comments
  client/Run_Podman.cpp
Due: client

[ci][osx] Add 'Run_Podman' to artifacts
  deploy/prepare_deployment.py
Due: none

web (job submission): provide links for showing only jobs w/ given status
  html/inc/submit_util.inc
  html/user/submit.php
Due: none

update NVidia flops calculation for Blackwell
  lib/coproc.cpp
Due: library

[linux] install autoconf 2.70 while building linux packages
  .github/workflows/linux-package.yml
  3rdParty/vcpkg_ports/ports/libwebp/0002-cmake-config.patch
  3rdParty/vcpkg_ports/ports/libwebp/0003-simd.patch
  3rdParty/vcpkg_ports/ports/libwebp/0008-sdl.patch
  3rdParty/vcpkg_ports/ports/libwebp/portfile.cmake
  3rdParty/vcpkg_ports/ports/libwebp/usage
  3rdParty/vcpkg_ports/ports/libwebp/vcpkg.json
  tests/linux_package_integration_tests.py
Due: none

[windows] fix debug build
  win_build/boincmgr.vcxproj
Due: none

[ci][windows] split msbuild and cmake builds, add debug builds
  .github/workflows/windows.yml
  3rdParty/vcpkg_ports/triplets/ci/arm64-windows-static.cmake
  3rdParty/vcpkg_ports/triplets/ci/x64-windows-static.cmake
Due: none

[wrapper] replace custom and outdated regexp library with the standard one from the STL
  lib/Makefile.mingw
  samples/wrapper/Makefile
  samples/wrapper/Makefile_mac
  samples/wrapper/regerror.c
  samples/wrapper/regexp.c
  samples/wrapper/regexp.h
  samples/wrapper/regexp_custom.h
  samples/wrapper/regexp_int.h
  samples/wrapper/regexp_memory.c
  samples/wrapper/regexp_report.c
  samples/wrapper/regmagic.h
  samples/wrapper/regsub.c
  samples/wrapper/wrapper.cpp
  win_build/wrapper.vcxproj
Due: library

[ci] update actions
  .github/workflows/android.yml
  .github/workflows/coverity.yml
  .github/workflows/linux-package.yml
  .github/workflows/linux.yml
  .github/workflows/osx.yml
  .github/workflows/test-report.yml
  .github/workflows/windows.yml
Due: none

Mac screensaver: Add bridging utility SS_GFX_Bridge
  client/gui_rpc_server_ops.cpp
  clientscr/Mac_Saver_ModuleView.m
  clientscr/gfx_ss_bridge.m
  clientscr/gfx_switcher.cpp
  clientscr/sharedGraphicsController.h
  clientscr/sharedGraphicsController.m
  mac_build/boinc.xcodeproj/project.pbxproj
  mac_installer/release_boinc.sh
  mac_installer/release_brand.sh
Due: client

Mac screensaver: remove trailing spaces
  clientscr/sharedGraphicsController.h
  clientscr/sharedGraphicsController.m
Due: none

Mac screensaver: Add bridging utility SS_GFX_Bridge
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/GFX_SS_Bridge.xcscheme
Due: none

Mac: add missing scheme in Xcode project
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/Run_Podman.xcscheme
Due: none

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

Mac screensaver bridging utility: fix typos from Copilot, remove temporary debugging code
  client/gui_rpc_server_ops.cpp
  clientscr/gfx_ss_bridge.m
  clientscr/sharedGraphicsController.h
  clientscr/sharedGraphicsController.m
Due: client

web: make sure News forum is valid
  html/inc/news.inc
Due: none

[ci][linux] build packages for Debian 13 Trixie
  .github/workflows/debrepo/aptly.bookworm.conf
  .github/workflows/debrepo/aptly.buster.conf
  .github/workflows/debrepo/aptly.trixie.conf
  .github/workflows/debrepo/package_depends.sh
  .github/workflows/debrepo/repo_update.sh
  .github/workflows/linux-package-stable-release.yml
  .github/workflows/linux-package.yml
Due: none

[ci] fix updated ports of curl and librsvg
  3rdParty/vcpkg_ports/configs/libs/windows/vcpkg.json
  3rdParty/vcpkg_ports/configs/msbuild/vcpkg.json
  3rdParty/vcpkg_ports/ports/librsvg/fix-libxml2-2.13.5.patch
  3rdParty/vcpkg_ports/ports/librsvg/vcpkg.json
Due: none

Delete the created container, keep image
  client/hostinfo_unix.cpp
Due: client

Fix trailing whitespace
  client/hostinfo_unix.cpp
Due: client

client: remove Docker containers named hello-world; we probably created them
  client/cs_apps.cpp
Due: client

[manager] remove unneeded freeze/thaw when updating notification windows, instead to the refresh.
  clientgui/NoticeListCtrl.cpp
Due: client

Mac screensaver: fix annoying white flash when dismissing screensaver
  clientscr/Mac_Saver_Module.h
  clientscr/Mac_Saver_ModuleView.m
  clientscr/gfx_cleanup.mm
  clientscr/gfx_switcher.cpp
  clientscr/mac_saver_module.cpp
  clientscr/screensaver.cpp
  mac_build/boinc.xcodeproj/project.pbxproj
Due: none

Mac screensaver: changes recommended by Copilot
  clientscr/gfx_cleanup.mm
  clientscr/gfx_switcher.cpp
Due: none

[ci] update actions
  .github/workflows/all_projects_list_xml_update.yml
  .github/workflows/android.yml
  .github/workflows/check_custom_vcpkg_ports.yml
  .github/workflows/coverity.yml
  .github/workflows/linux-package-stable-release.yml
  .github/workflows/linux-package.yml
  .github/workflows/linux.yml
  .github/workflows/mingw.yml
  .github/workflows/osx.yml
  .github/workflows/snap.yml
  .github/workflows/source-code-check.yml
  .github/workflows/test-report.yml
  .github/workflows/update_actions.yml
  .github/workflows/update_copyright_year.yml
  .github/workflows/vcpkg_test.yml
  .github/workflows/windows.yml
Due: none

Mac screensaver: run helper apps only while needed
  clientscr/Mac_Saver_ModuleView.h
  clientscr/Mac_Saver_ModuleView.m
  clientscr/mac_saver_module.cpp
  mac_build/boinc.xcodeproj/project.pbxproj
Due: none

Mac screensaver: in gfx_ss_bridge run timer only when watching for a new graphics app
  clientscr/sharedGraphicsController.h
  clientscr/sharedGraphicsController.m
Due: none

docker_wrapper: put -v args in quotes (paths can have spaces)
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

client: don't report project files as zero size
  client/pers_file_xfer.cpp
Due: client

Manager, transfers tab: if don't know file size, show --- rather than 0 bytes
  clientgui/ViewTransfers.cpp
Due: client

Mac: Fix Podman support for MacOS versions earlier than MacOS 26
  client/Run_Podman.cpp
Due: client

Update client/pers_file_xfer.cpp
  client/pers_file_xfer.cpp
Due: client
