Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

[ci] update actions
  .github/workflows/android.yml
  .github/workflows/linux-package.yml
  .github/workflows/linux.yml
  .github/workflows/osx.yml
  .github/workflows/windows.yml
Due: none

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

Cubic AI fixes
  client/hostinfo_wsl.cpp
  lib/wslinfo.cpp
  sched/plan_class_spec.cpp
Due: library, client, server

white space
  lib/win_util.h
Due: library

FCGI build fix
  lib/wslinfo.cpp
Due: library

[ci][linux] Build nvcuda sample application on Linux.
  .github/workflows/linux.yml
  .gitignore
  configure.ac
  deploy/prepare_deployment.py
  m4/cuda.m4
  samples/Makefile.am
  samples/nvcuda/Makefile
  samples/nvcuda/Makefile_mac
  samples/nvcuda/common.mk
  samples/nvcuda/common_mac.mk
Due: none

Update CONTRIBUTING.md file
  CONTRIBUTING.md
Due: none

fcgi build fix, 2nd try
  lib/wslinfo.cpp
Due: library

web: fix bug in BUDA app deletion
  html/user/buda.php
Due: none

AI fix
  html/user/buda.php
Due: none

fix bug
  html/user/buda.php
Due: none

[ci] add fmt library
  .github/workflows/linux-release.yml
  .github/workflows/linux.yml
  3rdParty/buildMacDependencies.sh
  3rdParty/vcpkg_ports/configs/apps/android/vcpkg.json
  3rdParty/vcpkg_ports/configs/apps/linux/vcpkg.json
  3rdParty/vcpkg_ports/configs/apps/mingw/vcpkg.json
  3rdParty/vcpkg_ports/configs/client/vcpkg.json
  3rdParty/vcpkg_ports/configs/libs/vcpkg.json
  3rdParty/vcpkg_ports/configs/libs/windows/vcpkg.json
  3rdParty/vcpkg_ports/configs/manager/linux/vcpkg.json
  3rdParty/vcpkg_ports/configs/msbuild/vcpkg.json
  configure.ac
  mac_build/buildfmt.sh
  mac_build/dependencyNames.sh
  tests/vcpkg/ports/boinc/CMakeLists.txt
  tests/vcpkg/ports/boinc/portfile.cmake
  tests/vcpkg/ports/boinc/vcpkg.json
  win_build/vboxwrapper.vcxproj
Due: none

client: log messages: don't say 'virtual size' when you mean 'swap usage'
  client/cpu_sched.cpp
Due: client

client: startup msg tweak
  client/client_state.cpp
Due: client

client: show "install Docker" messages only in certain cases
  client/Makefile.am
  client/acct_setup.cpp
  client/acct_setup.h
  client/client_state.cpp
  client/client_state.h
  lib/gui_rpc_client.h
  lib/gui_rpc_client_ops.cpp
  lib/util.cpp
  lib/util.h
Due: library, client

client: use 'Podman' instead of 'Docker' in messages to user
  client/client_state.cpp
  client/client_types.cpp
  client/cpu_sched.cpp
  client/cs_apps.cpp
  client/cs_scheduler.cpp
  client/hostinfo_unix.cpp
  client/hostinfo_wsl.cpp
  client/log_flags.cpp
Due: client

AI fixes
  client/client_state.cpp
  lib/util.cpp
  lib/util.h
Due: library, client

AI fixes
  lib/util.h
Due: library

Mac build fix
  clientgui/mac/SetupSecurity.cpp
Due: client

mac build fix. Why doesn't this use the dtime() in lib/?
  clientgui/mac/SetupSecurity.cpp
Due: client

another dtime() fix
  mac_installer/uninstall.cpp
Due: none

client: if user has Docker, use 'Docker' in messages rather than 'Podman'
  client/client_state.cpp
  client/cpu_sched.cpp
  client/cs_apps.cpp
  client/hostinfo_wsl.cpp
  lib/hostinfo.cpp
  lib/hostinfo.h
Due: library, client

win build fix
  client/hostinfo_wsl.cpp
Due: client

Manager: update old platform icons, and Docker and Apple Metal icons.
  clientgui/ProjectInfoPage.cpp
  clientgui/ProjectInfoPage.h
  clientgui/res/docker.xpm
  clientgui/res/intelgpuicon2.xpm
  clientgui/res/linuxicon.xpm
  clientgui/res/macosicon.xpm
  clientgui/res/metal.xpm
  clientgui/res/nvidiaicon2.xpm
  clientgui/res/rpiicon.xpm
  clientgui/res/windowsicon.xpm
Due: client

[ci] update actions
  .github/workflows/android.yml
Due: none

uninitialized member fix
  lib/util.cpp
Due: library

Dark Mode: Adjust color of links in Notices tab
  clientgui/NoticeListCtrl.cpp
Due: client

Dark Mode: Fix and simplify Event Log code
  clientgui/BOINCListCtrl.cpp
  clientgui/BOINCListCtrl.h
  clientgui/DlgEventLog.cpp
  clientgui/DlgEventLog.h
  clientgui/DlgEventLogListCtrl.cpp
  clientgui/DlgEventLogListCtrl.h
Due: client

Dark Mode: Fix and simplify Event Log code
  clientgui/DlgEventLog.cpp
Due: client

Dark Mode: Allow Mac to be built for Native wxListCtrl for possible future use: no progress bars yet
  clientgui/BOINCGUIApp.cpp
  clientgui/BOINCListCtrl.cpp
  clientgui/BOINCListCtrl.h
Due: client

Dark Mode: Update copyright dates
  clientgui/BOINCGUIApp.h
  clientgui/NoticeListCtrl.cpp
  clientgui/ViewResources.cpp
  clientgui/ViewResources.h
  clientgui/ViewStatistics.cpp
  clientgui/ViewStatistics.h
  clientgui/common/wxPieCtrl.cpp
  clientgui/common/wxPieCtrl.h
Due: client

Dark Mode: Remove SUPPORTDARKMODE flag: now redundant since all 3 desktop OS's now support it
  clientgui/AdvancedFrame.cpp
  clientgui/BOINCBaseFrame.cpp
  clientgui/BOINCGUIApp.cpp
  clientgui/BOINCGUIApp.h
  clientgui/sg_BoincSimpleFrame.cpp
Due: client

Dark Mode: Remove SUPPORTDARKMODE flag: now redundant since all 3 desktop OS's now support it
  clientgui/BOINCGUIApp.h
Due: client

Dark Mode: Fix issue reported by cubic-dev-ai
  clientgui/BOINCGUIApp.cpp
Due: client

Dark Mode: Redraw Event Log correctly in Simple View on change between light / dark modes
  clientgui/sg_BoincSimpleFrame.cpp
Due: client

Minor adjustment: Make Event Log dialog honor USE_NATIVE_LISTCONTROL setting
  clientgui/BOINCGUIApp.cpp
  clientgui/BOINCGUIApp.h
  clientgui/BOINCListCtrl.h
  clientgui/DlgEventLogListCtrl.h
  clientgui/mac/MacAccessiblity.mm
Due: client

Mac: Fixes for building fmtlib
  mac_build/HowToBuildBOINC_XCode.pdf
  mac_build/HowToBuildBOINC_XCode.rtf
  mac_build/buildfmt.sh
  mac_build/buildlibzip.sh
  mac_build/setupForBOINC.sh
Due: none

Path conditions:
  api: any of: api/, but not: tests/.*, zip/.*, 3rdParty/.*
  library: any of: lib/, but not: tests/.*, zip/.*, 3rdParty/.*
  client: any of: client/, clientgui/, but not: tests/.*, zip/.*, 3rdParty/.*
  server: any of: sched/, db/, tools/, but not: tests/.*, zip/.*, 3rdParty/.*
  android: any of: android/BOINC/app/src/main/java/edu/berkeley/boinc, but not: tests/.*, zip/.*, 3rdParty/.*
