Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

Win debug
  client/client_state.cpp
  lib/hostinfo.cpp
Due: library, client

[ci] remove custom vcpkg ports that were updated upstream
  3rdParty/vcpkg_ports/ports/ftgl/02_enable-cpp11-std.patch
  3rdParty/vcpkg_ports/ports/ftgl/fix-cmake.diff
  3rdParty/vcpkg_ports/ports/ftgl/fix-gl-flags.diff
  3rdParty/vcpkg_ports/ports/ftgl/freetype-usage.diff
  3rdParty/vcpkg_ports/ports/ftgl/install-pkgconfig.diff
  3rdParty/vcpkg_ports/ports/ftgl/portfile.cmake
  3rdParty/vcpkg_ports/ports/ftgl/vcpkg.json
  3rdParty/vcpkg_ports/ports/libuuid/CMakeLists.txt
  3rdParty/vcpkg_ports/ports/libuuid/config.linux.h
  3rdParty/vcpkg_ports/ports/libuuid/portfile.cmake
  3rdParty/vcpkg_ports/ports/libuuid/unofficial-libuuid-config.cmake.in
  3rdParty/vcpkg_ports/ports/libuuid/vcpkg.json
Due: none

Remove trailing whitespace
  client/client_state.cpp
Due: client

Web: improve appearance of BUDA interface. No changes in functionality.
  html/user/buda.php
  html/user/buda_submit.php
  html/user/submit.php
Due: none

Remove libatomic reference in linux aarch64 build
  linux/arm64/build_curl_arm64.sh
  linux/arm64/build_example_arm64.sh
  linux/arm64/build_openssl_arm64.sh
Due: none

web: fix job submission admin page
  html/inc/bootstrap.inc
  html/inc/util.inc
  html/user/manage_project.php
Due: none

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

merge the MRU computers list when saving
  clientgui/BOINCBaseFrame.cpp
Due: client

Fix logic
  clientgui/BOINCBaseFrame.cpp
Due: client

Remove no longer used variable
  clientgui/BOINCBaseFrame.cpp
Due: client

Safer race condition handling and deduplicate the exiting computers list
  clientgui/BOINCBaseFrame.cpp
Due: client

[ci] remove custom wxwidgets vcpkg port
  3rdParty/vcpkg_ports/ports/wxwidgets/example/CMakeLists.txt
  3rdParty/vcpkg_ports/ports/wxwidgets/fix-libs-export.patch
  3rdParty/vcpkg_ports/ports/wxwidgets/fix-pcre2.patch
  3rdParty/vcpkg_ports/ports/wxwidgets/gtk3-link-libraries.patch
  3rdParty/vcpkg_ports/ports/wxwidgets/install-layout.patch
  3rdParty/vcpkg_ports/ports/wxwidgets/nanosvg-ext-depend.patch
  3rdParty/vcpkg_ports/ports/wxwidgets/portfile.cmake
  3rdParty/vcpkg_ports/ports/wxwidgets/relocatable-wx-config.patch
  3rdParty/vcpkg_ports/ports/wxwidgets/sdl2.patch
  3rdParty/vcpkg_ports/ports/wxwidgets/setup.h.in
  3rdParty/vcpkg_ports/ports/wxwidgets/usage
  3rdParty/vcpkg_ports/ports/wxwidgets/vcpkg-cmake-wrapper.cmake
  3rdParty/vcpkg_ports/ports/wxwidgets/vcpkg.json
Due: none

Hook in reading of last_active_time from event_detect in hostinfo_unix.cpp
  client/hostinfo_unix.cpp
  lib/str_util.cpp
  lib/str_util.h
Due: library, client

Change line length to 80 columns max for style
  client/hostinfo_unix.cpp
Due: client

striped table
  html/user/manage_project.php
Due: none

web: use select2 for app file selection in BUDA
  html/inc/bootstrap.inc
  html/user/buda.php
  html/user/custom_dark.css
Due: none

lib/Makefile.mingw: add str_replace.h and win_util.h to install headers
  lib/Makefile.mingw
Due: library

client: add support for idle detection in a separate process
  client/hostinfo_unix.cpp
  lib/hostinfo.h
Due: library, client

remove debugging printf
  client/hostinfo_unix.cpp
Due: client

set client version to 8.2.0
  configure.ac
  installer/boinc.json
  snap/gui/boinc.desktop
  snap/snapcraft.yaml
  version.h
  version.h.in
Due: none

Update client version to 8.3.0
  android/BOINC/app/build.gradle
  configure.ac
  installer/boinc.json
  snap/gui/boinc.desktop
  snap/snapcraft.yaml
  version.h
Due: none

fix set-client-version.py script that previously ignored setting release version for Android
  set-client-version.py
Due: none

client: use shm_open() to create the shared mem segment for idle detection. shm_open() and mmap() are the standard way to do this.
  client/Makefile.am
  client/Makefile.linux
  client/hostinfo_unix.cpp
Due: client

Deduplicate computer when restoring state
  clientgui/BOINCBaseFrame.cpp
Due: client

Update clientgui/BOINCBaseFrame.cpp
  clientgui/BOINCBaseFrame.cpp
Due: client

Change type in foreach loop to be `const auto&` suggested by copilot
  clientgui/BOINCBaseFrame.cpp
Due: client

remove printf
  client/hostinfo_unix.cpp
Due: client

Fix snprintf() errors introduced in PR #4864
  client/mac_address.cpp
  lib/unix_util.cpp
Due: library, client

client: use int64 instead of uint64 in idle-detect shm. No-op.
  client/hostinfo_unix.cpp
Due: client

[ci] update actions
  .github/workflows/android.yml
Due: none

client: don't use shmem idle detection on Android; it doesn't have shm_open()
  client/hostinfo_unix.cpp
Due: client

client, Unix: fix two build errors
  client/Makefile.am
  configure.ac
Due: client

web: improve job submission interface
  html/inc/bootstrap.inc
  html/user/buda.php
  html/user/submit.php
Due: none

Path conditions:
  api: any of: api/, but not: tests/.*, zip/.*, 3rdParty/.*
  library: any of: lib/, but not: tests/.*, zip/.*, 3rdParty/.*
  client: any of: client/, clientgui/, but not: tests/.*, zip/.*, 3rdParty/.*
  server: any of: sched/, db/, tools/, but not: tests/.*, zip/.*, 3rdParty/.*
  android: any of: android/BOINC/app/src/main/java/edu/berkeley/boinc, but not: tests/.*, zip/.*, 3rdParty/.*
