Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

.codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    after_n_builds: 3
    wait_for_ci: yes
  token: ${{ secrets.CODECOV_TOKEN }}

coverage:
  status:
    project: off
    patch:
      default:
        threshold: 0.01

comment:
  layout: "diff, files"
  behavior: default
  require_changes: yes    # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]
  branches:
    - master
  after_n_builds: 3

flags:
  # filter the folder(s) you wish to measure by that flag
  api:
    paths:
      - api/
  library:
    paths:
      - lib/
  client:
    paths:
      - client/
      - clientgui/
  server:
    paths:
      - sched/
      - db/
      - tools/
  android:
    paths:
      - android/BOINC/app/src/main/java/edu/berkeley/boinc

# don't gather statistics for test and external libraries
ignore:
  - tests/.*
  - zip/.*
  - 3rdParty/.*

server status page: fix PHP warning
  html/user/server_status.php
Due: none

fix friend list display on user home page
  html/inc/user.inc
Due: none

vboxwrapper, Win: error out if getenv("USERPROFILE") fails
  samples/vboxwrapper/vbox_vboxmanage.cpp
Due: none

PHP DB code: clean up the logic, and allow for > 1 readonly replica
  html/inc/boinc_db.inc
  html/inc/db.inc
  html/inc/db_conn.inc
Due: none

PHP DB API: db_host defaults (explicitly) to localhost. Remove the 'use $db_name' query; don't need that with mysqli
  html/inc/boinc_db.inc
Due: none

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

Test
  clientgui/NoticeListCtrl.cpp
Due: client

web tweaks
  html/inc/host.inc
  html/inc/team.inc
  html/inc/user.inc
  html/user/custom_dark.css
  html/user/edit_forum_preferences_form.php
  html/user/show_user.php
Due: none

Merge pull request #5660 from AenBleidd/vko_add_more_linux_packages_update_tests
  .github/workflows/linux-package.yml
Due: none

Merge pull request #5663 from borg17/patch-2
  client/hostinfo_win.cpp
Due: client

Merge pull request #5664 from AenBleidd/vko_update_actions
  .github/workflows/all_projects_list_xml_update.yml
  .github/workflows/android.yml
  .github/workflows/coverity.yml
  .github/workflows/flutter-macos.yml
  .github/workflows/flutter-ubuntu.yml
  .github/workflows/flutter-windows.yml
  .github/workflows/linux-package-stable-release.yml
  .github/workflows/linux-package.yml
  .github/workflows/linux.yml
  .github/workflows/mingw.yml
  .github/workflows/osx.yml
  .github/workflows/snap.yml
  .github/workflows/source-code-check.yml
  .github/workflows/test-report.yml
  .github/workflows/update_actions.yml
  .github/workflows/update_copyright_year.yml
  .github/workflows/wasm.yml
  .github/workflows/windows.yml
Due: none

Merge pull request #5669 from BOINC/dpa_wss_strict
  client/cpu_sched.cpp
  client/project.cpp
  client/project.h
  client/scheduler_op.cpp
  sched/sched_config.cpp
  sched/sched_config.h
  sched/sched_types.cpp
Due: client, server

Merge pull request #5670 from BOINC/dpa_app_test3
  client/app_test.cpp
  client/cs_cmdline.cpp
Due: client

Merge pull request #5671 from BOINC/dpa_prefs8
  client/client_state.cpp
  client/cs_prefs.cpp
Due: client

Merge pull request #5673 from AenBleidd/vko_add_windows_installer_dll
  .github/workflows/windows.yml
  deploy/prepare_deployment.py
Due: none

Merge pull request #5674 from AenBleidd/vko_fix_ci
  .github/workflows/linux.yml
Due: none

Merge pull request #5678 from BOINC/dpa_log_tag
  client/client_msgs.cpp
  client/current_version.cpp
Due: client

Merge pull request #5679 from BOINC/all_projects_list_xml_update
  win_build/installerv2/redist/all_projects_list.xml
Due: none

Merge pull request #5680 from AenBleidd/vko_update_actions
  .github/workflows/android.yml
  .github/workflows/flutter-ubuntu.yml
  .github/workflows/flutter-windows.yml
  .github/workflows/linux-package-stable-release.yml
  .github/workflows/linux-package.yml
  .github/workflows/linux.yml
  .github/workflows/mingw.yml
  .github/workflows/osx.yml
  .github/workflows/snap.yml
  .github/workflows/test-report.yml
  .github/workflows/wasm.yml
  .github/workflows/windows.yml
Due: none

Merge pull request #5685 from BOINC/all_projects_list_xml_update
  win_build/installerv2/redist/all_projects_list.xml
Due: none

Merge pull request #5686 from AenBleidd/vko_extend_generic_message_dlg
  clientgui/AdvancedFrame.cpp
  clientgui/DlgGenericMessage.cpp
  clientgui/DlgGenericMessage.h
Due: client

Merge pull request #5687 from BOINC/vko_navigate_to_the_download_page
  clientgui/MainDocument.cpp
Due: client

Merge pull request #5688 from BOINC/vko_dont_show_another_instance_running_warning
  clientgui/BOINCGUIApp.cpp
  clientgui/BOINCGUIApp.h
Due: client

Merge pull request #5700 from BOINC/all_projects_list_xml_update
  win_build/installerv2/redist/all_projects_list.xml
Due: none

set client/manager version to 8.0.4
  configure.ac
  snap/snapcraft.yaml
  version.h
  version.log
  win_build/installerv2/BOINCx64.ism
  win_build/installerv2/BOINCx64_vbox.ism
Due: none

client: fix minor prefs parsing bug
  lib/prefs.cpp
Due: library

web: fix bug that hid GPUs in host page
  html/inc/host.inc
Due: none

sched/validator: DON'T set assimilate_state by the validator.
  db/boinc_db.cpp
  sched/validator.cpp
Due: server

web: in PM send to multiple users, but names/IDs on separate lines
  html/inc/pm.inc
  html/user/pm.php
Due: none

update_versions: keep going if find bad app version directory
  tools/update_versions
Due: server

db_dump: report encoding correctly ('utf-8' rather than 'iso-8859-1')
  sched/db_dump.cpp
Due: server

web: parse gd version number correctly
  html/inc/profile.inc
Due: none

add custom gdk-pixbuf and librsvg vcpkg ports
  3rdParty/vcpkg_ports/ports/gdk-pixbuf/add_optional_svg_support.patch
  3rdParty/vcpkg_ports/ports/gdk-pixbuf/fix-static-deps.patch
  3rdParty/vcpkg_ports/ports/gdk-pixbuf/fix_build_error_windows.patch
  3rdParty/vcpkg_ports/ports/gdk-pixbuf/loaders-cache.patch
  3rdParty/vcpkg_ports/ports/gdk-pixbuf/portfile.cmake
  3rdParty/vcpkg_ports/ports/gdk-pixbuf/use-libtiff-4-pkgconfig.patch
  3rdParty/vcpkg_ports/ports/gdk-pixbuf/vcpkg.json
  3rdParty/vcpkg_ports/ports/librsvg/CMakeLists.txt
  3rdParty/vcpkg_ports/ports/librsvg/config.h.linux
  3rdParty/vcpkg_ports/ports/librsvg/fix_io_svg_for_static_build.patch
  3rdParty/vcpkg_ports/ports/librsvg/portfile.cmake
  3rdParty/vcpkg_ports/ports/librsvg/unofficial-librsvg-config.cmake
  3rdParty/vcpkg_ports/ports/librsvg/usage
  3rdParty/vcpkg_ports/ports/librsvg/vcpkg.json
Due: none

[ci] update actions
  .github/workflows/snap.yml
Due: none

web: fix edge case in bbcode processing
  html/inc/text_transform.inc
Due: none

forums: when quote a message, identify its sender and date
  html/user/forum_reply.php
Due: none

linux: add 'svg' and 'others' features when building gdk-pixbuf and librsvg to vcpkg.json file
  3rdParty/vcpkg_ports/configs/manager/linux/vcpkg.json
Due: none

link with required exported library functions
  clientgui/BOINCGUIApp.cpp
  clientgui/Makefile.am
  linux/ci_configure_manager.sh
Due: client
