Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

Fix typos and grammatical errors in comments and docs
  INSTALL
  android/clear_environment.sh
  api/x_opengl.cpp
  client/async_file.cpp
  client/sysmon_win.cpp
  clientgui/AsyncRPC.cpp
  clientgui/BOINCGUIApp.cpp
  clientgui/SkinManager.cpp
  clientgui/ValidateURL.cpp
  clientgui/skins/Charity Engine/skin.xml
  clientgui/skins/Default/skin.xml
  clientgui/skins/GridRepublic/skin.xml
  clientgui/skins/ProgressThruProcessors/skin.xml
  clientscr/Mac_Saver_ModuleView.m
  clientscr/mac_saver_module.cpp
  clientscr/screensaver_win.cpp
  configure.ac
  html/user/account_ownership.php
  html/user/create_profile.php
  html/user/get_project_config.php
  lib/mac/QBacktrace.c
  mac_build/buildfreetype.sh
  samples/vboxwrapper/floppyio.cpp
  samples/vboxwrapper/vbox_vboxmanage.cpp
  sched/sched_score.cpp
  tests/old/test_download_backoff.php
  win_build/installerv2/CharityEngine.ism
  win_build/installerv2/Progress.ism
  win_build/installerv2/WCG.ism
Due: api, library, client, server

Add missing fclose on open files in case of errors during fopen calls
  lib/crypt_prog.cpp
  lib/mfile.cpp
  lib/parse_test.cpp
Due: library

Check if there is enough memory after realloc
  lib/unix_util.cpp
Due: library

Adapt code to fix a build failure with openssl-4.0
  lib/crypt.cpp
Due: library

Remove old time64_t hack, breaking build on Debian with armhf actually configured to have time64_t time data structure
  lib/mem_usage.cpp
  lib/procinfo_unix.cpp
  samples/gfx_html/mongoose.cpp
Due: library

Update some code to use Python3
  py/Boinc/add_util.py
  py/Boinc/boincxml.py
  py/Boinc/configxml.py
  py/Boinc/projectxml.py
  py/Makefile.am
  sched/assimilator.py
  sched/pymw_assimilator.py
  sched/start
  tools/appmgr
Due: server

Fix issues with the leaked file descriptors
  lib/crypt_prog.cpp
  lib/mfile.cpp
  lib/parse_test.cpp
Due: library

Add another fix from cubic-dev-ai review
  sched/start
Due: server

Also install additional html directories
  html/Makefile.am
Due: none

Don't reuse iterator, fixing cppcheck warning
  client/rrsim_test.cpp
Due: client

Fix dynamic library building
  api/Makefile.am
  apps/Makefile.am
  client/Makefile.am
  clientgui/Makefile.am
  clientscr/Makefile.am
  configure.ac
  lib/Makefile.am
  samples/condor/Makefile
  samples/example_app/Makefile
  samples/multi_thread/Makefile
  samples/openclapp/Makefile
  samples/sleeper/Makefile
  samples/vboxmonitor/Makefile
  samples/vboxwrapper/Makefile
  samples/worker/Makefile
  samples/wrapper/Makefile
  samples/wrappture/Makefile
  sched/Makefile.am
  tools/Makefile.am
  vda/Makefile.am
  zip/Makefile.am
Due: api, library, client, server

Increase buffers in case of long oses and machines
  client/hostinfo_linux.cpp
  client/hostinfo_unix.cpp
  client/hostinfo_unix_test.cpp
  client/hostinfo_wsl.cpp
  db/boinc_db_types.h
  db/schema.sql
  html/ops/db_update.php
  lib/hostinfo.cpp
  lib/hostinfo.h
  sched/handle_request.cpp
  sched/sched_driver.cpp
  tests/unit-tests/client/test_hostinfo_linux.cpp
Due: library, client, server

Add patch to make hurd build sanely
  clientgui/BOINCGUIApp.cpp
  clientscr/Mac_Saver_Module.h
  lib/mac/QMachOImageList.c
  samples/cygwin_fstab/fstab.c
Due: library, client

Increase some buffers based on MAXPATHLEN
  client/file_names.cpp
Due: client

Give a better error message in case of open failure
  lib/filesys.cpp
Due: library

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

[ci] update actions
  .github/workflows/android.yml
Due: none

Show only Demand RPCs and RPC errors
  clientgui/AsyncRPC.cpp
  lib/gui_rpc_client.cpp
Due: library, client

Fix missing safe_strlcpy reference
  client/file_names.cpp
Due: client

[ci] update libwebp vcpkg custom port
  3rdParty/vcpkg_ports/ports/libwebp/vcpkg.json
Due: none

[manager] fix crash on application exit when 'Shutdown client' option is not available
  clientgui/BOINCGUIApp.cpp
Due: client

[ci] update custom gdk-pixbuf vcpkg port
  3rdParty/vcpkg_ports/ports/gdk-pixbuf/portfile.cmake
  3rdParty/vcpkg_ports/ports/gdk-pixbuf/vcpkg.json
Due: none

[ci] update custom libsm vcpkg ports
  3rdParty/vcpkg_ports/ports/libsm/msvc.patch
  3rdParty/vcpkg_ports/ports/libsm/portfile.cmake
  3rdParty/vcpkg_ports/ports/libsm/vcpkg.json
  3rdParty/vcpkg_ports/ports/libsm/xtrans.patch
Due: none

snap: drop gnome extension until snapcraft supports core26
  snap/snapcraft.yaml
Due: none

fix(snap): pack core26 on a 26.04 host (or managed build), not ubuntu-24.04 destructive-mode
  .github/workflows/snap.yml
Due: none

fix(snap): use Ubuntu 26.04 libnotify build package for core26 pack
  .github/workflows/snap.yml
Due: none

fix(ci): skip missing azure-cli.sources and preinstall autopoint
  .github/workflows/linux.yml
  .github/workflows/snap.yml
Due: none

fix(snap): preinstall libxrender-dev for core26 pack
  .github/workflows/snap.yml
Due: none

[manager] fix layout of the wizard pages
  clientgui/AccountInfoPage.cpp
  clientgui/AccountManagerInfoPage.cpp
  clientgui/AccountManagerProcessingPage.cpp
  clientgui/AccountManagerPropertiesPage.cpp
  clientgui/AlreadyExistsPage.cpp
  clientgui/CompletionErrorPage.cpp
  clientgui/CompletionPage.cpp
  clientgui/NotDetectedPage.cpp
  clientgui/NotFoundPage.cpp
  clientgui/ProjectInfoPage.cpp
  clientgui/ProjectProcessingPage.cpp
  clientgui/ProjectPropertiesPage.cpp
  clientgui/ProjectWelcomePage.cpp
  clientgui/ProxyInfoPage.cpp
  clientgui/ProxyPage.cpp
  clientgui/TermsOfUsePage.cpp
  clientgui/UnavailablePage.cpp
Due: client

web: fix broken links
  html/inc/bootstrap.inc
  html/user/create_account_form.php
Due: none

client: fix CPU feature-name typos in Windows get_processor_features()
  client/hostinfo_win.cpp
Due: client

client: fix register clobber and expand FreeBSD CPU feature detection
  client/hostinfo_unix.cpp
Due: client

client: include sched.h to fix build error with uClibc-ng
  client/cpu_sched.cpp
Due: client

Add missing Exception.php require in send_email()
  html/inc/email.inc
Due: none

Check send_email()'s return value in 4 account-flow pages
  html/user/delete_account_request.php
  html/user/edit_email_action.php
  html/user/team_founder_transfer_action.php
  html/user/validate_email_addr.php
Due: none

Don't hide moderation-email failures inside a 302 redirect body
  html/user/forum_moderate_post_action.php
  html/user/forum_moderate_thread_action.php
Due: none

Address review: escape output, fix "0" reason truthiness
  html/user/forum_moderate_post_action.php
  html/user/forum_moderate_thread_action.php
Due: none

Escape ErrorInfo before echoing it on a failed send
  html/inc/email.inc
Due: none

Path conditions:
  api: any of: api/, but not: tests/.*, zip/.*, 3rdParty/.*
  library: any of: lib/, but not: tests/.*, zip/.*, 3rdParty/.*
  client: any of: client/, clientgui/, but not: tests/.*, zip/.*, 3rdParty/.*
  server: any of: sched/, db/, tools/, but not: tests/.*, zip/.*, 3rdParty/.*
  android: any of: android/BOINC/app/src/main/java/edu/berkeley/boinc, but not: tests/.*, zip/.*, 3rdParty/.*
