Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

Fix .gitignore file to include uppercase and multi_thread sample applications together with the vim temporary files.
  .gitignore
Due: none

Mac podman: installer updates default shell to zsh for users boinc_project & boinc_master
  client/Run_Podman.cpp
  clientgui/mac/SetupSecurity.cpp
  mac_build/boinc.xcodeproj/project.pbxproj
Due: client

Add newline to error message (Copilot recommendation)
  client/Run_Podman.cpp
Due: client

Mac uninstaller: add suggestion to manually remove "BOINC podman" directory
  mac_installer/uninstall.cpp
Due: none

client: fix bugs that broke CPU throttling
  client/client_types.cpp
Due: client

client (win): if boinc-buda-runner WSL distro is present, ignore others
  client/hostinfo_wsl.cpp
Due: client

Mac podman: installer sets Podman data has owner & group boinc_project if needed; client confirms that
  client/check_security.cpp
  clientgui/mac/SetupSecurity.cpp
Due: client

Mac Podman: Update utility scripts Mac_SA_Secure.sh, Mac_SA_Insecure.sh for Run_Podman and "BOINC podman" directory
  mac_build/Mac_SA_Insecure.sh
  mac_build/Mac_SA_Secure.sh
Due: none

[lib] add unit tests for libboinc_zip before replacement
  tests/unit-tests/CMakeLists.txt
  tests/unit-tests/lib/CMakeLists.txt
  tests/unit-tests/lib/test_zip.cpp
  win_build/boinc.sln
  win_build/unittests.vcxproj
  zip/boinc_zip.cpp
Due: none

Mac Podman: Copilot suggested change
  client/Run_Podman.cpp
Due: client

[ci] update actions
  .github/workflows/android.yml
  .github/workflows/linux.yml
  .github/workflows/windows.yml
Due: none

client (Mac): count the VM used by Podman as BOINC CPU time
  lib/procinfo.cpp
Due: library

client (Mac): initialize Podman VM in a separate process
  client/client_state.cpp
  client/client_state.h
  client/hostinfo_unix.cpp
  lib/common_defs.h
  lib/str_util.cpp
Due: library, client

build fixes
  client/client_state.cpp
  client/hostinfo_unix.cpp
Due: client

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

Mac: check Run_Podman permissions, fix bug from PR #6131 when running with -insecure arg
  client/check_security.cpp
Due: client

Mac podman: add change to Mac_SA_Secure.sh script omitted from PR #6508
  mac_build/Mac_SA_Secure.sh
Due: none

Mac Podman: add Podman support when running BOINC with -insecure arg
  client/Run_Podman.cpp
  clientgui/mac/SetupSecurity.cpp
  mac_build/Mac_SA_Insecure.sh
Due: client

[linux] fix macro redefinition issue
  lib/boinc_stdio.h
Due: library

client: don't run GPU job if all GPUs of that type are excluded
  client/cpu_sched.cpp
  client/cs_files.cpp
  client/cs_scheduler.cpp
  client/log_flags.cpp
  client/rrsim_test.cpp
Due: client

client, Mac: fix typo in VM name
  lib/procinfo.cpp
Due: library

Mac Podman: fix harmless typos
  client/Run_Podman.cpp
  mac_build/Mac_SA_Insecure.sh
Due: client

add test_crypt.cpp to cover crypt.cpp
  tests/unit-tests/lib/CMakeLists.txt
  tests/unit-tests/lib/test_crypt.cpp
  win_build/unittests.vcxproj
Due: none

docker wrapper: debuggin
  lib/util.cpp
  samples/docker_wrapper/docker_wrapper.cpp
Due: library

Refactor crypt.cpp to avoid deprecation warnings as much as possible
  lib/crypt.cpp
  tests/unit-tests/lib/test_crypt.cpp
Due: library

edits
  client/app_test.cpp
  samples/docker_wrapper/docker_wrapper.cpp
Due: client

Mac: can't pass . to podman build; need full path, w/ spaces escaped
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

space-escape cmdline args (Mac)
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

Mac podman: allow podman to stat items under BOINC Data directory
  client/check_security.cpp
  clientgui/mac/SetupSecurity.cpp
  mac_build/Mac_SA_Secure.sh
Due: client

[ci] update libwebp vcpkg custom port
  3rdParty/vcpkg_ports/ports/libwebp/vcpkg.json
Due: none

client (Mac) * init Podman VM with -v /Library:/Library. Otherwise attempts to mount the BOINC data dir fail with misleading 'statfs' message
  client/app_test.cpp
  client/hostinfo_unix.cpp
  samples/docker_wrapper/docker_wrapper.cpp
Due: client

update docker_wrapper version to 13
  configure.ac
  version.h
  win_build/docker_wrapper.vcxproj
Due: none

Remove some minor warnings
  clientgui/AdvancedFrame.cpp
  clientgui/BOINCBaseFrame.cpp
  clientgui/BOINCGUIApp.cpp
  clientgui/BOINCListCtrl.cpp
  clientgui/BOINCTaskBar.cpp
  clientgui/BOINCTaskBar.h
  clientgui/DlgAdvPreferencesBase.cpp
  clientgui/DlgGenericMessage.h
  clientgui/MainDocument.cpp
  clientgui/ViewProjects.cpp
  clientgui/ViewTransfers.cpp
  clientgui/ViewWork.cpp
  clientgui/sg_BoincSimpleFrame.cpp
  clientgui/sg_DlgPreferences.cpp
Due: client

web: if BUDA batch file is empty, show error page and don't create a batch
  html/user/buda_submit.php
Due: none

Update html/user/buda_submit.php
  html/user/buda_submit.php
Due: none

[ci] use windows-latest everywhere in the windows build workflows (prepared for the windows-2025 image migration)
  .github/workflows/windows.yml
Due: none

web: add script to remind users to retire batches, and eventually retire them
  gl
  html/inc/submit_util.inc
  html/ops/submit_retire.php
  html/user/submit.php
Due: none

Apply suggestion from @Copilot
  html/ops/submit_retire.php
Due: none

Path conditions:
  api: any of: api/, but not: tests/.*, zip/.*, 3rdParty/.*
  library: any of: lib/, but not: tests/.*, zip/.*, 3rdParty/.*
  client: any of: client/, clientgui/, but not: tests/.*, zip/.*, 3rdParty/.*
  server: any of: sched/, db/, tools/, but not: tests/.*, zip/.*, 3rdParty/.*
  android: any of: android/BOINC/app/src/main/java/edu/berkeley/boinc, but not: tests/.*, zip/.*, 3rdParty/.*
