Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    after_n_builds: 4
    wait_for_ci: true

coverage:
  status:
    project: off
    patch:
      default:
        threshold: 0.01

comment:
  layout: "diff, files"
  behavior: default
  require_changes: true    # if true: only post the comment if coverage changes
  require_base: false      # [true :: must have a base report to post]
  require_head: true       # [true :: must have a head report to post]
  branches:
    - master
  after_n_builds: 4

github_checks:
    annotations: false

flags:
  # filter the folder(s) you wish to measure by that flag
  api:
    paths:
      - api/
  library:
    paths:
      - lib/
  client:
    paths:
      - client/
      - clientgui/
  server:
    paths:
      - sched/
      - db/
      - tools/
  android:
    paths:
      - android/BOINC/app/src/main/java/edu/berkeley/boinc

# don't gather statistics for test and external libraries
ignore:
  - tests/.*
  - zip/.*
  - 3rdParty/.*

Test android cmake build
  android/ci_build_libs_cmake.sh
Due: none

BUDA: support ARM hosts, and revamp architecture
  html/inc/buda.inc
  html/inc/sandbox.inc
  html/user/all_news.php
  html/user/buda.php
  html/user/buda_submit.php
  html/user/submit.php
  lib/Makefile.linux
  lib/filesys.cpp
  sched/Makefile.linux
  sched/buda.cpp
  sched/buda.h
  sched/handle_request.cpp
  sched/plan_class_spec.cpp
  sched/plan_class_spec.h
  sched/sched_array.cpp
  sched/sched_assign.cpp
  sched/sched_customize.cpp
  sched/sched_customize.h
  sched/sched_locality.cpp
  sched/sched_main.cpp
  sched/sched_nci.cpp
  sched/sched_resend.cpp
  sched/sched_score.cpp
  sched/sched_score.h
  sched/sched_send.cpp
  sched/sched_send.h
  sched/sched_shmem.cpp
Due: library, server

build fix for show_shmem
  sched/Makefile.am
  sched/buda.cpp
  sched/buda.h
  sched/sched_main.cpp
  sched/sched_shmem.cpp
Due: server

[docker_wrapper] bump version to 8
  configure.ac
  version.h
  win_build/docker_wrapper.vcxproj
Due: none

[ci] add 'dockerwrapper', 'wslwrapper' and 'worker' to the list of release tags to the Linux release ci workflow.
  .github/workflows/linux.yml
Due: none

[ci] Add release tags to the macos and windows workflows, bump version of docker_wrapper to 9.
  .github/workflows/linux.yml
  .github/workflows/osx.yml
  .github/workflows/windows.yml
  configure.ac
  version.h
  win_build/docker_wrapper.vcxproj
Due: none

[ci] update actions
  .github/workflows/android.yml
  .github/workflows/linux.yml
  .github/workflows/windows.yml
Due: none

[windows] Fix signing of Windows artifacts by updating the version of installed Windows SDK.
  configure.ac
  version.h
  win_build/boinc_signing.targets
  win_build/docker_wrapper.vcxproj
Due: none

[lib] fix build on mingw 10
  lib/hostinfo.cpp
Due: library

[worker] bump version to 6
  configure.ac
  version.h
  win_build/worker.vcxproj
Due: none

scheduler: add some debug messages
  html/user/buda.php
  sched/buda.cpp
Due: server

[manager] fix initially blank dialogs in windows.
  clientgui/DlgAdvPreferences.cpp
  clientgui/DlgExclusiveApps.cpp
Due: client

web: fix download link for Windows/ARM
  html/user/download_software.php
Due: none

bug fixes from Copilot
  html/user/buda.php
  sched/sched_score.cpp
Due: server

remove debug print
  html/user/download_software.php
Due: none

client (Mac) * init Podman VM with -v /Library:/Library. Otherwise attempts to mount the BOINC data dir fail with misleading 'statfs' message
  client/app_test.cpp
  client/hostinfo_unix.cpp
  samples/docker_wrapper/docker_wrapper.cpp
Due: client

docker wrapper: debuggin
  lib/util.cpp
  samples/docker_wrapper/docker_wrapper.cpp
Due: library

edits
  client/app_test.cpp
  samples/docker_wrapper/docker_wrapper.cpp
Due: client

Mac: can't pass . to podman build; need full path, w/ spaces escaped
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

space-escape cmdline args (Mac)
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

update docker_wrapper version to 13
  version.h
Due: none

[docker_wrapper] bump version to 11
  configure.ac
  version.h
  win_build/docker_wrapper.vcxproj
Due: none

[ci] update .scrutinizer.yml file
  .scrutinizer.yml
Due: none

shorter SQL syntax
  html/user/submit.php
Due: none

fix Copilot warnings
  sched/buda.cpp
  sched/sched_shmem.cpp
Due: server

check path components for validity
  html/user/get_output3.php
Due: none

Replace rapidjson with nlohmann::json
  sched/buda.cpp
Due: server

Install nlohmann-json3-dev library, add check for its presence
  .github/workflows/linux.yml
  configure.ac
  tests/unit-tests/CMakeLists.txt
  tests/unit-tests/sched/CMakeLists.txt
Due: none

c++11 is requried to build the server code with the nlohmann::json library
  configure.ac
  tests/unit-tests/CMakeLists.txt
  tests/unit-tests/sched/CMakeLists.txt
Due: none

web (BUDA): fix end tag in input template generation
  html/user/buda.php
  sched/Makefile.linux
  sched/sched_score.cpp
  sched/sched_score.h
Due: server

Add compatibility with the old nlohmann::json library
  sched/buda.cpp
Due: server

use nlohman::json instead of rapidjson, add library discrovery to the configure.ac file, install nlohmann-json3-dev during the build on GitHub
  .github/workflows/linux.yml
  configure.ac
  sched/buda.cpp
Due: server

web (job submission): 'only own computers' fixes
  html/user/buda_submit.php
  html/user/submit.php
Due: none

[coverity] fix build
  .github/workflows/coverity.yml
Due: none

Improve coverity build. Run it's precofigure step always to detect issues earlier
  .github/workflows/coverity.yml
Due: none

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

Server: fix DB purge for batch-oriented apps
  db/boinc_db_types.h
  html/inc/buda.inc
  html/inc/submit_db.inc
  html/inc/submit_util.inc
  html/ops/delete_batches.php
  html/ops/delete_spammers.php
  html/user/submit.php
  html/user/submit_rpc_handler.php
  sched/Makefile.linux
  sched/buda.cpp
  sched/db_purge.cpp
  sched/file_deleter.cpp
  sched/sched_main.cpp
  sched/sched_types.cpp
  tools/sample_assimilate.py
  version.h
Due: server
