Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    after_n_builds: 4
    wait_for_ci: true

coverage:
  status:
    project: off
    patch:
      default:
        threshold: 0.01

comment:
  layout: "diff, files"
  behavior: default
  require_changes: true    # if true: only post the comment if coverage changes
  require_base: false      # [true :: must have a base report to post]
  require_head: true       # [true :: must have a head report to post]
  branches:
    - master
  after_n_builds: 4

github_checks:
    annotations: false

flags:
  # filter the folder(s) you wish to measure by that flag
  api:
    paths:
      - api/
  library:
    paths:
      - lib/
  client:
    paths:
      - client/
      - clientgui/
  server:
    paths:
      - sched/
      - db/
      - tools/
  android:
    paths:
      - android/BOINC/app/src/main/java/edu/berkeley/boinc

# don't gather statistics for test and external libraries
ignore:
  - tests/.*
  - zip/.*
  - 3rdParty/.*

[ci] ignore repo mirrors when building arm64 because of cache issues between the original repos and their mirrors
  .github/workflows/linux.yml
Due: none

Update link
  clientgui/DlgExclusiveApps.cpp
Due: client

style : change tab to spaces
  clientgui/DlgExclusiveApps.cpp
Due: client

Server: accelerate batch completion
  db/boinc_db.cpp
  db/boinc_db.h
  db/boinc_db_types.h
  html/inc/boinc_db.inc
  html/inc/db_conn.inc
  html/inc/host.inc
  html/inc/util.inc
  html/inc/util_basic.inc
  html/ops/batch_accel.php
  html/ops/batch_stats.php
  html/user/submit.php
  html/user/submit_stats.php
  lib/common_defs.h
  sched/feeder.cpp
  sched/sched_config.cpp
  sched/sched_config.h
  sched/sched_result.cpp
  sched/sched_score.cpp
  sched/transitioner.cpp
Due: library, server

typo
  sched/sched_config.cpp
Due: server

Remove trailing whitespace
  html/ops/batch_stats.php
Due: none

tweak the feeder query to get both low- and high-prio jobs for batch accel
  db/boinc_db.cpp
  db/boinc_db.h
  sched/feeder.cpp
Due: server

tweaks
  html/inc/host.inc
  html/user/submit_stats.php
Due: none

fix
  db/boinc_db.cpp
Due: server

comment
  sched/feeder.cpp
Due: server

[ci] update actions
  .github/workflows/snap.yml
Due: none

Mac: Fix startup issues on Macs with OS older than MacOS 14
  clientgui/BOINCGUIApp.cpp
  clientgui/mac/BOINCGUIApp.mm
  mac_installer/finish_install.cpp
Due: client

Mac: If didn't get path to Podman from installer, add checks for Homebrew or try dynamic search
  client/Run_Podman.cpp
Due: client

Mac: for bar client users, create "BOINC podman" directory and set Path_to_podman.txt if needed
  mac_build/Mac_SA_Secure.sh
Due: none

Mac: fixes recommended by Copilot
  clientgui/BOINCGUIApp.cpp
  clientgui/mac/BOINCGUIApp.mm
Due: client

Mac: Fix issues found by Copilot
  client/Run_Podman.cpp
Due: client

Mac: for bare client users, create "BOINC podman" directory and set Path_to_podman.txt if needed
  mac_build/Mac_SA_Secure.sh
Due: none

Mac: changes suggested by Copilot
  client/Run_Podman.cpp
  mac_build/Mac_SA_Secure.sh
Due: client

[linux] ensure found compiler has c++11 support.
  configure.ac
Due: none

web: tweak
  html/user/submit.php
Due: none

client, docker_wrapper, Win: if using boinc-buda-runner, use default user
  client/cs_apps.cpp
  lib/util.cpp
  lib/win_util.cpp
  lib/win_util.h
Due: library, client

Apply suggestions from code review
  lib/win_util.cpp
Due: library

[docker_wrapper]: set release version to 14
  configure.ac
  version.h
  win_build/docker_wrapper.vcxproj
Due: none

Fix notice board for Windows Dark mode
  clientgui/NoticeListCtrl.cpp
Due: client

Mac: Don't search for podman path in installer or Mac_SA_Secure.sh script
  mac_build/Mac_SA_Secure.sh
  mac_installer/PostInstall.cpp
Due: none

Mac: Don't search for podman path in Run_Podman; it is passed from client or Docker Wrapper
  client/Run_Podman.cpp
Due: client

Mac: Get path to Podman the first time docker_cli_prog() called, add it to commands
  client/hostinfo_unix.cpp
  lib/hostinfo.cpp
Due: library, client

Mac: Fix compile error on other platforms (misplaced #endif_
  lib/hostinfo.cpp
Due: library

[manager] fix height of the computing options dialog box that might exceed the height on the display
  clientgui/DlgAdvPreferencesBase.cpp
Due: client

Add menu update on skin change
  clientgui/sg_BoincSimpleFrame.cpp
Due: client

client (Win): include boinc-buda-runner version in sched request
  lib/wslinfo.cpp
Due: library

parse distro version
  lib/wslinfo.cpp
Due: library

typo
  lib/wslinfo.cpp
Due: library

[manager] fix display of the static text on the simple gui
  clientgui/sg_CustomControls.cpp
  clientgui/sg_CustomControls.h
Due: client

[manager] fix simple gui view on linux
  clientgui/sg_CustomControls.cpp
Due: client

[manager] fix dark unreadable notices on windows when system dark mode is enabled
  clientgui/NoticeListCtrl.cpp
Due: client

Mac: Fix wxWidgets assert caused by commit a40c3e5969 in PR #6660
  clientgui/sg_CustomControls.cpp
Due: client

Fix deadlock on WSL removal after installing Docker
  client/hostinfo_wsl.cpp
  lib/win_util.cpp
Due: library, client

Mac: Fix Simple View bug switching in & out of Dark Mode due to PR # 6589 commit 0917e1c439
  clientgui/mac/BOINCGUIApp.mm
Due: client

Mac: Fix formatting per Copilot suggestion
  lib/hostinfo.cpp
Due: library
