Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

fix typo
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

client: notify user if there's a newer BOINC WSL distro
  client/client_msgs.cpp
  client/client_state.h
  client/cs_statefile.cpp
  client/current_version.cpp
  client/current_version.h
  client/hostinfo_wsl.cpp
  lib/wslinfo.cpp
  lib/wslinfo.h
Due: library, client

show wsl messages
  client/client_state.cpp
  client/current_version.cpp
Due: client

fixes
  client/client_state.cpp
  client/client_state.h
  client/cs_statefile.cpp
  client/current_version.cpp
  client/hostinfo_wsl.cpp
Due: client

look for version file in /home/boinc/version.txt
  client/hostinfo_wsl.cpp
Due: client

build fix
  client/client_state.cpp
  client/current_version.cpp
Due: client

web (job submission): add batch features
  html/user/submit.php
  html/user/submit_stats.php
Due: none

remove trailing whitespace, fix year in copyright header
  html/user/submit_stats.php
Due: none

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

docker_wrapper: handle multithread apps
  samples/docker_wrapper/docker_wrapper.cpp
  samples/multi_thread/multi_thread.cpp
Due: none

version update
  configure.ac
  version.h
Due: none

[ci] fix linux package build pipeline
  .github/workflows/linux-package.yml
Due: none

build fixes
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

skip warning msgs
  html/user/buda.php
  samples/docker_wrapper/docker_wrapper.cpp
  samples/multi_thread/Makefile
  samples/multi_thread/multi_thread.cpp
  win_build/docker_wrapper.vcxproj
Due: none

parse podman stats output
  samples/docker_wrapper/docker_wrapper.cpp
  sched/plan_class_spec.xml.sample
Due: server

build fix
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

split(): add delimiter to output strings
  lib/str_util.cpp
Due: library

Fix multi_thread version handling. Add set-multithread-version.py script.
  configure.ac
  deploy/prepare_deployment.py
  release_tools/set-multithread-version.py
  samples/Makefile.am
  samples/multi_thread/Makefile
  version.h
  version.h.in
  win_build/example_app_multi_thread.vcxproj
Due: none

Small fixes suggested by Copilot. Remove set wsl_wrapper version to version.h file with the script
  release_tools/set-wslwrapper-version.py
  samples/docker_wrapper/docker_wrapper.cpp
  samples/multi_thread/multi_thread.cpp
Due: none

[ci] fix linux package release ci pipeline
  .github/workflows/linux-package-stable-release.yml
Due: none

web (job submission): enhancements
  html/user/submit.php
Due: none

client: link to platform-specific wiki pages about Docker
  client/client_state.cpp
  client/hostinfo_wsl.cpp
Due: client

client (Win): don't recommend docker on Win 10 Home
  client/client_state.cpp
Due: client

docker_wrapper (Mac/Linux): show appropriate error message if Docker not present
  lib/hostinfo.cpp
  samples/docker_wrapper/docker_wrapper.cpp
Due: library

web (job submission): add commands for showing hosts that worked on batch
  html/inc/host.inc
  html/user/submit.php
  html/user/submit_stats.php
Due: none

client (Mac): fix Podman detection (must escape spaces in env args)
  lib/hostinfo.cpp
Due: library

[linux] enable 'update-from-stable' tests for Fedora 41/42. Change stable version from 8.2.1 to 8.2.4
  .github/workflows/linux-package.yml
Due: none

web (job submission): don't show DB error for empty batches
  html/inc/submit_util.inc
Due: none

[ci] fix debian buster sources.list
  .github/workflows/linux-package.yml
  .github/workflows/linux.yml
Due: none

web: remove Vbox stuff from download page; fix button appearance
  html/inc/forum.inc
  html/inc/web_rpc_api.inc
  html/user/download_software.php
Due: none

[ci] update actions
  .github/workflows/test-report.yml
Due: none

Add arm64 linux with vcpkg
  .github/workflows/linux.yml
  deploy/prepare_deployment.py
  linux/arm64/ci_configure_apps.sh
  linux/arm64/ci_configure_libs.sh
  linux/arm64/update_vcpkg_apps.sh
  linux/arm64/update_vcpkg_libs.sh
  samples/openclapp/Makefile
  samples/openclapp/Makefile_AMD
  samples/openclapp/Makefile_NVIDIA
Due: none

[ci] update set-client-version.py to target correst json file of the Windows installer configuration
  release_tools/set-client-version.py
Due: none

set client/manager release version to 8.2.5
  android/BOINC/app/build.gradle
  configure.ac
  installer/include/Property.json
  snap/gui/boinc.desktop
  snap/snapcraft.yaml
  version.h
Due: none

db_update.php: fix an update that would otherwise fail
  html/ops/db_update.php
Due: none

[ci] improve linux package fedora tests
  .github/workflows/linux-package.yml
Due: none

Mac: rework how we update version numbers in info.plist files to fix Xcode race condition
  clientgui/mac/SetVersion.cpp
  mac_build/boinc.xcodeproj/project.pbxproj
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/BOINC_Client.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/Build_All.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/Install_BOINC.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/PostInstall.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/ScreenSaver.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/Uninstaller.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/boinc_finish_install.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/cmd_boinc.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/mgr_boinc.xcscheme
Due: client

Mac: fix compile warning "unknown escape sequence"
  lib/hostinfo.cpp
Due: library

[windows][mingw] fix build after lubcurl update
  samples/condor/Makefile
  win_build/sim.vcxproj
Due: none

Path conditions:
  api: any of: api/, but not: tests/.*, zip/.*, 3rdParty/.*
  library: any of: lib/, but not: tests/.*, zip/.*, 3rdParty/.*
  client: any of: client/, clientgui/, but not: tests/.*, zip/.*, 3rdParty/.*
  server: any of: sched/, db/, tools/, but not: tests/.*, zip/.*, 3rdParty/.*
  android: any of: android/BOINC/app/src/main/java/edu/berkeley/boinc, but not: tests/.*, zip/.*, 3rdParty/.*
