Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

.codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    after_n_builds: 3
    wait_for_ci: yes
  token: ${{ secrets.CODECOV_TOKEN }}

coverage:
  status:
    project: off
    patch:
      default:
        threshold: 0.01

comment:
  layout: "diff, files"
  behavior: default
  require_changes: yes    # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]
  branches:
    - master
  after_n_builds: 3

flags:
  # filter the folder(s) you wish to measure by that flag
  api:
    paths:
      - api/
  library:
    paths:
      - lib/
  client:
    paths:
      - client/
      - clientgui/
  server:
    paths:
      - sched/
      - db/
      - tools/
  android:
    paths:
      - android/BOINC/app/src/main/java/edu/berkeley/boinc

# don't gather statistics for test and external libraries
ignore:
  - tests/.*
  - zip/.*
  - 3rdParty/.*

client: if GPU is missing, discard app versions and results that refer to it.
  client/cs_statefile.cpp
Due: client

web / job submission: move admin links to main page (submit.php)
  html/user/manage_app.php
  html/user/submit.php
Due: none

client: if GPU missing, discard app version only if the name is "Apple *".
  client/cs_statefile.cpp
Due: client

[CI] Put correct tokens
  .github/workflows/android.yml
  .github/workflows/linux.yml
  .github/workflows/test-report.yml
  .github/workflows/windows.yml
Due: none

[CI] Download only artifacts with test reports for the test report workflow
  .github/workflows/test-report.yml
Due: none

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

[CI] Update github actions
  .github/workflows/all_projects_list_xml_update.yml
  .github/workflows/update_actions.yml
  .github/workflows/update_copyright_year.yml
Due: none

Report TIMEOUT from vbm_popen
  samples/vboxwrapper/vbox_common.cpp
Due: none

Fix messages for missing / deprecated GPUs
  client/cs_statefile.cpp
Due: client

change default return of is_virtualbox_version_newer
  samples/vboxwrapper/vbox_common.cpp
Due: none

Add log message to get_version_information
  samples/vboxwrapper/vbox_vboxmanage.cpp
Due: none

[Windows] Fix client crash
  lib/win_util.cpp
Due: library

[CI] Update actions
  .github/workflows/all_projects_list_xml_update.yml
  .github/workflows/android.yml
  .github/workflows/flutter-ubuntu.yml
  .github/workflows/flutter-windows.yml
  .github/workflows/linux-package.yml
  .github/workflows/linux.yml
  .github/workflows/mingw.yml
  .github/workflows/osx.yml
  .github/workflows/snap.yml
  .github/workflows/test-report.yml
  .github/workflows/update_actions.yml
  .github/workflows/update_copyright_year.yml
  .github/workflows/wasm.yml
  .github/workflows/windows.yml
Due: none

Add function to remove child disk orphans
  samples/vboxwrapper/vbox_common.cpp
  samples/vboxwrapper/vbox_vboxmanage.cpp
  samples/vboxwrapper/vbox_vboxmanage.h
Due: none

[CI] fix build
  3rdParty/vcpkg_ports/ports/dbus/cmake.dep.patch
  3rdParty/vcpkg_ports/ports/dbus/getpeereid.patch
  3rdParty/vcpkg_ports/ports/dbus/libsystemd.patch
  3rdParty/vcpkg_ports/ports/dbus/pkgconfig.patch
  3rdParty/vcpkg_ports/ports/dbus/portfile.cmake
  3rdParty/vcpkg_ports/ports/dbus/vcpkg.json
Due: none

Avoid 'magic numbers'
  samples/vboxwrapper/vbox_vboxmanage.cpp
Due: none

Fix possible endless loop
  samples/vboxwrapper/vbox_vboxmanage.cpp
Due: none

[CI] Remove custom dbus vcpkg port that was fixed and updated on upstream
  3rdParty/vcpkg_ports/ports/dbus/cmake.dep.patch
  3rdParty/vcpkg_ports/ports/dbus/getpeereid.patch
  3rdParty/vcpkg_ports/ports/dbus/libsystemd.patch
  3rdParty/vcpkg_ports/ports/dbus/pkgconfig.patch
  3rdParty/vcpkg_ports/ports/dbus/portfile.cmake
  3rdParty/vcpkg_ports/ports/dbus/vcpkg.json
Due: none

[CI] Add linux packages for Fedora 40
  .github/workflows/linux-package.yml
  .github/workflows/rpmrepo/package_depends.sh
  .github/workflows/rpmrepo/package_filelist.sh
Due: none

[CI] Use XCode 14.3.1 to run MacOS flows
  .github/workflows/osx.yml
Due: none

[CI] Build linux packages for Ubuntu 24.04
  .github/workflows/debrepo/aptly.noble.conf
  .github/workflows/debrepo/package_depends.sh
  .github/workflows/linux-package.yml
Due: none

[CI] Replace unofficial PPA with the official snap package of aws cli
  snap/snapcraft.yaml
Due: none

More/Less text feature: make a version that returns string so you can use it in table_row() etc.
  html/inc/more.inc
Due: none

[CI] Update actions
  .github/workflows/all_projects_list_xml_update.yml
  .github/workflows/android.yml
  .github/workflows/coverity.yml
  .github/workflows/flutter-macos.yml
  .github/workflows/flutter-ubuntu.yml
  .github/workflows/flutter-windows.yml
  .github/workflows/linux-package.yml
  .github/workflows/linux.yml
  .github/workflows/mingw.yml
  .github/workflows/osx.yml
  .github/workflows/snap.yml
  .github/workflows/source-code-check.yml
  .github/workflows/test-report.yml
  .github/workflows/update_actions.yml
  .github/workflows/update_copyright_year.yml
  .github/workflows/wasm.yml
  .github/workflows/windows.yml
Due: none

limit lock_name size
  samples/vboxwrapper/vbox_vboxmanage.cpp
Due: none

remove trailing whitespace
  samples/vboxwrapper/vbox_vboxmanage.cpp
Due: none

In exporting of project's news as RSS (rss_main.php) we had a time limit of 90 days. Change this so there's no limit by default, and if you want a limit you can add e.g. ?ndays=90
  html/inc/forum_rss.inc
  html/user/rss_main.php
Due: none

Mac: screensaver fixes for MacOS 14
  clientscr/Mac_Saver_Module.h
  clientscr/Mac_Saver_ModuleView.h
  clientscr/Mac_Saver_ModuleView.m
  clientscr/gfx_cleanup.mm
  clientscr/gfx_switcher.cpp
  clientscr/mac_saver_module.cpp
  clientscr/screensaver.cpp
Due: none

Mac: Installer update for screensaver fixes for MacOS 14
  mac_installer/PostInstall.cpp
Due: none

Mac: graphics library changes to allow building project graphics apps compatible with MacOS 14 screensver
  api/graphics2_unix.cpp
  api/macglutfix.m
  api/x_opengl.h
Due: api

Mac: fix architecture overrides introduced in Xcode 15.3
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/AddRemoveUser.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/BOINC_Client.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/Build_All.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/Install_BOINC.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/PostInstall.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/ScreenSaver.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/SetUpSecurity.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/SetVersion.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/Uninstaller.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/api_libboinc.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/boinc_finish_install.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/boinc_opencl.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/cmd_boinc.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/detect_rosetta_cpu.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/gfx2libboinc.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/gfx_cleanup.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/gfx_switcher.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/jpeg.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/libboinc.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/mgr_boinc.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/setprojectgrp.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/ss_app.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/switcher.xcscheme
Due: none

Mac: check validity of malloc'd item before freeing
  clientscr/screensaver.cpp
Due: none

Add an opportunity to check if docker/docker compose is installed on BOINC-client and send the information to BOINC-server for correct schedulling
  client/client_state.cpp
  client/cs_statefile.cpp
  client/hostinfo_unix.cpp
  client/hostinfo_win.cpp
  client/hostinfo_wsl.cpp
  client/log_flags.cpp
  db/boinc_db_types.h
  lib/cc_config.cpp
  lib/cc_config.h
  lib/hostinfo.cpp
  lib/hostinfo.h
  sched/plan_class_spec.cpp
  sched/plan_class_spec.h
  sched/sched_customize.cpp
  sched/sched_types.cpp
Due: library, client, server

Mac: fix build error o n Windows
  clientscr/screensaver.cpp
Due: none

Mac: screensaver check release portion of library version number used to build graphics app Fix build error on Windows
  clientscr/Mac_Saver_Module.h
  clientscr/Mac_Saver_ModuleView.h
  clientscr/Mac_Saver_ModuleView.m
  clientscr/screensaver.cpp
Due: none

Mac screensaver: change minimum graphics library version number to 7.24.4 to use new logic
  clientscr/Mac_Saver_ModuleView.m
Due: none

Mac: Merge pull request #5611 from BOINC/MacOS14_SS_hotfix2
  api/graphics2_unix.cpp
  api/macglutfix.m
  api/x_opengl.h
  clientscr/Mac_Saver_Module.h
  clientscr/Mac_Saver_ModuleView.h
  clientscr/Mac_Saver_ModuleView.m
  clientscr/gfx_cleanup.mm
  clientscr/gfx_switcher.cpp
  clientscr/mac_saver_module.cpp
  clientscr/screensaver.cpp
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/AddRemoveUser.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/BOINC_Client.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/Build_All.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/Install_BOINC.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/PostInstall.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/ScreenSaver.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/SetUpSecurity.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/SetVersion.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/Uninstaller.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/api_libboinc.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/boinc_finish_install.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/boinc_opencl.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/cmd_boinc.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/detect_rosetta_cpu.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/gfx2libboinc.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/gfx_cleanup.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/gfx_switcher.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/jpeg.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/libboinc.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/mgr_boinc.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/setprojectgrp.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/ss_app.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/switcher.xcscheme
  mac_installer/PostInstall.cpp
Due: api

Merge pull request #5611 from BOINC/MacOS14_SS_hotfix2
  api/graphics2_unix.cpp
  api/macglutfix.m
  api/x_opengl.h
  clientscr/Mac_Saver_Module.h
  clientscr/Mac_Saver_ModuleView.h
  clientscr/Mac_Saver_ModuleView.m
  clientscr/gfx_cleanup.mm
  clientscr/gfx_switcher.cpp
  clientscr/mac_saver_module.cpp
  clientscr/screensaver.cpp
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/AddRemoveUser.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/BOINC_Client.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/Build_All.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/Install_BOINC.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/PostInstall.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/ScreenSaver.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/SetUpSecurity.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/SetVersion.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/Uninstaller.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/api_libboinc.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/boinc_finish_install.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/boinc_opencl.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/cmd_boinc.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/detect_rosetta_cpu.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/gfx2libboinc.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/gfx_cleanup.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/gfx_switcher.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/jpeg.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/libboinc.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/mgr_boinc.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/setprojectgrp.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/ss_app.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/switcher.xcscheme
  mac_installer/PostInstall.cpp
Due: api

Set version to 7.24.4
  configure.ac
  version.h
  version.log
Due: none
