Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

.codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    after_n_builds: 3
    wait_for_ci: yes
  token: ${{ secrets.CODECOV_TOKEN }}

coverage:
  status:
    project: off
    patch:
      default:
        threshold: 0.01

comment:
  layout: "diff, files"
  behavior: default
  require_changes: yes    # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]
  branches:
    - master
  after_n_builds: 3

flags:
  # filter the folder(s) you wish to measure by that flag
  api:
    paths:
      - api/
  library:
    paths:
      - lib/
  client:
    paths:
      - client/
      - clientgui/
  server:
    paths:
      - sched/
      - db/
      - tools/
  android:
    paths:
      - android/BOINC/app/src/main/java/edu/berkeley/boinc

# don't gather statistics for test and external libraries
ignore:
  - tests/.*
  - zip/.*
  - 3rdParty/.*

boinc_submit.py: fix bug that messed up RPC replies
  lib/boinc_submit.py
  tools/boinc_submit_test.py
Due: library, server

code formatting per scrutinizer
  html/user/job_file.php
Due: none

[tests] integrate server tests from the separate repository
  .github/workflows/linux.yml
  tests/integration_test/executeTestSuite.sh
  tests/integration_test/installTestSuite.sh
Due: none

Move to use https://github.com/BOINC/boinc-server-docker.git
  tests/integration_test/executeTestSuite.sh
  tests/integration_test/installTestSuite.sh
  tests/server-test/README.md
  tests/server-test/manage/build.yml
  tests/server-test/manage/config/boinc-server-docker-expose-mysql.yml
  tests/server-test/manage/docker_fix.patch
  tests/server-test/manage/roles/clone-boinc-server-docker/tasks/clone_boinc_server_docker.yml
  tests/server-test/manage/roles/clone-boinc-server-docker/tasks/setup_boinc.yml
  tests/server-test/manage/start.yml
  tests/server-test/manage/stop_and_remove.yml
  tests/server-test/setup.sh
Due: none

Fix scripts
  .scrutinizer.yml
  tests/integration_test/executeTestSuite.sh
  tests/integration_test/installTestSuite.sh
  tests/server-test/manage/roles/clone-boinc-server-docker/tasks/clone_boinc_server_docker.yml
  tests/server-test/tests/composer.json
Due: none

[ci] configure phpunit to produce and report code coverage
  .codecov.yml
  .github/workflows/linux.yml
  tests/server-test/tests/phpunit.xml
Due: none

[ci] upload snap to snapstore
  .github/workflows/snap.yml
Due: none

refactor wxFont constructor
  clientgui/AccountInfoPage.cpp
  clientgui/AccountManagerInfoPage.cpp
  clientgui/AccountManagerProcessingPage.cpp
  clientgui/AccountManagerPropertiesPage.cpp
  clientgui/AlreadyExistsPage.cpp
  clientgui/CompletionErrorPage.cpp
  clientgui/CompletionPage.cpp
  clientgui/DlgAbout.cpp
  clientgui/NoInternetConnectionPage.cpp
  clientgui/NotDetectedPage.cpp
  clientgui/NotFoundPage.cpp
  clientgui/ProjectInfoPage.cpp
  clientgui/ProjectProcessingPage.cpp
  clientgui/ProjectPropertiesPage.cpp
  clientgui/ProjectWelcomePage.cpp
  clientgui/ProxyInfoPage.cpp
  clientgui/ProxyPage.cpp
  clientgui/TermsOfUsePage.cpp
  clientgui/UnavailablePage.cpp
Due: client

[linux] create default password in gui_rpc_auth.cfg file
  .github/workflows/linux-package.yml
  packages/deb/postinst
Due: none

refactor wxPen and wxBrush styles
  clientgui/BOINCListCtrl.cpp
  clientgui/ViewStatistics.cpp
  clientgui/mac/MacBitmapComboBox.cpp
  clientgui/sg_BoincSimpleFrame.cpp
  clientgui/sg_PanelBase.cpp
  clientgui/sg_TaskPanel.cpp
Due: client

[ci] update actions. Switch from 'snapcore/action-publish' to 'canonical/action-publish'
  .github/workflows/android.yml
  .github/workflows/coverity.yml
  .github/workflows/linux-package-stable-release.yml
  .github/workflows/linux-package.yml
  .github/workflows/linux.yml
  .github/workflows/mingw.yml
  .github/workflows/osx.yml
  .github/workflows/snap.yml
  .github/workflows/update_actions.yml
  .github/workflows/wasm.yml
  .github/workflows/windows.yml
  ci_tools/update_actions.py
Due: none

style: change tabs to spaces, spelling
  clientgui/BOINCListCtrl.cpp
  clientgui/mac/MacBitmapComboBox.cpp
  clientgui/sg_BoincSimpleFrame.cpp
  clientgui/sg_TaskPanel.cpp
Due: client

[ci] simplify snap artifacts upload
  .github/workflows/snap.yml
  deploy/prepare_deployment.py
Due: none

[ci] simplify android artifacts upload
  .github/workflows/android.yml
  deploy/prepare_deployment.py
Due: none

Fix deprecated warning about wxTimerEvent::wxTimerEvent()
  clientgui/AdvancedFrame.cpp
  clientgui/BOINCBaseView.cpp
  clientgui/BOINCBaseView.h
  clientgui/ViewNotices.h
  clientgui/ViewResources.cpp
  clientgui/ViewResources.h
  clientgui/ViewStatistics.cpp
  clientgui/ViewStatistics.h
Due: client

Fix deprecated warning about wxTimerEvent::wxTimerEvent()
  clientgui/ViewNotices.cpp
Due: client

merge the MRU computers list when saving
  clientgui/BOINCBaseFrame.cpp
Due: client

improve vboxwrapper network setup
  samples/vboxwrapper/vbox_vboxmanage.cpp
  samples/vboxwrapper/vboxjob.cpp
  samples/vboxwrapper/vboxjob.h
Due: none

Update graphics controller logging
  samples/vboxwrapper/vbox_vboxmanage.cpp
Due: none

Fix logic
  clientgui/BOINCBaseFrame.cpp
Due: client

Mac: Fix drawing of simple view buttons
  clientgui/sg_CustomControls.cpp
Due: client

Mac_SA_Secure.sh utility: fix PrimaryGroupID for users boinc_master, boinc_project
  mac_build/Mac_SA_Secure.sh
Due: none

Mac: Limit change for drawing of simple view buttons to Mac only
  clientgui/sg_CustomControls.cpp
Due: client

improvements to spam deletion script
  html/inc/forum_db.inc
  html/ops/delete_spammers.php
Due: none

web: clarify 'banishment'
  html/inc/forum.inc
  html/inc/profile.inc
  html/inc/user.inc
  html/user/forum_forum.php
  html/user/forum_search_action.php
  html/user/forum_user_posts.php
  html/user/pm.php
Due: none

setup vbox profile location
  samples/vboxwrapper/vbox_vboxmanage.cpp
Due: none

html/inc/boinc_db.inc: fix $dbnum comparison in BoicDB::get()
  html/inc/boinc_db.inc
Due: none

Remove no longer used variable
  clientgui/BOINCBaseFrame.cpp
Due: client

Safer race condition handling and deduplicate the exiting computers list
  clientgui/BOINCBaseFrame.cpp
Due: client

style: change tabs to spaces, other miscellaneous formatting
  clientgui/ViewStatistics.cpp
Due: client

Mac_SA_Secure.sh utility: fix PrimaryGroupID for users boinc_master, boinc_project
  clientgui/mac/SetupSecurity.cpp
Due: client

Fix trailing whitespace
  clientgui/mac/SetupSecurity.cpp
Due: client

remove obsolete function launch_vboxsvc()
  samples/vboxwrapper/vbox_common.cpp
  samples/vboxwrapper/vbox_common.h
  samples/vboxwrapper/vbox_vboxmanage.cpp
Due: none

remove temporary debug message
  samples/vboxwrapper/vbox_vboxmanage.cpp
Due: none

[coverity] don't send messages to the boinc_cvs group
  .github/workflows/coverity.yml
Due: none

fix wrong default directory
  samples/vboxwrapper/vbox_vboxmanage.cpp
Due: none
