Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

Merge pull request #5644 from AenBleidd/vko_update_cuda_libs_to_12.5.0_for_windows
  win_build/vcpkg_3rdparty_dependencies.vcxproj
Due: none

Merge pull request #5647 from AenBleidd/vko_add_opensuse_15.6_linux_package
  .github/workflows/linux-package.yml
  .github/workflows/rpmrepo/package_depends.sh
  .github/workflows/rpmrepo/package_filelist.sh
Due: none

Merge pull request #5648 from AenBleidd/vko_linux_package_test_upgrade_of_fedora_40_from_alpha
  .github/workflows/linux-package.yml
Due: none

Merge pull request #5649 from AenBleidd/vko_add_linux_package_release_script
  .github/workflows/debrepo/repo_update.sh
  .github/workflows/linux-package-stable-release.yml
  .github/workflows/rpmrepo/repo_update.sh
Due: none

Merge pull request #5650 from AenBleidd/vko_add_missed_create_folder_command
  .github/workflows/rpmrepo/repo_update.sh
Due: none

Merge pull request #5651 from AenBleidd/vko_fix_rpmrepo_script
  .github/workflows/debrepo/repo_update.sh
  .github/workflows/rpmrepo/repo_update.sh
Due: none

Merge pull request #5652 from AenBleidd/vko_fix_rpmrepo_script
  .github/workflows/rpmrepo/repo_update.sh
Due: none

Merge pull request #5653 from AenBleidd/vko_fix_rpmrepo_script
  .github/workflows/debrepo/repo_update.sh
  .github/workflows/rpmrepo/repo_update.sh
Due: none

Merge pull request #5654 from AenBleidd/vko_fix_rpmrepo_script
  .github/workflows/rpmrepo/repo_update.sh
Due: none

Merge pull request #5656 from AenBleidd/vko_fix_apps_release_builds
  .github/workflows/linux.yml
  remove-pkg-config.patch
Due: none

update version to 8.0.3
  configure.ac
  snap/snapcraft.yaml
  version.h
  version.log
  win_build/installerv2/BOINCx64.ism
  win_build/installerv2/BOINCx64_vbox.ism
Due: none

vboxwrapper: don't create projects/virtualbox
  samples/vboxwrapper/vbox_vboxmanage.cpp
Due: none

[ci] test linux packages upgrade from the stable channel
  .github/workflows/linux-package.yml
Due: none

[server] fix memcache functionality
  html/inc/cache.inc
Due: none

[server] fix example of using 'MEMCACHE_SERVERS' setting
  html/project.sample/project.inc
Due: none

Update hostinfo_win.cpp
  client/hostinfo_win.cpp
Due: client

[ci] update actions
  .github/workflows/all_projects_list_xml_update.yml
  .github/workflows/android.yml
  .github/workflows/coverity.yml
  .github/workflows/flutter-macos.yml
  .github/workflows/flutter-ubuntu.yml
  .github/workflows/flutter-windows.yml
  .github/workflows/linux-package-stable-release.yml
  .github/workflows/linux-package.yml
  .github/workflows/linux.yml
  .github/workflows/mingw.yml
  .github/workflows/osx.yml
  .github/workflows/snap.yml
  .github/workflows/source-code-check.yml
  .github/workflows/test-report.yml
  .github/workflows/update_actions.yml
  .github/workflows/update_copyright_year.yml
  .github/workflows/wasm.yml
  .github/workflows/windows.yml
Due: none

Web: apply max messages per page preference to private messages too.
  html/user/pm.php
Due: none

Add improved Python binding for job/file RPCs; fix comments in handler
  html/user/job_file.php
  lib/boinc_submit.py
Due: library

Remote job submission: add 'sandbox' as an input file mode
  html/inc/bootstrap.inc
  html/inc/sandbox.inc
  html/user/submit_rpc_handler.php
  lib/boinc_submit.py
Due: library

remote job submission: create_batch(): generate batch name if not supplied Finish query_completed_job()
  html/user/forum_user_posts.php
  html/user/submit_rpc_handler.php
  lib/boinc_submit.py
  lib/submit_api.py
Due: library

scheduler/client: add notion of 'strict memory bound' projects
  client/cpu_sched.cpp
  client/project.cpp
  client/project.h
  client/scheduler_op.cpp
  sched/sched_config.cpp
  sched/sched_config.h
  sched/sched_types.cpp
Due: client, server

client: add some error checking for --app_test, and improve comments
  client/app_test.cpp
  client/cs_cmdline.cpp
Due: client

client: fix terminology
  client/client_state.cpp
  client/cs_prefs.cpp
Due: client

[ci] Add boinccas.dll to the uploaded artifacts
  .github/workflows/windows.yml
  deploy/prepare_deployment.py
Due: none

[ci] fix
  .github/workflows/linux.yml
Due: none

web: increase size of Subject field in message board create/edit form
  html/user/forum_edit.php
Due: none

client: don't put HTML in event log messages
  client/client_msgs.cpp
  client/current_version.cpp
Due: client

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

[ci] update actions
  .github/workflows/android.yml
  .github/workflows/flutter-ubuntu.yml
  .github/workflows/flutter-windows.yml
  .github/workflows/linux-package-stable-release.yml
  .github/workflows/linux-package.yml
  .github/workflows/linux.yml
  .github/workflows/mingw.yml
  .github/workflows/osx.yml
  .github/workflows/snap.yml
  .github/workflows/test-report.yml
  .github/workflows/wasm.yml
  .github/workflows/windows.yml
Due: none

Updated Android download instructions
  drupal/sites/default/boinc/modules/boincuser/boincuser.module
Due: none

[Manager] Make DlgGenericMessage dialog more generic.
  clientgui/AdvancedFrame.cpp
  clientgui/DlgGenericMessage.cpp
  clientgui/DlgGenericMessage.h
Due: client

[Manager] Add possibility to navigate to the download page when the new version of BOINC is available.
  clientgui/MainDocument.cpp
Due: client

[Manager] Add possibility to hide 'Another instance of BOINC Manager is already running' message
  clientgui/BOINCGUIApp.cpp
  clientgui/BOINCGUIApp.h
Due: client

WIP: relax XML parser to allow preferences following venue(s)
  lib/prefs.cpp
Due: library

web: make buttons more legible
  html/inc/bootstrap.inc
  html/inc/email.inc
  html/inc/pm.inc
  html/inc/prefs.inc
  html/inc/team.inc
  html/inc/user.inc
  html/inc/util.inc
  html/user/forum_forum.php
  html/user/forum_reply.php
  html/user/forum_search.php
  html/user/host_venue_action.php
  html/user/profile_menu.php
  html/user/sample_index.php
  html/user/team_admins.php
  html/user/team_change_founder_form.php
  html/user/user_search.php
Due: none

web: use the SHOW_USER_PAGE constant instead of 'show_user.php'
  html/inc/user.inc
  html/inc/util.inc
  html/user/show_coproc.php
  html/user/view_profile.php
Due: none

web: make things work with PHP 8.2
  html/inc/boinc_db.inc
Due: none

sched/db_purge: if a result fails to be deleted, don't purge this workunit
  sched/db_purge.cpp
Due: server

Path conditions:
  api: any of: api/, but not: tests/.*, zip/.*, 3rdParty/.*
  library: any of: lib/, but not: tests/.*, zip/.*, 3rdParty/.*
  client: any of: client/, clientgui/, but not: tests/.*, zip/.*, 3rdParty/.*
  server: any of: sched/, db/, tools/, but not: tests/.*, zip/.*, 3rdParty/.*
  android: any of: android/BOINC/app/src/main/java/edu/berkeley/boinc, but not: tests/.*, zip/.*, 3rdParty/.*
