Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

Merge pull request #6328 from BOINC/vko_update_actions
  .github/workflows/android.yml
  .github/workflows/linux.yml
  .github/workflows/test-report.yml
  .github/workflows/windows.yml
Due: none

Merge pull request #6339 from BOINC/dpa_resource_usage
  client/app_config.cpp
  client/client_state.cpp
  client/client_state.h
Due: client

Merge pull request #6346 from BOINC/all_projects_list_xml_update
  win_build/installerv2/redist/all_projects_list.xml
Due: none

Merge pull request #6374 from BOINC/dpa_wsl8
  lib/wslinfo.cpp
Due: library

set client version to 8.2.3
  android/BOINC/app/build.gradle
  configure.ac
  installer/boinc.json
  snap/gui/boinc.desktop
  snap/snapcraft.yaml
  version.h
Due: none

Add script to prepare release build artifacts for upload
  .github/workflows/update_actions.yml
  release_tools/prepare_release_artifacts.py
  release_tools/set-client-version.py
  release_tools/set-dockerwrapper-version.py
  release_tools/set-vboxwrapper-version.py
  release_tools/set-worker-version.py
  release_tools/set-wrapper-version.py
Due: none

Merge pull request #6311 from BOINC/dpa_docker18
  client/check_security.cpp
  client/file_names.h
  client/hostinfo_unix.cpp
  clientgui/mac/SetupSecurity.cpp
  lib/hostinfo.cpp
  lib/hostinfo.h
  lib/util.cpp
  mac_build/Finish_Install-Info.plist
  mac_build/Mac_SA_Secure.sh
Due: library, client

set client version to 8.2.4
  android/BOINC/app/build.gradle
  configure.ac
  installer/boinc.json
  snap/gui/boinc.desktop
  snap/snapcraft.yaml
  version.h
Due: none

[ci][linux] update alpha version to 8.2.4 to test fedora linux packages
  .github/workflows/linux-package.yml
Due: none

web: add initial support for forms defined by JSON files
  html/inc/json_form.inc
  html/user/form.json
  html/user/json_form.php
  html/user/json_form_handler.php
Due: none

*info.plist files in mac_build directory must NEVER be in GIT repositroy. They are generated automatically by Xcode scripts when building BOINC.
  mac_build/Finish_Install-Info.plist
Due: none

typo
  html/inc/json_form.inc
Due: none

copilot stuff
  html/user/json_form.php
  html/user/json_form_handler.php
Due: none

remove unused files
  html/project.sample/donations.inc
  html/user/project_specific_prefs.inc.sample
Due: none

web: fix recaptcha problem in team creation
  html/inc/team.inc
Due: none

Update gradle to 8.12
  android/BOINC/app/build.gradle
  android/BOINC/gradle/wrapper/gradle-wrapper.jar
  android/BOINC/gradle/wrapper/gradle-wrapper.properties
  android/BOINC/gradlew
  android/BOINC/gradlew.bat
Due: none

[android] Convert several Java file to Kotlin:
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/BatchConflictListActivity.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/CredentialInputActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/CredentialInputActivity.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/IndividualCredentialInputFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/IndividualCredentialInputFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/ManualUrlInputFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/ManualUrlInputFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ui/eventlog/EventLogActivity.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ui/eventlog/EventLogGuiFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ui/eventlog/EventLogGuiFragment.kt
Due: android

web: fix a couple of PHP warnings
  html/user/forum_forum.php
  html/user/weak_auth.php
Due: none

feeder: default order is by priority, then by increasing WU create time
  sched/feeder.cpp
Due: server

web: show amount of computing in batch job list
  html/user/site_search.php
  html/user/submit.php
Due: none

sample assimilator: rename rather than copy output files
  sched/sample_assimilator.cpp
Due: server

wsl_wrapper: when job is done, copy its output to (wrapper's) stderr
  samples/wsl_wrapper/wsl_wrapper.cpp
Due: none

wsl_wrapper: always echo launch reply
  samples/wsl_wrapper/wsl_wrapper.cpp
  version.h
Due: none

edit
  samples/wsl_wrapper/wsl_wrapper.cpp
Due: none

[andrpoid] convert last files from java to kotlin.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientInterfaceImplementation.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientInterfaceImplementation.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientNotification.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientStatus.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientStatus.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/DeviceStatus.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/DeviceStatus.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/RPCCommonTags.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/BOINCDefs.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/BOINCErrors.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/BOINCUtils.kt
  android/BOINC/app/src/main/res/values-en/strings.xml
  android/BOINC/app/src/main/res/values/strings.xml
  android/BOINC/app/src/test/java/edu/berkeley/boinc/client/ClientNotificationTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/client/MonitorTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/client/NoticeNotificationTest.kt
Due: android

pass args in WSL wrapper
  samples/wsl_wrapper/wsl_wrapper.cpp
Due: none

docker_wrapper: move error check (no functional change)
  samples/docker_wrapper/docker_wrapper.cpp
  samples/wsl_wrapper/main.sh
  samples/wsl_wrapper/wsl_wrapper.cpp
  tools/process_input_template.cpp
  tools/submit_job
  version.h
Due: server

Win build fixes
  samples/wsl_wrapper/wsl_wrapper.cpp
Due: none

Fix wsl_wrapper_version in VS project
  win_build/wsl_wrapper.vcxproj
Due: none

Add set-wslwrapper-version.py script
  release_tools/set-wslwrapper-version.py
Due: none

Mac: Fix path to Podman app
  lib/hostinfo.cpp
Due: library

Remove BOLT (https://github.com/davidpanderson/bolt) related file
  bolt_checkin_notes.txt
Due: none

update linux Makefiles
  client/Makefile.linux
  lib/Makefile.linux
Due: library, client

[windows][installer] add additional logging during MSI preparation for execution
  installer/installer_setup/main.cpp
Due: none

client: don't count potential Docker CPU as non-BOINC
  lib/procinfo.cpp
  lib/procinfo_unix.cpp
Due: library

debug
  lib/procinfo.cpp
Due: library

client (non-Win): get CPU time of Docker apps from the apps themselves, rather than by trying to figure out which processes are Docker apps
  client/app.cpp
  client/client_types.cpp
  client/client_types.h
  lib/procinfo.cpp
Due: library, client

client: run benchmarks on startup if new install or upgrade
  client/client_state.cpp
  client/cs_benchmark.cpp
  client/cs_statefile.cpp
  lib/Makefile.linux
Due: library, client

Fix trailing whitespaces
  lib/procinfo.cpp
  lib/procinfo_unix.cpp
Due: library

BUDA enhancements
  html/user/buda.php
  html/user/submit.php
  samples/docker_wrapper/docker_wrapper.cpp
  tools/create_work.cpp
Due: server

Path conditions:
  api: any of: api/, but not: tests/.*, zip/.*, 3rdParty/.*
  library: any of: lib/, but not: tests/.*, zip/.*, 3rdParty/.*
  client: any of: client/, clientgui/, but not: tests/.*, zip/.*, 3rdParty/.*
  server: any of: sched/, db/, tools/, but not: tests/.*, zip/.*, 3rdParty/.*
  android: any of: android/BOINC/app/src/main/java/edu/berkeley/boinc, but not: tests/.*, zip/.*, 3rdParty/.*
