Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

[ci] update actions
  .github/workflows/android.yml
Due: none

Add StartupWMClass to desktop file
  clientgui/res/boinc.desktop
Due: client

upgrade script: make it work when stop_web present
  html/inc/boinc_db.inc
  html/ops/db_update.php
Due: none

PHP command-line scripts; use BoincDb::get_cli()
  html/ops/autolock.php
  html/ops/delete_spammers.php
  html/ops/errorwus.php
  html/ops/notify.php
  html/ops/pass_percentage_by_appversion.php
  html/ops/pass_percentage_by_platform.php
  html/ops/purge_trickles.php
  html/ops/repair_forums.php
  html/ops/repair_profile_pictures.php
  html/ops/single_job_setup.php
  html/ops/size_census.php
  html/ops/submit_init_priority.php
Due: none

Manager: dark mode Notices background should not be completely black
  clientgui/NoticeListCtrl.cpp
Due: client

AI fixes
  html/ops/db_update.php
  html/ops/delete_spammers.php
  html/ops/notify.php
  html/ops/size_census.php
  html/ops/submit_init_priority.php
Due: none

manager: dark mode fix
  clientgui/NoticeListCtrl.cpp
Due: client

web: improve forum wording
  html/user/forum_banishment_vote.php
  html/user/forum_moderate_post.php
Due: none

Update Gradle to 9.5.1 and AGP to 9.3.1
  android/BOINC/app/build.gradle
  android/BOINC/app/src/main/java/edu/berkeley/boinc/SettingsFragment.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/SettingsFragmentTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/client/MonitorTest.kt
  android/BOINC/build.gradle
  android/BOINC/gradle.properties
  android/BOINC/gradle/wrapper/gradle-wrapper.jar
  android/BOINC/gradle/wrapper/gradle-wrapper.properties
  android/BOINC/gradlew
  android/BOINC/gradlew.bat
  android/BOINC/settings.gradle
  android/BOINC/versions.properties
Due: android

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

[ci] update actions
  .github/workflows/all_projects_list_xml_update.yml
  .github/workflows/android.yml
  .github/workflows/check_custom_vcpkg_ports.yml
  .github/workflows/guix_get_release_hash.yml
  .github/workflows/linux-package-stable-release.yml
  .github/workflows/linux-package.yml
  .github/workflows/linux-release.yml
  .github/workflows/linux.yml
  .github/workflows/mingw.yml
  .github/workflows/osx-cmake.yml
  .github/workflows/osx.yml
  .github/workflows/snap.yml
  .github/workflows/source-code-check.yml
  .github/workflows/test-report.yml
  .github/workflows/update_actions.yml
  .github/workflows/update_copyright_year.yml
  .github/workflows/vcpkg_test.yml
  .github/workflows/windows-cmake.yml
  .github/workflows/windows.yml
Due: none

Update README.md: make AI usage policy more visible
  README.md
Due: none

client: estimate swap usage of unstarted jobs from the same app version
  client/client_types.cpp
  client/client_types.h
  client/cpu_sched.cpp
Due: client

lib: drop dead store in GLOBAL_PREFS::defaults()
  lib/prefs.cpp
Due: library

lib: don't count a process twice in procinfo_app()
  lib/procinfo.cpp
Due: library

client: don't refuse a job that uses no swap
  client/cpu_sched.cpp
Due: client

client: make CUDA GPU detection work if deprecated API function is removed
  client/gpu_nvidia.cpp
Due: client

client: if we find an NVIDIA GPU via OpenCL and not CUDA, set its compute capability in the CUDA_DEVICE_PROP
  client/gpu_opencl.cpp
Due: client

client: hand jobs killed by enforcement to the revive logic
  client/cpu_sched.cpp
Due: client

client: don't kill a job that can't help
  client/app.h
  client/cpu_sched.cpp
Due: client

client: keep the swap limit out of scheduling
  client/app.cpp
  client/app.h
  client/client_state.h
  client/cpu_sched.cpp
Due: client

client: error-check CUDA calls
  client/gpu_nvidia.cpp
Due: client

remove ifdef'd code
  client/gpu_nvidia.cpp
Due: client

Android: link 64-bit binaries with 16 KB page alignment
  android/build_boinc_arm64.sh
  android/build_boinc_x86_64.sh
  android/build_example_arm64.sh
  android/build_example_x86_64.sh
  android/build_libraries_arm64.sh
  android/build_libraries_x86_64.sh
Due: none

Migrate Android build scripts from Groovy to Kotlin DSL
  android/BOINC/app/build.gradle
  android/BOINC/app/build.gradle.kts
  android/BOINC/app/lint.xml
  android/BOINC/build.gradle
  android/BOINC/build.gradle.kts
  android/BOINC/settings.gradle
  android/BOINC/settings.gradle.kts
Due: none

client: optionally write RPC times to stdout
  client/gui_rpc_server_ops.cpp
Due: client

manager: Print all RPC requests and completions plus Communicating dialog info
  clientgui/AsyncRPC.cpp
Due: client

Manager: change suggested by Cubic
  clientgui/AsyncRPC.cpp
Due: client

Manager: Fix duplicated output
  clientgui/AsyncRPC.cpp
Due: client

Manager: Add PRINT_ONLY_DEMAND_RPC_INFO option to allow logging only Demand RPCs
  clientgui/AsyncRPC.cpp
Due: client

base64.h: Fix missing <string> on Windows.
  lib/base64.h
Due: library

Replaced get_config() with project_config_object() (Issue #7202)
  html/user/forum_banishment_vote.php
  html/user/forum_banishment_vote_action.php
Due: none

web: fix banishment voting
  html/inc/forum_banishment_vote.inc
  html/user/forum_banishment_vote.php
  html/user/forum_banishment_vote_action.php
Due: none

restore tra()s
  html/user/forum_banishment_vote.php
  html/user/forum_banishment_vote_action.php
Due: none

[ci] update actions
  .github/workflows/linux.yml
Due: none

Path conditions:
  api: any of: api/, but not: tests/.*, zip/.*, 3rdParty/.*
  library: any of: lib/, but not: tests/.*, zip/.*, 3rdParty/.*
  client: any of: client/, clientgui/, but not: tests/.*, zip/.*, 3rdParty/.*
  server: any of: sched/, db/, tools/, but not: tests/.*, zip/.*, 3rdParty/.*
  android: any of: android/BOINC/app/src/main/java/edu/berkeley/boinc, but not: tests/.*, zip/.*, 3rdParty/.*
