Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

docker_wrapper: add 'verbose', 'build_args', and 'create_args' to job.toml
  lib/util.cpp
  samples/docker_wrapper/docker_wrapper.cpp
Due: library

web: job submission improvements
  html/user/submit.php
Due: none

docker_wrapper: improve error output
  lib/win_util.cpp
  samples/docker_wrapper/docker_wrapper.cpp
Due: library

[ci] update actions
  .github/workflows/test-report.yml
Due: none

Fixes for issue #6160
  html/ops/failure_result_summary_by_host.php
  html/ops/failure_result_summary_by_platform.php
  html/ops/pass_percentage_by_platform.php
Due: none

docker wrapper: add a couple of printfs. No functional change.
  lib/util.cpp
  samples/docker_wrapper/docker_wrapper.cpp
Due: library

web: fix XSS vulnerability in submit RPC handler
  html/user/openid_login.php
  html/user/submit_rpc_handler.php
Due: none

client (Win): show Docker detection details
  client/hostinfo_wsl.cpp
Due: client

msg tweaks
  client/hostinfo_wsl.cpp
Due: client

web (ops): fix DB queries
  html/ops/failure_result_summary_by_host.php
  html/ops/failure_result_summary_by_platform.php
  html/ops/pass_percentage_by_platform.php
Due: none

fix_compiler_warnings
  samples/docker_wrapper/docker_wrapper.cpp
  samples/docker_wrapper/toml.h
Due: none

Undo changes in toml.h
  samples/docker_wrapper/toml.h
Due: none

[linux] add boinc user to the 'docker' group if it's present
  .github/workflows/linux-package.yml
  packages/deb/postinst
Due: none

Web: if send a PM to banished user, say they can't reply immediately
  html/inc/pm.inc
Due: none

docker_wrapper: increase cmd timeout and relax version parsing
  lib/hostinfo.cpp
  lib/util.h
Due: library

fix popen() error check bug (set errno=0 first)
  lib/util.cpp
Due: library

Win build fix, and add comment about timeout
  lib/util.cpp
  lib/util.h
Due: library

Remove trailing whitespace
  lib/util.h
Due: library

[installer][windows] fix service install
  installer/FileTable.cpp
  installer/boinc.json
  tests/msi_validation.py
  tests/windows_installer_integration_tests.py
Due: none

[installer] uncomment verification test
  tests/msi_validation.py
Due: none

[windows] fix issue with the message being misleading when showing information about the failed gpu detection
  client/gpu_detect.cpp
Due: client

client: strip leading www. from master URLs
  lib/url.cpp
  sched/handle_request.cpp
Due: library, server

client: when comparing URLs (e.g. from acct mgr) ignore leading www.
  client/client_state.cpp
  lib/url.cpp
Due: library, client

client: debug www. fix
  client/client_state.cpp
Due: client

web: add debugging code for [code]/[pre] expansion problem
  html/inc/text_transform.inc
Due: none

client (Linux): check for podman only if BOINC data dir is not remote
  client/hostinfo_linux.cpp
  client/hostinfo_unix.cpp
  lib/hostinfo.h
Due: library, client

scheduler: add docker info to host.serialnum
  sched/handle_request.cpp
Due: server

Mac installer, uninstaller: Whenever we can: use login item launchagent , avoid scary alert from System Events
  mac_installer/PostInstall.cpp
  mac_installer/finish_install.cpp
  mac_installer/uninstall.cpp
Due: none

client (Linux): parse podman version if using podman-docker
  client/hostinfo_unix.cpp
Due: client

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

[ci] update actions
  .github/workflows/android.yml
  .github/workflows/coverity.yml
  .github/workflows/linux-package-stable-release.yml
  .github/workflows/linux-package.yml
  .github/workflows/linux.yml
  .github/workflows/mingw.yml
  .github/workflows/osx.yml
  .github/workflows/snap.yml
  .github/workflows/test-report.yml
  .github/workflows/update_actions.yml
  .github/workflows/wasm.yml
  .github/workflows/windows.yml
Due: none

client: fix bug that caused anonymous platform apps to have ncpus=0
  client/client_state.cpp
Due: client

Mac installer, uninstaller: Whenever we can: use login item launchagent , avoid scary alert from System Events
  clientgui/BOINCGUIApp.cpp
  clientgui/BOINCGUIApp.h
  mac_installer/PostInstall.cpp
  mac_installer/finish_install.cpp
  mac_installer/uninstall.cpp
Due: client

Fix trailing whitespace
  mac_installer/finish_install.cpp
Due: none

Fix trailing whitespace
  clientgui/BOINCGUIApp.cpp
  clientgui/BOINCGUIApp.h
Due: client

[vboxwrapper] increase version to 26210
  configure.ac
  version.h
  win_build/vboxwrapper.vcxproj
Due: none

[vboxwrapper] increase development version to 26211
  configure.ac
  version.h
  win_build/vboxwrapper.vcxproj
Due: none

Removed newline from print logs
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

[docker_wrapper] add version to the filename
  configure.ac
  deploy/prepare_deployment.py
  samples/Makefile.am
  samples/docker_wrapper/Makefile
  set-dockerwrapper-version.py
  version.h
  version.h.in
  win_build/docker_wrapper.vcxproj
  win_build/htmlgfx.vcxproj
  win_build/vboxwrapper.vcxproj
  win_build/worker.vcxproj
  win_build/wrapper.vcxproj
Due: none

Path conditions:
  api: any of: api/, but not: tests/.*, zip/.*, 3rdParty/.*
  library: any of: lib/, but not: tests/.*, zip/.*, 3rdParty/.*
  client: any of: client/, clientgui/, but not: tests/.*, zip/.*, 3rdParty/.*
  server: any of: sched/, db/, tools/, but not: tests/.*, zip/.*, 3rdParty/.*
  android: any of: android/BOINC/app/src/main/java/edu/berkeley/boinc, but not: tests/.*, zip/.*, 3rdParty/.*
