Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

Mac: Fix typo in comment
  clientgui/mac/BOINCGUIApp.mm
Due: client

scheduler: fix bug where Apple GPUs appear twice on web (cosmetic issue)
  lib/coproc.cpp
Due: library

Client/Manager Release 8.2.7
  android/BOINC/app/build.gradle
  configure.ac
  installer/include/Property.json
  snap/gui/boinc.desktop
  snap/snapcraft.yaml
  version.h
Due: none

[docker_wrapper] set version to 15
  configure.ac
  version.h
  win_build/docker_wrapper.vcxproj
Due: none

Server: change the way miscellaneous host info is stored in DB
  db/boinc_db.cpp
  db/boinc_db_types.h
  db/schema.sql
  html/inc/db_ops.inc
  html/inc/host.inc
  html/ops/db_update.php
  html/ops/hostinfo.php
  html/ops/nvidia.php
  html/user/brand_stats.php
  html/user/cpu_list.php
  html/user/gpu_list.php
  html/user/host_stats.php
  lib/coproc.cpp
  lib/coproc.h
  lib/hostinfo.cpp
  lib/hostinfo.h
  lib/str_util.cpp
  lib/str_util.h
  sched/Makefile.am
  sched/Makefile.linux
  sched/db_dump.cpp
  sched/handle_request.cpp
  sched/plan_class_spec.cpp
  sched/plan_class_spec.h
  sched/sched_host.cpp
  sched/sched_host.h
Due: library, server

Copilot fixes
  db/boinc_db.cpp
  html/inc/host.inc
  html/user/gpu_list.php
  sched/handle_request.cpp
  sched/sched_host.cpp
Due: server

Add Dark Mode support for Windows
  clientgui/BOINCGUIApp.cpp
  clientgui/BOINCGUIApp.h
  clientgui/BOINCListCtrl.cpp
  clientgui/NoticeListCtrl.cpp
  clientgui/ViewResources.cpp
  clientgui/ViewResources.h
  clientgui/ViewStatistics.cpp
  clientgui/common/wxPieCtrl.cpp
  clientgui/common/wxPieCtrl.h
Due: client

[client] don't check on android for installed vbox and docker.
  client/hostinfo_unix.cpp
Due: client

Remove test of the removed function
  tests/unit-tests/lib/test_str_util.cpp
Due: none

Debug
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/Logging.kt
Due: android

[client] on android querying of /proc/stat is forbidden
  client/app.cpp
Due: client

Debug
  client/cs_prefs.cpp
  client/gui_rpc_server_ops.cpp
Due: client

Debug
  client/cs_prefs.cpp
Due: client

Debug
  client/client_state.cpp
Due: client

[client] fix android issue when the client was requested to exit immediately after start that lead to the Android GUI appllication to stuck on the splash screen
  client/client_state.cpp
Due: client

web: copilot fixes
  html/inc/host.inc
  html/ops/hostinfo.php
  html/user/gpu_list.php
  sched/plan_class_spec.cpp
Due: server

tweaks
  html/user/gpu_list.php
Due: none

add DB revision
  html/ops/db_update.php
Due: none

copilot tweak
  html/user/gpu_list.php
Due: none

batch acceleration: combine programs since they have to run in sequence
  html/ops/batch_accel.php
  html/ops/batch_stats.php
Due: none

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

[ci] update libwebp vcpkg custom port
  3rdParty/vcpkg_ports/ports/libwebp/0009-cpufeatures-android.patch
  3rdParty/vcpkg_ports/ports/libwebp/portfile.cmake
  3rdParty/vcpkg_ports/ports/libwebp/vcpkg.json
Due: none

stash
  clientsetup/win/CACreateBOINCAccounts.cpp
  clientsetup/win/CACreateBOINCAccounts.h
  clientsetup/win/boinccas.cpp
  clientsetup/win/boinccas.h
Due: none

web: show job priorities
  html/inc/result.inc
  html/user/workunit.php
Due: none

copilot tweak
  html/inc/result.inc
Due: none

client (Win): if can't run command in one WSL distro, try others
  client/hostinfo_wsl.cpp
Due: client

add debug msg
  client/app.cpp
Due: client

client: improve 'non-BOINC total CPU usage' measurement.
  client/app.cpp
  lib/procinfo.cpp
  lib/procinfo.h
Due: library, client

debug
  lib/procinfo.cpp
Due: library

client: parse container names correctly
  lib/util.cpp
Due: library

batch accel: make batch completion threshold configurable
  html/ops/batch_accel.php
Due: none

copilot formatting tweaks
  client/app.cpp
  lib/procinfo.cpp
  lib/procinfo.h
Due: library, client

server: batch acceleration tweaks
  db/boinc_db.cpp
  html/ops/batch_accel.php
Due: server

Mac: Treat legacyScreenSaver as well as ScreenSaverEngine as BOINC related process
  lib/procinfo_mac.cpp
Due: library

Mac: Run gfx_ss_bridge only on MacOS 14.0 or later.
  client/gui_rpc_server_ops.cpp
Due: client

Mac: change suggested by Copilot
  client/gui_rpc_server_ops.cpp
Due: client

web (BUDA): input files are not sticky or executable
  html/inc/bootstrap.inc
  html/user/buda.php
  html/user/submit.php
Due: none

client: always show message when resuming computation
  client/client_state.cpp
  client/cs_prefs.cpp
Due: client

[ci] fix osx cmake build
  3rdParty/vcpkg_ports/triplets/ci/x64-osx.cmake
  lib/CMakeLists.txt
Due: library

[samples] when building nvcuda sample, copy cudart library to the destination folder
  deploy/prepare_deployment.py
  win_build/example_app_nvcuda.vcxproj
Due: none

Path conditions:
  api: any of: api/, but not: tests/.*, zip/.*, 3rdParty/.*
  library: any of: lib/, but not: tests/.*, zip/.*, 3rdParty/.*
  client: any of: client/, clientgui/, but not: tests/.*, zip/.*, 3rdParty/.*
  server: any of: sched/, db/, tools/, but not: tests/.*, zip/.*, 3rdParty/.*
  android: any of: android/BOINC/app/src/main/java/edu/berkeley/boinc, but not: tests/.*, zip/.*, 3rdParty/.*
