Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

.codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    after_n_builds: 3
    wait_for_ci: yes
  token: ${{ secrets.CODECOV_TOKEN }}

coverage:
  status:
    project: off
    patch:
      default:
        threshold: 0.01

comment:
  layout: "diff, files"
  behavior: default
  require_changes: yes    # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]
  branches:
    - master
  after_n_builds: 3

flags:
  # filter the folder(s) you wish to measure by that flag
  api:
    paths:
      - api/
  library:
    paths:
      - lib/
  client:
    paths:
      - client/
      - clientgui/
  server:
    paths:
      - sched/
      - db/
      - tools/
  android:
    paths:
      - android/BOINC/app/src/main/java/edu/berkeley/boinc

# don't gather statistics for test and external libraries
ignore:
  - tests/.*
  - zip/.*
  - 3rdParty/.*

feat: Add plan class name to task properties window
  clientgui/DlgItemProperties.cpp
Due: client

web: fix PHP8 deprecation warnings
  html/inc/forum_db.inc
  html/inc/pm.inc
Due: none

subs should be empty by default, not null
  html/user/forum_forum.php
Due: none

client: Win build fixes
  client/client_state.cpp
  client/hostinfo_wsl.cpp
Due: client

Docker detection: fix it on Linux
  client/Makefile.linux
  client/client_state.cpp
  client/hostinfo_unix.cpp
  lib/hostinfo.cpp
Due: library, client

client: if docker disabled in prefs, send <dont_use_docker/> in sched requests. (still query the presence of docker, and report it in sched requests).
  client/cs_scheduler.cpp
  client/hostinfo_unix.cpp
  lib/hostinfo.cpp
  lib/hostinfo.h
  samples/docker_wrapper/docker_wrapper.cpp
  sched/plan_class_spec.h
  sched/sched_types.cpp
  sched/sched_types.h
Due: library, client, server

win build fix
  client/hostinfo_wsl.cpp
Due: client

fix image/container names use pause/unpause instead of start/stop Note: this works with podman only if root; need to figure out how to do that
  client/app_test.cpp
  samples/docker_wrapper/docker_wrapper.cpp
Due: client

docker_wrapper, Win: when using podman, run a shell in WSL as root; needed for podman's pause and unpause to work
  lib/util.cpp
  lib/util.h
  lib/win_util.cpp
  lib/win_util.h
Due: library

tweaks
  lib/util.h
  lib/win_util.cpp
  samples/docker_wrapper/docker_wrapper.cpp
Due: library

docker_wrapper: get suspend/resume working on Win with podman
  lib/util.cpp
  lib/win_util.h
  samples/docker_wrapper/docker_wrapper.cpp
Due: library

fix CGI build (I hope)
  lib/util.cpp
Due: library

white space
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

Build docker_wrapper for linux on ci and upload it to the artifacts
  deploy/prepare_deployment.py
  samples/Makefile.am
  samples/docker_wrapper/Makefile
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

[ci] update actions
  .github/workflows/all_projects_list_xml_update.yml
  .github/workflows/android.yml
  .github/workflows/check_custom_vcpkg_ports.yml
  .github/workflows/coverity.yml
  .github/workflows/linux-package-stable-release.yml
  .github/workflows/linux-package.yml
  .github/workflows/linux.yml
  .github/workflows/mingw.yml
  .github/workflows/osx.yml
  .github/workflows/snap.yml
  .github/workflows/source-code-check.yml
  .github/workflows/test-report.yml
  .github/workflows/update_actions.yml
  .github/workflows/update_copyright_year.yml
  .github/workflows/wasm.yml
  .github/workflows/windows.yml
Due: none

client: disable debugging code lib: fix file descriptor leak
  client/app_test.cpp
  lib/util.cpp
Due: library, client

client: query the version of libc in WSL distros, and report it in scheduler requests.
  client/hostinfo_wsl.cpp
  lib/util.cpp
  lib/util.h
  lib/wslinfo.cpp
  lib/wslinfo.h
Due: library, client

Refactor code into new function TrimURL
  clientgui/ProjectInfoPage.cpp
  clientgui/ProjectInfoPage.h
Due: client

Gray out projects that are already attached.
  clientgui/ProjectInfoPage.cpp
  clientgui/ProjectInfoPage.h
Due: client

fixes
  client/client_state.cpp
  client/hostinfo_wsl.cpp
  lib/util.cpp
Due: library, client

typo
  lib/util.cpp
Due: library

Revised heartbeat check
  samples/vboxwrapper/vboxwrapper.cpp
Due: none

Tweaks to WSL and Docker support
  client/hostinfo_win.cpp
  client/hostinfo_wsl.cpp
  client/log_flags.cpp
  lib/cc_config.cpp
  lib/cc_config.h
  lib/wslinfo.cpp
  lib/wslinfo.h
  samples/wsl_wrapper/wsl_wrapper.cpp
  sched/plan_class_spec.cpp
  sched/plan_class_spec.h
  sched/sched_types.cpp
  sched/sched_types.h
Due: library, client, server

Win compile fixes
  client/hostinfo_wsl.cpp
  lib/hostinfo.h
Due: library, client

client/API/docker_wrapper: get CPU and mem usage of Docker apps
  api/boinc_api.cpp
  api/boinc_api.h
  client/app.cpp
  client/app.h
  client/app_control.cpp
  samples/docker_wrapper/docker_wrapper.cpp
  samples/vboxwrapper/vbox_common.cpp
  samples/vboxwrapper/vboxwrapper.cpp
Due: api, client

Heartbeat checks deal with time leaps
  samples/vboxwrapper/vboxwrapper.cpp
Due: none

Update vboxwrapper.cpp
  samples/vboxwrapper/vboxwrapper.cpp
Due: none

docker wrapper: look for exact container name, not substring
  client/app_test.cpp
  samples/docker_wrapper/docker_wrapper.cpp
  samples/docker_wrapper/test_copy/infile
Due: client

tweak
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

docker wrapper: fix CPU time reporting
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

remove debugging #define
  client/app_test.cpp
Due: client

Win build fix
  lib/procinfo.cpp
Due: library

[linux] Add Fedora 41 package
  .github/workflows/linux-package-stable-release.yml
  .github/workflows/linux-package.yml
  .github/workflows/rpmrepo/package_depends.sh
  .github/workflows/rpmrepo/package_filelist.sh
Due: none

client: remove unused Docker images and containers on startup
  client/client_state.cpp
  client/client_state.h
  client/cs_apps.cpp
  lib/util.cpp
  lib/util.h
  lib/win_util.cpp
  lib/win_util.h
  samples/docker_wrapper/docker_wrapper.cpp
Due: library, client

Win build fixes
  client/cs_apps.cpp
  lib/util.cpp
  lib/util.h
  lib/win_util.cpp
Due: library, client

debug docker_wrapper on Linux
  lib/util.cpp
  lib/util.h
  samples/docker_wrapper/docker_wrapper.cpp
Due: library

linux build fix
  client/cs_apps.cpp
Due: client

build fixes
  client/cs_apps.cpp
  client/hostinfo_linux.cpp
  lib/hostinfo.h
  lib/util.h
Due: library, client

FCGI build fix
  lib/util.cpp
Due: library
