Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    after_n_builds: 4
    wait_for_ci: true

coverage:
  status:
    project: off
    patch:
      default:
        threshold: 0.01

comment:
  layout: "diff, files"
  behavior: default
  require_changes: true    # if true: only post the comment if coverage changes
  require_base: false      # [true :: must have a base report to post]
  require_head: true       # [true :: must have a head report to post]
  branches:
    - master
  after_n_builds: 4

github_checks:
    annotations: false

flags:
  # filter the folder(s) you wish to measure by that flag
  api:
    paths:
      - api/
  library:
    paths:
      - lib/
  client:
    paths:
      - client/
      - clientgui/
  server:
    paths:
      - sched/
      - db/
      - tools/
  android:
    paths:
      - android/BOINC/app/src/main/java/edu/berkeley/boinc

# don't gather statistics for test and external libraries
ignore:
  - tests/.*
  - zip/.*
  - 3rdParty/.*

Mac:Fix syntax error in wxwidgets build script
  mac_build/buildWxMac.sh
Due: none

Mac: Fix compiler warning
  clientscr/res/BOINCSaver.xib
Due: none

Mac: Update uppercase sample Xcode project and BuildMacBOINC.sh script
  mac_build/BuildMacBOINC.sh
  samples/mac_build/UpperCase2.xcodeproj/project.pbxproj
Due: none

web: fix PHP 8 deprecations in job submission
  html/inc/submit_db.inc
Due: none

fix PHP warning
  html/inc/sandbox.inc
Due: none

Mac: Update main release scripts to build BOINC installer or branded installer
  mac_installer/release_boinc.sh
  mac_installer/release_brand.sh
Due: none

fix bsd build
  lib/procinfo_unix.cpp
Due: library

web: don't allow BUDA job submission if no variants exist
  html/user/buda_submit.php
Due: none

Mac: Update notarization script
  mac_installer/notarize_boinc.sh
Due: none

Mac: Update copyright dates for scripts updated in this PR
  mac_build/Update_Info_Plists.sh
  mac_build/buildFTGL.sh
  mac_build/buildWxMac.sh
  mac_build/buildc-ares.sh
  mac_build/buildcurl.sh
  mac_build/buildfreetype.sh
  mac_build/buildlibzip.sh
  mac_build/buildopenssl.sh
  mac_installer/release_boinc.sh
  mac_installer/release_brand.sh
Due: none

Mac: update scripts for building samples using make files on Mac
  samples/example_app/MakeMacExample.sh
  samples/vboxwrapper/BuildMacVboxWrapper.sh
  samples/wrapper/BuildMacWrapper.sh
Due: none

Mac: Update alternate example app make file uin a helper script
  samples/example_app/Makefile_mac2
  samples/example_app/Makefile_mac2_helper.sh
Due: none

Mac update CI test script to handle universal binaries now built by MakeMacExample.sh
  mac_build/buildMacMakefiles-CI.sh
Due: none

Mac: changes recommended by cubic-dev-ai
  mac_build/BuildMacBOINC.sh
  mac_build/buildFTGL.sh
  mac_build/buildc-ares.sh
  mac_build/buildcurl.sh
  mac_build/buildfreetype.sh
  mac_build/buildlibzip.sh
  mac_build/buildopenssl.sh
  mac_installer/notarize_boinc.sh
  samples/example_app/MakeMacExample.sh
  samples/example_app/Makefile_mac2_helper.sh
  samples/vboxwrapper/BuildMacVboxWrapper.sh
  samples/vboxwrapper/vboxwrapper.xcodeproj/project.pbxproj
  samples/wrapper/BuildMacWrapper.sh
  zip/boinc_zip.xcodeproj/xcshareddata/xcschemes/boinc_zip.xcscheme
Due: none

feeder_user: include all job submitters
  sched/feeder_user.cpp
Due: server

Mac: changes recommended by cubic-dev-ai
  clientscr/res/BOINCSaver.xib
Due: none

Mac: changes recommended by cubic-dev-ai
  samples/example_app/Makefile_mac2
  samples/example_app/Makefile_mac2_helper.sh
Due: none

Mac: changes recommended by cubic-dev-ai
  .gitignore
  mac_build/Update_Info_Plists.sh
  mac_build/boinc.xcodeproj/project.pbxproj
  mac_build/buildFTGL.sh
  mac_build/buildc-ares.sh
  mac_build/buildcurl.sh
  mac_build/buildfreetype.sh
  mac_build/buildlibzip.sh
  mac_build/buildopenssl.sh
  mac_installer/notarize_boinc.sh
  mac_installer/release_boinc.sh
  mac_installer/release_brand.sh
  samples/example_app/MakeMacExample.sh
  samples/example_app/Makefile_mac2_helper.sh
  samples/vboxwrapper/BuildMacVboxWrapper.sh
  samples/wrapper/BuildMacWrapper.sh
Due: none

Mac: Fix syntax error in build scripts
  mac_build/buildcurl.sh
  mac_build/buildfreetype.sh
  mac_build/buildlibzip.sh
  mac_build/buildopenssl.sh
Due: none

Mac: Fix error in build scripts
  mac_build/buildFTGL.sh
  mac_build/buildc-ares.sh
  mac_build/buildcurl.sh
  mac_build/buildfreetype.sh
  mac_build/buildlibzip.sh
  mac_build/buildopenssl.sh
  samples/example_app/MakeMacExample.sh
  samples/example_app/Makefile_mac2_helper.sh
  samples/vboxwrapper/BuildMacVboxWrapper.sh
  samples/wrapper/BuildMacWrapper.sh
Due: none

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

Mac: changes recommended by cubic-dev-ai
  mac_build/BuildMacBOINC.sh
  mac_build/Make_BOINC_Service.sh
  mac_build/Update_Info_Plists.sh
  mac_build/buildFTGL.sh
  mac_build/buildWxMac.sh
  mac_build/buildc-ares.sh
  mac_build/buildcurl.sh
  mac_build/buildfreetype.sh
  mac_build/buildlibzip.sh
  mac_build/buildopenssl.sh
  mac_installer/notarize_boinc.sh
  mac_installer/release_boinc.sh
  mac_installer/release_brand.sh
  samples/example_app/MakeMacExample.sh
  samples/example_app/Makefile_mac2
  samples/example_app/Makefile_mac2_helper.sh
  samples/vboxwrapper/BuildMacVboxWrapper.sh
  samples/wrapper/BuildMacWrapper.sh
Due: none

Mac: fix typo in comment
  mac_build/Make_BOINC_Service.sh
Due: none

Mac: Fix syntax error in build script
  mac_build/buildWxMac.sh
Due: none

Mac: Fix ownership and permissions of installer
  mac_installer/release_boinc.sh
  mac_installer/release_brand.sh
Due: none

Mac: fix error checking in make file
  samples/example_app/Makefile_mac2
  samples/example_app/Makefile_mac2_helper.sh
Due: none

Mac: changes recommended by cubic-dev-ai
  mac_build/Make_BOINC_Service.sh
  mac_build/Update_Info_Plists.sh
  mac_build/buildWxMac.sh
  mac_build/buildopenssl.sh
  mac_installer/release_brand.sh
Due: none

Mac: changes recommended by cubic-dev-ai
  samples/example_app/Makefile_mac2
Due: none

BUDA fixes
  html/inc/buda.inc
  html/inc/submit_util.inc
  html/ops/batch_accel.php
  html/ops/batch_stats.php
  html/user/buda.php
  html/user/submit.php
  html/user/workunit.php
Due: none

[ci][linux] fix RPM packages generation
  .github/workflows/linux-package.yml
  packages/deb/postinst
Due: none

Mac fix typo found by cubic-dec-ai
  mac_installer/release_brand.sh
Due: none

typo
  html/user/download_software.php
Due: none

Mac: Fix bad path setting ownership and permissions of branded installer
  mac_installer/release_brand.sh
Due: none

client, Win: check for WSL version 3
  client/hostinfo_win.cpp
  client/hostinfo_wsl.cpp
  lib/hostinfo.cpp
  lib/hostinfo.h
Due: library, client

The output of wsl.exe is wide (2-byte) chars. Convert to ASCII.
  client/hostinfo_wsl.cpp
  lib/hostinfo.cpp
  lib/util.cpp
Due: library, client

client: show WSL version
  client/client_state.cpp
Due: client

Win, docker_wrapper: if WSL 3+, issue Docker commands using wslc.exe, and don't use distros for anything.
  client/cs_apps.cpp
  lib/common_defs.h
  lib/hostinfo.cpp
  lib/util.cpp
  lib/util.h
  samples/docker_wrapper/docker_wrapper.cpp
Due: library, client

show WSL info on startup
  client/client_state.cpp
  client/hostinfo_wsl.cpp
Due: client

build fixes
  lib/util.cpp
Due: library
