Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

.codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    after_n_builds: 3
    wait_for_ci: yes
  token: ${{ secrets.CODECOV_TOKEN }}

coverage:
  status:
    project: off
    patch:
      default:
        threshold: 0.01

comment:
  layout: "diff, files"
  behavior: default
  require_changes: yes    # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]
  branches:
    - master
  after_n_builds: 3

flags:
  # filter the folder(s) you wish to measure by that flag
  api:
    paths:
      - api/
  library:
    paths:
      - lib/
  client:
    paths:
      - client/
      - clientgui/
  server:
    paths:
      - sched/
      - db/
      - tools/
  android:
    paths:
      - android/BOINC/app/src/main/java/edu/berkeley/boinc

# don't gather statistics for test and external libraries
ignore:
  - tests/.*
  - zip/.*
  - 3rdParty/.*

Compile osx manager with vcpkg
  .github/workflows/osx.yml
  3rdParty/vcpkg_ports/configs/manager/osx/vcpkg.json
  3rdParty/vcpkg_ports/patches/boinc_SetItemBitmap.patch
  3rdParty/vcpkg_ports/patches/boinc_SetVisibilityHidden.patch
  3rdParty/vcpkg_ports/patches/wxwidgets.patch
  3rdParty/vcpkg_ports/ports/mac/.gitkeep
  3rdParty/vcpkg_ports/triplets/ci/arm64-osx.cmake
  3rdParty/vcpkg_ports/triplets/ci/x64-osx.cmake
  ci_tools/trailing_whitespaces_check.py
  mac_build/buildMacBOINC-CI.sh
  osx/build_vcpkg_3rdparty_for_manager.sh
  osx/update_vcpkg_manager_universal.sh
Due: none

[Windows][Installer] Clean-up installer project
  clientsetup/win/CACCConfigMd5sum.cpp
  clientsetup/win/CACCConfigMd5sum.h
  clientsetup/win/CARestoreSetupState.cpp
  clientsetup/win/CAShutdownUD.cpp
  clientsetup/win/CAShutdownUD.h
  clientsetup/win/boinccas.def
  installer/boinc.json
  installer/installer_setup/main.cpp
  installer/locale/en.json
  installer/res/CustomSetupIco.ico
  installer/res/DestIcon.ico
  installer/res/DontInstall.ico
  installer/res/Install.ico
  installer/res/InstallFirstUse.ico
  installer/res/InstallPartial.ico
  installer/res/InstallStateMenu.ico
  installer/res/IsDialogBanner.jpg
  installer/res/IsDialogBitmap.jpg
  installer/res/NetworkInstall.ico
  installer/res/New.ico
  installer/res/ReinstIco.ico
  installer/res/RemoveIco.ico
  installer/res/SFHelper.dll
  installer/res/SetAllUsers.dll
  installer/res/SetupIcon.ico
  installer/res/Up.ico
  installer/res/WarningIcon.ico
  installer/res/banner.jpg
  installer/res/dialog.jpg
  installer/res/folder.ico
  installer/res/reinstall.ico
  installer/res/remove.ico
  installer/res/setup.ico
  installer/res/warning.ico
  win_build/boinccas.vcxproj
  win_build/installer.vcxproj
Due: none

windows on arm
  configure.ac
  lib/boinc_win.h
  lib/hostinfo.cpp
  lib/hostinfo.h
  lib/stackwalker_win.cpp
  lib/win_util.cpp
  lib/wslinfo.cpp
  lib/wslinfo.h
Due: library

docker_wrapper: unparsed cmdline args are passed to main program
  html/user/buda_submit.php
  samples/docker_wrapper/docker_wrapper.cpp
  samples/docker_wrapper/test/main.sh
Due: none

client: fix bug in Docker cleanup docker wrapper: pass cmdline args in an env var ARGS
  client/app_test.cpp
  client/cs_apps.cpp
  samples/docker_wrapper/docker_wrapper.cpp
Due: client

BUDA: add cmdline field to submission form. Specifies cmdline args for all jobs in batch; you can also specify per-job args, which come after.
  html/user/buda_submit.php
  lib/str_util.cpp
  tools/create_work.cpp
Due: library, server

BUDA: debug cmdline arg features
  html/inc/sandbox.inc
  html/user/buda.php
  html/user/buda_submit.php
  html/user/sandbox.php
  samples/docker_wrapper/docker_wrapper.cpp
  samples/docker_wrapper/test_buda/Dockerfile_worker_1
  samples/docker_wrapper/test_buda/Dockerfile_worker_2
  samples/docker_wrapper/test_buda/main_2.sh
  samples/docker_wrapper/test_buda/main_3.sh
  samples/worker/Makefile
  samples/worker/worker.cpp
  version.h
Due: none

Build arm64 installer
  3rdParty/vcpkg_ports/configs/msbuild/ARM64/vcpkg.json
  3rdParty/vcpkg_ports/configs/msbuild/vcpkg.json
  3rdParty/vcpkg_ports/configs/msbuild/x64/vcpkg.json
  installer/Binary.cpp
  installer/Binary.h
  installer/BinaryTable.cpp
  installer/BinaryTable.h
  installer/DirectoryTable.cpp
  installer/DirectoryTable.h
  installer/FileTable.cpp
  installer/FileTable.h
  installer/Icon.cpp
  installer/Icon.h
  installer/IconTable.cpp
  installer/IconTable.h
  installer/Installer.cpp
  installer/Installer.h
  installer/SummaryInformationTable.cpp
  installer/SummaryInformationTable.h
  installer/boinc.json
  installer/main.cpp
  win_build/boinc.props
  win_build/boinc.sln
  win_build/installer.vcxproj
  win_build/installer_setup.vcxproj
  win_build/vcpkg_3rdparty_dependencies.vcxproj
Due: none

file sandbox: put 'file list' and 'add file' on different pages file sandbox: use Location: to prevent repeating op on page reload BUDA: add explanatory text
  html/user/buda.php
  html/user/buda_submit.php
  html/user/sandbox.php
Due: none

Fix worker version
  configure.ac
  win_build/worker.vcxproj
Due: none

[Windows] Set correct platform name when running BOINC client on Windows on ARM.
  client/cs_platforms.cpp
  client/hostinfo_win.cpp
  lib/hostinfo.h
Due: library, client

bug fix
  client/app_start.cpp
Due: client

[ci] update actions
  .github/workflows/android.yml
  .github/workflows/coverity.yml
  .github/workflows/linux.yml
  .github/workflows/osx.yml
  .github/workflows/wasm.yml
  .github/workflows/windows.yml
Due: none

Update feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Update and rename feature_request.md to feature_request.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

web: make sandbox file list sortable by name, size, or date
  html/inc/sandbox.inc
  html/inc/util.inc
  html/user/buda.php
  html/user/sandbox.php
  html/user/submit.php
Due: none

Update feature_request.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

Update and rename bug_report.md to bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

Update and rename other-issues.md to other-issues.yml
  .github/ISSUE_TEMPLATE/other-issues.md
  .github/ISSUE_TEMPLATE/other-issues.yml
Due: none

Update bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

Update .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

web and scheduler: enable plan classes for BUDA
  html/inc/submit_util.inc
  html/user/buda.php
  html/user/buda_submit.php
  html/user/get_output3.php
  sched/sched_array.cpp
  sched/sched_assign.cpp
  sched/sched_customize.cpp
  sched/sched_locality.cpp
  sched/sched_nci.cpp
  sched/sched_resend.cpp
  sched/sched_score.cpp
  sched/sched_score.h
  sched/sched_send.cpp
  sched/sched_send.h
  sched/sched_version.cpp
Due: server

Refactor boinc.json structure a little bit.
  installer/Control.cpp
  installer/Control.h
  installer/ControlTable.cpp
  installer/Installer.cpp
  installer/InstallerStrings.cpp
  installer/InstallerStrings.h
  installer/RadioButton.cpp
  installer/RadioButton.h
  installer/RadioButtonTable.cpp
  installer/RadioButtonTable.h
  installer/boinc.json
  installer/locale/en.json
  installer/main.cpp
  win_build/installer_setup.vcxproj
Due: none

[linux] update custom librsvg port
  3rdParty/vcpkg_ports/ports/librsvg/fix-libxml2-2.13.5.patch
  3rdParty/vcpkg_ports/ports/librsvg/portfile.cmake
  3rdParty/vcpkg_ports/ports/librsvg/vcpkg.json
Due: none

scheduler: if a job is BUDA, we need to return usage info (CPU, GPU) with the workunit rather than the app version. This commit lays the groundword for this.
  db/boinc_db_types.h
  sched/sched_array.cpp
  sched/sched_assign.cpp
  sched/sched_locality.cpp
  sched/sched_nci.cpp
  sched/sched_resend.cpp
  sched/sched_score.cpp
  sched/sched_score.h
  sched/sched_send.cpp
  sched/sched_send.h
  sched/sched_types.h
Due: server

web: fix CSRF vulnerability in edit passwd function
  html/inc/account.inc
  html/user/edit_passwd_action.php
  html/user/edit_passwd_form.php
Due: none

New server version
  html/inc/server_version.inc
Due: none

:coffin: remove useless redirect
  html/user/user_agreetermsofuse.php
Due: none

scheduler: for BUDA GPU jobs, put resource usage info in the <workunit> element.
  sched/sched_locality.cpp
  sched/sched_send.cpp
  sched/sched_types.h
  sched/sched_version.cpp
Due: server

client: enable it to handle BUDA GPU and multithread apps
  client/app.cpp
  client/app_config.cpp
  client/app_control.cpp
  client/app_start.cpp
  client/client_state.cpp
  client/client_types.cpp
  client/client_types.h
  client/coproc_sched.cpp
  client/coproc_sched.h
  client/cpu_sched.cpp
  client/cs_scheduler.cpp
  client/cs_statefile.cpp
  client/log_flags.cpp
  client/project.cpp
  client/result.cpp
  client/result.h
  client/rr_sim.cpp
  client/work_fetch.cpp
Due: client

win build fixes
  client/app_start.cpp
  client/cpu_sched.cpp
Due: client

Delete html/ops/sample_table_stats.php
  html/ops/sample_table_stats.php
Due: none

Consistent DB `enum` function
  html/inc/boinc_db.inc
  html/inc/db_conn.inc
  html/ops/create_forums.php
  html/user/get_project_config.php
  html/user/server_status.php
Due: none

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

[windows] Remove more unused strings from the boinc.json file
  installer/boinc.json
  installer/locale/en.json
Due: none

[windows] adjust set-client-version.py file to update boinc.json file
  set-client-version.py
Due: none
