Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

.codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    after_n_builds: 3
    wait_for_ci: yes
  token: ${{ secrets.CODECOV_TOKEN }}

coverage:
  status:
    project: off
    patch:
      default:
        threshold: 0.01

comment:
  layout: "diff, files"
  behavior: default
  require_changes: yes    # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]
  branches:
    - master
  after_n_builds: 3

flags:
  # filter the folder(s) you wish to measure by that flag
  api:
    paths:
      - api/
  library:
    paths:
      - lib/
  client:
    paths:
      - client/
      - clientgui/
  server:
    paths:
      - sched/
      - db/
      - tools/
  android:
    paths:
      - android/BOINC/app/src/main/java/edu/berkeley/boinc

# don't gather statistics for test and external libraries
ignore:
  - tests/.*
  - zip/.*
  - 3rdParty/.*

[ci][linux] add fedora 42 to the build pipeline
  .github/workflows/linux-package-stable-release.yml
  .github/workflows/linux-package.yml
  .github/workflows/rpmrepo/package_depends.sh
  .github/workflows/rpmrepo/package_filelist.sh
  .github/workflows/rpmrepo/repo_update.sh
Due: none

Merge pull request #6244 from BOINC/vko_fix_set-client-version.py_script
  set-client-version.py
Due: none

Merge pull request #6245 from BOINC/dpa_snprintf
  client/mac_address.cpp
  lib/unix_util.cpp
Due: library, client

Merge pull request #6247 from BOINC/all_projects_list_xml_update
  win_build/installerv2/redist/all_projects_list.xml
Due: none

Merge pull request #6249 from BOINC/vko_update_actions
  .github/workflows/android.yml
Due: none

Merge pull request #6250 from BOINC/dpa_submit20
  html/inc/bootstrap.inc
  html/user/buda.php
  html/user/submit.php
Due: none

Merge pull request #6251 from BOINC/vko_add_fedora_42
  .github/workflows/linux-package-stable-release.yml
  .github/workflows/linux-package.yml
  .github/workflows/rpmrepo/package_depends.sh
  .github/workflows/rpmrepo/package_filelist.sh
  .github/workflows/rpmrepo/repo_update.sh
Due: none

Update version to 8.2.1
  android/BOINC/app/build.gradle
  configure.ac
  installer/boinc.json
  snap/gui/boinc.desktop
  snap/snapcraft.yaml
  version.h
Due: none

web (job submission): big fixes and enhancements
  html/inc/bootstrap.inc
  html/inc/submit_util.inc
  html/user/buda.php
  html/user/buda_submit.php
  html/user/submit.php
Due: none

fix scrutinizer item
  html/user/submit.php
Due: none

win build: fix typo in docker_wrapper project file
  configure.ac
  version.h
  win_build/docker_wrapper.vcxproj
Due: none

web (job submission): various tweaks
  html/inc/result.inc
  html/inc/submit_util.inc
  html/project.sample/project.inc
  html/user/buda.php
  html/user/submit.php
Due: none

fix typo
  html/user/buda.php
  tools/project.xml
Due: server

fix compile warnings
  lib/boinc_stdio.h
  lib/coproc.cpp
  lib/parse.h
Due: library

tweaks
  lib/crypt.cpp
  lib/diagnostics.cpp
Due: library

tweaks
  lib/crypt_prog.cpp
  lib/diagnostics.cpp
  lib/filesys.cpp
  lib/mem_usage.cpp
  lib/msg_queue.cpp
  lib/opencl_boinc.cpp
  lib/parse.cpp
Due: library

tweaks
  lib/gui_rpc_client.cpp
  lib/gui_rpc_client_print.cpp
  lib/procinfo_unix.cpp
  lib/str_util.cpp
  lib/url.cpp
  lib/util.cpp
Due: library

tweaks
  lib/gui_rpc_client.cpp
  lib/url.cpp
  lib/util.cpp
Due: library

tweak
  lib/Makefile.linux
  lib/url.cpp
Due: library

tweaks
  lib/util.cpp
Due: library

tweak
  client/Makefile.linux
Due: client

Win build fix: doesn't have ssize_t WTF?
  lib/gui_rpc_client.cpp
Due: library

client (linux): verify docker/podman detection by running hello world image
  client/hostinfo_unix.cpp
Due: client

[ci] enable 'upgrade from alpha' tests for Fedora 41 and 42
  .github/workflows/linux-package.yml
Due: none

[ci] update actions
  .github/workflows/android.yml
  .github/workflows/linux.yml
  .github/workflows/windows.yml
Due: none

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

Preserve existing MRU computers when saving into the state and deduplicate them when restoring from the state
  clientgui/BOINCBaseFrame.cpp
Due: client

web: web-based job submission changes
  html/inc/bootstrap.inc
  html/inc/buda.inc
  html/inc/keywords.inc
  html/user/buda.php
  html/user/show_apps.php
  html/user/submit.php
Due: none

library interfaces: remove dependency on config.h
  lib/app_ipc.cpp
  lib/common_defs.h
  lib/coproc.h
  lib/opencl_boinc.h
  lib/str_util.h
  lib/util.cpp
Due: library

fix
  lib/common_defs.h
  lib/coproc.h
  lib/opencl_boinc.h
Due: library

fix
  lib/proxy_info.h
Due: library

Win build fixes
  client/client_msgs.h
  lib/miofile.h
  lib/win_util.cpp
  tests/unit-tests/lib/test_parse.cpp
  tests/unit-tests/lib/test_str_util.cpp
Due: library, client

linux build fix
  client/hostinfo_linux.cpp
Due: client

web (job submission) additions
  html/inc/keywords.inc
  html/user/show_apps.php
Due: none

Various BUDA-related bugs and enhancements
  client/client_types.cpp
  client/client_types.h
  html/user/buda_submit.php
  samples/docker_wrapper/docker_wrapper.cpp
  tools/backend_lib.cpp
  tools/create_work.cpp
Due: client, server

- Manager: if job has sub_appname, show it - create_work: handle sub_appname correctly
  clientgui/ViewWork.cpp
  lib/gui_rpc_client.h
  lib/gui_rpc_client_ops.cpp
  tools/backend_lib.cpp
  tools/create_work.cpp
Due: library, client, server

[linux] fix packages to work with podman/docker properly.
  .github/workflows/linux-package.yml
  client/hostinfo_unix.cpp
  client/scripts/boinc-client.service.in
  packages/deb/postinst
  tests/linux_package_integration_tests.py
Due: client

Merge pull request #6263 from BOINC/dpa_docker16
  client/hostinfo_unix.cpp
Due: client

Merge pull request #6266 from BOINC/vko_enable_linux_package_tests_for_fedora_41_and_42
  .github/workflows/linux-package.yml
Due: none

Merge pull request #6267 from BOINC/vko_update_actions
  .github/workflows/android.yml
  .github/workflows/linux.yml
  .github/workflows/windows.yml
Due: none
