Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

Remove temporary workaround from the test
  tests/windows_installer_integration_tests.py
Due: none

Fix test
  clientsetup/win/CACreateClientAuthFile.cpp
Due: none

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

[ci] update actions
  .github/workflows/all_projects_list_xml_update.yml
  .github/workflows/android.yml
  .github/workflows/check_custom_vcpkg_ports.yml
  .github/workflows/linux-package-stable-release.yml
  .github/workflows/linux-package.yml
  .github/workflows/linux.yml
  .github/workflows/mingw.yml
  .github/workflows/osx.yml
  .github/workflows/snap.yml
  .github/workflows/source-code-check.yml
  .github/workflows/test-report.yml
  .github/workflows/update_actions.yml
  .github/workflows/update_copyright_year.yml
  .github/workflows/vcpkg_test.yml
  .github/workflows/windows.yml
Due: none

Mac: add new project RemovePodman
  mac_RemovePodman/RemovePodman.xcodeproj/project.pbxproj
  mac_RemovePodman/RemovePodman.xcodeproj/xcshareddata/xcschemes/RemovePodman.xcscheme
  mac_RemovePodman/Sign_Notarize_RemovePodman.sh
  mac_RemovePodman/main.mm
Due: none

mac: Add RemovePodman to local and CI build scripts
  mac_build/BuildMacBOINC.sh
  mac_build/buildMacBOINC-CI.sh
Due: none

mac: fix trailing whitespaces and issues from Cubic AI
  mac_RemovePodman/Sign_Notarize_RemovePodman.sh
  mac_RemovePodman/main.mm
Due: none

mac: Fix issue identified by Cubic AI
  mac_RemovePodman/main.mm
Due: none

mac: remove BOINC's Podman VM if present during uninstall
  mac_installer/uninstall.cpp
Due: none

mac: Fix issue identified by Cubic AI
  mac_installer/uninstall.cpp
Due: none

mac: update comment
  mac_RemovePodman/Sign_Notarize_RemovePodman.sh
Due: none

mac: Fix minor issue identified by Cubic AI
  mac_RemovePodman/main.mm
Due: none

Add RemovePodman to uploaded artifacts
  deploy/prepare_deployment.py
Due: none

[windows][isntaller] test login_token.txt file present after installation
  installer/installer_setup/main.cpp
  tests/windows_installer_integration_tests.py
Due: none

server: fix possible WSS attack in private messages
  html/inc/pm.inc
  html/user/pm.php
Due: none

copilot fix
  html/inc/pm.inc
Due: none

[windows][installer] Add project_init.xml test
  .github/workflows/windows.yml
  tests/windows_installer_integration_tests.py
Due: none

BUDA: add 'max output file size' parameter to BUDA apps
  html/inc/submit_util.inc
  html/user/buda.php
  html/user/buda_submit.php
Due: none

[vboxwrapper] set version to 26212
  configure.ac
  version.h
  win_build/vboxwrapper.vcxproj
Due: none

BUDA admin: fix access control.
  html/inc/buda.inc
  html/user/buda.php
Due: none

Remove redundant CAGetUsersGroupName class and merge its functionality into CACreateBOINCGroups class
  clientsetup/win/CACreateBOINCGroups.cpp
  clientsetup/win/CACreateClientAuthFile.cpp
  clientsetup/win/CAGetUsersGroupName.cpp
  clientsetup/win/CAGetUsersGroupName.h
  clientsetup/win/boinccas.def
  clientsetup/win/lkuprid.cpp
  clientsetup/win/lkuprid.h
  installer/include/CustomAction.json
  installer/include/InstallExecuteSequence.json
  tests/unit-tests/boinccas/test_boinccas_CACreateBOINCGroups.cpp
  win_build/boinccas.vcxproj
Due: none

Add feeder_user: divides computing power fairly between users
  db/boinc_db.cpp
  db/boinc_db.h
  sched/Makefile.am
  sched/Makefile_feeder
  sched/feeder.cpp
  sched/feeder_user.cpp
Due: server

feeder_user: add logic for fairness when idle user submits jobs
  sched/feeder_user.cpp
  sched/sched_shmem.cpp
Due: server

Small refactoring
  clientsetup/win/CACleanupOldBinaries.cpp
  clientsetup/win/CACreateBOINCGroups.cpp
Due: none

Put back accidentally deleted lines
  clientsetup/win/CACleanupOldBinaries.cpp
Due: none

Refactoring
  clientsetup/win/CACleanupOldBinaries.cpp
  tests/unit-tests/boinccas/boinccas_helper.cpp
  tests/unit-tests/boinccas/boinccas_helper.h
  tests/unit-tests/boinccas/test_boinccas_CAAnnounceUpgrade.cpp
  tests/unit-tests/boinccas/test_boinccas_CACleanupOldBinaries.cpp
  tests/unit-tests/boinccas/test_boinccas_CACreateAcctMgrLoginFile.cpp
  tests/unit-tests/boinccas/test_boinccas_CACreateBOINCAccounts.cpp
  tests/unit-tests/boinccas/test_boinccas_CACreateBOINCGroups.cpp
  tests/unit-tests/boinccas/test_boinccas_CACreateClientAuthFile.cpp
  tests/unit-tests/boinccas/test_boinccas_CACreateProjectInitFile.cpp
  tests/unit-tests/boinccas/test_boinccas_CADeleteBOINCAccounts.cpp
  tests/unit-tests/boinccas/test_boinccas_CADeleteBOINCGroups.cpp
  tests/unit-tests/boinccas/test_boinccas_CAGrantBOINCAdminsRights.cpp
  win_build/unittests.vcxproj
Due: none

feeder_user: get resource shares from DB: user_permissions.quota
  sched/feeder_user.cpp
Due: server

Fix
  tests/unit-tests/boinccas/boinccas_helper.h
Due: none

Fix tests
  tests/unit-tests/boinccas/boinccas_helper.h
  tests/unit-tests/boinccas/test_boinccas_CAAnnounceUpgrade.cpp
Due: none

Add Dark Mode support for Windows
  clientgui/BOINCGUIApp.cpp
  clientgui/BOINCGUIApp.h
  clientgui/BOINCListCtrl.cpp
  clientgui/BOINCListCtrl.h
  clientgui/NoticeListCtrl.cpp
  clientgui/ViewResources.cpp
  clientgui/ViewResources.h
  clientgui/ViewStatistics.cpp
  clientgui/ViewWork.cpp
  clientgui/common/wxPieCtrl.cpp
  clientgui/common/wxPieCtrl.h
Due: client

copilot fixes
  db/boinc_db.cpp
  sched/feeder_user.cpp
  sched/sched_shmem.cpp
Due: server

fix cubic items
  sched/feeder_user.cpp
Due: server

server: delete result/x from disk when delete batch record
  html/ops/delete_batches.php
  html/user/buda.php
Due: none

copilot fixes
  db/boinc_db.cpp
  sched/Makefile_feeder
  sched/feeder_user.cpp
Due: server

Add const to the applicable for range-based loops
  lib/app_ipc.cpp
  lib/cc_config.cpp
  lib/cc_config.h
  lib/gui_rpc_client.h
  lib/gui_rpc_client_ops.cpp
  lib/gui_rpc_client_print.cpp
  lib/keyword.cpp
  lib/proc_control.cpp
  lib/remote_submit.cpp
Due: library

Add missed const
  lib/remote_submit.cpp
Due: library

Path conditions:
  api: any of: api/, but not: tests/.*, zip/.*, 3rdParty/.*
  library: any of: lib/, but not: tests/.*, zip/.*, 3rdParty/.*
  client: any of: client/, clientgui/, but not: tests/.*, zip/.*, 3rdParty/.*
  server: any of: sched/, db/, tools/, but not: tests/.*, zip/.*, 3rdParty/.*
  android: any of: android/BOINC/app/src/main/java/edu/berkeley/boinc, but not: tests/.*, zip/.*, 3rdParty/.*
