Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

.codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    after_n_builds: 3
    wait_for_ci: yes
  token: ${{ secrets.CODECOV_TOKEN }}

coverage:
  status:
    project: off
    patch:
      default:
        threshold: 0.01

comment:
  layout: "diff, files"
  behavior: default
  require_changes: yes    # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]
  branches:
    - master
  after_n_builds: 3

flags:
  # filter the folder(s) you wish to measure by that flag
  api:
    paths:
      - api/
  library:
    paths:
      - lib/
  client:
    paths:
      - client/
      - clientgui/
  server:
    paths:
      - sched/
      - db/
      - tools/
  android:
    paths:
      - android/BOINC/app/src/main/java/edu/berkeley/boinc

# don't gather statistics for test and external libraries
ignore:
  - tests/.*
  - zip/.*
  - 3rdParty/.*

clarify meaning of DEBUG in C++ code
  api/ttfont.cpp
  client/check_security.cpp
  lib/gui_rpc_client.cpp
  lib/gui_rpc_client_print.cpp
  lib/proc_control.cpp
Due: api, library, client

[ci] update actions
  .github/workflows/android.yml
  .github/workflows/flutter-ubuntu.yml
  .github/workflows/flutter-windows.yml
  .github/workflows/linux-package-stable-release.yml
  .github/workflows/linux-package.yml
  .github/workflows/linux.yml
  .github/workflows/mingw.yml
  .github/workflows/osx.yml
  .github/workflows/snap.yml
  .github/workflows/wasm.yml
  .github/workflows/windows.yml
Due: none

[Windows] Detect WSL version of enabled distros.
  client/client_state.cpp
  client/hostinfo_wsl.cpp
  lib/wslinfo.cpp
  lib/wslinfo.h
Due: library, client

[windows] update CUDA to 12.6.0
  win_build/vcpkg_3rdparty_dependencies.vcxproj
Due: none

[codecov] simplify config
  .codecov.yml
  .github/workflows/android.yml
  .github/workflows/linux.yml
  .github/workflows/windows.yml
Due: none

Add an opportunity to check if docker/docker compose is installed on BOINC-client and send the information to BOINC-server for correct schedulling
  client/client_state.cpp
  client/cs_statefile.cpp
  client/hostinfo_unix.cpp
  client/hostinfo_win.cpp
  client/hostinfo_wsl.cpp
  client/log_flags.cpp
  db/boinc_db_types.h
  lib/cc_config.cpp
  lib/cc_config.h
  lib/hostinfo.cpp
  lib/hostinfo.h
  sched/plan_class_spec.cpp
  sched/plan_class_spec.h
  sched/sched_customize.cpp
  sched/sched_types.cpp
Due: library, client, server

Add missed ; and remove trailing whitespace
  client/hostinfo_win.cpp
  sched/sched_customize.cpp
Due: client, server

[sched] add wsl plan class
  sched/plan_class_spec.cpp
  sched/plan_class_spec.h
  sched/plan_class_spec.xml.sample
  sched/sched_customize.cpp
Due: server

client: address issue with max concurrent and work fetch
  client/client_state.cpp
  client/makefile_sim
  client/project.h
  client/rr_sim.cpp
  client/sim.cpp
  client/work_fetch.cpp
  client/work_fetch.h
  lib/cc_config.h
Due: library, client

forums: 'subscribe' checkbox is initially unchecked
  html/user/forum_post.php
  html/user/forum_reply.php
Due: none

fix and simplify docker detection
  client/client_state.cpp
  client/cs_statefile.cpp
  client/hostinfo_unix.cpp
  client/hostinfo_win.cpp
  client/hostinfo_wsl.cpp
  client/log_flags.cpp
  db/boinc_db_types.h
  lib/cc_config.cpp
  lib/cc_config.h
  lib/hostinfo.cpp
  lib/hostinfo.h
  lib/wslinfo.cpp
  lib/wslinfo.h
  sched/plan_class_spec.cpp
  sched/plan_class_spec.h
  sched/plan_class_spec.xml.sample
  sched/sched_customize.cpp
  sched/sched_types.cpp
Due: library, client, server

database: report connection failure in _mysql_connect()
  html/inc/db.inc
Due: none

client: if using a dynamic AM (like Science United) use its prefs
  client/acct_mgr.cpp
  client/acct_mgr.h
Due: client

client: fix bug in n_idle_resources(); caused unnecessary AM RPCs
  client/rr_sim.cpp
Due: client

client: ignore prefs from project if using AM prefs
  client/cs_scheduler.cpp
Due: client

allow using wsl only when explicitly allowed by the user
  client/client_state.cpp
  client/hostinfo_win.cpp
  client/hostinfo_wsl.cpp
  client/log_flags.cpp
  lib/cc_config.cpp
  lib/cc_config.h
  lib/hostinfo.cpp
  lib/hostinfo.h
Due: library, client

move plan_class specs for docker to a separate PR
  sched/plan_class_spec.cpp
  sched/plan_class_spec.h
  sched/plan_class_spec.xml.sample
  sched/sched_customize.cpp
Due: server

[sched] add docker plan class spec
  sched/plan_class_spec.cpp
  sched/plan_class_spec.h
  sched/plan_class_spec.xml.sample
  sched/sched_customize.cpp
Due: server

coproc code: add comment about processor type names
  lib/coproc.cpp
Due: library

client: when we don't request work for a resource, there are two levels of reason: project-specific and global (i.e. buffer full). Check both reasons when in the no-fetch message.
  client/work_fetch.cpp
  lib/coproc.cpp
Due: library, client

comments
  client/client_state.cpp
  lib/coproc.cpp
Due: library, client

BoincDb::get(): if open to different dbnum, close and reconnect. Don't throw exception if connect fails
  html/inc/boinc_db.inc
  html/inc/db_conn.inc
Due: none

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

small fixes and renamings
  client/client_state.cpp
  client/hostinfo_unix.cpp
  client/hostinfo_wsl.cpp
  lib/hostinfo.h
Due: library, client

remove unused version.log file
  set-client-version.py
  version.log
Due: none

[snap] fix version in boinc.desktop file
  set-client-version.py
  snap/gui/boinc.desktop
Due: none

client: fix crashing bug
  client/rr_sim.cpp
Due: client

C++ code: eliminate a source of potential bugs
  client/client_types.h
  client/net_stats.h
  client/sim.h
  client/work_fetch.h
  lib/common_defs.h
  lib/coproc.h
  lib/opencl_boinc.h
  lib/prefs.h
Due: library, client

Code formatting in WSL code; not functional change
  client/hostinfo_wsl.cpp
Due: client

WSL code: rename/reorg (not finished)
  client/hostinfo_wsl.cpp
  lib/hostinfo.h
  lib/wslinfo.h
Due: library, client

tweaks
  client/client_state.cpp
  client/hostinfo_win.cpp
  lib/hostinfo.h
Due: library, client

unix compile fixes
  client/client_state.cpp
  client/hostinfo_unix.cpp
  lib/hostinfo.cpp
  lib/hostinfo.h
  lib/wslinfo.cpp
Due: library, client

[snap] update snapcraft.yml to prepare it for publish
  .github/workflows/snap.yml
  snap/snapcraft.yaml
Due: none

compile fixes; compiles now
  client/client_state.cpp
  client/hostinfo_wsl.cpp
  lib/hostinfo.cpp
  lib/hostinfo.h
Due: library, client

remove wsl_present. It's present if there are usable distros.
  client/client_state.cpp
  lib/hostinfo.cpp
  lib/hostinfo.h
Due: library, client

clean up logic from getting OS name/version from WSL distro
  client/hostinfo_linux.cpp
  client/hostinfo_wsl.cpp
  lib/hostinfo.h
Due: library, client

WSL detection: debug seems to work now, except Docker detection doesn't work in Docker Desktop distro
  client/hostinfo_wsl.cpp
Due: client

Unix build fixes.
  client/client_state.cpp
  client/hostinfo_unix.cpp
  db/boinc_db_types.h
  lib/hostinfo.cpp
  lib/hostinfo.h
  lib/wslinfo.h
  sched/sched_types.cpp
Due: library, client, server

Don't use for(auto &foo: some compilers don't like it
  client/hostinfo_wsl.cpp
  lib/wslinfo.cpp
Due: library, client
