Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

WSL wrapper: add --version and --main_prog cmdline args
  samples/wsl_wrapper/wsl_wrapper.cpp
Due: none

docker_wrapper: always mount slot dir at WORKDIR
  client/app_test.cpp
  samples/docker_wrapper/docker_wrapper.cpp
  samples/docker_wrapper/test/Dockerfile
  samples/docker_wrapper/test/in
  samples/docker_wrapper/test/job.toml
  samples/docker_wrapper/test/main.sh
  samples/docker_wrapper/test/worker
  samples/docker_wrapper/test_copy/Dockerfile_copy
  samples/docker_wrapper/test_copy/infile
  samples/docker_wrapper/test_copy/job_copy.toml
  samples/docker_wrapper/test_mount/job_mount.toml
  samples/docker_wrapper/test_mount/main.sh
Due: client

tweaks
  samples/docker_wrapper/docker_wrapper.cpp
  samples/docker_wrapper/test/in
  samples/docker_wrapper/test/infile
Due: none

tweak
  samples/docker_wrapper/test/main.sh
Due: none

debug
  client/app_test.cpp
  samples/docker_wrapper/docker_wrapper.cpp
Due: client

docker_wrapper: use relative path when mounting the project dir
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

fix app test for docker wrapper; works now on Win
  client/app_test.cpp
Due: client

Manager, advanced prefs: don't disable idle time box
  clientgui/DlgAdvPreferences.cpp
Due: client

[ci] update XCode to 15.4.0
  .github/workflows/osx.yml
Due: none

add script to show Linux libc and vbox version counts: ops/host_stats.php
  html/ops/host_stats.php
Due: none

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

[ci] update actions
  .github/workflows/android.yml
Due: none

trailing blank
  tools/sample_assimilate.py
Due: server

trailing space
  tools/submit_buda
Due: server

change things so that input files for BUDA jobs don't have to be in the BUDA dir
  tools/submit_buda
  tools/submit_job
Due: server

[ci] update actions
  .github/workflows/android.yml
  .github/workflows/linux.yml
  .github/workflows/windows.yml
Due: none

added (undebugged) code for BUDA job submission.
  html/inc/dir_hier.inc
  html/user/buda.php
  html/user/buda_submit.php
Due: none

BUDA job submission: fill in some missing logic.
  html/user/buda.php
  html/user/buda_submit.php
  tools/create_work.cpp
Due: server

docker wrapper: it's OK if no config file
  html/user/buda_submit.php
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

dockerwrapper: work dir defaults to /app
  html/user/buda_submit.php
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

add buda test files
  html/user/buda_submit.php
  samples/docker_wrapper/test_buda/Dockerfile_worker_1
  samples/docker_wrapper/test_buda/main_2.sh
  samples/docker_wrapper/test_buda/worker_3_x86_64-pc-linux-gnu
Due: none

BUDA job submission now passes the basic end-to-end test - woo hoo!
  html/user/sandbox.php
  samples/docker_wrapper/test_buda/main_2.sh
Due: none

improve BUDA web interface
  html/user/buda.php
  html/user/buda_submit.php
  html/user/submit.php
  sched/sample_assimilator.cpp
  sched/validate_util.cpp
  sched/validate_util.h
  tools/sample_assimilate.py
Due: server

[vboxwrapper] bump version to 26208
  configure.ac
  version.h
  win_build/vboxwrapper.vcxproj
Due: none

[vboxwrapper] bump development version to 26209
  configure.ac
  version.h
  win_build/vboxwrapper.vcxproj
Due: none

web job submission, script assimilator: add new output file model
  html/inc/result.inc
  html/inc/submit_util.inc
  html/user/buda_submit.php
  html/user/get_output3.php
  html/user/submit.php
  sched/assimilator.cpp
  sched/file_deleter.cpp
  sched/sample_assimilator.cpp
  sched/script_assimilator.cpp
  sched/validate_util.cpp
  tools/create_work.cpp
  tools/query_job
  tools/sample_assimilate.py
Due: server

job submission web: user friendlier
  html/user/submit.php
  sched/sample_dummy_assimilator.cpp
Due: server

web (BUDA) - validate URL args that are used as filenames; prevent ../ stuff. Do this by checking for '/'; is that sufficient?
  html/inc/util_basic.inc
  html/user/buda.php
  samples/docker_wrapper/test_buda/worker_3_x86_64-pc-linux-gnu
Due: none

check GET args of buda_submit.php
  html/user/buda_submit.php
Due: none

fix link to doc
  html/user/buda_submit.php
Due: none

BUDA job submission: add access control and unify access control web and remote job submission
  html/inc/submit_util.inc
  html/user/buda.php
  html/user/buda_submit.php
  html/user/submit.php
  html/user/submit_rpc_handler.php
Due: none

Build release versions of linux samples on Debian buster (glibc 2.28)
  .github/workflows/linux.yml
Due: none

Run Windows installation tests
  .github/workflows/linux-package.yml
  .github/workflows/windows.yml
  tests/linux_package_integration_tests.py
  tests/testhelper.py
  tests/testset.py
  tests/windows_installer_integration_tests.py
Due: none

web: fix two undefined var bugs
  html/user/forum_forum.php
  html/user/submit.php
Due: none

Update manage_apps.php
  html/ops/manage_apps.php
Due: none

Update census.cpp
  sched/census.cpp
Due: server

Path conditions:
  api: any of: api/, but not: tests/.*, zip/.*, 3rdParty/.*
  library: any of: lib/, but not: tests/.*, zip/.*, 3rdParty/.*
  client: any of: client/, clientgui/, but not: tests/.*, zip/.*, 3rdParty/.*
  server: any of: sched/, db/, tools/, but not: tests/.*, zip/.*, 3rdParty/.*
  android: any of: android/BOINC/app/src/main/java/edu/berkeley/boinc, but not: tests/.*, zip/.*, 3rdParty/.*
