Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

docker_wrapper: add printfs
  api/boinc_api.cpp
  samples/docker_wrapper/docker_wrapper.cpp
Due: api

remote printf
  api/boinc_api.cpp
  api/boinc_api.h
Due: api

remove some unused bytes sent/received code client: keep track of suspend/connection notices separately run_command() Win: return output even if command fails
  api/boinc_api.cpp
  client/app_control.cpp
  client/net_stats.cpp
  client/net_stats.h
  client/work_fetch.cpp
  lib/util.cpp
Due: api, library, client

client: only get WSL distro size if it's boinc-buda-runner
  client/cs_prefs.cpp
Due: client

fix
  client/cs_prefs.cpp
Due: client

docker_wrapper: release 22
  configure.ac
  version.h
  win_build/docker_wrapper.vcxproj
Due: none

boinccmd: --get_state and --get_simple_gui_info show same task info
  lib/gui_rpc_client_ops.cpp
  lib/gui_rpc_client_print.cpp
Due: library

web: add page showing detail breakdown of host by CPU type and OS (including Linux distros and versions).
  html/inc/util.inc
  html/ops/manage_apps.php
  html/ops/manage_consent_types.php
  html/ops/manage_special_users.php
  html/user/os_stats.php
Due: none

Apply suggestions from code review
  html/ops/manage_apps.php
Due: none

Test lsb-release
  tests/unit-tests/client/test_hostinfo_linux.cpp
  tests/unit-tests/testdata/lsb-release.ubuntu
Due: none

fix AI warnings
  html/user/os_stats.php
Due: none

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

Exclude client tests on apple
  tests/executeUnitTests.sh
  tests/unit-tests/CMakeLists.txt
Due: none

Add test_boinccas_CAValidateInstall
  clientsetup/win/CAValidateInstall.cpp
  clientsetup/win/CAValidateInstall.h
  clientsetup/win/boinccas.cpp
  tests/unit-tests/boinccas/boinccas_helper.h
  tests/unit-tests/boinccas/msi_helper.cpp
  tests/unit-tests/boinccas/msi_helper.h
  tests/unit-tests/boinccas/test_boinccas_CAValidateInstall.cpp
  win_build/boinccas.vcxproj
  win_build/resource.h
  win_build/unittest_dummy_gui.aps
  win_build/unittest_dummy_gui.rc
  win_build/unittest_dummy_gui.vcxproj
  win_build/unittests.vcxproj
  win_build/unittests.vcxproj.filters
Due: none

scheduler: complain if os_name or cpu_vendor missing from request msg
  sched/handle_request.cpp
  sched/sched_config.cpp
  sched/sched_config.h
Due: server

Add test_boinccas_CAValidateRebootRequest
  clientsetup/win/CAValidateRebootRequest.cpp
  clientsetup/win/CAValidateRebootRequest.h
  tests/unit-tests/boinccas/registry_helper.cpp
  tests/unit-tests/boinccas/registry_helper.h
  tests/unit-tests/boinccas/test_boinccas_CAValidateInstall.cpp
  tests/unit-tests/boinccas/test_boinccas_CAValidateRebootRequest.cpp
  win_build/boinccas.vcxproj
  win_build/resource.h
  win_build/unittests.vcxproj
  win_build/unittests.vcxproj.filters
Due: none

Fix tests
  tests/unit-tests/boinccas/registry_helper.cpp
  tests/unit-tests/boinccas/test_boinccas_CAValidateRebootRequest.cpp
Due: none

Mac_SA_Secure.sh, Mac_SA_Insecure.sh use absolute path for BOINC podman dir, not relative to BOINC Data dir
  mac_build/Mac_SA_Insecure.sh
  mac_build/Mac_SA_Secure.sh
Due: none

Improve test
  tests/unit-tests/boinccas/registry_helper.cpp
  tests/unit-tests/boinccas/registry_helper.h
  tests/unit-tests/boinccas/test_boinccas_CAValidateRebootRequest.cpp
Due: none

Add test_boinccas_CAValidateSetupType
  clientsetup/win/CAValidateSetupType.cpp
  clientsetup/win/CAValidateSetupType.h
  tests/unit-tests/boinccas/test_boinccas_CAValidateSetupType.cpp
  win_build/boinccas.vcxproj
  win_build/unittests.vcxproj
  win_build/unittests.vcxproj.filters
Due: none

Add test_boinccas_CAVerifyInstallDirectories
  clientsetup/win/CAVerifyInstallDirectories.cpp
  clientsetup/win/CAVerifyInstallDirectories.h
  clientsetup/win/boinccas.cpp
  tests/unit-tests/boinccas/test_boinccas_CAValidateSetupType.cpp
  tests/unit-tests/boinccas/test_boinccas_CAVerifyInstallDirectories.cpp
  win_build/boinccas.vcxproj
  win_build/unittests.vcxproj
  win_build/unittests.vcxproj.filters
Due: none

[ci] fix linux package tests
  tests/linux_package_integration_tests.py
Due: none

forum activity script: add comments, reduce verbosity
  html/ops/update_forum_activities.php
Due: none

client: if can't run job because WSS won't fit in available RAM, don't exit it
  client/cpu_sched.cpp
Due: client

Remove test define
  tests/unit-tests/win/pch.h
Due: none

[ci] update actions
  .github/workflows/android.yml
  .github/workflows/linux.yml
  .github/workflows/windows.yml
Due: none

client: change logic for dealing with exceeded swap space limit
  client/app.cpp
  client/app.h
  client/client_state.h
  client/cpu_sched.cpp
Due: client

client: show swap limit
  client/cs_prefs.cpp
  lib/prefs.cpp
Due: library, client

build fix. seems to work now
  client/cs_prefs.cpp
Due: client

client: change policy for swap limit enforcement
  client/cpu_sched.cpp
Due: client

client: tweak RAM usage limit logic
  client/app.h
  client/app_control.cpp
Due: client

fix printf
  client/cs_prefs.cpp
Due: client

typo
  client/cs_prefs.cpp
Due: client

AI fixes
  client/app.cpp
  client/app_control.cpp
Due: client

AI fixes
  client/cpu_sched.cpp
Due: client

client: show system totals if mem_usage_debug
  client/Makefile.am
  client/app.cpp
  configure.ac
  lib/procinfo.cpp
  lib/procinfo_unix.cpp
Due: library, client

client: use GB for showing mem sizes
  client/app.cpp
Due: client

Path conditions:
  api: any of: api/, but not: tests/.*, zip/.*, 3rdParty/.*
  library: any of: lib/, but not: tests/.*, zip/.*, 3rdParty/.*
  client: any of: client/, clientgui/, but not: tests/.*, zip/.*, 3rdParty/.*
  server: any of: sched/, db/, tools/, but not: tests/.*, zip/.*, 3rdParty/.*
  android: any of: android/BOINC/app/src/main/java/edu/berkeley/boinc, but not: tests/.*, zip/.*, 3rdParty/.*
