Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    after_n_builds: 4
    wait_for_ci: true

coverage:
  status:
    project: off
    patch:
      default:
        threshold: 0.01

comment:
  layout: "diff, files"
  behavior: default
  require_changes: true    # if true: only post the comment if coverage changes
  require_base: false      # [true :: must have a base report to post]
  require_head: true       # [true :: must have a head report to post]
  branches:
    - master
  after_n_builds: 4

github_checks:
    annotations: false

flags:
  # filter the folder(s) you wish to measure by that flag
  api:
    paths:
      - api/
  library:
    paths:
      - lib/
  client:
    paths:
      - client/
      - clientgui/
  server:
    paths:
      - sched/
      - db/
      - tools/
  android:
    paths:
      - android/BOINC/app/src/main/java/edu/berkeley/boinc

# don't gather statistics for test and external libraries
ignore:
  - tests/.*
  - zip/.*
  - 3rdParty/.*

VS gives bogus 'code not reached' warning
  client/result.h
Due: client

VS warning wasn't bogus after all
  client/cpu_sched.cpp
  lib/hostinfo.cpp
Due: library, client

Add Fedora 43 linux package
  .github/workflows/linux-package-stable-release.yml
  .github/workflows/linux-package.yml
  .github/workflows/rpmrepo/package_depends.sh
  .github/workflows/rpmrepo/package_filelist.sh
Due: none

Test Linux arm64 packages
  .github/workflows/linux-package.yml
Due: none

minor code cleanup
  client/cpu_sched.cpp
Due: client

Update copyright year
  client/win/boinc_cli.rc
  client/win/boinc_cmd.rc
  client/win/boinc_log.rc
  clientctrl/boincsvcctrl.rc
  clientgui/BOINCGUIApp.rc
  clientgui/DlgAbout.cpp
  clientscr/boinc_ss.rc
  clientscr/boinc_ss_opengl.rc
  clientsetup/win/boinccas.rc
  clienttray/boinc_tray.rc
  installer/installer_icon/installer_icon.rc
  installer/installer_setup/installer_setup.rc
  samples/gfx_html/browser_win.rc
  samples/vboxwrapper/vboxwrapper_win.rc
  samples/wrapper/wrapper_win.rc
Due: client

[ci] fix scrutinizer failure
  .scrutinizer.yml
Due: none

Remove hypervisor cpuid flag check for nested virtualization
  samples/vboxwrapper/vbox_vboxmanage.cpp
Due: none

Client, Manager: fix wrong suspend reason messages in Manager
  client/gui_rpc_server_ops.cpp
  clientgui/AsyncRPC.cpp
  clientgui/AsyncRPC.h
  clientgui/BOINCTaskBar.cpp
  clientgui/MainDocument.cpp
  clientgui/ViewWork.cpp
  clientgui/sg_TaskCommandPopup.cpp
  clientgui/sg_TaskPanel.cpp
  lib/gui_rpc_client.h
Due: library, client

build fix
  clientgui/MainDocument.cpp
Due: client

logic tweak
  clientgui/sg_TaskPanel.cpp
Due: client

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

Test BOINC installation on Windows 11 ARM64
  .github/workflows/windows.yml
  tests/download_boinc_installer.py
Due: none

[ci] update actions
  .github/workflows/test-report.yml
Due: none

Test PR 49242
  osx/bootstrap_vcpkg_cmake.sh
Due: none

web: get jquery from jquery.com rather than googleapis.com
  html/inc/util.inc
  html/inc/util_ops.inc
Due: none

[ci][linux] add arm32 build
  .github/workflows/debrepo/package_depends.sh
  .github/workflows/linux-package.yml
  .github/workflows/linux.yml
  3rdParty/vcpkg_ports/ports/libmount/hide-private-symbols.diff
  3rdParty/vcpkg_ports/ports/libmount/portfile.cmake
  3rdParty/vcpkg_ports/ports/libmount/vcpkg.json
  3rdParty/vcpkg_ports/triplets/ci/arm-linux-release.cmake
  client/client_types.cpp
  client/hostinfo_unix.cpp
  client/whetstone.cpp
  deploy/prepare_deployment.py
  linux/armhf/ci_configure_apps.sh
  linux/armhf/ci_configure_client.sh
  linux/armhf/ci_configure_libs.sh
  linux/armhf/ci_configure_manager.sh
  packages/deb/postinst
Due: client

[ci] remove libmount vcpkg custom port
  3rdParty/vcpkg_ports/ports/libmount/hide-private-symbols.diff
  3rdParty/vcpkg_ports/ports/libmount/portfile.cmake
  3rdParty/vcpkg_ports/ports/libmount/vcpkg.json
Due: none

Test updated freeglut library
  3rdParty/vcpkg_ports/ports/freeglut/android.patch
  3rdParty/vcpkg_ports/ports/freeglut/fix-debug-macro.patch
  3rdParty/vcpkg_ports/ports/freeglut/portfile.cmake
  3rdParty/vcpkg_ports/ports/freeglut/usage
  3rdParty/vcpkg_ports/ports/freeglut/vcpkg-cmake-wrapper.cmake
  3rdParty/vcpkg_ports/ports/freeglut/vcpkg.json
  3rdParty/vcpkg_ports/ports/freeglut/windows-output-name.patch
  3rdParty/vcpkg_ports/ports/freeglut/x11-dependencies-export.patch
Due: none

Test updated libcap library
  3rdParty/vcpkg_ports/ports/libcap/configure
  3rdParty/vcpkg_ports/ports/libcap/portfile.cmake
  3rdParty/vcpkg_ports/ports/libcap/vcpkg.json
Due: none

Test updated libmount library
  3rdParty/vcpkg_ports/ports/libmount/hide-private-symbols.diff
  3rdParty/vcpkg_ports/ports/libmount/portfile.cmake
  3rdParty/vcpkg_ports/ports/libmount/vcpkg.json
Due: none

Test updated pango library
  3rdParty/vcpkg_ports/ports/pango/portfile.cmake
  3rdParty/vcpkg_ports/ports/pango/relax-gi-requirement.diff
  3rdParty/vcpkg_ports/ports/pango/vcpkg.json
Due: none

Test updated xtrans library
  3rdParty/vcpkg_ports/ports/xtrans/portfile.cmake
  3rdParty/vcpkg_ports/ports/xtrans/symbols.patch
  3rdParty/vcpkg_ports/ports/xtrans/vcpkg.json
  3rdParty/vcpkg_ports/ports/xtrans/win32.patch
Due: none

Test updated glib library
  3rdParty/vcpkg_ports/ports/glib/libintl.patch
  3rdParty/vcpkg_ports/ports/glib/portfile.cmake
  3rdParty/vcpkg_ports/ports/glib/use-libiconv-on-windows.patch
  3rdParty/vcpkg_ports/ports/glib/vcpkg.json
Due: none

Test updated pthread-stubs library
  3rdParty/vcpkg_ports/ports/pthread-stubs/portfile.cmake
  3rdParty/vcpkg_ports/ports/pthread-stubs/vcpkg.json
Due: none

Test updated webview2 library
  3rdParty/vcpkg_ports/ports/webview2/portfile.cmake
  3rdParty/vcpkg_ports/ports/webview2/unofficial-webview2-config.cmake
  3rdParty/vcpkg_ports/ports/webview2/vcpkg.json
Due: none

[linux] remove custom librsvg vcpkg port.
  3rdParty/vcpkg_ports/configs/manager/linux/vcpkg.json
  3rdParty/vcpkg_ports/ports/librsvg/CMakeLists.txt
  3rdParty/vcpkg_ports/ports/librsvg/config.h.linux
  3rdParty/vcpkg_ports/ports/librsvg/fix-libxml2-2.13.5.patch
  3rdParty/vcpkg_ports/ports/librsvg/portfile.cmake
  3rdParty/vcpkg_ports/ports/librsvg/unofficial-librsvg-config.cmake
  3rdParty/vcpkg_ports/ports/librsvg/usage
  3rdParty/vcpkg_ports/ports/librsvg/vcpkg.json
  3rdParty/vcpkg_ports/ports/pixbufloader-svg/CMakeLists.txt
  3rdParty/vcpkg_ports/ports/pixbufloader-svg/fix_io_svg_for_static_build.patch
  3rdParty/vcpkg_ports/ports/pixbufloader-svg/pixbufloader-svg.pc.in
  3rdParty/vcpkg_ports/ports/pixbufloader-svg/portfile.cmake
  3rdParty/vcpkg_ports/ports/pixbufloader-svg/vcpkg.json
  linux/arm64/ci_configure_manager.sh
  linux/armhf/ci_configure_manager.sh
  linux/ci_configure_manager.sh
Due: none

Test updated libnotify library
  3rdParty/vcpkg_ports/ports/libnotify/0001-fix-parameter-name-omitted-error.patch
  3rdParty/vcpkg_ports/ports/libnotify/portfile.cmake
  3rdParty/vcpkg_ports/ports/libnotify/vcpkg.json
Due: none

Test updated libxdmcp library
  3rdParty/vcpkg_ports/ports/libxdmcp/configure.ac.patch
  3rdParty/vcpkg_ports/ports/libxdmcp/portfile.cmake
  3rdParty/vcpkg_ports/ports/libxdmcp/vcpkg.json
Due: none

Test updated libxext library
  3rdParty/vcpkg_ports/ports/libxext/portfile.cmake
  3rdParty/vcpkg_ports/ports/libxext/vcpkg.json
Due: none

Only disable hw accel if vbox is not newer than 7.1.99 and we are running under a hypervisor
  samples/vboxwrapper/vbox_vboxmanage.cpp
Due: none

Test updated libxau library
  3rdParty/vcpkg_ports/ports/libxau/fix-configure-ac.patch
  3rdParty/vcpkg_ports/ports/libxau/portfile.cmake
  3rdParty/vcpkg_ports/ports/libxau/vcpkg.json
Due: none

Test updated libxfixes library
  3rdParty/vcpkg_ports/ports/libxfixes/fix-configure.patch
  3rdParty/vcpkg_ports/ports/libxfixes/portfile.cmake
  3rdParty/vcpkg_ports/ports/libxfixes/vcpkg.json
Due: none

Test updated libxi library
  3rdParty/vcpkg_ports/ports/libxi/fix-configure.patch
  3rdParty/vcpkg_ports/ports/libxi/portfile.cmake
  3rdParty/vcpkg_ports/ports/libxi/vcpkg.json
Due: none

Fix `is_virtualbox_version_newer` for vbox versions whose release is >= the checked releasion version
  samples/vboxwrapper/vbox_common.cpp
Due: none

Test updated libxrandr library
  3rdParty/vcpkg_ports/ports/libxrandr/fix-configure.patch
  3rdParty/vcpkg_ports/ports/libxrandr/portfile.cmake
  3rdParty/vcpkg_ports/ports/libxrandr/vcpkg.json
Due: none

Test updated libxrender library
  3rdParty/vcpkg_ports/ports/libxrender/fix-configure.patch
  3rdParty/vcpkg_ports/ports/libxrender/portfile.cmake
  3rdParty/vcpkg_ports/ports/libxrender/vcpkg.json
Due: none

Test updated libxtst library
  3rdParty/vcpkg_ports/ports/libxtst/fix-configure.patch
  3rdParty/vcpkg_ports/ports/libxtst/portfile.cmake
  3rdParty/vcpkg_ports/ports/libxtst/vcpkg.json
Due: none

Test updated xcb-util-m4 library
  3rdParty/vcpkg_ports/ports/xcb-util-m4/portfile.cmake
  3rdParty/vcpkg_ports/ports/xcb-util-m4/vcpkg.json
Due: none
