Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    after_n_builds: 4
    wait_for_ci: true

coverage:
  status:
    project: off
    patch:
      default:
        threshold: 0.01

comment:
  layout: "diff, files"
  behavior: default
  require_changes: true    # if true: only post the comment if coverage changes
  require_base: false      # [true :: must have a base report to post]
  require_head: true       # [true :: must have a head report to post]
  branches:
    - master
  after_n_builds: 4

github_checks:
    annotations: false

flags:
  # filter the folder(s) you wish to measure by that flag
  api:
    paths:
      - api/
  library:
    paths:
      - lib/
  client:
    paths:
      - client/
      - clientgui/
  server:
    paths:
      - sched/
      - db/
      - tools/
  android:
    paths:
      - android/BOINC/app/src/main/java/edu/berkeley/boinc

# don't gather statistics for test and external libraries
ignore:
  - tests/.*
  - zip/.*
  - 3rdParty/.*

fix copilot warnings
  lib/gui_rpc_client_print.cpp
  lib/proc_control.cpp
  lib/remote_submit.cpp
Due: library

fix copilot warnings
  client/cs_scheduler.cpp
  client/result.cpp
  client/sim.cpp
Due: client

don't use range-based for if we delete stuff in the vector
  client/acct_mgr.cpp
  client/client_state.cpp
Due: client

Remove obsolete CAGetAdministratorsGroupName
  clientsetup/win/CADeleteBOINCGroups.cpp
  clientsetup/win/CAGetAdministratorsGroupName.cpp
  clientsetup/win/CAGetAdministratorsGroupName.h
  clientsetup/win/boinccas.def
  installer/include/CustomAction.json
  installer/include/InstallExecuteSequence.json
  win_build/boinccas.vcxproj
Due: none

Fix msi_validation script
  clientsetup/win/CACreateBOINCAccounts.cpp
  clientsetup/win/CACreateBOINCGroups.cpp
  clientsetup/win/stdafx.h
  tests/msi_validation.py
Due: none

be more careful when delete vector element during scan of the vector
  client/acct_mgr.cpp
  client/client_state.cpp
  client/cs_cmdline.cpp
Due: client

win build fixes
  client/app_start.cpp
  client/cs_files.cpp
  client/cs_scheduler.cpp
  client/log_flags.cpp
Due: client

fix bug where PROJECT initialized before # of GPUs is known. Not sure how it ever worked.
  client/work_fetch.cpp
Due: client

client: need -f arg for docker rm container on cleanup
  client/cs_apps.cpp
Due: client

[windows] remove unused defined int vcxproj files
  win_build/boinc_cli.vcxproj
  win_build/boinc_os_ss.vcxproj
  win_build/boinc_ss.vcxproj
  win_build/boinccas.vcxproj
  win_build/boinccmd.vcxproj
  win_build/boinclog.vcxproj
  win_build/boincsvcctrl.vcxproj
  win_build/boinctray.vcxproj
  win_build/crypt_prog.vcxproj
  win_build/docker_wrapper.vcxproj
  win_build/example_app_atiopencl.vcxproj
  win_build/example_app_multi_thread.vcxproj
  win_build/example_app_nvcuda.vcxproj
  win_build/example_app_nvopencl.vcxproj
  win_build/glut.vcxproj
  win_build/htmlgfx.vcxproj
  win_build/image_libs.vcxproj
  win_build/installer.vcxproj
  win_build/installer_icon.vcxproj
  win_build/installer_setup.vcxproj
  win_build/jpeglib.vcxproj
  win_build/libboinc.vcxproj
  win_build/libboincapi.vcxproj
  win_build/libboincopencl.vcxproj
  win_build/libboinczip.vcxproj
  win_build/libgraphics2.vcxproj
  win_build/sim.vcxproj
  win_build/sleeper.vcxproj
  win_build/slide_show.vcxproj
  win_build/sporadic.vcxproj
  win_build/uc2.vcxproj
  win_build/uc2_dll.vcxproj
  win_build/uc2_graphics.vcxproj
  win_build/unittests.vcxproj
  win_build/vboxwrapper.vcxproj
  win_build/worker.vcxproj
  win_build/wrapper.vcxproj
  win_build/wrappture_example.vcxproj
  win_build/wsl_wrapper.vcxproj
Due: none

copilot fix; also make submit_buda work again
  client/cs_platforms.cpp
  tools/submit_buda
Due: client, server

make submit_buda work again
  tools/submit_buda
Due: server

docker wrapper: fix CPU time accounting
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

docker wrapper: sanity-check the output of podman stats
  configure.ac
  samples/docker_wrapper/docker_wrapper.cpp
  version.h
  win_build/docker_wrapper.vcxproj
Due: none

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

Add some const qualifiers
  client/acct_mgr.cpp
  client/app.cpp
  client/app.h
  client/app_config.cpp
  client/app_start.cpp
  client/boinc_cmd.cpp
  client/check_state.cpp
  client/client_state.cpp
  client/client_state.h
  client/client_types.cpp
  client/client_types.h
  client/cs_apps.cpp
  client/cs_platforms.cpp
  client/cs_scheduler.cpp
  client/result.cpp
  lib/gui_rpc_client.h
  lib/gui_rpc_client_print.cpp
Due: library, client

[ci] update actions
  .github/workflows/linux-package.yml
  .github/workflows/linux.yml
  .github/workflows/osx.yml
  .github/workflows/windows.yml
Due: none

copilot fixes
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

cubic fix
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

copilot fix
  samples/docker_wrapper/docker_wrapper.cpp
  sched/credit.cpp
Due: server

Test updated webview2 vcpkg port
  3rdParty/vcpkg_ports/ports/webview2/portfile.cmake
  3rdParty/vcpkg_ports/ports/webview2/unofficial-webview2-config.cmake
  3rdParty/vcpkg_ports/ports/webview2/vcpkg.json
Due: none

Test updated opengl-registry vcpkg port
  3rdParty/vcpkg_ports/ports/opengl-registry/copyright
  3rdParty/vcpkg_ports/ports/opengl-registry/portfile.cmake
  3rdParty/vcpkg_ports/ports/opengl-registry/vcpkg.json
Due: none

Test updated libxext vcpkg port
  3rdParty/vcpkg_ports/ports/libxext/portfile.cmake
  3rdParty/vcpkg_ports/ports/libxext/vcpkg.json
Due: none

Test updated libxrandr vcpkg port
  3rdParty/vcpkg_ports/ports/libxrandr/fix-configure.patch
  3rdParty/vcpkg_ports/ports/libxrandr/portfile.cmake
  3rdParty/vcpkg_ports/ports/libxrandr/vcpkg.json
Due: none

back end: code cleanup. No functional change
  sched/credit.cpp
  sched/credit_test.cpp
  sched/db_dump.cpp
  sched/edf_sim.cpp
  sched/handle_request.cpp
Due: server

update_stats: decay app versions.expavg_credit
  html/user/apps.php
  sched/update_stats.cpp
Due: server

[ci] Add windows installation tests to test installer behavior in service mode
  .github/workflows/windows.yml
  tests/windows_installer_integration_tests.py
Due: none

[windows][installer] add acct_mgr_login test
  .github/workflows/windows.yml
  tests/windows_installer_integration_tests.py
Due: none

back end code: use range-based for
  sched/plan_class_spec.cpp
  sched/sample_assimilator.cpp
  sched/sample_bitwise_validator.cpp
  sched/sample_substr_validator.cpp
  sched/sched_check.cpp
  sched/sched_customize.cpp
  sched/sched_files.cpp
  sched/sched_keyword.cpp
  sched/sched_limit.h
  sched/sched_locality.cpp
  sched/sched_main.cpp
  sched/sched_nci.cpp
  sched/sched_resend.cpp
  sched/sched_result.cpp
  sched/sched_score.cpp
  sched/sched_send.cpp
  sched/sched_shmem.cpp
  sched/sched_types.cpp
  sched/sched_version.cpp
  sched/script_assimilator.cpp
  sched/script_validator.cpp
  sched/single_job_assimilator.cpp
  sched/transitioner.cpp
  sched/validate_util.cpp
  sched/validator.cpp
Due: server

Remove custom gtk3 port
  3rdParty/vcpkg_ports/ports/gtk3/0001-build.patch
  3rdParty/vcpkg_ports/ports/gtk3/cairo-cpp-linkage.patch
  3rdParty/vcpkg_ports/ports/gtk3/egl-conditional.diff
  3rdParty/vcpkg_ports/ports/gtk3/portfile.cmake
  3rdParty/vcpkg_ports/ports/gtk3/vcpkg.json
Due: none

Fix CACreateClientAuthFile
  clientsetup/win/CACreateClientAuthFile.cpp
  tests/unit-tests/boinccas/test_boinccas_CACreateClientAuthFile.cpp
Due: none

Revert "Fix CACreateClientAuthFile"
  clientsetup/win/CACreateClientAuthFile.cpp
  tests/unit-tests/boinccas/test_boinccas_CACreateClientAuthFile.cpp
Due: none

Debug generating password
  clientsetup/win/CACreateBOINCAccounts.cpp
Due: none

Debug
  clientsetup/win/CACreateBOINCAccounts.cpp
Due: none

Debug
  clientsetup/win/CACreateBOINCAccounts.cpp
  tests/unit-tests/boinccas/boinccas_helper.cpp
Due: none

Might this be a fix?
  clientsetup/win/CACreateBOINCAccounts.cpp
Due: none

This is the fix?
  clientsetup/win/CACreateBOINCAccounts.cpp
Due: none

Build fix
  clientsetup/win/CACreateBOINCAccounts.cpp
Due: none

Refactor
  clientsetup/win/CACreateBOINCAccounts.cpp
Due: none

[windows][installer] add client_auth.xml creation test
  .github/workflows/windows.yml
  tests/windows_installer_integration_tests.py
  tests/windows_installer_integration_tests_prepare.py
Due: none
