Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    after_n_builds: 4
    wait_for_ci: true

coverage:
  status:
    project: off
    patch:
      default:
        threshold: 0.01

comment:
  layout: "diff, files"
  behavior: default
  require_changes: true    # if true: only post the comment if coverage changes
  require_base: false      # [true :: must have a base report to post]
  require_head: true       # [true :: must have a head report to post]
  branches:
    - master
  after_n_builds: 4

github_checks:
    annotations: false

flags:
  # filter the folder(s) you wish to measure by that flag
  api:
    paths:
      - api/
  library:
    paths:
      - lib/
  client:
    paths:
      - client/
      - clientgui/
  server:
    paths:
      - sched/
      - db/
      - tools/
  android:
    paths:
      - android/BOINC/app/src/main/java/edu/berkeley/boinc

# don't gather statistics for test and external libraries
ignore:
  - tests/.*
  - zip/.*
  - 3rdParty/.*

[ci] update actions
  .github/workflows/all_projects_list_xml_update.yml
  .github/workflows/android.yml
  .github/workflows/check_custom_vcpkg_ports.yml
  .github/workflows/linux-package-stable-release.yml
  .github/workflows/linux-package.yml
  .github/workflows/linux.yml
  .github/workflows/mingw.yml
  .github/workflows/osx.yml
  .github/workflows/snap.yml
  .github/workflows/source-code-check.yml
  .github/workflows/test-report.yml
  .github/workflows/update_actions.yml
  .github/workflows/update_copyright_year.yml
  .github/workflows/vcpkg_test.yml
  .github/workflows/windows.yml
Due: none

Client/Manager release 8.2.8
  android/BOINC/app/build.gradle
  configure.ac
  installer/include/Property.json
  snap/gui/boinc.desktop
  snap/snapcraft.yaml
  version.h
Due: none

[ci] add opensuse 16.0 to the stable release list
  .github/workflows/linux-package-stable-release.yml
Due: none

[ci] fix adding linux release packages
  .github/workflows/debrepo/repo_update.sh
  .github/workflows/rpmrepo/repo_update.sh
Due: none

[ci] fix linux package release ci
  .github/workflows/debrepo/repo_update.sh
  .github/workflows/rpmrepo/repo_update.sh
Due: none

[ci] add test from stable for debian trixie and opensuse 16.0
  .github/workflows/linux-package.yml
Due: none

web: get cross-project stats from free-dc.org rather than netsoft-online.com
  html/inc/stats_sites.inc
  html/inc/user.inc
  html/inc/util.inc
  html/inc/util_basic.inc
  html/ops/clean_cache.php
  html/project.sample/cache_parameters.inc
Due: none

client, docker_wrapper (Win): run Podman commands as root
  client/cs_apps.cpp
  client/hostinfo_wsl.cpp
  lib/util.cpp
  lib/util.h
  lib/win_util.cpp
  lib/win_util.h
Due: library, client

fix wrapper builds
  samples/docker_wrapper/docker_wrapper.cpp
  samples/wsl_wrapper/wsl_wrapper.cpp
Due: none

docker_wrapper: fix from Cubic
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

fix distro name in standalone case (use constant)
  samples/docker_wrapper/docker_wrapper.cpp
  samples/wsl_wrapper/wsl_wrapper.cpp
Due: none

Test vcpkg test failure
  .github/workflows/vcpkg_test.yml
Due: none

Add another revision
  .github/workflows/vcpkg_test.yml
Due: none

Another revision
  .github/workflows/vcpkg_test.yml
Due: none

Try with the other package installed
  .github/workflows/vcpkg_test.yml
Due: none

Another try
  .github/workflows/vcpkg_test.yml
Due: none

One more try
  .github/workflows/vcpkg_test.yml
Due: none

Try temporary fix
  .github/workflows/vcpkg_test.yml
Due: none

wrappers: avoid dynamic allocation
  samples/docker_wrapper/docker_wrapper.cpp
  samples/wsl_wrapper/wsl_wrapper.cpp
Due: none

build fix
  samples/wsl_wrapper/wsl_wrapper.cpp
Due: none

logic fix
  samples/docker_wrapper/docker_wrapper.cpp
  samples/wsl_wrapper/wsl_wrapper.cpp
Due: none

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

Update samples release version: docker_wrapper: set version to 16 wsl_wrapper: set version to 5
  configure.ac
  version.h
  win_build/docker_wrapper.vcxproj
  win_build/wsl_wrapper.vcxproj
Due: none

automated batch retirement: reduce delay from 90 to 30 days
  html/ops/submit_retire.php
Due: none

client, Android: clarify message
  client/cs_prefs.cpp
  lib/common_defs.h
  testbase
Due: library, client

same thing for battery overheat
  client/client_state.cpp
  client/client_state.h
  client/cs_prefs.cpp
  lib/common_defs.h
Due: library, client

oops! Thanks, Cubic
  client/cs_prefs.cpp
Due: client

add comment about suspend strings
  lib/common_defs.h
  lib/str_util.cpp
Due: library

typo
  lib/common_defs.h
Due: library

[tests] update boinc vcpkg port from the vcpkg upstream
  tests/vcpkg/ports/boinc/portfile.cmake
  tests/vcpkg/ports/boinc/vcpkg.json
Due: none

add script to generate hash for guix package
  release_tools/get_release_hash_for_guix.sh
Due: none

[ci] fix wsl_wrapper upload during build
  deploy/prepare_deployment.py
Due: none

Skip WSL discovery and fix logging for BOINC running as service
  client/client_state.cpp
  client/hostinfo_wsl.cpp
Due: client

client: don't complain about projects/virtualbox; we created it
  client/cs_files.cpp
Due: client

case-insensitive compare
  client/cs_files.cpp
Due: client

[snap] add arm64 build
  .github/workflows/snap.yml
  3rdParty/vcpkg_ports/triplets/ci/snap-linux-arm64.cmake
  snap/snapcraft.yaml
Due: none
