Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    after_n_builds: 4
    wait_for_ci: true

coverage:
  status:
    project: off
    patch:
      default:
        threshold: 0.01

comment:
  layout: "diff, files"
  behavior: default
  require_changes: true    # if true: only post the comment if coverage changes
  require_base: false      # [true :: must have a base report to post]
  require_head: true       # [true :: must have a head report to post]
  branches:
    - master
  after_n_builds: 4

github_checks:
    annotations: false

flags:
  # filter the folder(s) you wish to measure by that flag
  api:
    paths:
      - api/
  library:
    paths:
      - lib/
  client:
    paths:
      - client/
      - clientgui/
  server:
    paths:
      - sched/
      - db/
      - tools/
  android:
    paths:
      - android/BOINC/app/src/main/java/edu/berkeley/boinc

# don't gather statistics for test and external libraries
ignore:
  - tests/.*
  - zip/.*
  - 3rdParty/.*

Fix trailing whitespace
  client/hostinfo_unix.cpp
Due: client

Fix Makefile dependencies when building on Linux
  Makefile.incl
  apps/Makefile.am
  client/Makefile.am
  clientgui/Makefile.am
  lib/Makefile.am
  sched/Makefile.am
  tools/Makefile.am
  vda/Makefile.am
Due: library, client, server

[ci] remove custom libsm vcpkg port
  3rdParty/vcpkg_ports/ports/libsm/msvc.patch
  3rdParty/vcpkg_ports/ports/libsm/portfile.cmake
  3rdParty/vcpkg_ports/ports/libsm/vcpkg.json
  3rdParty/vcpkg_ports/ports/libsm/xtrans.patch
Due: none

web: small fixes
  html/inc/forum.inc
  html/user/gpu_list.php
Due: none

Manager: Don't use a pointer to a local stack variable
  clientgui/AsyncRPC.cpp
Due: client

Mgr: fix recommended by Cubic
  clientgui/AsyncRPC.cpp
Due: client

Mac Mgr: Fix error code when data directory inaccessible
  clientgui/BOINCGUIApp.cpp
Due: client

Mac: Fix compiler warning: jpeg source file object has no symbols
  mac_build/boinc.xcodeproj/project.pbxproj
Due: none

Improve boinc.sln
  win_build/boinc.slnx
  win_build/boinc_cli.vcxproj
  win_build/boinc_os_ss.vcxproj
  win_build/boinc_ss.vcxproj
  win_build/boinccmd.vcxproj
  win_build/boinclog.vcxproj
  win_build/boincmgr.vcxproj
  win_build/libboinc.vcxproj
  win_build/libgraphics2.vcxproj
  win_build/sim.vcxproj
  win_build/slide_show.vcxproj
  win_build/uc2.vcxproj
  win_build/uc2_graphics.vcxproj
Due: none

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

Mac: update to openssl-4.0.2, c-ares-1.28.1, curl-8.20.0
  mac_build/dependencyNames.sh
Due: none

Update mac_build/dependencyNames.sh
  mac_build/dependencyNames.sh
Due: none

[ci] fix android failing build
  .github/workflows/android.yml
Due: none

[ci] update actions
  .github/workflows/android.yml
  .github/workflows/linux.yml
  .github/workflows/windows.yml
Due: none

web: CSS uses /* ... */ for comments, not #
  html/user/buda.php
  html/user/custom.css
  html/user/custom_dark.css
  html/user/main.css
  html/user/manage_project.php
  html/user/style2.css
  html/user/white.css
Due: none

copilot fixes
  html/user/buda.php
  html/user/main.css
Due: none

remove some duplicate include files
  clientgui/AccountInfoPage.h
  clientgui/BOINCListCtrl.cpp
  clientgui/BOINCListCtrl.h
  clientgui/CompletionErrorPage.h
  clientgui/DlgEventLogListCtrl.cpp
  clientgui/DlgHiddenColumns.cpp
  clientgui/SkinManager.cpp
  clientgui/sg_BoincSimpleFrame.cpp
  lib/crypt.cpp
Due: library, client

AI fixes
  html/user/buda.php
  sched/sched_config.cpp
Due: server

DB: expand workunit.result_template_file from 63 to 254 chars.
  db/boinc_db.h
  db/boinc_db_types.h
  db/schema.sql
  html/ops/db_update.php
Due: server

typo
  html/user/buda.php
Due: none

web: CSS uses /* ... */ for comments, not # or //
  html/user/custom.css
  html/user/custom_dark.css
  html/user/main.css
  html/user/style2.css
  html/user/white.css
Due: none

Fix typo
  sched/sched_config.cpp
Due: server

scheduler: add plan class item to distinguish new vs old AMD GPUs
  sched/plan_class_spec.cpp
  sched/plan_class_spec.h
  sched/sched_shmem.h
Due: server

web: don't show profile links if profiles are disabled
  html/inc/user.inc
Due: none

AI fix
  sched/plan_class_spec.cpp
Due: server

AI fix
  db/boinc_db_types.h
Due: server

web: reuse Memcache connections
  html/inc/cache.inc
Due: none

scheduler: Apple GPU tweaks
  sched/plan_class_spec.cpp
  sched/plan_class_spec.h
  sched/plan_class_spec.xml.sample
Due: server

[ci][linux] add proper verification for the c++ standard, use up to c++17 if available
  configure.ac
Due: none

Mac: always set deployment target to SDK's oldest supported MacOS version
  mac_build/BOINC.xcconfig
  mac_build/boinc.xcodeproj/project.pbxproj
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/AddRemoveUser.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/BOINC_Client.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/Build_All.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/Fix_BOINC_Users.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/GFX_SS_Bridge.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/Install_BOINC.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/PostInstall.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/Run_Podman.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/ScreenSaver.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/SetUpSecurity.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/SetVersion.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/Uninstaller.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/api_libboinc.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/boinc_finish_install.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/boinc_opencl.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/cmd_boinc.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/detect_rosetta_cpu.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/gfx2libboinc.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/gfx_cleanup.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/gfx_switcher.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/jpeg.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/libboinc.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/mgr_boinc.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/setprojectgrp.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/ss_app.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/switcher.xcscheme
Due: none

Mac: Update other BOINC Xcode projects and BuildMacBOINC.sh script
  mac_RemovePodman/RemovePodman.xcconfig
  mac_RemovePodman/RemovePodman.xcodeproj/project.pbxproj
  mac_RemovePodman/RemovePodman.xcodeproj/xcshareddata/xcschemes/RemovePodman.xcscheme
  mac_build/BuildMacBOINC.sh
  samples/docker_wrapper/docker_wrapper.xcodeproj/project.pbxproj
  samples/docker_wrapper/docker_wrapper.xcodeproj/xcshareddata/xcschemes/docker_wrapper.xcscheme
  samples/mac_build/UpperCase2.xcconfig
  samples/mac_build/UpperCase2.xcodeproj/project.pbxproj
  samples/mac_build/UpperCase2.xcodeproj/xcshareddata/xcschemes/Build_All.xcscheme
  samples/mac_build/UpperCase2.xcodeproj/xcshareddata/xcschemes/UC2.xcscheme
  samples/mac_build/UpperCase2.xcodeproj/xcshareddata/xcschemes/UC2Gfx.xcscheme
  samples/mac_build/UpperCase2.xcodeproj/xcshareddata/xcschemes/slide_show.xcscheme
  samples/vboxwrapper/vboxwrapper.xcconfig
  samples/vboxwrapper/vboxwrapper.xcodeproj/project.pbxproj
  samples/vboxwrapper/vboxwrapper.xcodeproj/xcshareddata/xcschemes/Build_All.xcscheme
  samples/vboxwrapper/vboxwrapper.xcodeproj/xcshareddata/xcschemes/vboxwrapper.xcscheme
  zip/boinc_zip.xcodeproj/project.pbxproj
  zip/boinc_zip.xcodeproj/xcshareddata/xcschemes/boinc_zip.xcscheme
Due: none

Mac: Update other BOINC Xcode projects and BuildMacBOINC.sh script
  samples/docker_wrapper/docker_wrapper.xcconfig
Due: none

Mac: Untrack files which can change dynamically per Cubic-dev-ai recommendation
  mac_RemovePodman/RemovePodman.xcconfig
  mac_build/BOINC.xcconfig
  samples/docker_wrapper/docker_wrapper.xcconfig
  samples/vboxwrapper/vboxwrapper.xcconfig
Due: none

Mac: Untrack files which can change dynamically per Cubic-dev-ai recommendation
  samples/mac_build/UpperCase2.xcconfig
Due: none

Mac: Better error checking as recommended by cubic-dev-ai
  mac_RemovePodman/RemovePodman.xcodeproj/xcshareddata/xcschemes/RemovePodman.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/AddRemoveUser.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/BOINC_Client.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/Build_All.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/Fix_BOINC_Users.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/GFX_SS_Bridge.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/Install_BOINC.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/PostInstall.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/Run_Podman.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/ScreenSaver.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/SetUpSecurity.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/SetVersion.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/Uninstaller.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/api_libboinc.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/boinc_finish_install.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/boinc_opencl.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/cmd_boinc.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/detect_rosetta_cpu.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/gfx2libboinc.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/gfx_cleanup.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/gfx_switcher.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/jpeg.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/libboinc.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/mgr_boinc.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/setprojectgrp.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/ss_app.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/switcher.xcscheme
  samples/docker_wrapper/docker_wrapper.xcodeproj/xcshareddata/xcschemes/docker_wrapper.xcscheme
  samples/mac_build/UpperCase2.xcodeproj/xcshareddata/xcschemes/Build_All.xcscheme
  samples/mac_build/UpperCase2.xcodeproj/xcshareddata/xcschemes/UC2.xcscheme
  samples/mac_build/UpperCase2.xcodeproj/xcshareddata/xcschemes/UC2Gfx.xcscheme
  samples/mac_build/UpperCase2.xcodeproj/xcshareddata/xcschemes/slide_show.xcscheme
  samples/vboxwrapper/vboxwrapper.xcodeproj/xcshareddata/xcschemes/Build_All.xcscheme
  samples/vboxwrapper/vboxwrapper.xcodeproj/xcshareddata/xcschemes/vboxwrapper.xcscheme
Due: none

Mac: Update build scripts for dependent libraries
  mac_build/BuildMacBOINC.sh
  mac_build/Update_Info_Plists.sh
  mac_build/buildFTGL.sh
  mac_build/buildWxMac.sh
  mac_build/buildc-ares.sh
  mac_build/buildcurl.sh
  mac_build/buildfreetype.sh
  mac_build/buildlibzip.sh
  mac_build/buildopenssl.sh
Due: none

Mac: update to wxwidgets 3.3.3
  mac_build/dependencyNames.sh
Due: none
