Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

Mac: rework how we update version numbers in info.plist files to fix Xcode race condition
  mac_build/Update_Info_Plists.sh
Due: none

Fix trailing whitespace, add missing xcscheme
  mac_build/Update_Info_Plists.sh
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/Fix_BOINC_Users.xcscheme
Due: none

Mac: rework how we update version numbers in info.plist files to fix Xcode race condition
  mac_build/BuildMacBOINC.sh
  mac_build/Update_Info_Plists.sh
Due: none

Mac: rework how we update version numbers in info.plist files to fix Xcode race condition
  clientgui/mac/SetVersion.cpp
  mac_build/BuildMacBOINC.sh
Due: client

Remove infinished wasm compilation support.
  .github/workflows/wasm.yml
  .gitignore
  3rdParty/vcpkg_ports/configs/client/wasm/vcpkg.json
  3rdParty/vcpkg_ports/triplets/ci/wasm32-emscripten.cmake
  Makefile.am
  client/hostinfo_network.cpp
  client/hostinfo_unix.cpp
  configure.ac
  deploy/prepare_deployment.py
  samples/wasm/index.html
  wasm/ci_configure_client.sh
  wasm/ci_make.sh
  wasm/update_emsdk.sh
  wasm/update_emsdk_vcpkg.sh
Due: client

- allow mass retirement of aborted batches - set completion time when abort batch - add BoincBatch::delete_batch() - add keywords for new Central projects
  html/inc/keywords.inc
  html/inc/submit_db.inc
  html/inc/submit_util.inc
  html/user/submit.php
Due: none

copilot fixes
  html/inc/keywords.inc
  html/inc/submit_db.inc
Due: none

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

Update html/inc/keywords.inc
  html/inc/keywords.inc
Due: none

web (job submission): add function to check for top-level directory in zip
  html/inc/submit_util.inc
Due: none

web (job submission): enumerate and order batches correctly
  html/inc/bootstrap.inc
  html/user/submit.php
Due: none

copilot fix
  html/user/submit.php
Due: none

[ci] Fix mingw build
  .github/workflows/mingw.yml
Due: none

web (job submission): fix bug in output file download
  html/user/get_output3.php
Due: none

web (job submission): fix bug in retire batch
  html/inc/submit_util.inc
Due: none

client: if there's a new BOINC WSL distro, link to correct page
  client/hostinfo_wsl.cpp
Due: client

web (job submission): make output file download more secure
  html/user/get_output3.php
  html/user/submit.php
Due: none

fix scrutinizer nits
  html/user/submit.php
Due: none

Mac: Fix screensaver to run correctly on MacOS 26
  client/check_security.cpp
  client/switcher.cpp
  clientgui/mac/templates/ScreenSaver-Info.plist
  clientscr/Mac_Saver_Module.h
  clientscr/Mac_Saver_ModuleView.h
  clientscr/Mac_Saver_ModuleView.m
  clientscr/gfx_cleanup.mm
  clientscr/gfx_switcher.cpp
  clientscr/mac_saver_module.cpp
  clientscr/screensaver.cpp
Due: client

Mac Installer: under MacOS 26, set screensaver to BOINC after getting user OK
  clientgui/mac/templates/Finish_Install-Info.plist
  clientgui/mac/templates/PostInstall-Info.plist
  mac_build/boinc.xcodeproj/project.pbxproj
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/boinc_finish_install.xcscheme
  mac_installer/PostInstall.cpp
  mac_installer/finish_install.cpp
  mac_installer/release_boinc.sh
  mac_installer/release_brand.sh
Due: client

Fix trailing whitespace
  client/check_security.cpp
  mac_installer/finish_install.cpp
Due: client

Mac Screensaver: don't try to draw moving logo when covered by project graphics
  clientscr/Mac_Saver_ModuleView.m
Due: none

Fix Windows build errors
  clientscr/screensaver.cpp
Due: none

Fix trailing whitespace, implement Copilot suggestions
  clientscr/Mac_Saver_ModuleView.m
  mac_installer/PostInstall.cpp
  mac_installer/finish_install.cpp
  mac_installer/release_boinc.sh
  mac_installer/release_brand.sh
Due: none

Fix compile error caused by typo
  mac_installer/finish_install.cpp
Due: none

Implement changes suggested by Copilot
  clientscr/mac_saver_module.cpp
  mac_installer/finish_install.cpp
Due: none

[ci][android] build vcpkg test on r23c and r27c NDKs
  .github/workflows/vcpkg_test.yml
  configure.ac
  lib/diagnostics.cpp
Due: library

Mac: add missing environment variables in podman int and start calls
  client/hostinfo_unix.cpp
Due: client

mac: add environment variable and argument to podman calls; change podman directory
  lib/hostinfo.cpp
Due: library

Mac: Move & rename podman directory
  client/check_security.cpp
  client/file_names.h
  clientgui/mac/SetupSecurity.cpp
  mac_installer/PostInstall.cpp
  mac_installer/release_boinc.sh
  mac_installer/release_brand.sh
Due: client

Mac docker_wrapper: label builds Development or Deployment instead of Debug or Release
  samples/docker_wrapper/docker_wrapper.xcodeproj/xcshareddata/xcschemes/docker_wrapper.xcscheme
Due: none

Mac Use new utility Run_Podman to run Podman as user boinc_project
  client/check_security.cpp
  client/file_names.h
  client/hostinfo_unix.cpp
  clientgui/mac/SetupSecurity.cpp
  lib/hostinfo.cpp
  lib/hostinfo.h
  lib/util.cpp
  mac_build/boinc.xcodeproj/project.pbxproj
  mac_installer/release_boinc.sh
  mac_installer/release_brand.sh
Due: library, client

Mac: Installer gets path to podman executable and makes it available to Run_Podman utility
  mac_installer/PostInstall.cpp
Due: none

Mac: minor tweak to docker_wrapper Xcode project - no functional changes
  samples/docker_wrapper/docker_wrapper.xcodeproj/xcshareddata/xcschemes/docker_wrapper.xcscheme
Due: none

Mac Use new utility Run_Podman to run Podman as user boinc_project
  client/Run_Podman.cpp
Due: client

Manager: Remove unused declarations erroneously / accidentally (?) added in commit 880cb51c38
  clientgui/AdvancedFrame.cpp
Due: client

Mac: avoid xcode warning "Manual build order is deprecated" by passing -scheme instead of -target
  mac_build/BuildMacBOINC.sh
  mac_build/boinc.xcodeproj/project.pbxproj
Due: none

Mac: avoid xcode warning "Manual build order is deprecated" by passing -scheme instead of -target
  mac_build/BuildMacBOINC.sh
Due: none

Path conditions:
  api: any of: api/, but not: tests/.*, zip/.*, 3rdParty/.*
  library: any of: lib/, but not: tests/.*, zip/.*, 3rdParty/.*
  client: any of: client/, clientgui/, but not: tests/.*, zip/.*, 3rdParty/.*
  server: any of: sched/, db/, tools/, but not: tests/.*, zip/.*, 3rdParty/.*
  android: any of: android/BOINC/app/src/main/java/edu/berkeley/boinc, but not: tests/.*, zip/.*, 3rdParty/.*
