Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    after_n_builds: 4
    wait_for_ci: true

coverage:
  status:
    project: off
    patch:
      default:
        threshold: 0.01

comment:
  layout: "diff, files"
  behavior: default
  require_changes: true    # if true: only post the comment if coverage changes
  require_base: false      # [true :: must have a base report to post]
  require_head: true       # [true :: must have a head report to post]
  branches:
    - master
  after_n_builds: 4

github_checks:
    annotations: false

flags:
  # filter the folder(s) you wish to measure by that flag
  api:
    paths:
      - api/
  library:
    paths:
      - lib/
  client:
    paths:
      - client/
      - clientgui/
  server:
    paths:
      - sched/
      - db/
      - tools/
  android:
    paths:
      - android/BOINC/app/src/main/java/edu/berkeley/boinc

# don't gather statistics for test and external libraries
ignore:
  - tests/.*
  - zip/.*
  - 3rdParty/.*

Mac: Use wxWidgets 3.3.1, eliminate patching wxWidgets
  clientgui/mac/BOINCGUIApp.mm
  clientgui/mac/MacBitmapComboBox.cpp
  clientgui/mac/MacBitmapComboBox.h
  clientgui/sg_TaskPanel.cpp
  mac_build/buildWxMac.sh
  mac_build/dependencyNames.sh
Due: client

Temporarily modify wxWidgets build script for debugging
  mac_build/buildWxMac.sh
Due: none

Mac: Modify wxWidgets build script to tell compiler to use C++11 language stadard
  mac_build/buildWxMac.sh
Due: none

Mac: Modify wxWidgets build script to tell compiler to use C++11 language standard
  mac_build/buildWxMac.sh
Due: none

Mac: Modify wxWidgets build script to tell compiler to use C++11 language standard
  mac_build/boinc.xcodeproj/project.pbxproj
  mac_build/buildWxMac.sh
Due: none

Mac: Tell CI to use Xcode 26.0.1 to try to fix wxWidgets 3.3.1 build
  .github/workflows/osx.yml
Due: none

Mac: Modify wxWidgets build script to try to fix wxWidgets 3.3.1 build
  mac_build/buildWxMac.sh
Due: none

Mac: fix compile error with wxWidgets 3.3.1: don't use wxBitmap::GetRawAccess()
  clientgui/BOINCTaskBar.cpp
Due: client

Mac: fix compiler warnings when building with wxWidgets 3.3.1
  clientgui/BOINCClientManager.cpp
  clientgui/DlgOptions.cpp
  clientgui/MainDocument.cpp
  clientgui/mac/MacAccessiblity.mm
  clientgui/mac/MacGUI.pch
  clientgui/mac/Mac_GUI.cpp
  clientgui/sg_ProjectPanel.cpp
  clientgui/sg_TaskPanel.cpp
Due: client

Mac: update ReadMe for MacOS 26
  mac_installer/ReadMe.rtf
  mac_installer/wcgrid-ReadMe.rtf
Due: none

Mac: Fix trailing whitespace
  clientgui/BOINCTaskBar.cpp
Due: client

Mac: Remove temporary debugging changes in wxWidgets build script
  mac_build/buildWxMac.sh
Due: none

Mac: Tell CI to use Xcode 16.2.0 again
  .github/workflows/osx.yml
Due: none

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

Mac: Fix typos
  clientgui/mac/BOINCGUIApp.mm
  mac_installer/wcgrid-ReadMe.rtf
Due: client

Mac: Tell CI to use Xcode 26.0.1
  .github/workflows/osx.yml
Due: none

Mac: update build instructions
  mac_build/HowToBuildBOINC_XCode.pdf
  mac_build/HowToBuildBOINC_XCode.rtf
Due: none

Mac: Fix typo
  mac_build/buildWxMac.sh
Due: none

scheduler: for 'docker' plan class on Mac, require 8.2.6 or later client
  sched/plan_class_spec.cpp
Due: server

[ci] build snap package for arm64
  .github/workflows/snap.yml
  3rdParty/vcpkg_ports/triplets/ci/snap-linux-arm64.cmake
  snap/snapcraft.yaml
Due: none

Mac build instructions: update BOINC version number
  mac_build/HowToBuildBOINC_XCode.pdf
  mac_build/HowToBuildBOINC_XCode.rtf
Due: none

web (job submission): tweaks
  html/user/manage_project.php
  html/user/submit.php
Due: none

BUDA job submission: don't allow large batches if 'use only my computers' is set
  html/user/buda_submit.php
Due: none

[wrapper] bump version to 26019
  configure.ac
  version.h
  win_build/wrapper.vcxproj
Due: none

remove cairo from the custom vcpkg ports
  3rdParty/vcpkg_ports/ports/cairo/fix_clang-cl_build.patch
  3rdParty/vcpkg_ports/ports/cairo/msvc-convenience.diff
  3rdParty/vcpkg_ports/ports/cairo/portfile.cmake
  3rdParty/vcpkg_ports/ports/cairo/vcpkg.json
Due: none

libx11: test minimal permissions
  3rdParty/vcpkg_ports/ports/libx11/portfile.cmake
Due: none

Test with at-spi2-core vcpkg custom port removed
  3rdParty/vcpkg_ports/ports/at-spi2-core/portfile.cmake
  3rdParty/vcpkg_ports/ports/at-spi2-core/vcpkg.json
Due: none

test with system dev packages
  .github/workflows/linux.yml
Due: none

web (job submission): fix bug in retire batch
  html/inc/submit_util.inc
Due: none

bug fix in retire batch
  html/inc/submit_util.inc
Due: none

[ci][linux] remove custom gtk3 vcpkg port
  3rdParty/vcpkg_ports/ports/gtk3/0001-build.patch
  3rdParty/vcpkg_ports/ports/gtk3/cairo-cpp-linkage.patch
  3rdParty/vcpkg_ports/ports/gtk3/portfile.cmake
  3rdParty/vcpkg_ports/ports/gtk3/vcpkg.json
Due: none

[ci][linux] remove custom libnotify vcpkg port
  3rdParty/vcpkg_ports/ports/libnotify/0001-fix-parameter-name-omitted-error.patch
  3rdParty/vcpkg_ports/ports/libnotify/portfile.cmake
  3rdParty/vcpkg_ports/ports/libnotify/vcpkg.json
Due: none

fix typo
  html/user/buda_submit.php
Due: none

[ci][linux] remove custom libx11 vcpkg port
  3rdParty/vcpkg_ports/ports/libx11/add_dl_pc.patch
  3rdParty/vcpkg_ports/ports/libx11/cl.build.patch
  3rdParty/vcpkg_ports/ports/libx11/dllimport.patch
  3rdParty/vcpkg_ports/ports/libx11/io_include.patch
  3rdParty/vcpkg_ports/ports/libx11/optimize-configure.patch
  3rdParty/vcpkg_ports/ports/libx11/portfile.cmake
  3rdParty/vcpkg_ports/ports/libx11/vcpkg-cmake-wrapper.cmake
  3rdParty/vcpkg_ports/ports/libx11/vcpkg.json
  3rdParty/vcpkg_ports/ports/libx11/vcxserver.patch
Due: none

[ci][linux] remove at-spi2-core custom vcpkg port
  3rdParty/vcpkg_ports/ports/at-spi2-core/portfile.cmake
  3rdParty/vcpkg_ports/ports/at-spi2-core/vcpkg.json
Due: none

scheduler: if 'only run my jobs on my computers' set, run only your jobs
  html/user/submit.php
  sched/sched_send.cpp
Due: server

client (Android): fix battery check logic
  client/client_state.cpp
  client/client_state.h
  client/cs_prefs.cpp
  client/gui_rpc_server_ops.cpp
Due: client
