Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

.codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    after_n_builds: 3
    wait_for_ci: yes
  token: ${{ secrets.CODECOV_TOKEN }}

coverage:
  status:
    project: off
    patch:
      default:
        threshold: 0.01

comment:
  layout: "diff, files"
  behavior: default
  require_changes: yes    # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]
  branches:
    - master
  after_n_builds: 3

flags:
  # filter the folder(s) you wish to measure by that flag
  api:
    paths:
      - api/
  library:
    paths:
      - lib/
  client:
    paths:
      - client/
      - clientgui/
  server:
    paths:
      - sched/
      - db/
      - tools/
  android:
    paths:
      - android/BOINC/app/src/main/java/edu/berkeley/boinc

# don't gather statistics for test and external libraries
ignore:
  - tests/.*
  - zip/.*
  - 3rdParty/.*

podman/Mac: initialize VM after doing podman --version
  client/hostinfo_unix.cpp
Due: client

[linux] update gdk-pixbuf vcpkg port from upstream
  3rdParty/vcpkg_ports/ports/gdk-pixbuf/portfile.cmake
  3rdParty/vcpkg_ports/ports/gdk-pixbuf/vcpkg.json
Due: none

web: fix warning if 'buda_plan_classes' doesn't exist
  html/inc/app_types.inc
Due: none

RPC-based job submission: make it work with PHP 8
  html/inc/submit.inc
Due: none

web: use 'cores' instead of 'processors'
  html/inc/host.inc
Due: none

web: fix DB error (newer MySQL) when add user submit permission
  html/user/manage_project.php
Due: none

Mac: fix small typo in error message
  client/check_security.cpp
Due: client

add 'Final_Install-Info.plist' to the set-client-version.py script
  set-client-version.py
Due: none

Revert "Merge pull request #6322 from BOINC/vko_add_Final_Install-info.plist_to_the_version_update_script"
  set-client-version.py
Due: none

get hash of the archive with the revision
  .github/workflows/vcpkg_test.yml
  tests/vcpkg/ports/boinc/CMakeLists.txt
  tests/vcpkg/ports/boinc/portfile.cmake
  tests/vcpkg/ports/boinc/vcpkg.json
Due: none

web: tweak colors in batch display to work better for white mode
  html/user/submit.php
Due: none

Remove trailing whitespace
  html/user/submit.php
Due: none

Add linux builds
  .github/workflows/vcpkg_test.yml
  tests/vcpkg/CMakeLists.txt
  tests/vcpkg/main.cpp
  tests/vcpkg/portfilefix.py
  tests/vcpkg/vcpkg.json
Due: none

Fix build
  .github/workflows/vcpkg_test.yml
Due: none

[ci] update actions
  .github/workflows/android.yml
  .github/workflows/linux.yml
  .github/workflows/test-report.yml
  .github/workflows/windows.yml
Due: none

Fix print statements in database module
  py/Boinc/database.py
Due: none

Fix spacing after commas in Windows source files
  api/graphics2_win.cpp
  api/windows_opengl.cpp
  client/hostinfo_win.cpp
  samples/gfx_html/browserctrl_win.cpp
Due: api, client

style: standardize if spacing
  client/hostinfo_win.cpp
Due: client

Fix bug in 'Tasks for computer' view
  drupal/sites/default/boinc/modules/boincwork/includes/boincwork.helpers.inc
Due: none

[ci] Test vcpkg port
  .github/workflows/vcpkg_test.yml
  tests/vcpkg/CMakeLists.txt
  tests/vcpkg/main.cpp
  tests/vcpkg/portfilefix.py
  tests/vcpkg/ports/boinc/CMakeLists.txt
  tests/vcpkg/ports/boinc/portfile.cmake
  tests/vcpkg/ports/boinc/vcpkg.json
  tests/vcpkg/vcpkg.json
Due: none

Always use the current codebase when building boinc vcpkg port
  .github/workflows/vcpkg_test.yml
Due: none

Fix mingw build
  .github/workflows/vcpkg_test.yml
  lib/hostinfo.cpp
  lib/hostinfo.h
Due: library

Support keyword prefs on BOINC projects
  html/inc/kw_prefs.inc
  html/inc/user.inc
  html/user/buda.php
  html/user/buda_submit.php
  html/user/kw_prefs.php
  html/user/manage_project.php
  html/user/workunit.php
  lib/keyword.cpp
  sched/sched_keyword.cpp
  sched/sched_keyword.h
  sched/sched_score.cpp
  sched/sched_send.cpp
  sched/sched_shmem.cpp
  tools/create_work.cpp
Due: library, server

client: make resource usages take effect after reread app_config.xml
  client/app_config.cpp
  client/client_state.cpp
  client/client_state.h
Due: client

build fix
  sched/sched_keyword.cpp
Due: server

build fix
  client/client_state.cpp
Due: client

[ci][osx] build libboinc with cmake in parallel for x64 and arm64.
  .codecov.yml
  .github/workflows/osx.yml
  3rdParty/vcpkg_ports/configs/libs/vcpkg.json
  lib/CMakeLists.txt
  osx/ci_build_libs_cmake.sh
  tests/executeUnitTests.sh
  tests/unit-tests/CMakeLists.txt
  tests/unit-tests/lib/test_util.cpp
Due: library

Add a config option <no_disk_usage/> the skips disk usage in sched requests
  client/cs_scheduler.cpp
  lib/cc_config.cpp
  lib/cc_config.h
Due: library, client

Fix precision_time_to_string function unit test due to the undefined behavior that gives negative value of x64 and positive value of arm64.
  tests/unit-tests/lib/test_str_util.cpp
  tests/unit-tests/lib/test_util.cpp
Due: none

web: on page that shows apps, show register/apply buttons
  html/user/show_apps.php
Due: none

client: remove spurious error messages about WU FLOPS
  client/client_types.cpp
  client/client_types.h
Due: client

web: fix recaptcha bug
  html/inc/recaptchalib.inc
  html/inc/user_util.inc
  html/user/account_ownership.php
  html/user/create_account_form.php
  html/user/create_profile.php
  html/user/register.php
  html/user/signup.php
  html/user/team_create_action.php
  html/user/team_create_form.php
Due: none

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

don't use 'auto' keyword
  clientgui/BOINCBaseFrame.cpp
Due: client

Remove extra semicolon and unused variable
  html/user/workunit.php
  tools/create_work.cpp
Due: server
