Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    after_n_builds: 4
    wait_for_ci: true

coverage:
  status:
    project: off
    patch:
      default:
        threshold: 0.01

comment:
  layout: "diff, files"
  behavior: default
  require_changes: true    # if true: only post the comment if coverage changes
  require_base: false      # [true :: must have a base report to post]
  require_head: true       # [true :: must have a head report to post]
  branches:
    - master
  after_n_builds: 4

github_checks:
    annotations: false

flags:
  # filter the folder(s) you wish to measure by that flag
  api:
    paths:
      - api/
  library:
    paths:
      - lib/
  client:
    paths:
      - client/
      - clientgui/
  server:
    paths:
      - sched/
      - db/
      - tools/
  android:
    paths:
      - android/BOINC/app/src/main/java/edu/berkeley/boinc

# don't gather statistics for test and external libraries
ignore:
  - tests/.*
  - zip/.*
  - 3rdParty/.*

client: don't show spurious messages
  client/client_state.cpp
  lib/util.cpp
Due: library, client

client: handle output of 'wsl --version' in different languages
  client/hostinfo_wsl.cpp
  db/boinc_db_types.h
  lib/hostinfo.h
  sched/sched_host.cpp
  sched/sched_types.cpp
Due: library, client, server

docker_wrapper: add comments
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

[client] fix minor warnings
  client/hostinfo_unix.cpp
Due: client

fixes for WSL containers
  lib/hostinfo.cpp
  sched/plan_class_spec.cpp
Due: library, server

It turns out that, while wsl.exe outputs UTF-16LE (2-byte) chars (which confuse fgets()), wslc.exe outputs ASCI!! In the first case we need to remove every other byte, but not the second. WTF.
  client/hostinfo_wsl.cpp
  lib/util.cpp
  lib/util.h
Due: library, client

docker_wrapper: fix --verbose
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

docker_wrapper: verbose
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

[manager] fix minor code warnings
  clientgui/AdvancedFrame.cpp
  clientgui/DlgAdvPreferences.cpp
  clientgui/DlgEventLog.cpp
  clientgui/SkinManager.cpp
  clientgui/ViewStatistics.cpp
  clientgui/sg_DlgPreferences.h
Due: client

web: fix typo
  html/inc/more.inc
Due: none

docker_wrapper: WSLC: use JSON format for ps and stats
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

typo
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

debug
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

lib: fix minor warnings
  zip/boinc_zip.cpp
Due: none

Add mutex for image builds
  lib/win_util.cpp
  lib/win_util.h
  samples/docker_wrapper/docker_wrapper.cpp
Due: library

typo
  lib/win_util.cpp
Due: library

disconnection check for wslc
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

cubic AI fixes
  client/hostinfo_win.cpp
  lib/util.cpp
  lib/win_util.cpp
  lib/wslinfo.cpp
  samples/docker_wrapper/docker_wrapper.cpp
Due: library, client

Fix linux and windows builds
  .github/workflows/linux-release.yml
  .github/workflows/linux.yml
  3rdParty/vcpkg_ports/configs/apps/linux/vcpkg.json
  configure.ac
  samples/docker_wrapper/docker_wrapper.cpp
  sched/sched_host.cpp
Due: server

Fix nlohmann-json installation on Linux
  .github/workflows/linux-release.yml
  .github/workflows/linux.yml
Due: none

Install nlohmann-json for arm64 and armhf linux builds too
  .github/workflows/linux.yml
Due: none

Fix mingw build
  3rdParty/vcpkg_ports/configs/apps/mingw/vcpkg.json
Due: none

nlohmann-json is not needed for Android builds since we don't build docker_wrapper for this platform
  configure.ac
Due: none

FCGI and c++11 fixes
  lib/util.cpp
  lib/wslinfo.cpp
Due: library

Web: add project customizations
  html/inc/result.inc
  html/inc/util_basic.inc
Due: none

AI fixes
  html/inc/result.inc
  html/inc/util_basic.inc
Due: none

Add nlohmann-json to the macos build
  3rdParty/buildMacDependencies.sh
  mac_build/dependencyNames.sh
Due: none
