Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

update translations
  html/languages/translations/it_IT.po
  html/languages/translations/ja.po
  html/languages/translations/zh_CN.po
  html/languages/translations/zh_TW.po
  locale/fr/BOINC-Manager.mo
  locale/fr/BOINC-Manager.po
  locale/it_IT/BOINC-Manager.mo
  locale/it_IT/BOINC-Manager.po
  locale/ja/BOINC-Manager.mo
  locale/ja/BOINC-Manager.po
  locale/zh_CN/BOINC-Manager.mo
  locale/zh_CN/BOINC-Manager.po
  locale/zh_TW/BOINC-Client.mo
  locale/zh_TW/BOINC-Client.po
  locale/zh_TW/BOINC-Drupal.po
  locale/zh_TW/BOINC-Manager.mo
  locale/zh_TW/BOINC-Manager.po
Due: none

web: handle select items with spaces in them
  html/inc/bootstrap.inc
Due: none

Mac: update to c-ares 1,17,2 and curl 8.16.0, eliminate curl patch no longer needed
  mac_build/buildcurl.sh
  mac_build/dependencyNames.sh
Due: none

web: in login form, say what they're logging into
  html/user/login_form.php
Due: none

job submission enhancements
  html/inc/submit_util.inc
  html/inc/util_basic.inc
  html/user/buda_submit.php
  html/user/manage_project.php
  html/user/sandbox.php
  html/user/submit.php
Due: none

tweak
  html/user/buda_submit.php
Due: none

Mac: Fix bugs introduced by commit 8cf9badade in PR #6131
  clientgui/BOINCGUIApp.cpp
  clientgui/mac/BOINCGUIApp.mm
  clientgui/mac/templates/Info.plist
  mac_installer/PostInstall.cpp
  mac_installer/complist.plist
  mac_installer/preinstall
  mac_installer/release_boinc.sh
  mac_installer/release_brand.sh
  mac_installer/uninstall.cpp
Due: client

Mac: Upgrade only to c-ares 1.28.1; c-ares 1.33.0 and above fail DNS lookups
  mac_build/dependencyNames.sh
Due: none

Mac: Fix libcurl build problem
  mac_build/buildcurl.sh
Due: none

Mac: Fix comments
  clientgui/BOINCGUIApp.cpp
  clientgui/mac/BOINCGUIApp.mm
Due: client

Mac: fix typo in comment
  clientgui/BOINCGUIApp.cpp
Due: client

Mac: Fix errors reported by Copilot
  mac_installer/PostInstall.cpp
  mac_installer/preinstall
  mac_installer/uninstall.cpp
Due: none

Mac: Finish fixing partial menubar on launch
  clientgui/AdvancedFrame.cpp
  clientgui/mac/BOINCGUIApp.mm
  clientgui/sg_BoincSimpleFrame.cpp
  mac_installer/finish_install.cpp
Due: client

Mac: Fix CI build errors
  clientgui/AdvancedFrame.cpp
  clientgui/sg_BoincSimpleFrame.cpp
Due: client

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

[ci] update actions
  .github/workflows/android.yml
  .github/workflows/linux-package-stable-release.yml
  .github/workflows/linux-package.yml
  .github/workflows/linux.yml
  .github/workflows/mingw.yml
  .github/workflows/osx.yml
  .github/workflows/snap.yml
  .github/workflows/source-code-check.yml
  .github/workflows/test-report.yml
  .github/workflows/update_actions.yml
  .github/workflows/vcpkg_test.yml
  .github/workflows/windows.yml
Due: none

[client] refactor http_curl, add unit tests
  client/http_curl.cpp
  client/http_curl.h
  client/main.cpp
  tests/executeUnitTests.sh
  tests/unit-tests/CMakeLists.txt
  tests/unit-tests/client/CMakeLists.txt
  tests/unit-tests/client/test_http_curl.cpp
Due: client

Mac installer: fix tests for symbolic links per Copilot comments in PR #6618
  mac_installer/PostInstall.cpp
Due: none

fix minor issues
  client/http_curl.cpp
  client/http_curl.h
Due: client

mac: fix permissions checks when running with --insecure argument
  client/check_security.cpp
Due: client

set release version 8.2.6
  android/BOINC/app/build.gradle
  configure.ac
  installer/include/Property.json
  snap/gui/boinc.desktop
  snap/snapcraft.yaml
  version.h
Due: none

[ci] update prepare_release_artifacts.py script to include architecture of the linux packages
  release_tools/prepare_release_artifacts.py
Due: none

temporary disable upgrade tests for fedora 41 and 42
  .github/workflows/linux-package.yml
Due: none

add opensuse 16.0
  .github/workflows/linux-package.yml
  .github/workflows/rpmrepo/package_depends.sh
  .github/workflows/rpmrepo/package_filelist.sh
Due: none

[linux] enable testing for 'update debian trixie, fedora 41, fedora 42, and suse 16.0 from alpha'
  .github/workflows/linux-package.yml
Due: none

Add function to clean up old batches
  html/ops/submit_retire.php
Due: none

remove trailing whitespace
  client/hostinfo_unix.cpp
Due: client

add config file field
  sched/credit.h
  sched/sched_config.cpp
  sched/sched_config.h
Due: server

copilot fix
  html/inc/forum_db.inc
Due: none

[ci] fix build errors
  .github/workflows/linux-package.yml
  .github/workflows/linux.yml
  snap/snapcraft.yaml
Due: none

[ci] make output more verbose
  .github/workflows/android.yml
  .github/workflows/linux-package-stable-release.yml
  .github/workflows/linux-package.yml
  .github/workflows/linux.yml
  .github/workflows/mingw.yml
  .github/workflows/snap.yml
  .github/workflows/vcpkg_test.yml
Due: none

Path conditions:
  api: any of: api/, but not: tests/.*, zip/.*, 3rdParty/.*
  library: any of: lib/, but not: tests/.*, zip/.*, 3rdParty/.*
  client: any of: client/, clientgui/, but not: tests/.*, zip/.*, 3rdParty/.*
  server: any of: sched/, db/, tools/, but not: tests/.*, zip/.*, 3rdParty/.*
  android: any of: android/BOINC/app/src/main/java/edu/berkeley/boinc, but not: tests/.*, zip/.*, 3rdParty/.*
