Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

.codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    after_n_builds: 3
    wait_for_ci: yes
  token: ${{ secrets.CODECOV_TOKEN }}

coverage:
  status:
    project: off
    patch:
      default:
        threshold: 0.01

comment:
  layout: "diff, files"
  behavior: default
  require_changes: yes    # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]
  branches:
    - master
  after_n_builds: 3

flags:
  # filter the folder(s) you wish to measure by that flag
  api:
    paths:
      - api/
  library:
    paths:
      - lib/
  client:
    paths:
      - client/
      - clientgui/
  server:
    paths:
      - sched/
      - db/
      - tools/
  android:
    paths:
      - android/BOINC/app/src/main/java/edu/berkeley/boinc

# don't gather statistics for test and external libraries
ignore:
  - tests/.*
  - zip/.*
  - 3rdParty/.*

Test
  installer/FileTable.cpp
Due: none

Fix
  installer/Component.cpp
  installer/Component.h
  installer/File.cpp
  installer/File.h
  installer/FileTable.cpp
  installer/FileTable.h
  tests/msi_validation.py
Due: none

Fix
  installer/FileTable.cpp
Due: none

Rename 'Protected application execution' to 'Service Install'.
  sched/handle_request.cpp
Due: server

client: fix bug where avg_ncpus for anonymous platform apps defaults to zero
  client/client_state.cpp
  client/client_types.cpp
  client/cs_statefile.cpp
Due: client

client: handle case where flops specified but not avg_ncpus
  client/client_state.cpp
Due: client

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

WIP
  lib/crypt_prog.cpp
  tests/crypt_prog_tests.py
  tests/windows_installer_integration_tests.py
Due: library

WIP
  lib/crypt_prog.cpp
  tests/crypt_prog_tests.py
Due: library

WIP
  lib/crypt.cpp
  lib/crypt_prog.cpp
  tests/crypt_prog_tests.py
Due: library

vboxwrapper (Mac): fix startup failure on Mac
  samples/vboxwrapper/vbox_vboxmanage.cpp
Due: none

vboxwrapper: actually create the 'virtualbox home directory'
  samples/vboxwrapper/vbox_vboxmanage.cpp
Due: none

Add files via upload
  samples/vboxwrapper/vbox_vboxmanage.cpp
Due: none

vboxwrapper: put log directory (.VirtualBox) in project dir
  samples/vboxwrapper/vbox_vboxmanage.cpp
Due: none

vboxwrapper: put .VirtualBox in the BOINC data dir, not the project dir.
  samples/vboxwrapper/vbox_vboxmanage.cpp
Due: none

Add opencppcoverage
  .github/workflows/windows.yml
  tests/crypt_prog_tests.py
Due: none

Fix trailing spaces
  lib/crypt_prog.cpp
Due: library

Run tests on linux
  .github/workflows/linux.yml
Due: none

Fix running tests on linux
  tests/crypt_prog_tests.py
Due: none

Try to report coverage on linux
  .github/workflows/linux.yml
Due: none

[crypt_prog] Add tests and refactoring
  .github/workflows/linux.yml
  .github/workflows/windows.yml
  lib/crypt.cpp
  lib/crypt_prog.cpp
  tests/crypt_prog_tests.py
  tests/windows_installer_integration_tests.py
Due: library

vboxwrapper: put VirtualBox log dir in projects/ That's pretty much the only option. boinc_projects can't write to data dir. Older clients will delete this on startup; new clients won't.
  samples/vboxwrapper/vbox_vboxmanage.cpp
Due: none

[ci] update actions
  .github/workflows/android.yml
  .github/workflows/linux.yml
  .github/workflows/windows.yml
Due: none

[ci] update OpenCppCoverage to 0.9.9.0
  .github/workflows/windows.yml
Due: none

[installer][windows] refactor strings
  installer/InstallerStrings.cpp
  installer/boinc.json
  installer/locale/en.json
Due: none

[windows] when running installer, search for DLLs in the system directory only since the installer itself doesn't rely on any custom DLLs.
  installer/installer_setup/main.cpp
Due: none

create_work: clarify error message
  html/inc/result.inc
  tools/process_input_template.cpp
Due: server

[windows][installer] enable 'change'\'modify' and 'repair' options.
  installer/boinc.json
Due: none

[linux] update gdk-pixbuf custom vcpkg port
  3rdParty/vcpkg_ports/ports/gdk-pixbuf/portfile.cmake
  3rdParty/vcpkg_ports/ports/gdk-pixbuf/vcpkg.json
Due: none

client and docker_wrapper: lower-case image and container names
  lib/app_ipc.cpp
  lib/str_util.h
  lib/url.cpp
  lib/util.cpp
Due: library

crypt_prog: fix build errors
  lib/crypt_prog.cpp
Due: library

Update README.md
  README.md
Due: none

web: on forum page, tell user they have to log in to post
  html/inc/forum.inc
  html/user/forum_forum.php
  html/user/forum_post.php
Due: none

web: in pages that take an ID as an arg, show error if not valid ID
  html/user/forum_banishment_vote.php
  html/user/forum_banishment_vote_action.php
  html/user/forum_moderate_post.php
  html/user/forum_moderate_thread.php
  html/user/forum_post.php
  html/user/forum_rate.php
  html/user/forum_reply.php
  html/user/forum_subscribe.php
  html/user/forum_thread_vote.php
  html/user/forum_user_posts.php
Due: none

strip docker_wrapper Linux executable
  samples/docker_wrapper/Makefile
Due: none

fix
  html/user/forum_forum.php
Due: none

[windows] Fix installer to start BOINC unelevated.
  clientsetup/win/launcher.cpp
Due: none
