Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

Add missed const constraint to the for range-based loops
  db/boinc_db.cpp
  db/boinc_db.h
  lib/average.h
  sched/credit.cpp
  sched/credit_test.cpp
  sched/db_dump.cpp
  sched/edf_sim.cpp
  sched/handle_request.cpp
  sched/plan_class_spec.cpp
  sched/sample_assimilator.cpp
  sched/sample_bitwise_validator.cpp
  sched/sample_substr_validator.cpp
  sched/sample_trivial_validator.cpp
  sched/sched_check.cpp
  sched/sched_customize.cpp
  sched/sched_files.cpp
  sched/sched_keyword.cpp
  sched/sched_limit.h
  sched/sched_locality.cpp
  sched/sched_main.cpp
  sched/sched_nci.cpp
  sched/sched_resend.cpp
  sched/sched_result.cpp
  sched/sched_score.cpp
  sched/sched_send.cpp
  sched/sched_shmem.cpp
  sched/sched_shmem.h
  sched/sched_types.cpp
  sched/sched_types.h
  sched/sched_version.cpp
  sched/script_assimilator.cpp
  sched/script_validator.cpp
  sched/single_job_assimilator.cpp
  sched/transitioner.cpp
  sched/validate_util.cpp
  sched/validate_util.h
  sched/validate_util2.h
  sched/validator.cpp
Due: library, server

Add test_boinccas_CAGrantBOINCAdminsRights
  clientsetup/win/CAGrantBOINCAdminsRights.cpp
  clientsetup/win/CAGrantBOINCAdminsRights.h
  tests/unit-tests/boinccas/boinccas_helper.cpp
  tests/unit-tests/boinccas/boinccas_helper.h
  tests/unit-tests/boinccas/test_boinccas_CAGrantBOINCAdminsRights.cpp
  tests/unit-tests/win/pch.h
  win_build/boinccas.vcxproj
Due: none

Try to fix the crash
  clientsetup/win/CAGrantBOINCAdminsRights.cpp
Due: none

Try to fix the crash
  tests/unit-tests/boinccas/boinccas_helper.cpp
  tests/unit-tests/boinccas/boinccas_helper.h
Due: none

Debug the crash
  tests/unit-tests/boinccas/boinccas_helper.h
Due: none

Possible fix
  tests/unit-tests/boinccas/boinccas_helper.cpp
  tests/unit-tests/boinccas/boinccas_helper.h
  tests/unit-tests/boinccas/test_boinccas_CAGrantBOINCAdminsRights.cpp
Due: none

Possible fix
  tests/unit-tests/boinccas/test_boinccas_CAGrantBOINCAdminsRights.cpp
Due: none

Possible fix
  tests/unit-tests/boinccas/boinccas_helper.h
Due: none

Possible fix
  tests/unit-tests/boinccas/boinccas_helper.cpp
Due: none

Debug
  tests/unit-tests/boinccas/boinccas_helper.h
Due: none

More debugging...
  tests/unit-tests/boinccas/boinccas_helper.h
  tests/unit-tests/boinccas/test_boinccas_CAGrantBOINCAdminsRights.cpp
Due: none

More debugging...
  tests/unit-tests/boinccas/boinccas_helper.h
Due: none

This might be a fix...
  tests/unit-tests/boinccas/boinccas_helper.cpp
  tests/unit-tests/boinccas/boinccas_helper.h
Due: none

web: minor fixes
  html/inc/boinc_db.inc
  html/inc/db_conn.inc
  html/user/apps.php
  sched/update_stats.cpp
Due: server

cubic fix
  html/user/apps.php
Due: none

This might be a fix...
  tests/unit-tests/boinccas/boinccas_helper.h
Due: none

Build fix
  tests/unit-tests/boinccas/boinccas_helper.h
Due: none

Fix test
  tests/unit-tests/boinccas/boinccas_helper.h
Due: none

client: add optional Linux idle helper RPC probe
  client/hostinfo_unix.cpp
  client/log_flags.cpp
  lib/cc_config.cpp
  lib/cc_config.h
Due: library, client

Add Dark Mode support for Windows
  clientgui/BOINCGUIApp.cpp
  clientgui/BOINCGUIApp.h
  clientgui/BOINCListCtrl.cpp
  clientgui/BOINCListCtrl.h
  clientgui/NoticeListCtrl.cpp
  clientgui/ViewResources.cpp
  clientgui/ViewResources.h
  clientgui/ViewStatistics.cpp
  clientgui/ViewWork.cpp
  clientgui/common/wxPieCtrl.cpp
  clientgui/common/wxPieCtrl.h
Due: client

Refactoring
  tests/unit-tests/boinccas/boinccas_helper.h
  tests/unit-tests/boinccas/msi_helper.cpp
  tests/unit-tests/boinccas/msi_helper.h
  tests/unit-tests/boinccas/registry_helper.cpp
  tests/unit-tests/boinccas/registry_helper.h
  tests/unit-tests/boinccas/test_boinccas_CAAnnounceUpgrade.cpp
  tests/unit-tests/boinccas/test_boinccas_CACreateBOINCAccounts.cpp
  tests/unit-tests/boinccas/test_boinccas_CACreateBOINCGroups.cpp
  tests/unit-tests/boinccas/test_boinccas_CADeleteBOINCAccounts.cpp
  tests/unit-tests/boinccas/test_boinccas_CADeleteBOINCGroups.cpp
  tests/unit-tests/boinccas/test_boinccas_CAGrantBOINCAdminsRights.cpp
  tests/unit-tests/boinccas/test_boinccas_CAGrantBOINCAdminsVirtualBoxRights.cpp
  tests/unit-tests/boinccas/user_group_helper.cpp
  tests/unit-tests/boinccas/user_group_helper.h
  win_build/unittests.vcxproj
Due: none

client: restore get_screensaver_tasks() RPC, which I mistakenly removed
  client/gui_rpc_server_ops.cpp
  client/hostinfo_unix.cpp
  lib/hostinfo.cpp
Due: library, client

fix cubic issue: wrong XML tags for get_screensaver_tasks() reply
  client/gui_rpc_server_ops.cpp
Due: client

Web: minor job submission tweaks
  html/inc/result.inc
  html/inc/submit_util.inc
  html/user/get_output3.php
  html/user/submit.php
  sched/antique_file_deleter.cpp
Due: server

copilot fix
  html/user/submit.php
Due: none

[linux] Enable release build optimizations
  .github/workflows/linux.yml
  .gitignore
  linux/arm64/ci_configure_apps.sh
  linux/arm64/ci_configure_client.sh
  linux/arm64/ci_configure_libs.sh
  linux/arm64/ci_configure_manager.sh
  linux/armhf/ci_configure_apps.sh
  linux/armhf/ci_configure_client.sh
  linux/armhf/ci_configure_libs.sh
  linux/armhf/ci_configure_manager.sh
  linux/ci_configure_apps.sh
  linux/ci_configure_client.sh
  linux/ci_configure_libs.sh
  linux/ci_configure_manager.sh
  samples/condor/Makefile
  samples/docker_wrapper/Makefile
  samples/example_app/Makefile
  samples/multi_thread/Makefile
  samples/openclapp/Makefile
  samples/sleeper/Makefile
  samples/sporadic/Makefile
  samples/vboxmonitor/Makefile
  samples/vboxwrapper/Makefile
  samples/worker/Makefile
  samples/wrapper/Makefile
  samples/wrappture/Makefile
Due: none

restore get_screensaver tasks in Manager RPC API
  client/gui_rpc_server_ops.cpp
  clientgui/AsyncRPC.cpp
  clientgui/AsyncRPC.h
Due: client

Remove unsupported build of BOINC client and Manager with mingw
  xcompile/xcompile.MinGW32_on_cygwin.sh
Due: none

BUDA: allow output files to be gzipped.
  html/inc/submit_util.inc
  html/user/buda.php
  html/user/get_output2.php
  html/user/get_output3.php
  html/user/submit.php
  tools/sample_assimilate.py
Due: server

client: add <prioritize_gpu> config option
  client/cpu_sched.cpp
  lib/cc_config.cpp
  lib/cc_config.h
Due: library, client

cubic fixes
  html/inc/submit_util.inc
  html/user/get_output3.php
  html/user/submit.php
Due: none

cubic fix
  client/log_flags.cpp
Due: client

cubic fixes
  html/user/submit.php
  tools/sample_assimilate.py
Due: server

copilot fixes
  html/user/get_output3.php
  html/user/submit.php
Due: none

Always use tar for batch output download. Using gzip imposes an excessive CPU load for large batches/files
  html/user/submit.php
Due: none

check user ID for batch output download
  html/user/get_output3.php
  tools/sample_assimilate.py
Due: server

fix bug in python assimilator handler
  tools/sample_assimilate.py
Due: server

Path conditions:
  api: any of: api/, but not: tests/.*, zip/.*, 3rdParty/.*
  library: any of: lib/, but not: tests/.*, zip/.*, 3rdParty/.*
  client: any of: client/, clientgui/, but not: tests/.*, zip/.*, 3rdParty/.*
  server: any of: sched/, db/, tools/, but not: tests/.*, zip/.*, 3rdParty/.*
  android: any of: android/BOINC/app/src/main/java/edu/berkeley/boinc, but not: tests/.*, zip/.*, 3rdParty/.*
