Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

.codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    after_n_builds: 3
    wait_for_ci: yes
  token: ${{ secrets.CODECOV_TOKEN }}

coverage:
  status:
    project: off
    patch:
      default:
        threshold: 0.01

comment:
  layout: "diff, files"
  behavior: default
  require_changes: yes    # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]
  branches:
    - master
  after_n_builds: 3

flags:
  # filter the folder(s) you wish to measure by that flag
  api:
    paths:
      - api/
  library:
    paths:
      - lib/
  client:
    paths:
      - client/
      - clientgui/
  server:
    paths:
      - sched/
      - db/
      - tools/
  android:
    paths:
      - android/BOINC/app/src/main/java/edu/berkeley/boinc

# don't gather statistics for test and external libraries
ignore:
  - tests/.*
  - zip/.*
  - 3rdParty/.*

Fix build
  sched/plan_class_spec.cpp
Due: server

[ci] update actions
  .github/workflows/all_projects_list_xml_update.yml
  .github/workflows/update_copyright_year.yml
Due: none

client: add missing clause in idle check logic
  lib/prefs.h
Due: library

clientscr: fix float <-> double conversion warnings
  clientscr/ss_app.cpp
Due: none

boinccmd: fix size_t -> int conversion and unreachable code warning
  client/boinc_cmd.cpp
Due: client

clientgui: fix deprecation warning by replacing outdated wxBOLD with wxFONTWEIGHT_BOLD macro
  clientgui/common/wxPieCtrl.cpp
Due: client

crypt_prog: fix warnings.
  lib/crypt_prog.cpp
Due: library

example_app: fix uninitialized variable warning
  samples/example_app/uc2.cpp
Due: none

openclapp: fix shadowed variable warnings
  samples/openclapp/openclapp.cpp
Due: none

uc2_graphics: fix float <-> double conversion warnings
  samples/example_app/uc2_graphics.cpp
Due: none

validator: handle transient errors
  sched/db_purge.cpp
  sched/script_validator.cpp
  sched/validate_util2.cpp
  sched/validate_util2.h
Due: server

nvcuda: fix shadowed variable warnings
  samples/nvcuda/cuda.cpp
Due: none

sporadic: fix size_t <-> unsigned int conversion warning
  samples/sporadic/sporadic.cpp
Due: none

libgraphics: fix warnings
  api/graphics2_win.cpp
  api/gutil.cpp
Due: api

slideshow: fix float <-> doube conversion warnings
  samples/example_app/slide_show.cpp
Due: none

libboinc, unittests: change strcpy to strncpy and sprintf to snprintf
  lib/common_defs.h
  tests/unit-tests/lib/test_parse.cpp
  tests/unit-tests/lib/test_str_util.cpp
Due: library

slide_show, uc2_graphics, worker: hide unreferenced parameters
  samples/example_app/slide_show.cpp
  samples/example_app/uc2_graphics.cpp
  samples/worker/worker.cpp
Due: none

wrappture: hide unreferenced parameters, fix variable shadowing warning and int <-> UINT conversion warnings
  samples/wrappture/wrappture.cpp
  samples/wrappture/wrappture_example.cpp
Due: none

fix unittests
  tests/unit-tests/lib/test_str_util.cpp
Due: none

unittests: revert some changes to fix unit tests
  tests/unit-tests/lib/test_str_util.cpp
Due: none

remote job submission: remove debugging code
  html/user/get_output.php
Due: none

fix typo in script to cancel WUs
  html/inc/util_ops.inc
  html/ops/cancel_workunits.php
Due: none

fix typo
  html/inc/util_ops.inc
Due: none

[ci] update actions
  .github/workflows/all_projects_list_xml_update.yml
  .github/workflows/android.yml
  .github/workflows/update_copyright_year.yml
Due: none

[windows] fix PDB file name to avoid conflicts
  win_build/crypt_prog.vcxproj
Due: none

Fix typo in wsl_wrapper
  samples/wsl_wrapper/wsl_wrapper.cpp
Due: none

validator: fix potential infinite loop
  sched/script_validator.cpp
  sched/validate_util2.cpp
Due: server

feat: Add application name to task properties window
  clientgui/DlgItemProperties.cpp
Due: client

[ci] fix windows cmake build logs location
  deploy/prepare_deployment.py
Due: none

rename 'ARM64' to 'arm64' in windows.yml
  .github/workflows/windows.yml
Due: none

[ci] update actions
  .github/workflows/all_projects_list_xml_update.yml
  .github/workflows/android.yml
  .github/workflows/check_custom_vcpkg_ports.yml
  .github/workflows/coverity.yml
  .github/workflows/linux-package-stable-release.yml
  .github/workflows/linux-package.yml
  .github/workflows/linux.yml
  .github/workflows/mingw.yml
  .github/workflows/osx.yml
  .github/workflows/snap.yml
  .github/workflows/source-code-check.yml
  .github/workflows/test-report.yml
  .github/workflows/update_actions.yml
  .github/workflows/update_copyright_year.yml
  .github/workflows/wasm.yml
  .github/workflows/windows.yml
Due: none

Update is_extpack_installed
  samples/vboxwrapper/vbox_vboxmanage.cpp
Due: none

Set virtualbox vrde-property
  samples/vboxwrapper/vbox_vboxmanage.cpp
Due: none

Added a placeholder install step Solves #5690
  samples/condor/Makefile
  samples/multi_thread/Makefile
Due: none

samples: unify installation target
  .gitignore
  samples/condor/Makefile
  samples/example_app/Makefile
  samples/multi_thread/Makefile
  samples/openclapp/Makefile
  samples/sporadic/Makefile
  samples/vboxmonitor/Makefile
  samples/vboxwrapper/Makefile
  samples/wrappture/Makefile
Due: none

client and API: add plan class to APP_INIT_DATA
  client/app_start.cpp
  client/client_types.cpp
  lib/app_ipc.cpp
  lib/app_ipc.h
  lib/proxy_info.h
Due: library, client

web: forums: fix 'mark all threads as read' function
  html/user/forum_index.php
Due: none

web: fix PHP warning from showing subscriptions without user login
  html/inc/forum.inc
  html/user/forum_forum.php
Due: none
