Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

copilot fixes
  tools/sample_assimilate.py
Due: server

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

web, job submission: show priority in job list
  html/user/submit.php
Due: none

db_dump: fix typo that broke XML
  sched/db_dump.cpp
Due: server

Test updated glib vcpkg library
  3rdParty/vcpkg_ports/ports/glib/libintl.patch
  3rdParty/vcpkg_ports/ports/glib/portfile.cmake
  3rdParty/vcpkg_ports/ports/glib/use-libiconv-on-windows.patch
  3rdParty/vcpkg_ports/ports/glib/vcpkg.json
Due: none

Test updated webview2 vcpkg library
  3rdParty/vcpkg_ports/ports/webview2/portfile.cmake
  3rdParty/vcpkg_ports/ports/webview2/unofficial-webview2-config.cmake
  3rdParty/vcpkg_ports/ports/webview2/vcpkg.json
Due: none

Add test_boinccas_CAGrantBOINCAdminsVirtualBoxRights
  clientsetup/win/CAGrantBOINCAdminsVirtualBoxRights.cpp
  clientsetup/win/CAGrantBOINCAdminsVirtualBoxRights.h
  tests/unit-tests/boinccas/registry_helper.cpp
  tests/unit-tests/boinccas/registry_helper.h
  tests/unit-tests/boinccas/test_boinccas_CAAnnounceUpgrade.cpp
  tests/unit-tests/boinccas/test_boinccas_CAGrantBOINCAdminsVirtualBoxRights.cpp
  tests/unit-tests/boinccas/user_group_helper.cpp
  tests/unit-tests/boinccas/user_group_helper.h
  tests/unit-tests/win/pch.h
  win_build/boinccas.vcxproj
Due: none

terminology and filename change
  gl
  html/inc/submit_util.inc
  html/user/get_output2.php
  html/user/get_output3.php
  html/user/show_apps.php
  html/user/submit.php
  sched/Makefile.am
  sched/batch_collect_assimilator.cpp
  tools/backend_lib.cpp
  tools/batch_collect_assimilate.py
Due: server

comment fixes
  html/inc/submit_util.inc
  html/user/get_output3.php
Due: none

Fix server build
  .gitignore
  py/Boinc/setup_project.py
  tools/Makefile.am
  tools/make_project
Due: server

Add test_boinccas_CAGrantBOINCMasterRights
  clientsetup/win/CAGrantBOINCAdminsRights.cpp
  clientsetup/win/CAGrantBOINCMasterRights.cpp
  clientsetup/win/CAGrantBOINCMasterRights.h
  tests/unit-tests/boinccas/test_boinccas_CAGrantBOINCMasterRights.cpp
  win_build/boinccas.vcxproj
  win_build/unittests.vcxproj
Due: none

Enable disabled tests
  tests/unit-tests/boinccas/test_boinccas_CAGrantBOINCMasterRights.cpp
Due: none

copilot fixes
  html/user/get_output2.php
  tools/Makefile.am
Due: server

Add test_boinccas_CAGrantBOINCProjectRights
  clientsetup/win/CAGrantBOINCMasterRights.cpp
  clientsetup/win/CAGrantBOINCProjectRights.cpp
  clientsetup/win/CAGrantBOINCProjectRights.h
  tests/unit-tests/boinccas/test_boinccas_CAGrantBOINCProjectRights.cpp
  win_build/boinccas.vcxproj
  win_build/unittests.vcxproj
Due: none

Add test_boinccas_CAGrantBOINCProjectsRights
  clientsetup/win/CAGrantBOINCAdminsRights.cpp
  clientsetup/win/CAGrantBOINCProjectsRights.cpp
  clientsetup/win/CAGrantBOINCProjectsRights.h
  tests/unit-tests/boinccas/test_boinccas_CAAnnounceUpgrade.cpp
  tests/unit-tests/boinccas/test_boinccas_CAGrantBOINCAdminsVirtualBoxRights.cpp
  tests/unit-tests/boinccas/test_boinccas_CAGrantBOINCProjectRights.cpp
  tests/unit-tests/boinccas/test_boinccas_CAGrantBOINCProjectsRights.cpp
  win_build/boinccas.vcxproj
  win_build/unittests.vcxproj
Due: none

Add test_boinccas_CAGrantBOINCProjectsVirtualBoxRights
  clientsetup/win/CAGrantBOINCProjectsVirtualBoxRights.cpp
  clientsetup/win/CAGrantBOINCProjectsVirtualBoxRights.h
  tests/unit-tests/boinccas/test_boinccas_CAGrantBOINCProjectsVirtualBoxRights.cpp
  win_build/boinccas.vcxproj
  win_build/unittests.vcxproj
Due: none

Add test_boinccas_CAGrantBOINCUsersRights
  clientsetup/win/CAGrantBOINCUsersRights.cpp
  clientsetup/win/CAGrantBOINCUsersRights.h
  tests/unit-tests/boinccas/test_boinccas_CAGrantBOINCUsersRights.cpp
  win_build/boinccas.vcxproj
  win_build/unittests.vcxproj
Due: none

Add test_boinccas_CALaunchBOINCManager
  clientsetup/win/CALaunchBOINCManager.cpp
  clientsetup/win/CALaunchBOINCManager.h
  tests/unit-tests/boinccas/test_boinccas_CACleanupOldBinaries.cpp
  tests/unit-tests/boinccas/test_boinccas_CACreateAcctMgrLoginFile.cpp
  tests/unit-tests/boinccas/test_boinccas_CACreateClientAuthFile.cpp
  tests/unit-tests/boinccas/test_boinccas_CACreateProjectInitFile.cpp
  tests/unit-tests/boinccas/test_boinccas_CALaunchBOINCManager.cpp
  tests/unit-tests/win/pch.h
  win_build/boinccas.vcxproj
  win_build/unittests.vcxproj
Due: none

Add test_boinccas_CALaunchBOINCTray
  clientsetup/win/CALaunchBOINCManager.cpp
  clientsetup/win/CALaunchBOINCTray.cpp
  clientsetup/win/CALaunchBOINCTray.h
  tests/unit-tests/boinccas/test_boinccas_CALaunchBOINCTray.cpp
  win_build/boinccas.vcxproj
  win_build/unittests.vcxproj
Due: none

Add test_boinccas_CARestoreExecutionState
  clientsetup/win/CARestoreExecutionState.cpp
  clientsetup/win/CARestoreExecutionState.h
  clientsetup/win/boinccas.cpp
  tests/unit-tests/boinccas/test_boinccas_CARestoreExecutionState.cpp
  win_build/boinccas.vcxproj
  win_build/unittests.vcxproj
Due: none

[ci] update actions
  .github/workflows/snap.yml
  .github/workflows/test-report.yml
Due: none

update_versions: change security warning
  sched/sample_dummy_assimilator.cpp
  tools/update_versions
Due: server

Add test_boinccas_CARestorePermissionBOINCData
  clientsetup/win/CARestorePermissionBOINCData.cpp
  clientsetup/win/CARestorePermissionBOINCData.h
  tests/unit-tests/boinccas/test_boinccas_CARestorePermissionBOINCData.cpp
  win_build/boinccas.vcxproj
  win_build/unittests.vcxproj
Due: none

Fix XServer hang on non-X11 displays (Issue #5)
  client/hostinfo_unix.cpp
Due: client

Fix Linux idle detection and X sessions crashes
  client/hostinfo_unix.cpp
Due: client

[ci] update actions
  .github/workflows/android.yml
  .github/workflows/linux-package.yml
  .github/workflows/test-report.yml
  .github/workflows/windows.yml
Due: none

Add test_boinccas_CARestoreSetupState
  clientsetup/win/CARestoreSetupState.cpp
  clientsetup/win/CARestoreSetupState.h
  tests/unit-tests/boinccas/registry_helper.h
  tests/unit-tests/boinccas/test_boinccas_CARestoreSetupState.cpp
  win_build/boinccas.vcxproj
  win_build/unittests.vcxproj
Due: none

Add test_boinccas_CARevokeBOINCAdminsRights
  clientsetup/win/CARestoreSetupState.cpp
  clientsetup/win/CARevokeBOINCAdminsRights.cpp
  clientsetup/win/CARevokeBOINCAdminsRights.h
  tests/unit-tests/boinccas/test_boinccas_CARevokeBOINCAdminsRights.cpp
  win_build/boinccas.vcxproj
  win_build/unittests.vcxproj
Due: none

Add test_boinccas_CARevokeBOINCMasterRights
  clientsetup/win/CARevokeBOINCMasterRights.cpp
  clientsetup/win/CARevokeBOINCMasterRights.h
  tests/unit-tests/boinccas/test_boinccas_CARevokeBOINCMasterRights.cpp
  win_build/boinccas.vcxproj
  win_build/unittests.vcxproj
Due: none

Add test_boinccas_CARevokeBOINCProjectRights
  clientsetup/win/CARevokeBOINCProjectRights.cpp
  clientsetup/win/CARevokeBOINCProjectRights.h
  tests/unit-tests/boinccas/test_boinccas_CARestoreSetupState.cpp
  tests/unit-tests/boinccas/test_boinccas_CARevokeBOINCProjectRights.cpp
  win_build/boinccas.vcxproj
  win_build/unittests.vcxproj
Due: none

Add test_boinccas_CARevokeBOINCProjectsRights
  clientsetup/win/CARevokeBOINCProjectsRights.cpp
  clientsetup/win/CARevokeBOINCProjectsRights.h
  tests/unit-tests/boinccas/test_boinccas_CAGrantBOINCAdminsRights.cpp
  tests/unit-tests/boinccas/test_boinccas_CAGrantBOINCMasterRights.cpp
  tests/unit-tests/boinccas/test_boinccas_CAGrantBOINCProjectRights.cpp
  tests/unit-tests/boinccas/test_boinccas_CAGrantBOINCProjectsRights.cpp
  tests/unit-tests/boinccas/test_boinccas_CAGrantBOINCUsersRights.cpp
  tests/unit-tests/boinccas/test_boinccas_CARevokeBOINCMasterRights.cpp
  tests/unit-tests/boinccas/test_boinccas_CARevokeBOINCProjectRights.cpp
  tests/unit-tests/boinccas/test_boinccas_CARevokeBOINCProjectsRights.cpp
  win_build/boinccas.vcxproj
  win_build/unittests.vcxproj
Due: none

Add test_boinccas_CARevokeBOINCUsersRights
  clientsetup/win/CARevokeBOINCUsersRights.cpp
  clientsetup/win/CARevokeBOINCUsersRights.h
  tests/unit-tests/boinccas/test_boinccas_CARevokeBOINCUsersRights.cpp
  win_build/boinccas.vcxproj
  win_build/unittests.vcxproj
Due: none

Client/Manager Release 8.2.9
  android/BOINC/app/build.gradle
  configure.ac
  installer/include/Property.json
  snap/gui/boinc.desktop
  snap/snapcraft.yaml
  version.h
Due: none

Add test_boinccas_CASaveExecutionState
  clientsetup/win/CASaveExecutionState.cpp
  clientsetup/win/CASaveExecutionState.h
  tests/unit-tests/boinccas/test_boinccas_CASaveExecutionState.cpp
  win_build/boinccas.vcxproj
  win_build/unittests.vcxproj
Due: none

Add test_boinccas_CASaveSetupState
  clientsetup/win/CASaveSetupState.cpp
  clientsetup/win/CASaveSetupState.h
  tests/unit-tests/boinccas/test_boinccas_CASaveExecutionState.cpp
  tests/unit-tests/boinccas/test_boinccas_CASaveSetupState.cpp
  win_build/boinccas.vcxproj
  win_build/unittests.vcxproj
Due: none

fix: prevent XXE in job_file.php XML parsing
  html/user/job_file.php
Due: none

Add test_boinccas_CASetPermissionBOINC
  clientsetup/win/CASaveSetupState.cpp
  clientsetup/win/CASetPermissionBOINC.cpp
  clientsetup/win/CASetPermissionBOINC.h
  clientsetup/win/boinccas.cpp
  clientsetup/win/boinccas.h
  tests/unit-tests/boinccas/test_boinccas_CARestorePermissionBOINCData.cpp
  tests/unit-tests/boinccas/test_boinccas_CASetPermissionBOINC.cpp
  tests/unit-tests/win/pch.h
  win_build/boinccas.vcxproj
  win_build/unittests.vcxproj
Due: none

Add test_boinccas_CASetPermissionBOINCData
  clientsetup/win/CARestorePermissionBOINCData.cpp
  clientsetup/win/CASetPermissionBOINC.cpp
  clientsetup/win/CASetPermissionBOINCData.cpp
  clientsetup/win/CASetPermissionBOINCData.h
  tests/unit-tests/boinccas/test_boinccas_CASetPermissionBOINC.cpp
  tests/unit-tests/boinccas/test_boinccas_CASetPermissionBOINCData.cpp
  tests/unit-tests/boinccas/user_group_helper.cpp
  tests/unit-tests/boinccas/user_group_helper.h
  win_build/boinccas.vcxproj
  win_build/unittests.vcxproj
Due: none

Fix tests
  clientsetup/win/CASetPermissionBOINC.cpp
  clientsetup/win/CASetPermissionBOINCData.cpp
Due: none

Path conditions:
  api: any of: api/, but not: tests/.*, zip/.*, 3rdParty/.*
  library: any of: lib/, but not: tests/.*, zip/.*, 3rdParty/.*
  client: any of: client/, clientgui/, but not: tests/.*, zip/.*, 3rdParty/.*
  server: any of: sched/, db/, tools/, but not: tests/.*, zip/.*, 3rdParty/.*
  android: any of: android/BOINC/app/src/main/java/edu/berkeley/boinc, but not: tests/.*, zip/.*, 3rdParty/.*
