Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    after_n_builds: 4
    wait_for_ci: true

coverage:
  status:
    project: off
    patch:
      default:
        threshold: 0.01

comment:
  layout: "diff, files"
  behavior: default
  require_changes: true    # if true: only post the comment if coverage changes
  require_base: false      # [true :: must have a base report to post]
  require_head: true       # [true :: must have a head report to post]
  branches:
    - master
  after_n_builds: 4

github_checks:
    annotations: false

flags:
  # filter the folder(s) you wish to measure by that flag
  api:
    paths:
      - api/
  library:
    paths:
      - lib/
  client:
    paths:
      - client/
      - clientgui/
  server:
    paths:
      - sched/
      - db/
      - tools/
  android:
    paths:
      - android/BOINC/app/src/main/java/edu/berkeley/boinc

# don't gather statistics for test and external libraries
ignore:
  - tests/.*
  - zip/.*
  - 3rdParty/.*

[windows][installer] fix crash on update
  clientsetup/win/boinccas.cpp
  tests/unit-tests/boinccas/test_boinccas_CARestoreSetupState.cpp
Due: none

Client/Manager Release 8.2.15
  android/BOINC/app/build.gradle
  configure.ac
  installer/include/Property.json
  snap/gui/boinc.desktop
  snap/snapcraft.yaml
  version.h
Due: none

client (linux): measure swap space usage of BOINC processes
  client/Makefile.linux
  client/app.cpp
  client/app.h
  client/app_control.cpp
  client/client_types.cpp
  client/client_types.h
  client/coproc_sched.h
  client/cpu_sched.cpp
  client/result.cpp
  client/result.h
  client/rr_sim.cpp
  clientgui/DlgItemProperties.cpp
  lib/gui_rpc_client.h
  lib/gui_rpc_client_ops.cpp
  lib/gui_rpc_client_print.cpp
  lib/procinfo.cpp
  lib/procinfo.h
  lib/procinfo_mac.cpp
  lib/procinfo_unix.cpp
  lib/procinfo_win.cpp
Due: library, client

typo
  clientgui/DlgItemProperties.cpp
Due: client

typo; don't show smoothed
  client/app.cpp
Due: client

Mac bug fix
  lib/procinfo_mac.cpp
Due: library

Fix mingw warnings in libboinc
  lib/diagnostics.cpp
  lib/procinfo_win.cpp
  lib/util.cpp
  lib/win_util.cpp
Due: library

Fix more mingw libboinc warnings
  api/boinc_api.cpp
  lib/Makefile.mingw
  lib/diagnostics.cpp
  lib/proc_control.cpp
  lib/shmem.cpp
  lib/str_util.cpp
  lib/win_util.cpp
Due: api, library

Fix linux libboinc warnings
  lib/boinc_win.h
  lib/mfile.cpp
  lib/opencl_boinc.cpp
  lib/parse.cpp
  lib/str_replace.h
  lib/util.cpp
Due: library

Fix windows build error
  tests/unit-tests/win/pch.h
Due: none

Fix linux build
  lib/coproc.h
  lib/proc_control.cpp
  lib/str_util.cpp
  lib/str_util.h
  sched/make_work.cpp
  tests/unit-tests/lib/test_str_util.cpp
Due: library, server

linux fixes
  client/Makefile.linux
  client/app.cpp
  lib/procinfo_unix.cpp
Due: library, client

client: include 'name' element in 'coproc_intel_gpu' XML element
  lib/coproc.cpp
Due: library

Cubic bug fixes on Mac and Linux
  lib/procinfo_mac.cpp
  lib/procinfo_unix.cpp
Due: library

finish merge?
  client/app.cpp
Due: client

[windows][client] don't show recommendation to install docker when running on old OS (pre Win10).
  client/client_state.cpp
Due: client

client (Mac): don't mention swap space in log messages
  client/cpu_sched.cpp
Due: client

typo
  lib/procinfo_win.cpp
Due: library

warning fix
  client/cpu_sched.cpp
Due: client

code cleanup
  client/hostinfo_win.cpp
  lib/hostinfo.h
Due: library, client

client, Win: don't show WSL message if OS is too old
  client/client_state.cpp
  client/hostinfo_win.cpp
  lib/hostinfo.h
Due: library, client

oops! safe_strcat, not safe_strcpy
  client/hostinfo_win.cpp
Due: client

trailing space
  client/client_state.cpp
Due: client

[ci] update actions
  .github/workflows/all_projects_list_xml_update.yml
  .github/workflows/android.yml
  .github/workflows/check_custom_vcpkg_ports.yml
  .github/workflows/guix_get_release_hash.yml
  .github/workflows/linux-package-stable-release.yml
  .github/workflows/linux-package.yml
  .github/workflows/linux-release.yml
  .github/workflows/linux.yml
  .github/workflows/mingw.yml
  .github/workflows/osx-cmake.yml
  .github/workflows/osx.yml
  .github/workflows/snap.yml
  .github/workflows/source-code-check.yml
  .github/workflows/test-report.yml
  .github/workflows/update_actions.yml
  .github/workflows/update_copyright_year.yml
  .github/workflows/vcpkg_test.yml
  .github/workflows/windows-cmake.yml
  .github/workflows/windows.yml
Due: none

docker_wrapper: increase buffer sizes
  lib/procinfo_unix.cpp
  samples/docker_wrapper/docker_wrapper.cpp
  sched/script_validator.cpp
Due: library, server

client (non-Linux Unix): small error in system time measurement
  lib/procinfo_unix.cpp
Due: library

client: add gui_rpc_msg_debug log flag
  client/gui_rpc_server.cpp
  client/gui_rpc_server.h
  client/gui_rpc_server_ops.cpp
  clientgui/DlgDiagnosticLogFlags.cpp
  lib/cc_config.cpp
  lib/cc_config.h
Due: library, client

add print
  client/gui_rpc_server_ops.cpp
Due: client

fix comment
  lib/cc_config.h
Due: library

fix warning in Mac build
  lib/procinfo_mac.cpp
Due: library

client (Win): get info on usable GPUs in WSL, convey to scheduler
  client/client_state.cpp
  client/hostinfo_wsl.cpp
  lib/win_util.h
  lib/wslinfo.cpp
  lib/wslinfo.h
Due: library, client

build fixes
  client/client_state.cpp
  client/hostinfo_wsl.cpp
  lib/wslinfo.cpp
  lib/wslinfo.h
Due: library, client

Fix out-of-bounds read in lf_terminate() on empty input
  lib/str_util.cpp
  tests/unit-tests/lib/test_str_util.cpp
Due: library

Fix android build
  android/buildAndroidBOINC-CI.sh
Due: none

Fix out-of-bounds access in escape_project_url() on empty result
  lib/url.cpp
  tests/unit-tests/lib/test_url.cpp
Due: library

XML formatting
  lib/wslinfo.cpp
Due: library

scheduler: make sure Win hosts can handle Docker/GPU app versions.
  db/boinc_db_types.h
  sched/plan_class_spec.cpp
  sched/plan_class_spec.h
Due: server

create_work: XML-escape sub_appname (BUDA app name)
  tools/create_work.cpp
Due: server
