Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

.codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    after_n_builds: 3
    wait_for_ci: yes
  token: ${{ secrets.CODECOV_TOKEN }}

coverage:
  status:
    project: off
    patch:
      default:
        threshold: 0.01

comment:
  layout: "diff, files"
  behavior: default
  require_changes: yes    # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]
  branches:
    - master
  after_n_builds: 3

flags:
  # filter the folder(s) you wish to measure by that flag
  api:
    paths:
      - api/
  library:
    paths:
      - lib/
  client:
    paths:
      - client/
      - clientgui/
  server:
    paths:
      - sched/
      - db/
      - tools/
  android:
    paths:
      - android/BOINC/app/src/main/java/edu/berkeley/boinc

# don't gather statistics for test and external libraries
ignore:
  - tests/.*
  - zip/.*
  - 3rdParty/.*

simplify macro set
  clientgui/Makefile.am
  linux/ci_configure_manager.sh
Due: client

re-enable back --enable-vcpkg flag. do some rearrangements with it
  android/build_boinc_armv6.sh
  android/build_example_arm64.sh
  android/build_example_armv6.sh
  android/build_example_x86_64.sh
  configure.ac
  samples/Makefile.am
  wasm/ci_configure_client.sh
Due: none

web: don't allow blocking PMs from a moderator.
  html/inc/forum.inc
  html/inc/pm.inc
  html/user/pm.php
Due: none

finalize changes. add script to automatically check for outdated custom ports
  3rdParty/vcpkg_ports/ports/gdk-pixbuf/vcpkg.json
  3rdParty/vcpkg_ports/ports/librsvg/fix_io_svg_for_static_build.patch
  ci_tools/check_custom_vcpkg_ports_for_updates.py
  clientgui/BOINCGUIApp.cpp
  configure.ac
  linux/ci_configure_manager.sh
  samples/condor/Makefile
  samples/example_app/Makefile
  samples/sporadic/Makefile
Due: client

[vcpkg][linux] Add custom gdk-pixbuf and librsvg vcpkg ports
  3rdParty/vcpkg_ports/configs/manager/linux/vcpkg.json
  3rdParty/vcpkg_ports/ports/gdk-pixbuf/add_optional_svg_support.patch
  3rdParty/vcpkg_ports/ports/gdk-pixbuf/fix-static-deps.patch
  3rdParty/vcpkg_ports/ports/gdk-pixbuf/fix_build_error_windows.patch
  3rdParty/vcpkg_ports/ports/gdk-pixbuf/loaders-cache.patch
  3rdParty/vcpkg_ports/ports/gdk-pixbuf/portfile.cmake
  3rdParty/vcpkg_ports/ports/gdk-pixbuf/use-libtiff-4-pkgconfig.patch
  3rdParty/vcpkg_ports/ports/gdk-pixbuf/vcpkg.json
  3rdParty/vcpkg_ports/ports/librsvg/CMakeLists.txt
  3rdParty/vcpkg_ports/ports/librsvg/config.h.linux
  3rdParty/vcpkg_ports/ports/librsvg/fix_io_svg_for_static_build.patch
  3rdParty/vcpkg_ports/ports/librsvg/portfile.cmake
  3rdParty/vcpkg_ports/ports/librsvg/unofficial-librsvg-config.cmake
  3rdParty/vcpkg_ports/ports/librsvg/usage
  3rdParty/vcpkg_ports/ports/librsvg/vcpkg.json
  clientgui/BOINCGUIApp.cpp
  linux/ci_configure_manager.sh
Due: client

[linux] remove unused '--enable-vcpkg' configure parameter
  android/build_boinc_armv6.sh
  android/build_example_arm64.sh
  android/build_example_armv6.sh
  android/build_example_x86_64.sh
  configure.ac
  samples/Makefile.am
  samples/condor/Makefile
  samples/example_app/Makefile
  samples/sporadic/Makefile
  wasm/ci_configure_client.sh
Due: none

[ci] check for upstream updates of the custom vcpkgs ports
  .github/workflows/check_custom_vcpkg_ports.yml
  3rdParty/vcpkg_ports/ports/gdk-pixbuf/vcpkg.json
  ci_tools/check_custom_vcpkg_ports_for_updates.py
Due: none

Add the ability to subscribe to forums (as well as threads). E.g. you could subscribe to the BOINC News forum and get it view email
  db/schema.sql
  html/inc/forum.inc
  html/inc/forum_db.inc
  html/inc/forum_email.inc
  html/inc/notify.inc
  html/inc/user.inc
  html/inc/util.inc
  html/ops/notify.php
  html/user/forum_forum.php
  html/user/forum_thread.php
Due: server

typo
  db/schema.sql
Due: server

PHP DB API: db_host defaults (explicitly) to localhost. Remove the 'use $db_name' query; don't need that with mysqli
  html/inc/boinc_db.inc
Due: none

PHP DB code: clean up the logic, and allow for > 1 readonly replica
  html/inc/boinc_db.inc
Due: none

PHP DB code: use mysqli everywhere
  html/inc/db.inc
  html/inc/db_conn.inc
Due: none

PHP DB code: get(): keep $dbnum, create a new $instance when changed
  html/inc/boinc_db.inc
Due: none

html/boinc_db.inc:get_aux(): log DB host for debugging
  html/inc/boinc_db.inc
Due: none

Revert "html/boinc_db.inc:get_aux(): log DB host for debugging"
  html/inc/boinc_db.inc
Due: none

delete_user.php: optionally delete user by name
  html/ops/delete_user.php
Due: none

A couple of additions to the BoincDb class:
  html/inc/boinc_db.inc
  html/inc/db_conn.inc
Due: none

client: add a config option to abort jobs overdue by > X days
  client/app.cpp
  client/client_state.cpp
  client/client_state.h
  client/cs_apps.cpp
  client/log_flags.cpp
  client/main.cpp
  lib/cc_config.cpp
  lib/cc_config.h
  lib/error_numbers.h
Due: library, client

if aborted because of overdue, mark as aborted rather than compute error
  client/cs_apps.cpp
Due: client

boinccmd: clarify old tasks output
  lib/gui_rpc_client_print.cpp
Due: library

server status page: show remote scheduler correctly
  html/user/server_status.php
Due: none

web: fix email address checks
  html/inc/email.inc
  html/inc/user_util.inc
  html/ops/mass_email_script.php
  html/user/am_set_info.php
  html/user/create_account.php
  html/user/edit_email_action.php
  html/user/edit_email_form.php
  html/user/login_action.php
  html/user/openid_login.php
Due: none

fix windows build
  win_build/sim.vcxproj
Due: none

fix windows build
  client/sim_util.cpp
  win_build/sim.vcxproj
Due: client

Fix win build
  client/app.cpp
  win_build/sim.vcxproj
Due: client

Revert "fix windows build"
  client/sim_util.cpp
Due: client

web: fix user permissions admin
  html/inc/db.inc
  html/inc/user.inc
  html/user/user_permissions.php
Due: none

Add missed cs_sporadic.o to makefile_sim
  client/makefile_sim
Due: client

web: facilitate unsubscription
  html/inc/forum.inc
  html/user/forum_edit.php
  html/user/forum_forum.php
  html/user/forum_help_desk.php
  html/user/forum_index.php
  html/user/forum_post.php
  html/user/forum_reply.php
  html/user/forum_search_action.php
  html/user/forum_subscribe.php
  html/user/forum_thread.php
Due: none

[ci] update actions
  .github/workflows/android.yml
  .github/workflows/flutter-ubuntu.yml
  .github/workflows/flutter-windows.yml
  .github/workflows/linux-package-stable-release.yml
  .github/workflows/linux-package.yml
  .github/workflows/linux.yml
  .github/workflows/mingw.yml
  .github/workflows/osx.yml
  .github/workflows/snap.yml
  .github/workflows/wasm.yml
  .github/workflows/windows.yml
Due: none

switch to docker compose v2
  tests/server-test/manage/roles/build-boinc-docker/tasks/main.yml
  tests/server-test/manage/roles/start-containers/tasks/main.yml
  tests/server-test/manage/roles/stop-and-remove-containers/tasks/main.yml
  tests/server-test/setup.sh
Due: none

test integration tests fix
  integration_test/installTestSuite.sh
Due: none

- add ops script to check for users to large numbers of hosts. Could be evidence of botnets, like the recent one. - scheduler: update comments in authenticate_user()
  html/ops/botnet.php
  sched/handle_request.cpp
Due: server

web: forum and PM cleanup
  html/inc/bbcode_html.inc
  html/inc/forum.inc
  html/inc/pm.inc
  html/inc/text_transform.inc
  html/user/forum_edit.php
  html/user/forum_forum.php
  html/user/forum_post.php
  html/user/forum_reply.php
  html/user/forum_search_action.php
  html/user/forum_thread.php
  html/user/forum_user_posts.php
Due: none

web: when create or post to a thread, add option for subscribing (default on)
  html/inc/forum.inc
  html/user/forum_post.php
  html/user/forum_reply.php
  html/user/forum_user_posts.php
Due: none

web: add an optional project-specific intro in forum index.
  html/user/forum_index.php
Due: none

Missing items for Apple GPU support
  api/boinc_opencl.cpp
  client/project.cpp
  clientgui/DlgItemProperties.cpp
  lib/cc_config.cpp
Due: api, library, client

client and boinccmd: show some RAM/disk sizes in GB rather than MB
  client/cs_prefs.cpp
  lib/coproc.cpp
  lib/gui_rpc_client_print.cpp
  lib/opencl_boinc.cpp
Due: library, client

server: use correct DB connection in create_work()
  tools/backend_lib.cpp
Due: server

database: make it work with utf8mb4
  db/schema.sql
  py/Boinc/database.py
Due: server
