Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

.codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    after_n_builds: 3
    wait_for_ci: yes
  token: ${{ secrets.CODECOV_TOKEN }}

coverage:
  status:
    project: off
    patch:
      default:
        threshold: 0.01

comment:
  layout: "diff, files"
  behavior: default
  require_changes: yes    # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]
  branches:
    - master
  after_n_builds: 3

flags:
  # filter the folder(s) you wish to measure by that flag
  api:
    paths:
      - api/
  library:
    paths:
      - lib/
  client:
    paths:
      - client/
      - clientgui/
  server:
    paths:
      - sched/
      - db/
      - tools/
  android:
    paths:
      - android/BOINC/app/src/main/java/edu/berkeley/boinc

# don't gather statistics for test and external libraries
ignore:
  - tests/.*
  - zip/.*
  - 3rdParty/.*

run_command(): return command output as \n-terminated lines
  lib/util.cpp
Due: library

docker_wrapper: remove unneeded \n
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

Mac Manager: fix response to -s or --systray argument
  clientgui/BOINCGUIApp.cpp
Due: client

add new 'docker_wrapper' filename to the .gitignore file
  .gitignore
Due: none

Mac: ensure that zip, example_app and vboxwrapper XCode projects can build universal binaries
  samples/mac_build/UpperCase2.xcodeproj/xcshareddata/xcschemes/Build_All.xcscheme
  samples/mac_build/UpperCase2.xcodeproj/xcshareddata/xcschemes/UC2.xcscheme
  samples/mac_build/UpperCase2.xcodeproj/xcshareddata/xcschemes/UC2Gfx.xcscheme
  samples/mac_build/UpperCase2.xcodeproj/xcshareddata/xcschemes/slide_show.xcscheme
  samples/vboxwrapper/vboxwrapper.xcodeproj/xcshareddata/xcschemes/Build_All.xcscheme
  samples/vboxwrapper/vboxwrapper.xcodeproj/xcshareddata/xcschemes/vboxwrapper.xcscheme
  zip/boinc_zip.xcodeproj/xcshareddata/xcschemes/boinc_zip.xcscheme
  zip/boinc_zip.xcodeproj/xcshareddata/xcschemes/boinc_zip_test.xcscheme
  zip/boinc_zip.xcodeproj/xcshareddata/xcschemes/testzlibconflict.xcscheme
Due: none

docker wrapper: add Mac Makefile and project files
  samples/docker_wrapper/Makefile_mac
  samples/docker_wrapper/docker_wrapper.xcodeproj/project.pbxproj
  samples/docker_wrapper/docker_wrapper.xcodeproj/xcshareddata/xcschemes/docker_wrapper.xcscheme
Due: none

client, Mac: podman needs 'podman machine start' and 'podman machine init' after boot.
  client/hostinfo_unix.cpp
  samples/docker_wrapper/Makefile_mac
  samples/docker_wrapper/docker_wrapper.cpp
Due: client

Ignore MacOs specific folders and files during trailing whitespace check
  ci_tools/trailing_whitespaces_check.py
Due: none

docker_wrapper: show details if graphics host port allocation fails
  lib/network.cpp
  samples/docker_wrapper/docker_wrapper.cpp
Due: library

change __apple__ to __APPLE__
  client/hostinfo_unix.cpp
Due: client

update_versions: don't require that API_VERSION is at start of string.
  tools/update_versions
Due: server

[snap] fix build
  3rdParty/vcpkg_ports/triplets/ci/snap-linux-amd64.cmake
Due: none

Build docker_wrapper for MacOs on CI
  .github/workflows/osx.yml
  deploy/prepare_deployment.py
  mac_build/BuildMacBOINC.sh
  mac_build/buildMacBOINC-CI.sh
  mac_build/buildMacMakefiles-CI.sh
  samples/docker_wrapper/Makefile_mac
Due: none

Mac: build docker_wrapper without providing a code signing identity
  samples/docker_wrapper/docker_wrapper.xcodeproj/project.pbxproj
Due: none

Mac docker_wrapper: Change "Debug" and "Release" build configurations to "Development" and "Deployment"
  samples/docker_wrapper/docker_wrapper.xcodeproj/project.pbxproj
Due: none

Dockerwrapper to forward exit codes
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

client and docker_wrapper: get it to work on MacOS/podman
  client/client_state.cpp
  client/hostinfo_unix.cpp
  samples/docker_wrapper/docker_wrapper.cpp
Due: client

web: minor fixes
  html/inc/util.inc
  html/inc/util_basic.inc
  html/user/buda.php
  html/user/sandbox.php
Due: none

docker wrapper: fix compile warnings; not functional change
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

submit_buda: make it work again
  tools/submit_buda
Due: server

web: show Docker info on host pages
  html/inc/host.inc
Due: none

Add --passthrough_child arg to wrapper app
  samples/wrapper/wrapper.cpp
Due: none

Wrapper: Replace malloc implementation with vectors, fix off-by-one error with argv caused by previous commit
  samples/wrapper/wrapper.cpp
Due: none

Fix trailing whitespace issue
  samples/wrapper/wrapper.cpp
Due: none

Resolve compile errors on platforms other than windows/msvc
  samples/wrapper/wrapper.cpp
Due: none

wrapper: code cleanup; no functional change
  samples/wrapper/wrapper.cpp
Due: none

Wrapperapp: Pass vector<string> by ref, not value.
  samples/wrapper/wrapper.cpp
Due: none

Wrapper: Correct invalid declaration of task::run
  samples/wrapper/wrapper.cpp
Due: none

[wrapper] add missed reference. change references to const as they passed to functions and are not changed within them.
  samples/wrapper/wrapper.cpp
Due: none

Workflow: Set RELEASE_ARCH for arm64 build non-release
  .github/workflows/linux.yml
Due: none

Web: Sandbox and job submission fixes (mostly for BUDA)
  html/inc/bootstrap.inc
  html/user/buda.php
  html/user/buda_submit.php
  html/user/get_output3.php
  html/user/sandbox.php
Due: none

scheduler: bug fixes for docker plan class
  sched/plan_class_spec.cpp
  sched/sched_send.cpp
Due: server

[cmake] cmake 4.0.0 is incompatible with the build scripts that target cmake < 3.5.
  3rdParty/vcpkg_ports/triplets/ci/x64-linux.cmake
  3rdParty/vcpkg_ports/triplets/ci/x64-mingw-static.cmake
  3rdParty/vcpkg_ports/triplets/default/arm64-windows-static.cmake
  3rdParty/vcpkg_ports/triplets/default/x64-windows-static.cmake
Due: none

Add custom vcpkg ports to test the fix
  3rdParty/vcpkg_ports/ports/ftgl/02_enable-cpp11-std.patch
  3rdParty/vcpkg_ports/ports/ftgl/fix-cmake.diff
  3rdParty/vcpkg_ports/ports/ftgl/fix-gl-flags.diff
  3rdParty/vcpkg_ports/ports/ftgl/freetype-usage.diff
  3rdParty/vcpkg_ports/ports/ftgl/install-pkgconfig.diff
  3rdParty/vcpkg_ports/ports/ftgl/portfile.cmake
  3rdParty/vcpkg_ports/ports/ftgl/vcpkg.json
  3rdParty/vcpkg_ports/ports/libuuid/CMakeLists.txt
  3rdParty/vcpkg_ports/ports/libuuid/config.linux.h
  3rdParty/vcpkg_ports/ports/libuuid/portfile.cmake
  3rdParty/vcpkg_ports/ports/libuuid/unofficial-libuuid-config.cmake.in
  3rdParty/vcpkg_ports/ports/libuuid/vcpkg.json
  3rdParty/vcpkg_ports/ports/wxwidgets/example/CMakeLists.txt
  3rdParty/vcpkg_ports/ports/wxwidgets/fix-libs-export.patch
  3rdParty/vcpkg_ports/ports/wxwidgets/fix-pcre2.patch
  3rdParty/vcpkg_ports/ports/wxwidgets/gtk3-link-libraries.patch
  3rdParty/vcpkg_ports/ports/wxwidgets/install-layout.patch
  3rdParty/vcpkg_ports/ports/wxwidgets/nanosvg-ext-depend.patch
  3rdParty/vcpkg_ports/ports/wxwidgets/portfile.cmake
  3rdParty/vcpkg_ports/ports/wxwidgets/relocatable-wx-config.patch
  3rdParty/vcpkg_ports/ports/wxwidgets/sdl2.patch
  3rdParty/vcpkg_ports/ports/wxwidgets/setup.h.in
  3rdParty/vcpkg_ports/ports/wxwidgets/usage
  3rdParty/vcpkg_ports/ports/wxwidgets/vcpkg-cmake-wrapper.cmake
  3rdParty/vcpkg_ports/ports/wxwidgets/vcpkg.json
  3rdParty/vcpkg_ports/triplets/ci/snap-linux-amd64.cmake
  tests/unit-tests/CMakeLists.txt
Due: none

web: declare $config global (for Drupal)
  html/inc/util.inc
Due: none

web: use 'you' rather than user name in other-projects list for logged-in user
  client/hostinfo_wsl.cpp
  html/user/show_user.php
Due: client

client: create notice if no Docker
  client/client_state.cpp
Due: client

add HOSTINFO::have_docker()
  lib/hostinfo.cpp
  lib/hostinfo.h
Due: library
