Repository BOINC/BOINC: changes, and which Codecov flags are due for each by the changed paths.
All: api, library, client, server, android

.codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    after_n_builds: 3
    wait_for_ci: yes
  token: ${{ secrets.CODECOV_TOKEN }}

coverage:
  status:
    project: off
    patch:
      default:
        threshold: 0.01

comment:
  layout: "diff, files"
  behavior: default
  require_changes: yes    # if true: only post the comment if coverage changes
  require_base: no        # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]
  branches:
    - master
  after_n_builds: 3

flags:
  # filter the folder(s) you wish to measure by that flag
  api:
    paths:
      - api/
  library:
    paths:
      - lib/
  client:
    paths:
      - client/
      - clientgui/
  server:
    paths:
      - sched/
      - db/
      - tools/
  android:
    paths:
      - android/BOINC/app/src/main/java/edu/berkeley/boinc

# don't gather statistics for test and external libraries
ignore:
  - tests/.*
  - zip/.*
  - 3rdParty/.*

Update all_projects_list.xml
  win_build/installerv2/redist/all_projects_list.xml
Due: none

[ci] update actions
  .github/workflows/android.yml
  .github/workflows/coverity.yml
  .github/workflows/linux.yml
  .github/workflows/osx.yml
  .github/workflows/wasm.yml
  .github/workflows/windows.yml
Due: none

Initial checkin of Docker wrapper. Not done, but kinda works on Linux.
  samples/docker_wrapper/Dockerfile
  samples/docker_wrapper/docker_wrapper.cpp
  samples/docker_wrapper/job.toml
  samples/docker_wrapper/toml.h
Due: none

add makefile
  samples/docker_wrapper/Makefile
Due: none

Move run_command() to util.cpp; add Win version
  lib/util.cpp
  lib/util.h
  samples/docker_wrapper/Makefile
  samples/docker_wrapper/docker_wrapper.cpp
Due: library

show error if project dir rename fails
  client/cs_scheduler.cpp
Due: client

add docker_wrapper.vcxproj to boinc.sln
  win_build/boinc.sln
  win_build/docker_wrapper.vcxproj
Due: none

lib/Makefile.mingw: add boinc_stdio.h to install headers
  lib/Makefile.mingw
Due: library

Win build fixes
  lib/util.cpp
  samples/docker_wrapper/docker_wrapper.cpp
Due: library

docker_wrapper: missing return value
  lib/util.cpp
Due: library

client: measure CPU time of VBox apps correctly
  client/app.cpp
  lib/procinfo.cpp
  lib/procinfo.h
Due: library, client

run_command(): fix memory leak
  lib/util.cpp
Due: library

app_test.cpp: use #ifs for different tests
  client/app_test.cpp
Due: client

Remove unused launch_vboxvm()
  samples/vboxwrapper/vbox_common.cpp
  samples/vboxwrapper/vbox_common.h
Due: none

[snapcraft] fix build
  snap/snapcraft.yaml
Due: none

Improved input handling
  html/user/edit_user_info_action.php
Due: none

[snapcraft] fix build
  3rdParty/vcpkg_ports/ports/glib/0005-pr-4133-4143-avoid-package-packaging.patch
  3rdParty/vcpkg_ports/ports/glib/libintl.patch
  3rdParty/vcpkg_ports/ports/glib/portfile.cmake
  3rdParty/vcpkg_ports/ports/glib/use-libiconv-on-windows.patch
  3rdParty/vcpkg_ports/ports/glib/vcpkg.json
Due: none

web: don't allow special chars in user names.
  html/inc/user_util.inc
  html/user/edit_user_info_action.php
Due: none

docker wrapper: don't use Docker Desktop
  lib/util.cpp
  lib/util.h
  lib/win_util.cpp
  lib/win_util.h
  lib/wslinfo.cpp
  lib/wslinfo.h
  samples/docker_wrapper/docker_wrapper.cpp
  samples/wsl_wrapper/wsl_wrapper.cpp
Due: library

Remove unused function definitions
  lib/app_ipc.h
  lib/common_defs.h
  lib/gui_rpc_client.h
  lib/prefs.h
  lib/str_util.h
  lib/url.h
Due: library

[ci] update actions
  .github/workflows/all_projects_list_xml_update.yml
  .github/workflows/android.yml
  .github/workflows/check_custom_vcpkg_ports.yml
  .github/workflows/coverity.yml
  .github/workflows/linux-package-stable-release.yml
  .github/workflows/linux-package.yml
  .github/workflows/linux.yml
  .github/workflows/mingw.yml
  .github/workflows/osx.yml
  .github/workflows/snap.yml
  .github/workflows/source-code-check.yml
  .github/workflows/test-report.yml
  .github/workflows/update_actions.yml
  .github/workflows/update_copyright_year.yml
  .github/workflows/wasm.yml
  .github/workflows/windows.yml
Due: none

Win build fixes
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

add test files
  samples/docker_wrapper/Dockerfile
  samples/docker_wrapper/docker_wrapper.cpp
  samples/docker_wrapper/test_copy/Dockerfile_copy
  samples/docker_wrapper/test_copy/in
  samples/docker_wrapper/test_copy/job_copy.toml
  samples/docker_wrapper/test_mount/Dockerfile_mount
  samples/docker_wrapper/test_mount/in
  samples/docker_wrapper/test_mount/job_mount.toml
  samples/docker_wrapper/test_mount/main_mount.sh
Due: none

Use boinc_<project>_<wuname> as Docker image name.
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

clean up image and container after job. Finish Win logic
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

Remove unused function definitions
  client/app.h
  client/client_state.h
  client/cs_notice.h
  client/http_curl.h
  client/project.h
Due: client

Get it working on Linux in both copy and mount modes.
  lib/util.cpp
  samples/docker_wrapper/docker_wrapper.cpp
  samples/docker_wrapper/test_mount/Dockerfile_mount
  samples/docker_wrapper/test_mount/in
  samples/docker_wrapper/test_mount/job_mount.toml
  samples/docker_wrapper/test_mount/main.sh
  samples/docker_wrapper/test_mount/main_mount.sh
Due: library

Get things working on Windows.
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

Remove unused function definitions
  clientgui/AsyncRPC.h
  clientgui/BOINCListCtrl.h
  clientgui/DlgEventLog.h
  clientgui/DlgOptions.h
  clientgui/MainDocument.h
  clientgui/ViewNotices.h
  clientgui/sg_BoincSimpleFrame.h
  clientgui/sg_DlgPreferences.h
Due: client

Revert "Remove unused function definitions"
  client/app.h
  client/client_state.h
  client/cs_notice.h
  client/http_curl.h
  client/project.h
Due: client

tweak
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

verbose: show command and output on Win too
  lib/util.cpp
  lib/util.h
  samples/docker_wrapper/docker_wrapper.cpp
Due: library

add link file
  samples/docker_wrapper/test_mount/worker
Due: none

Get mount test working on Win
  samples/docker_wrapper/docker_wrapper.cpp
Due: none

Remove unused function definitions (revised)
  client/app.h
  client/client_state.h
  client/cs_notice.h
  client/http_curl.h
  client/project.h
Due: client

Revert "Remove unused function definitions"
  clientgui/AsyncRPC.h
  clientgui/BOINCListCtrl.h
  clientgui/DlgEventLog.h
  clientgui/DlgOptions.h
  clientgui/MainDocument.h
  clientgui/ViewNotices.h
  clientgui/sg_BoincSimpleFrame.h
  clientgui/sg_DlgPreferences.h
Due: client

Remove unused function definitons (updated)
  clientgui/AsyncRPC.h
  clientgui/BOINCListCtrl.h
  clientgui/DlgEventLog.h
  clientgui/DlgOptions.h
  clientgui/MainDocument.h
  clientgui/ViewNotices.h
  clientgui/sg_BoincSimpleFrame.h
  clientgui/sg_DlgPreferences.h
Due: client

prepare for app_test
  client/app_test.cpp
Due: client

win build fixes
  client/hostinfo_wsl.cpp
  lib/util.cpp
Due: library, client
